<div class="col">
    <div class="card custom-card">
      @if(image){

        <img [src]="image" class="card-img-top" alt="Card image">
      }
      <div class="card-body">
        <h6 class="card-title fw-medium">{{ title }}</h6>
        @if (text1) {
        <p class="card-text">{{discription1}}</p>
        } 
        @else{
        <p class="card-text">{{discription}}</p>
        }
        @if(button){

          <a href="javascript:void(0);" class="btn btn-primary1 me-1">Read More</a>
          <a href="javascript:void(0);" class="btn btn-primary2">Get Details</a>
        }
      </div>
    </div>
  </div>