
    <div class="card custom-card">
      <div class="card-header d-block">
        <div class="d-sm-flex d-block justify-content-between">
          <div>
            <span class="fs-14 fw-semibold">Order Id</span>
            <span class="d-sm-block text-primary">{{ order.id }}</span>
          </div>
          <div class="text-sm-end">
            <p class="fs-14 fw-semibold mb-0">Ordered Status</p>
            <span class="badge fs-11 rounded-1" [ngClass]="order.statusClass">{{ order.status }}</span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex align-items-center flex-xxl-nowrap flex-wrap">
          <div class="me-3">
            <span class="avatar avatar-xxl bd-gray-200">
              <img [src]="order.image" [alt]="order.title">
            </span>
          </div>
          <div>
            <div class="mb-1 fs-14 fw-semibold">
              <a href="javascript:void(0);">{{ order.title }}</a>
            </div>
            <div>
              <p class="fw-semibold mb-0">Delivery Address : 
                <span class="text-muted fs-13">{{ order.address }}</span>
              </p>
            </div>
            <div>
              <p class="fw-semibold mb-0">Delivery Date : 
                <span class="text-muted fs-13">{{ order.deliveryDate }}</span>
              </p>
            </div>
            <div class="d-flex mb-1">
              <h5 class="mb-1">{{ order.price }}</h5>
              <p class="mt-1 text-muted text-decoration-line-through ms-1 op-6 fs-15 mb-0">{{ order.originalPrice }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-sm-flex d-block align-items-center justify-content-between">
        <div>
          <a [routerLink]="order.shopLink" class="btn btn-sm btn-{{order.ShopStatusBg}}-light">{{order.ShopStatus}}</a>
        </div>
        @if (order.canCancel) {
        <div class="mt-sm-0 mt-2" >
          <button type="button" class="btn btn-sm btn-danger-light">Cancel Order</button>
        </div>
        }
      </div>
    </div>
 
  