<app-page-header [title]="'Create Invoice'" [title1]="['Invoice']" [activeitem]="'Create Invoice'"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-9">
        <div class="card custom-card">
            <div class="card-header d-md-flex d-block">
                <div class="h5 mb-0 d-sm-flex d-block align-items-center">
                    <div>
                        <img src="./assets/images/brand-logos/toggle-logo.png" alt="">
                    </div> 
                    <div class="ms-sm-2 ms-0 mt-sm-0 mt-2">
                        <input type="text" class="form-control form-control-light form-control-sm" placeholder="Invoice Title" value="INV TITLE"> 
                    </div> 
                    <div class="mx-2">:</div>
                    <div class="mt-sm-0 mt-2">
                        <input type="text" class="form-control form-control-light form-control-sm" placeholder="Invoice ID" value="INV ID"> 
                    </div>
                </div>
                <div class="ms-auto mt-md-0 mt-2">
                    <button class="btn btn-sm btn-primary me-2">Save As PDF<i class="ri-file-pdf-line ms-1 align-middle d-inline-block"></i></button>
                    <button class="btn btn-sm btn-icon btn-secondary-light me-2"><i class="bi bi-plus-lg"></i></button>
                    <button class="btn btn-sm btn-icon btn-success-light me-2"><i class="bi bi-download"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <p class="dw-semibold mb-2">
                                    Billing From :
                                </p>
                                <div class="row gy-2">
                                    <div class="col-xl-12">
                                        <input type="text" class="form-control form-control-light" id="Company-Name" placeholder="Company Name" value="SPRUKO TECHNOLOGIES">
                                    </div>
                                    <div class="col-xl-12">
                                        <textarea class="form-control form-control-light" id="company-address" placeholder="Enter Address" rows="3"></textarea>
                                    </div>
                                    <div class="col-xl-12">
                                        <input type="text" class="form-control form-control-light" id="company-mail" placeholder="Company Email" value="">
                                    </div>
                                    <div class="col-xl-12">
                                        <input type="text" class="form-control form-control-light" id="company-phone" placeholder="Phone Number" value="">
                                    </div>
                                    <div class="col-xl-12">
                                        <textarea class="form-control form-control-light" id="invoice-subject" placeholder="Subject" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ms-auto mt-sm-0 mt-3">
                                <p class="dw-semibold mb-2">
                                    Billing To :
                                </p>
                                <div class="row gy-2">
                                    <div class="col-xl-12">
                                        <input type="text" class="form-control form-control-light" id="customer-Name" placeholder="Customer Name" value="Toni Stark">
                                    </div>
                                    <div class="col-xl-12">
                                        <textarea class="form-control form-control-light" id="customer-address" placeholder="Enter Address" rows="3"></textarea>
                                    </div>
                                    <div class="col-xl-12">
                                        <input type="text" class="form-control form-control-light" id="customer-mail" placeholder="Customer Email" value="">
                                    </div>
                                    <div class="col-xl-12">
                                        <input type="text" class="form-control form-control-light" id="customer-phone" placeholder="Phone Number" value="">
                                    </div>
                                    <div class="col-xl-12">
                                        <input type="text" class="form-control form-control-light" id="zip-code" placeholder="Zip Code" value="">
                                    </div>
                                    <div class="col-xl-12 choices-control creative-inv createinvoice-date">
                                        <p class="dw-semibold mb-2 mt-2">
                                            Currency :
                                        </p>
                                        <spk-ng-select 
                                        [options]="Currency"
                                        [id]="'invoice-currency'"
                                        [selectClass]="'bg-light'"
                                        [clearable]="true"
                                        [searchable]="true"
                                        [hideSelected]="true"
                                        [placeholder]="'select currency'"
                                        [additionalProperties]="{}">
                                        </spk-ng-select>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3"> 
                        <label for="invoice-number" class="form-label">Invoice ID</label>
                        <input type="text" class="form-control form-control-light" id="invoice-number" placeholder="Inv No" value="#SPK120219890">
                    </div>
                    <div class="col-xl-3 createinvoice-date">
                        <label for="invoice-date-issued" class="form-label">Date Issued</label>
                        <spk-flatpickr placeholder="Choose Date" class="bg-light form-control"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="false"
                        [dateFormat]="'Y-m-d'"></spk-flatpickr>
                    </div>
                    <div class="col-xl-3 createinvoice-date">
                        <label for="invoice-date-due" class="form-label">Due Date</label>
                        <spk-flatpickr placeholder="Choose Date" class="bg-light form-control"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="false"
                        [dateFormat]="'Y-m-d'"></spk-flatpickr>
                    </div>
                    <div class="col-xl-3"> 
                        <label for="invoice-due-amount" class="form-label">Due Amount</label>
                        <input type="text" class="form-control form-control-light" id="invoice-due-amount" placeholder="Enter Amount" value="$12,983.78">
                    </div>
                    <div class="col-xl-12">
                        <div class="table-responsive"> 
                                    <spk-reusable-tables  tableClass=" nowrap text-nowrap border mt-3"  [columns]="createinvoiceColumns"
                                    [showCheckbox]="false" >
                                    <tr> 
                                        <td>
                                            <input type="text" class="form-control form-control-light" placeholder="Enter Product Name">
                                        </td>
                                        <td>
                                            <textarea rows="1" class="form-control form-control-light" placeholder="Enter Description"></textarea>
                                        </td>
                                        <td class="invoice-quantity-container">
                                            <div class="input-group border rounded flex-nowrap">
                                                <button class="btn btn-icon btn-primary input-group-text flex-fill product-quantity-minus" (click)="decrease()"><i class="ri-subtract-line"></i></button>
                                                <input type="text" class="form-control form-control-sm border-0 text-center w-100" aria-label="quantity" id="product-quantity5" [value]="product">
                                                <button class="btn btn-icon btn-primary input-group-text flex-fill product-quantity-plus" (click)="increase()"><i class="ri-add-line"></i></button>
                                              </div>
                                        </td>
                                        <td><input class="form-control form-control-light" placeholder="" type="text" value="$84.00"></td>
                                        <td><input class="form-control form-control-light" placeholder="" type="text" value="$251.00"></td>
                                        <td>
                                            <button class="btn btn-sm btn-icon btn-danger-light"><i class="ri-delete-bin-5-line"></i></button>
                                        </td>
                                    </tr> 
                                    <tr> 
                                        <td>
                                            <input type="text" class="form-control form-control-light" placeholder="Enter Product Name">
                                        </td>
                                        <td>
                                            <textarea rows="1" class="form-control form-control-light" placeholder="Enter Description"></textarea>
                                        </td>
                                        <td class="invoice-quantity-container">
                                            <div class="input-group border rounded flex-nowrap">
                                                <button class="btn btn-icon btn-primary input-group-text flex-fill product-quantity-minus" (click)="decreaseQuantity()"><i class="ri-subtract-line"></i></button>
                                                <input type="text" class="form-control form-control-sm border-0 text-center w-100" aria-label="quantity" id="product-quantity6" [value]="quantity">
                                                <button class="btn btn-icon btn-primary input-group-text flex-fill product-quantity-plus" (click)="increaseQuantity()"><i class="ri-add-line"></i></button>
                                              </div>
                                        </td>
                                        <td><input class="form-control form-control-light" placeholder="Enter Amount" type="text"></td>
                                        <td><input class="form-control form-control-light" placeholder="Enter Amount" type="text"></td>
                                        <td>
                                            <button class="btn btn-sm btn-icon btn-danger-light"><i class="ri-delete-bin-5-line"></i></button>
                                        </td>
                                    </tr> 
                                    <tr>
                                        <td colspan="6" class="border-bottom-0"><a class="btn btn-light" href="javascript:void(0);"><i class="bi bi-plus-lg"></i> Add Product</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td colspan="2">
                                            <spk-reusable-tables  tableClass=" table-sm text-nowrap mb-0 table-borderless"
                                            [showCheckbox]="false" >
                                      
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="fw-medium">Sub Total :</div>
                                                        </th>
                                                        <td>
                                                            <input type="text" class="form-control form-control-light invoice-amount-input" placeholder="Enter Amount" value="$2519.89">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="fw-medium">Avail Discount :</div>
                                                        </th>
                                                        <td>
                                                            <input type="text" class="form-control form-control-light invoice-amount-input" placeholder="Enter Amount" value="$15.58">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="fw-medium">Coupon Discount <span class="text-success">(3.5%)</span> :</div>
                                                        </th>
                                                        <td>
                                                            <input type="text" class="form-control form-control-light invoice-amount-input" placeholder="Enter Amount" value="$112.00">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="fw-medium">Vat <span class="text-danger">(7.5%)</span> :</div>
                                                        </th>
                                                        <td>
                                                            <input type="text" class="form-control form-control-light invoice-amount-input" placeholder="Enter Amount" value="$214.00">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="fw-medium">Due Till Date :</div>
                                                        </th>
                                                        <td>
                                                            <input type="text" class="form-control form-control-light invoice-amount-input" placeholder="Enter Amount" value="$2.00">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="fs-14 fw-medium">Total :</div>
                                                        </th>
                                                        <td>
                                                            <input type="text" class="form-control form-control-light invoice-amount-input" placeholder="Enter Amount" value="$2,106.68">
                                                        </td>
                                                    </tr>
                                                    </spk-reusable-tables>
                                        </td>
                                    </tr>
                                    </spk-reusable-tables>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div>
                            <label for="invoice-note" class="form-label">Note:</label>
                            <textarea class="form-control form-control-light" id="invoice-note" rows="3">Once the invoice has been verified by the accounts payable team and recorded, the only task left is to send it for approval before releasing the payment</textarea>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between gap-2 flex-wrap">
                <button class="btn btn-secondary-light"><i class="ri-eye-line me-1 align-middle d-inline-block"></i>Preview</button>
                <button class="btn btn-primary m-1">Send Invoice <i class="ri-send-plane-2-line ms-1 align-middle d-inline-block"></i></button>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Mode Of Payment
                </div>
            </div>
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-xl-12">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                            <label class="btn btn-outline-light mt-sm-0 mt-1" for="btnradio2">UPI</label>
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" checked="">
                            <label class="btn btn-outline-light mt-sm-0 mt-1" for="btnradio3">Credit/Debit Card</label>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <input type="text" class="form-control form-control-light" placeholder="Card Holder Name">
                    </div>
                    <div class="col-xl-12">
                        <input type="text" class="form-control form-control-light" id="invoice-payment-cardname" placeholder="Card Number" value="1323 3213 4546 XXXX">
                        <label for="invoice-payment-cardname" class="form-label mb-0"><a class="text-danger fs-11" href="javascript:void(0);">Enter valid card number <sup class="fs-12 text-danger align-middle"> *</sup></a></label>
                    </div>
                    <div class="col-xl-12">
                        <input type="password" class="form-control form-control-light mb-2" placeholder="Enter OTP">
                    </div>
                    <div class="col-xl-12">
                        <div class="alert alert-success mb-0" role="alert">
                            Please Make sure to pay the invoice bill within 120 days.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->