<app-page-header [title]="'Angular Editor'" [title1]="['Form Editor']" [activeitem]="'Angular Editor'"></app-page-header>

<!-- Start:: row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    NGX Editor
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="form">
                    <div class="NgxEditor__Wrapper">
                      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                      <ngx-editor [editor]="editor" formControlName="editorContent"> </ngx-editor>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-1 -->

<!-- Start:: row-2 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Angular Editor
                </div>
            </div>
            <div class="card-body">
                <div id="editor1">
                    <angular-editor [ngModel]="htmlContent" [config]="config"></angular-editor>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-2 -->