    <!-- app-header -->
    <header class="app-header">
        <!-- Start::main-header-container -->
        <div class="main-header-container container-fluid">

            <!-- Start::header-content-left -->
            <div class="header-content-left">

                <!-- Start::header-element -->
                <div class="header-element">
                    <div class="horizontal-logo">
                        <a routerLink="/content/dashboard" class="header-logo">
                            <img src="./assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
                            <img src="./assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
                            <img src="./assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
                            <img src="./assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
                            <img src="./assets/images/brand-logos/desktop-white.png" alt="logo" class="desktop-white">
                            <img src="./assets/images/brand-logos/toggle-white.png" alt="logo" class="toggle-white">
                        </a>
                    </div>
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div class="header-element">
                    <!-- Start::header-link -->
                    <a aria-label="Hide Sidebar" (click)="toggleSidebar()" class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle" data-bs-toggle="sidebar" href="javascript:void(0);"><span></span></a>
                    <!-- End::header-link -->
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div class="main-header-center  d-none d-lg-block header-link">
                    <input type="text" class="form-control" id="typehead" placeholder="Search for results..."
                        autocomplete="off" (click)="SearchHeader()" [(ngModel)]="text" [ngModelOptions]="{standalone: true}"
                        (keyup)="Search(text)">
                    <button type="button" (click)="SearchHeader()" aria-label="button" class="btn pe-1"><i class="fe fe-search" aria-hidden="true"></i></button>
                    <div id="headersearch" class="header-search">
                        <div class="p-3">
                            <div class="">
                                <p class="fw-semibold text-muted mb-2 fs-13">Recent Searches</p>
                                <div class="ps-0">
                                    <a  href="javascript:void(0)" class="search-tags me-1"><i class="fe fe-search me-2"></i>People<span></span></a>
                                    <a  href="javascript:void(0)" class="search-tags me-1"><i class="fe fe-search me-2"></i>Pages<span></span></a>
                                    <a  href="javascript:void(0)" class="search-tags me-2"><i class="fe fe-search me-2"></i>Articles<span></span></a>
                                </div>
                            </div>
                            <div class="mt-3">
                               <p class="fw-semibold text-muted mb-2 fs-13">Apps & Pages</p>
                               <ul (click)="clearSearch()" class="ps-0 list-unstyled mb-0">
                                @for(menuItem of menuItems | slice:0:5;track $index){
                                    <li class="p-1 align-items-center text-muted mb-1 search-app"  [routerLink]="menuItem?.path" (click)="clearSearch()">
                                            <a  [routerLink]="menuItem?.path" href="javascript:void(0)" class="text-primary"><u>{{menuItem?.title}}</u></a>
                                    </li>
                                }
                                <li class="p-1 d-flex align-items-center text-muted mb-2 search-app">
                                    <a routerLink="/apps/full-calender"><span><i
                                                class='bi bi-calendar me-2 fs-14 bg-primary-transparent avatar avatar-sm rounded-circle '></i>Calendar</span></a>
                                </li>
                                <li class="p-1 d-flex align-items-center text-muted mb-2 search-app">
                                    <a routerLink="/pages/email/mail-inbox"><span><i
                                                class='bi bi-envelope me-2 fs-14 bg-primary-transparent avatar avatar-sm rounded-circle'></i>Mail</span></a>
                                </li>
                                <li class="p-1 d-flex align-items-center text-muted mb-2 search-app">
                                    <a routerLink="/elements/buttons"><span><i
                                                class='bi bi-dice-1 me-2 fs-14 bg-primary-transparent avatar avatar-sm rounded-circle '></i>Buttons</span></a>
                                </li>
                                </ul>
                           </div>
                           <div class="mt-3">
                            <p class="fw-semibold text-muted mb-2 fs-13">Links</p>
                            <ul class="ps-2 list-unstyled mb-0">
                                <li class="p-1 align-items-center text-muted mb-1 search-app">
                                    <a href="javascript:void(0);"
                                        class="text-primary"><u>http://spruko/html/spruko.com</u></a>
                                </li>
                                <li class="p-1 align-items-center text-muted mb-1 search-app">
                                    <a href="javascript:void(0);"
                                        class="text-primary"><u>http://spruko/demo/spruko.com</u></a>
                                </li>
                            </ul>
                        </div>
                        </div>
                        <div class="py-3 border-top px-0">
                            <div class="text-center">
                                <a href="javascript:void(0)" class="text-primary text-decoration-underline fs-15">View all</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End::header-element -->

            </div>
            <!-- End::header-content-left -->

            <!-- Start::header-content-right -->
            <div class="header-content-right">

                <!-- Start::header-element -->
                <div class="header-element header-search d-lg-none d-block">
                    <!-- Start::header-link -->
                    <a aria-label="anchor" (click)="SearchModal(searchModal)" href="javascript:void(0);" class="header-link" data-bs-toggle="modal" data-bs-target="#searchModal">
                        <i class="fe fe-search header-link-icon"></i>
                    </a>
                    <!-- End::header-link -->
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div ngbDropdown [autoClose]="'outside'" class="header-element country-selector">
                    <!-- Start::header-link|dropdown-toggle -->
                    <a ngbDropdownToggle href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown">
                        <img src="./assets/images/flags/us_flag.jpg" alt="img" class="rounded-circle">
                    </a>
                    <!-- End::header-link|dropdown-toggle -->
                    <ul ngbDropdownMenu class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                                <span class="avatar avatar-xs lh-1 me-2">
                                    <img src="./assets/images/flags/us_flag.jpg" alt="img">
                                </span>
                                English
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                                <span class="avatar avatar-xs lh-1 me-2">
                                    <img src="./assets/images/flags/spain_flag.jpg" alt="img" >
                                </span>
                                Spanish
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                                <span class="avatar avatar-xs lh-1 me-2">
                                    <img src="./assets/images/flags/french_flag.jpg" alt="img" >
                                </span>
                                French
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                                <span class="avatar avatar-xs lh-1 me-2">
                                    <img src="./assets/images/flags/germany_flag.jpg" alt="img" >
                                </span>
                                German
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                                <span class="avatar avatar-xs lh-1 me-2">
                                    <img src="./assets/images/flags/italy_flag.jpg" alt="img" >
                                </span>
                                Italian
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                                <span class="avatar avatar-xs lh-1 me-2">
                                    <img src="./assets/images/flags/russia_flag.jpg" alt="img" >
                                </span>
                                Russian
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div class="header-element header-theme-mode">
                    <!-- Start::header-link|layout-setting -->
                    <a aria-label="anchor" href="javascript:void(0);" class="header-link layout-setting">
                        <span class="light-layout" (click)="updateTheme('dark')">
                            <!-- Start::header-link-icon -->
                        <i class="fe fe-moon header-link-icon"></i>
                            <!-- End::header-link-icon -->
                        </span>
                        <span class="dark-layout" (click)="updateTheme('light')">
                            <!-- Start::header-link-icon -->
                        <i class="fe fe-sun header-link-icon"></i>
                            <!-- End::header-link-icon -->
                        </span>
                    </a>
                    <!-- End::header-link|layout-setting -->
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div ngbDropdown [autoClose]="'outside'" class="header-element cart-dropdown" >
                    <!-- Start::header-link|dropdown-toggle -->
                    <a ngbDropdownToggle href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown">
                        <i class="fe fe-shopping-cart header-link-icon"></i>
                        <span class="badge bg-secondary rounded-pill header-icon-badge" id="cart-icon-badge">{{ cartItemCount }}</span>
                    </a>
                    <!-- End::header-link|dropdown-toggle -->
                    <!-- Start::main-header-dropdown -->
                    <div ngbDropdownMenu class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
                        <div class="p-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="mb-0 fs-16 fw-semibold">My Shopping Cart</p>
                                <span class="badge bg-danger-transparent fs-14" id="cart-data">Hurry Up!</span>
                            </div>
                        </div>
                        <div><hr class="dropdown-divider"></div>
                        <overlay-scrollbars>
                        <ul class="list-unstyled mb-0" id="header-cart-items-scroll">
                            <li  ngbDropdownItem (click)="handleCardClick($event)" id="row" class="dropdown-item">
                                <div class="d-flex align-items-start cart-dropdown-item">
                                    <img src="./assets/images/ecommerce/orders/11.jpg" alt="img" class="avatar avatar-xl br-5 me-3">
                                    <div class="flex-grow-1">
                                        <div class="d-flex align-items-start mb-0">
                                            <div>
                                                <a class="mb-0 fs-13 text-dark fw-semibold" routerLink="/pages/ecommerce/cart">Flower Pot for Home Decor</a>
                                                <div class="min-w-fit-content">
                                                    <span>Status: <span class="text-success">In Stock</span></span>
                                                    <p class="fs-13 text-muted mb-0">Quantity: 01</p>
                                                </div>
                                            </div>
                                            <div class="ms-auto text-end d-flex fs-16">
                                                <span class="fs-16 text-dark mb-1">$438</span>
                                                <a aria-label="anchor" href="javascript:void(0);" (click)="removeRow('row')" class="header-cart-remove dropdown-item-close btn"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-item" (click)="handleCardClick($event)" id="row1">
                                <div class="d-flex align-items-start cart-dropdown-item">
                                    <img src="./assets/images/ecommerce/orders/1.jpg" alt="img" class="avatar avatar-xl br-5 me-3">
                                    <div class="flex-grow-1">
                                        <div class="d-flex align-items-start mb-0">
                                            <div>
                                                <a class="mb-0 fs-13 text-dark fw-semibold" routerLink="/pages/ecommerce/cart">Black Digital Camera</a>
                                                <div class="min-w-fit-content">
                                                    <span>Status: <span class="text-danger">Out Stock</span></span>
                                                    <p class="fs-13 text-muted mb-0">Quantity: 06</p>
                                                </div>
                                            </div>
                                            <div class="ms-auto text-end d-flex fs-16">
                                                <span class="fs-16 text-dark mb-1">$867</span>
                                                <a aria-label="anchor" href="javascript:void(0);" (click)="removeRow('row1')" class="header-cart-remove dropdown-item-close btn"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-item" (click)="handleCardClick($event)" id="row2">
                                <div class="d-flex align-items-start cart-dropdown-item">
                                    <img src="./assets/images/ecommerce/orders/15.jpg" alt="img" class="avatar avatar-xl br-5 me-3">
                                    <div class="flex-grow-1">
                                        <div class="d-flex align-items-start mb-0">
                                            <div>
                                                <a class="mb-0 fs-13 text-dark fw-semibold" routerLink="/pages/ecommerce/cart">Stylish Rockerz 255 Ear Pods</a>
                                                <div class="min-w-fit-content">
                                                    <span>Status: <span class="text-success">In Stock</span></span>
                                                    <p class="fs-13 text-muted mb-0">Quantity: 05</p>
                                                </div>
                                            </div>
                                            <div class="ms-auto text-end d-flex fs-16">
                                                <span class="fs-16 text-dark mb-1">$323</span>
                                                <a aria-label="anchor" href="javascript:void(0);" (click)="removeRow('row2')" class="header-cart-remove dropdown-item-close btn"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-item" (click)="handleCardClick($event)" id="row3">
                                <div class="d-flex align-items-start cart-dropdown-item">
                                    <img src="./assets/images/ecommerce/orders/12.jpg" alt="img" class="avatar avatar-xl br-5 me-3">
                                    <div class="flex-grow-1">
                                        <div class="d-flex align-items-start mb-0">
                                            <div>
                                                <a class="mb-0 fs-13 text-dark fw-semibold" routerLink="/pages/ecommerce/cart">Women Party Wear Dress</a>
                                                <div class="min-w-fit-content">
                                                    <span>Status: <span class="text-success">In Stock</span></span>
                                                    <p class="fs-13 text-muted mb-0">Quantity: 05</p>
                                                </div>
                                            </div>
                                            <div class="ms-auto text-end d-flex fs-16">
                                                <span class="fs-16 text-dark mb-1">$867</span>
                                                <a aria-label="anchor" href="javascript:void(0);" (click)="removeRow('row3')" class="header-cart-remove dropdown-item-close btn"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </overlay-scrollbars>
                        @if(!isCartEmpty){
                        <div class="p-3 empty-header-item border-top d-flex">
                            <a routerLink="/pages/ecommerce/checkout" class="btn btn-primary btn-pill w-sm btn-sm  fs-16"><i class="fe fe-check-circle me-2 d-inline-flex"></i>checkout</a>
                            <h6 class="ms-auto fs-17 fw-semibold my-auto">Total: $6789</h6>
                        </div>
                    }
                        <div class="p-5 empty-item d-none" [class.d-none]="!isCartEmpty">
                            <div class="text-center">
                                <span class="avatar avatar-xl avatar-rounded bg-warning-transparent">
                                    <i class="ri-shopping-cart-2-line fs-2"></i>
                                </span>
                                <h6 class="fw-bold mb-1 mt-3">Your Cart is Empty</h6>
                                <span class="mb-3 fw-normal fs-13 d-block">Add some items to make me happy :)</span>
                                <a routerLink="/pages/ecommerce/products" class="btn btn-primary btn-wave m-1" data-abc="true">continue shopping <i class="bi bi-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End::main-header-dropdown -->
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div class="header-element notifications-dropdown" ngbDropdown [autoClose]="'outside'">
                    <!-- Start::header-link|dropdown-toggle -->
                    <a ngbDropdownToggle aria-label="anchor" href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="messageDropdown" aria-expanded="false">
                        <i class="fe fe-bell header-link-icon"></i>
                        <span class="w-9 h-9 p-0 bg-success rounded-pill header-icon-badge pulse pulse-success" id="notification-icon-badge"></span>
                    </a>
                    <!-- End::header-link|dropdown-toggle -->
                    <!-- Start::main-header-dropdown -->
                    <div ngbDropdownMenu class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
                        <div class="p-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="mb-0 fs-17 fw-semibold">Notifications</p>
                                <span class="badge bg-secondary-transparent" id="notifiation-data">{{notificationCount}} Unread</span>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <overlay-scrollbars>
                        <ul class="list-unstyled mb-0" id="header-notification-scroll" (click)="handleCardClick($event)">
                            <li class="dropdown-item" id="not1" ngbDropdownItem>
                                <div class="d-flex align-items-start">
                                     <div class="pe-2">
                                         <span class="avatar avatar-md bg-primary avatar-rounded"><i class="fe fe-mail fs-18"></i></span>
                                     </div>
                                     <div class="flex-grow-1 d-flex align-items-center my-auto">
                                        <div>
                                            <p class="mb-0 fw-semibold"><a routerLink="/pages/notifications">New Application received</a></p>
                                            <span class="text-muted fw-normal fs-12 header-notification-text">3 days ago</span>
                                        </div>
                                        <div class="ms-auto my-auto">
                                            <a (click)="removeNotify('not1')" aria-label="anchor" href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                                        </div>
                                     </div>
                                </div>
                            </li>
                            <li class="dropdown-item" id="not2" ngbDropdownItem>
                                <div class="d-flex align-items-start">
                                     <div class="pe-2">
                                         <span class="avatar avatar-md bg-secondary avatar-rounded"><i class="fe fe-check-circle fs-18"></i></span>
                                     </div>
                                     <div class="flex-grow-1 d-flex align-items-center my-auto">
                                        <div>
                                            <p class="mb-0 fw-semibold"><a routerLink="/pages/notifications">Project has been approved</a></p>
                                            <span class="text-muted fw-normal fs-12 header-notification-text">2 hours ago</span>
                                        </div>
                                        <div class="ms-auto my-auto">
                                            <a (click)="removeNotify('not2')" aria-label="anchor" href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                                        </div>
                                     </div>
                                </div>
                            </li>
                            <li class="dropdown-item" id="not3" ngbDropdownItem>
                                <div class="d-flex align-items-start">
                                     <div class="pe-2">
                                         <span class="avatar avatar-md bg-success avatar-rounded"><i class="fe fe-shopping-cart fs-18"></i></span>
                                     </div>
                                     <div class="flex-grow-1 d-flex align-items-center my-auto">
                                        <div>
                                            <p class="mb-0 fw-semibold"><a routerLink="/pages/notifications">Your Product Delivered</a></p>
                                            <span class="text-muted fw-normal fs-12 header-notification-text">30 min ago</span>
                                        </div>
                                        <div class="ms-auto my-auto">
                                            <a (click)="removeNotify('not3')" aria-label="anchor" href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                                        </div>
                                     </div>
                                </div>
                            </li>
                            <li class="dropdown-item" id="not4" ngbDropdownItem>
                                <div class="d-flex align-items-start">
                                     <div class="pe-2">
                                         <span class="avatar avatar-md bg-pink avatar-rounded"><i class="fe fe-shopping-cart fs-18"></i></span>
                                     </div>
                                     <div class="flex-grow-1 d-flex align-items-center my-auto">
                                        <div>
                                            <p class="mb-0 fw-semibold"><a routerLink="/pages/notifications">Friend Requests</a></p>
                                            <span class="text-muted fw-normal fs-12 header-notification-text">10 min ago</span>
                                        </div>
                                        <div class="ms-auto my-auto">
                                            <a (click)="removeNotify('not4')" aria-label="anchor" href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close1"><i class="ti ti-x fs-16"></i></a>
                                        </div>
                                     </div>
                                </div>
                            </li>
                        </ul>
                        </overlay-scrollbars>
                        @if(!isNotifyEmpty){
                        <div  class="p-3 empty-header-item1 border-top text-center">
                            <a routerLink="/pages/notifications" class="">View All Notifications</a>
                        </div>
                    }
                        <div class="p-5 empty-item1 d-none" [class.d-none]="!isNotifyEmpty">
                            <div class="text-center">
                                <span class="avatar avatar-xl avatar-rounded bg-secondary-transparent">
                                    <i class="ri-notification-off-line fs-2"></i>
                                </span>
                                <h6 class="fw-semibold mt-3">No New Notifications</h6>
                            </div>
                        </div>
                    </div>
                    <!-- End::main-header-dropdown -->
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div class="header-element message-dropdown" ngbDropdown [autoClose]="'outside'">
                    <!-- Start::header-link|dropdown-toggle -->
                    <a ngbDropdownToggle aria-label="anchor" href="javascript:void(0);" class="header-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="messageDropdown2" aria-expanded="false">
                        <i class="fe fe-message-square header-link-icon"></i>
                        <span class="w-9 h-9 p-0 bg-danger rounded-pill header-icon-badge pulse pulse-danger" id="message-icon-badge"></span>
                    </a>
                    <!-- End::header-link|dropdown-toggle -->
                    <!-- Start::main-header-dropdown -->
                    <div ngbDropdownMenu class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
                        <div class="p-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="mb-0 fs-17 fw-semibold">Messages</p>
                                <span class="badge bg-secondary-transparent" id="message-data">{{messagesCount}} Unread</span>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <overlay-scrollbars>
                        <ul class="list-unstyled mb-0" id="header-message-scroll" (click)="handleCardClick($event)">
                            <li class="dropdown-item" id="mes1" ngbDropdownItem>
                                <div class="d-flex align-items-start">
                                     <div class="pe-2">
                                        <img src="./assets/images/faces/1.jpg" alt="img" class="avatar avatar-md avatar-rounded">
                                     </div>
                                     <div class="w-100">
                                        <div class="flex-grow-1 d-flex align-items-centermy-auto">
                                            <div>
                                                <h6 class="mb-0 fw-semibold fs-14"><a routerLink="/pages/chat">Peter Theil</a></h6>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <p class="text-muted mb-0">
                                                    6:45am
                                                </p>
                                            </div>
                                         </div>
                                         <div class="flex-grow-1 d-flex align-items-centermy-auto">
                                            <div>
                                                <span class="text-muted fw-normal fs-12">Commented on file Guest list....</span>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <a (click)="removeMessage('mes1')" aria-label="anchor" href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close2"><i class="ti ti-x fs-16"></i></a>
                                            </div>
                                         </div>
                                     </div>
                                </div>
                            </li>
                            <li class="dropdown-item" id="mes2" ngbDropdownItem>
                                <div class="d-flex align-items-start">
                                     <div class="pe-2">
                                        <img src="./assets/images/faces/15.jpg" alt="img" class="avatar avatar-md avatar-rounded">
                                     </div>
                                     <div class="w-100">
                                        <div class="flex-grow-1 d-flex align-items-centermy-auto">
                                            <div>
                                                <h6 class="mb-0 fw-semibold fs-14"><a routerLink="/pages/chat">Abagael Luth</a></h6>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <p class="text-muted mb-0">10:35am</p>
                                            </div>
                                         </div>
                                         <div class="flex-grow-1 d-flex align-items-centermy-auto">
                                            <div>
                                                <span class="text-muted fw-normal fs-12">New Meetup Started......</span>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <a (click)="removeMessage('mes2')" aria-label="anchor" href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close2"><i class="ti ti-x fs-16"></i></a>
                                            </div>
                                         </div>
                                     </div>
                                </div>
                            </li>
                            <li class="dropdown-item" id="mes3" ngbDropdownItem>
                                <div class="d-flex align-items-start">
                                     <div class="pe-2">
                                        <img src="./assets/images/faces/12.jpg" alt="img" class="avatar avatar-md avatar-rounded">
                                     </div>
                                     <div class="w-100">
                                        <div class="flex-grow-1 d-flex align-items-centermy-auto">
                                            <div>
                                                <h6 class="mb-0 fw-semibold fs-14"><a routerLink="/pages/chat">Brizid Dawson</a></h6>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <p class="text-muted mb-0">02:17am</p>
                                            </div>
                                         </div>
                                         <div class="flex-grow-1 d-flex align-items-centermy-auto">
                                            <div>
                                                <span class="text-muted fw-normal fs-12">Brizid is in the Warehouse...</span>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <a (click)="removeMessage('mes3')" aria-label="anchor" href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close2"><i class="ti ti-x fs-16"></i></a>
                                            </div>
                                         </div>
                                     </div>
                                </div>
                            </li>
                            <li class="dropdown-item" id="mes4" ngbDropdownItem>
                                <div class="d-flex align-items-start">
                                     <div class="pe-2">
                                        <img src="./assets/images/faces/4.jpg" alt="img" class="avatar avatar-md avatar-rounded">
                                     </div>
                                     <div class="w-100">
                                        <div class="flex-grow-1 d-flex align-items-centermy-auto">
                                            <div>
                                                <h6 class="mb-0 fw-semibold fs-14"><a routerLink="/pages/chat">Shannon Shaw</a></h6>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <p class="text-muted mb-0">7:55pm</p>
                                            </div>
                                         </div>
                                         <div class="flex-grow-1 d-flex align-items-centermy-auto">
                                            <div>
                                                <span class="text-muted fw-normal fs-12">New Product Realease......</span>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <a (click)="removeMessage('mes4')" aria-label="anchor" href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close2"><i class="ti ti-x fs-16"></i></a>
                                            </div>
                                         </div>
                                     </div>
                                </div>
                            </li>
                            <li class="dropdown-item" id="mes5" ngbDropdownItem>
                                <div class="d-flex align-items-start">
                                     <div class="pe-2">
                                        <img src="./assets/images/faces/3.jpg" alt="img" class="avatar avatar-md avatar-rounded">
                                     </div>
                                     <div class="w-100">
                                        <div class="flex-grow-1 d-flex align-items-centermy-auto">
                                            <div>
                                                <h6 class="mb-0 fw-semibold fs-14"><a routerLink="/pages/chat">Cherry Blossom</a></h6>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <p class="text-muted mb-0">7:55pm</p>
                                            </div>
                                         </div>
                                         <div class="flex-grow-1 d-flex align-items-centermy-auto">
                                            <div>
                                                <span class="text-muted fw-normal fs-12">You have appointment on......</span>
                                            </div>
                                            <div class="ms-auto text-end">
                                                <a (click)="removeMessage('mes5')" aria-label="anchor" href="javascript:void(0);" class="min-w-fit-content text-muted me-1 dropdown-item-close2"><i class="ti ti-x fs-16"></i></a>
                                            </div>
                                         </div>
                                     </div>
                                </div>
                            </li>
                        </ul>
                        </overlay-scrollbars>
                        @if(!ismessageEmpty){
                        <div class="p-3 empty-header-item2 border-top text-center">
                            <a routerLink="/pages/chat" class="">View All Messages</a>
                        </div>
                    }
                        <div class="p-5 empty-item2 d-none" [class.d-none]="!ismessageEmpty">
                            <div class="text-center">
                                <span class="avatar avatar-xl avatar-rounded bg-danger-transparent">
                                    <i class="ri-message-2-line fs-2"></i>
                                </span>
                                <h6 class="fw-semibold mt-3">No New Messages</h6>
                            </div>
                        </div>
                    </div>
                    <!-- End::main-header-dropdown -->
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div class="header-element header-fullscreen" appFullscreen>
                    <!-- Start::header-link -->
                    <a aria-label="anchor" (click)="toggleFullscreen()" href="javascript:void(0);" class="header-link">
                        <i [ngClass]="{ 'd-none': isFullscreen }" class="fe fe-minimize full-screen-open header-link-icon"></i>
                        <i [ngClass]="{ 'd-none': !isFullscreen }" class="fe fe-minimize-2 full-screen-close header-link-icon d-none"></i>
                    </a>
                    <!-- End::header-link -->
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div class="header-element">
                    <!-- Start::header-link|dropdown-toggle -->
                    <a aria-label="anchor" href="javascript:void(0);" (click)="openRightSidebar()" class="header-link dropdown-toggle" data-bs-toggle="offcanvas" data-bs-target="#sidebar-right">
                        <i class="fe fe-align-right header-link-icon"></i>
                    </a>
                    <!-- End::header-link|dropdown-toggle -->
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div ngbDropdown class="header-element main-profile-user">
                    <!-- Start::header-link|dropdown-toggle -->
                    <a ngbDropdownToggle class="header-link dropdown-toggle" id="mainHeaderProfile" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <div class="d-flex align-items-center">
                            <div class="me-xxl-2 me-0">
                                <img src="./assets/images/faces/9.jpg" alt="img" width="32" height="32" class="rounded-circle">
                            </div>
                            <div class="d-xxl-block d-none my-auto">
                                <h6 class="fw-semibold mb-0 lh-1 fs-14">Json Taylor</h6>
                                <span class="op-7 fw-normal d-block fs-11 text-muted">Web Designer</span>
                            </div>
                        </div>
                    </a>
                    <!-- End::header-link|dropdown-toggle -->
                    <ul ngbDropdownMenu class="main-header-dropdown dropdown-menu pt-0 header-profile-dropdown dropdown-menu-end" aria-labelledby="mainHeaderProfile">
                        <li class="drop-heading d-xxl-none d-block">
                             <div class="text-center">
                                <h5 class="text-dark mb-0 fs-14 fw-semibold">Json Taylor</h5>
                                <small class="text-muted">Web Designer</small>
                            </div>
                        </li>
                        <li class="dropdown-item"><a class="d-flex w-100" [routerLink]="['/pages/profile']"><i class="fe fe-user fs-18 me-2 text-primary"></i>Profile</a></li>
                        <li class="dropdown-item"><a class="d-flex w-100" routerLink="/pages/email/mail-inbox"><i class="fe fe-mail fs-18 me-2 text-primary"></i>Inbox <span class="badge bg-danger ms-auto">25</span></a></li>
                        <li class="dropdown-item"><a class="d-flex w-100" routerLink="/pages/email/mailsettings"><i class="fe fe-settings fs-18 me-2 text-primary"></i>Settings</a></li>
                        <li class="dropdown-item"><a class="d-flex w-100" routerLink="/pages/chat"><i class="fe fe-headphones fs-18 me-2 text-primary"></i>Support</a></li>
                        <li class="dropdown-item"><a class="d-flex w-100" routerLink="/custom/lockscreen"><i class="fe fe-lock fs-18 me-2 text-primary"></i>Lockscreen</a></li>
                        <li class="dropdown-item"><a class="d-flex w-100" routerLink="/custom/sign-in"><i class="fe fe-info fs-18 me-2 text-primary"></i>Log Out</a></li>
                    </ul>
                </div>
                <!-- End::header-element -->

                <!-- Start::header-element -->
                <div class="header-element">
                    <!-- Start::header-link|switcher-icon -->
                    <a aria-label="anchor" (click)="toggleSwitcher()" class="header-link switcher-icon" data-bs-toggle="offcanvas" data-bs-target="#switcher-canvas">
                        <i class="bx bx-cog header-link-icon"></i>
                    </a>
                    <!-- End::header-link|switcher-icon -->
                </div>
                <!-- End::header-element -->

            </div>
            <!-- End::header-content-right -->

        </div>
        <!-- End::main-header-container -->

    </header>
    <!-- /app-header -->
    <ng-template #searchModal>
        <div class="modal-body header-modal" id="searchModal1">
          <div ngbDropdown class="input-group">
            <a href="javascript:void(0);" class="input-group-text" id="Search-Grid"
              ><i class="fe fe-search header-link-icon fs-18"></i
            ></a>
            <input [(ngModel)]="text"
            [ngModelOptions]="{standalone: true}" (keyup)="Search(text)"
              type="search"
              class="form-control px-2"
              placeholder="Search"
              aria-label="Username"
            />
            <a href="javascript:void(0);" class="input-group-text" id="voice-search"
              ><i class="fe fe-mic header-link-icon"></i
            ></a>
              <a
              ngbDropdownToggle
              href="javascript:void(0);"
              class="btn btn-light no-caret"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fe fe-more-vertical"></i>
            </a>
             <div class="search-result p-absolute w-100 card border mt-1" *ngIf="menuItems?.length;">
                <div class="card-header">
                  <h4 class="card-title me-2">Search result of "{{text}}" </h4> <small> limit dropdown 5 only</small>
                </div>
                <ul class="list-group text-break">
                  <li *ngFor="let menuItem of menuItems | slice:0:5" [routerLink]="menuItem?.path"
                    class="list-group-item header-list-group border-start-end-top-0 br-0" (click)="clearSearch()">
                    <i class="fa fa-angle-double-right me-2" aria-hidden="true"></i>{{menuItem?.title}}
                  </li>
                </ul>
              </div>
            <ul ngbDropdownMenu class="dropdown-menu">
              <li>
                <a
                  href="javascript:void(0)"
                  ngbDropdownItem
                  class="dropdown-item"
                  href="javascript:void(0);"
                  >Action</a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  ngbDropdownItem
                  class="dropdown-item"
                  href="javascript:void(0);"
                  >Another action</a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  ngbDropdownItem
                  class="dropdown-item"
                  href="javascript:void(0);"
                  >Something else here</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  href="javascript:void(0)"
                  ngbDropdownItem
                  class="dropdown-item"
                  href="javascript:void(0);"
                  >Separated link</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-4">
            <p class="font-weight-semibold text-muted mb-2">Are You Looking For...</p>
            <span id="badge1" class="search-tags me-1"
              ><i class="fe fe-user me-2"></i>People<a
                href="javascript:void(0)"
                class="tag-addon"
                ><i class="fe fe-x" (click)="removeRow('badge1')"></i></a
            ></span>
            <span id="badge2" class="search-tags me-1"
              ><i class="fe fe-file-text me-2"></i>Pages<a
                href="javascript:void(0)"
                class="tag-addon"
                ><i class="fe fe-x" (click)="removeRow('badge2')"></i></a
            ></span>
            <span id="badge3" class="search-tags me-1"
              ><i class="fe fe-align-left me-2"></i>Articles<a
                href="javascript:void(0)"
                class="tag-addon"
                ><i class="fe fe-x" (click)="removeRow('badge3')"></i></a
            ></span>
            <span id="badge4" class="search-tags me-1"
              ><i class="fe fe-server me-2"></i>Tags<a
                href="javascript:void(0)"
                class="tag-addon"
                ><i class="fe fe-x" (click)="removeRow('badge4')"></i></a
            ></span>
          </div>
          <div class="my-4">
            <p class="font-weight-semibold text-muted mb-2">Recent Search :</p>
            <div
              id="badge5"
              class="p-2 border br-5 d-flex align-items-center text-muted mb-2 alert"
            >
              <a [routerLink]="['/pages/notifications']"
                ><span>Notifications</span></a
              >
              <a
                class="ms-auto lh-1"
                href="javascript:void(0);"
                data-bs-dismiss="alert"
                aria-label="Close"
                ><i class="fe fe-x text-muted" (click)="removeRow('badge5')"></i
              ></a>
            </div>
            <div
              id="badge6"
              class="p-2 border br-5 d-flex align-items-center text-muted mb-2 alert"
            >
              <a [routerLink]="['/elements/alerts']"><span>Alerts</span></a>
              <a
                class="ms-auto lh-1"
                href="javascript:void(0);"
                data-bs-dismiss="alert"
                aria-label="Close"
                ><i class="fe fe-x text-muted" (click)="removeRow('badge6')"></i
              ></a>
            </div>
            <div
              id="badge7"
              class="p-2 border br-5 d-flex align-items-center text-muted mb-0 alert"
            >
              <a [routerLink]="['/pages/email/mail-inbox']"><span>Mail</span></a>
              <a
                class="ms-auto lh-1"
                href="javascript:void(0);"
                data-bs-dismiss="alert"
                aria-label="Close"
                ><i class="fe fe-x text-muted" (click)="removeRow('badge7')"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group ms-auto">
            <a class="btn btn-sm btn-primary-light">Search</a>
            <a class="btn btn-sm btn-primary">Clear Recents</a>
          </div>
        </div>
      </ng-template>