<div class="card {{mainClass}}">
    @if (bagde) {
        <span class="{{BadgeClass}}"><span><i class="fe fe-zap"></i></span></span>
     }
   
    <div class="{{ribbonBgClass}}"><span class="{{ribbonBg}}">
        @if (icon) {
        <i class="{{IconClass}}"></i>
        }
        @if (ribbon6) {
            <div class="bar">{{title1}}<span></span> <span></span> <span></span> <span></span> </div>
         }
        {{title}}
    </span>
    </div>
    <div class="card-body p-6 {{bodyClass}}">
        
        @if(topTitle){
            <div class="card-subtitle fw-semibold  {{textAlignment}}">{{topTitle}}</div>
            <span class="d-block {{descriptionClass}}" > {{description}}</span>
        }
        @if(bottomTitle){

            <span class="d-block {{descriptionClass}}">{{description}}</span>
            <div class="card-subtitle fw-semibold {{textAlignment}}">{{bottomTitle}}</div>
        }
    <!-- <ng-content></ng-content> -->
    </div>
  </div>

  