<app-page-header [title]="'Progress'" [title1]="['Ui Elements']" [activeitem]="'Progress'"></app-page-header>

  <!-- Start:: row-1 -->
<div class="row">
    <div class="col-xl-6">
      <app-showcode-card [title]="'Basic Progress'" [prism]="prismCode.progress1">
        <spk-progressbar  [barClass]="'bg-primary'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
        <spk-progressbar [value]="25" [barClass]="'bg-primary'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
        <spk-progressbar [value]="50" [barClass]="'bg-primary'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
        <spk-progressbar [value]="75" [barClass]="'bg-primary'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
        <spk-progressbar [value]="100" [barClass]="'bg-primary'" [progressClass]="'mb-0'" [showLabel]="false"></spk-progressbar>
      </app-showcode-card>
    </div>
    <div class="col-xl-6">
        <app-showcode-card [title]="'Different Colored Progress'" [prism]="prismCode.progress2">
          <spk-progressbar [value]="20" [progressClass]="'mb-3'" barClass=" progress-bar  bg-secondary"></spk-progressbar>
          <spk-progressbar [value]="40" [progressClass]="'mb-3'" barClass=" progress-bar  bg-warning"></spk-progressbar>
          <spk-progressbar [value]="60" [progressClass]="'mb-3'" barClass=" progress-bar  bg-info"></spk-progressbar>
          <spk-progressbar [value]="80" [progressClass]="'mb-3'" barClass=" progress-bar  bg-success"></spk-progressbar>
          <spk-progressbar [value]="100" [progressClass]="'mb-0'" barClass=" progress-bar  bg-danger"></spk-progressbar>
         
        </app-showcode-card>
      </div>

  </div>
  <!-- End:: row-1 -->
    <!-- Start:: row-2 -->
    <div class="row">
        <div class="col-xl-6">
            <app-showcode-card [title]="'Striped Progress'" [prism]="prismCode.progress3">
              <spk-progressbar [value]="10" [barClass]="'progress-bar progress-bar-striped'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
              <spk-progressbar [value]="25" [barClass]="' progress-bar-striped bg-secondary'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
              <spk-progressbar [value]="50" [barClass]="'progress-bar-striped bg-success'" [progressClass]="'mb-3'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
              <spk-progressbar [value]="75" [barClass]="'progress-bar-striped bg-info'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
              <spk-progressbar [value]="100" [barClass]="'progress-bar-striped bg-warning'" [progressClass]="'mb-0'" [showLabel]="false"></spk-progressbar>
            </app-showcode-card>
          </div>
        <div class="col-xl-6">
          <app-showcode-card [title]="'Progress Height'" [prism]="prismCode.progress4">
            <spk-progressbar [value]="10"  [progressClass]="'mb-3'" size="xs"></spk-progressbar>
            <spk-progressbar [value]="25" [progressClass]="'mb-3'" size="sm"></spk-progressbar>
            <spk-progressbar [value]="50" [progressClass]="'mb-3'"></spk-progressbar>
            <spk-progressbar [value]="75" [progressClass]="'mb-3'" size="lg"></spk-progressbar>
            <spk-progressbar [value]="100" [progressClass]="'mb-0'" size="xl"></spk-progressbar>
          </app-showcode-card>
        </div>
       
      </div>
      <!-- End:: row-2 -->
  <!-- Start:: row-4 -->
  <div class="row">
    <div class="col-xl-6">
      <app-showcode-card [title]="'Progress With Labels'" [prism]="prismCode.progress5">
        <spk-progressbar [value]="10" [barClass]="' progress-bar bg-primary'" [progressClass]="'mb-3'" [showLabel]="true"></spk-progressbar>
        <spk-progressbar [value]="20" [barClass]="'progress-bar bg-secondary'" [progressClass]="'mb-3'" [showLabel]="true"></spk-progressbar>
        <spk-progressbar [value]="40" [barClass]="'progress-bar bg-success'" [progressClass]="'mb-3'" [showLabel]="true"></spk-progressbar>
        <spk-progressbar [value]="60" [barClass]="'progress-bar bg-info'" [progressClass]="'mb-3'" [showLabel]="true"></spk-progressbar>
        <spk-progressbar [value]="80" [barClass]="'progress-bar bg-warning'" [progressClass]="'mb-0'" [showLabel]="true"></spk-progressbar>
      </app-showcode-card>
    </div>
    <div class="col-xl-6">
      <app-showcode-card [title]="' Multiple bars With Sizes'" [prism]="prismCode.progress6">
        <div class="progress-stacked progress-xs mb-3">
          <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0"
            aria-valuemax="100"></div>
          <div class="progress-bar bg-secondary" role="progressbar" style="width: 10%" aria-valuenow="10"
            aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <div class="progress-stacked progress-sm mb-3">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0"
            aria-valuemax="100"></div>
          <div class="progress-bar bg-info" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0"
            aria-valuemax="100"></div>
          <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <div class="progress-stacked mb-3">
          <div class="progress-bar bg-info" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0"
            aria-valuemax="100"></div>
          <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <div class="progress-stacked progress-lg mb-3">
          <div class="progress-bar bg-purple" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
          <div class="progress-bar bg-teal" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
          <div class="progress-bar bg-orange" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <div class="progress-stacked progress-xl mb-0">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
          <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
            aria-valuemax="100"></div>
          <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </app-showcode-card>
    </div>
  </div>
    <!-- Start:: row-3 -->
    <div class="row">
        <div class="col-xl-6">
            <app-showcode-card [title]="'Animated Stripped Progress'" [prism]="prismCode.progress7">
              <spk-progressbar [value]="10" [barClass]="'primary progress-bar progress-bar-striped progress-bar-animated'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
              <spk-progressbar [value]="20" [barClass]="'bg-secondary progress-bar  progress-bar-striped progress-bar-animated'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
              <spk-progressbar [value]="40" [barClass]="'bg-success progress-bar  progress-bar-striped progress-bar-animated'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
              <spk-progressbar [value]="60" [barClass]="'bg-info progress-bar progress-bar-striped progress-bar-animated'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
              <spk-progressbar [value]="80" [barClass]="'bg-warning progress-bar progress-bar-striped progress-bar-animated'" [progressClass]="'mb-0'" [showLabel]="false"></spk-progressbar>
            </app-showcode-card>
          </div>
        <div class="col-xl-6">
          <app-showcode-card [title]="'Gradient Progress'" [prism]="prismCode.progress8">
            <spk-progressbar [value]="10" [barClass]="'progress-bar bg-primary-gradient'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
            <spk-progressbar [value]="20" [barClass]="'progress-bar bg-secondary-gradient'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
            <spk-progressbar [value]="40" [barClass]="'progress-bar bg-success-gradient'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
            <spk-progressbar [value]="60" [barClass]="'progress-bar bg-info-gradient'" [progressClass]="'mb-3'" [showLabel]="false"></spk-progressbar>
            <spk-progressbar [value]="80" [barClass]="'progress-bar bg-warning-gradient'" [progressClass]="'mb-0'" [showLabel]="false"></spk-progressbar>
          </app-showcode-card>
        </div>
       
      
      </div>
      <!-- End:: row-3 -->
    
  <!-- End:: row-4 -->
  <div class="row">
    <div class="col-xl-6">
      <app-showcode-card [title]="'Custom Animated Progress'" [prism]="prismCode.progress9">
        <spk-progressbar [value]="10" [barClass]="'progress-bar bg-primary-gradient'" [progressClass]="'mb-3'"  class="progress-animate" [showLabel]="false"></spk-progressbar>
        <spk-progressbar [value]="20" [barClass]="'progress-bar bg-secondary-gradient'" [progressClass]="'mb-3'"  class="progress-animate" [showLabel]="false"></spk-progressbar>
        <spk-progressbar [value]="40" [barClass]="'progress-bar bg-success-gradient'" [progressClass]="'mb-3'" class="progress-animate" [showLabel]="false"></spk-progressbar>
        <spk-progressbar [value]="60" [barClass]="'progress-bar bg-info-gradient'" [progressClass]="'mb-3'" class="progress-animate" [showLabel]="false"></spk-progressbar>
        <spk-progressbar [value]="80" [barClass]="'progress-bar bg-warning-gradient'"[progressClass]="'mb-0'"  class="progress-animate" [showLabel]="false"></spk-progressbar>
      
      </app-showcode-card>
    </div>
    <div class="col-xl-6">
        <app-showcode-card [title]="' Custom Progress-1'" [prism]="prismCode.progress10">
          <div class="progress progress-sm progress-custom mb-5 progress-animate" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100">
            <h6 class="progress-bar-title text-fixed-white">Mobiles</h6>
            <div class="progress-bar" style="width: 50%">
              <div class="progress-bar-value">50%</div>
            </div>
          </div>
          <div class="progress progress-sm progress-custom mb-5 progress-animate" role="progressbar" aria-valuenow="60"
            aria-valuemin="0" aria-valuemax="100">
            <h6 class="progress-bar-title bg-secondary text-fixed-white">
              Watches
            </h6>
            <div class="progress-bar bg-secondary" style="width: 60%">
              <div class="progress-bar-value bg-secondary">60%</div>
            </div>
          </div>
          <div class="progress progress-sm progress-custom progress-animate" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100">
            <h6 class="progress-bar-title bg-success text-fixed-white">Shirts</h6>
            <div class="progress-bar bg-success" style="width: 70%">
              <div class="progress-bar-value bg-success">70%</div>
            </div>
          </div>
        </app-showcode-card>
      </div>
  </div>
  <!-- Start:: row-6 -->
  <div class="row">
    <div class="col-xl-6">
      <app-showcode-card [title]="'Custom Progress-2'" [prism]="prismCode.progress11">
        <div class="progress progress-sm mb-4" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-item-1 bg-primary"></div>
          <div class="progress-item-2"></div>
          <div class="progress-item-3"></div>
          <div class="progress-bar" style="width: 50%"></div>
        </div>
        <div class="progress progress-sm mb-4" role="progressbar" aria-valuenow="60" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-item-1 bg-secondary"></div>
          <div class="progress-item-2 bg-secondary"></div>
          <div class="progress-item-3"></div>
          <div class="progress-bar bg-secondary" style="width: 60%"></div>
        </div>
        <div class="progress progress-sm mb-4" role="progressbar" aria-valuenow="70" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-item-1 bg-success"></div>
          <div class="progress-item-2 bg-success"></div>
          <div class="progress-item-3"></div>
          <div class="progress-bar bg-success" style="width: 70%"></div>
        </div>
        <div class="progress progress-sm mb-4" role="progressbar" aria-valuenow="80" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-item-1 bg-info"></div>
          <div class="progress-item-2 bg-info"></div>
          <div class="progress-item-3 bg-info"></div>
          <div class="progress-bar bg-info" style="width: 80%"></div>
        </div>
        <div class="progress progress-sm" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-item-1 bg-warning"></div>
          <div class="progress-item-2 bg-warning"></div>
          <div class="progress-item-3 bg-warning"></div>
          <div class="progress-bar bg-warning" style="width: 90%"></div>
        </div>
      </app-showcode-card>
    </div>
    <div class="col-xl-6">
      <app-showcode-card [title]="'Custom Progress-3'" [prism]="prismCode.progress12">
        <div class="progress progress-lg mb-5 custom-progress-3 progress-animate" role="progressbar" aria-valuenow="50"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: 50%">
            <div class="progress-bar-value">50%</div>
          </div>
        </div>
        <div class="progress progress-lg mb-5 custom-progress-3 progress-animate" role="progressbar" aria-valuenow="60"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-secondary" style="width: 60%">
            <div class="progress-bar-value secondary">60%</div>
          </div>
        </div>
        <div class="progress progress-lg custom-progress-3 progress-animate" role="progressbar" aria-valuenow="70"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-success" style="width: 70%">
            <div class="progress-bar-value success">70%</div>
          </div>
        </div>
      </app-showcode-card>
    </div>
  </div>
  <!-- End:: row-6 -->
  <!-- Start:: row-7 -->
  <div class="row">
    <div class="col-xl-6">
      <app-showcode-card [title]="'Custom Progress-4'" [prism]="prismCode.progress13">
        <div class="progress progress-xl mb-3 progress-animate custom-progress-4" role="progressbar" aria-valuenow="10"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-primary-gradient" style="width: 10%"></div>
          <div class="progress-bar-label">10%</div>
        </div>
        <div class="progress progress-xl mb-3 progress-animate custom-progress-4 secondary" role="progressbar"
          aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-secondary-gradient" style="width: 20%"></div>
          <div class="progress-bar-label">20%</div>
        </div>
        <div class="progress progress-xl mb-3 progress-animate custom-progress-4 success" role="progressbar"
          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-success-gradient" style="width: 40%"></div>
          <div class="progress-bar-label">40%</div>
        </div>
        <div class="progress progress-xl mb-3 progress-animate custom-progress-4 info" role="progressbar"
          aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-info-gradient" style="width: 60%"></div>
          <div class="progress-bar-label">60%</div>
        </div>
        <div class="progress progress-xl mb-3 progress-animate custom-progress-4 warning" role="progressbar"
          aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-warning-gradient" style="width: 80%"></div>
          <div class="progress-bar-label">80%</div>
        </div>
        <div class="progress progress-xl progress-animate custom-progress-4 danger" role="progressbar" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-danger-gradient" style="width: 100%"></div>
          <div class="progress-bar-label text-fixed-white">100%</div>
        </div>
      </app-showcode-card>
    </div>
  
    <div class="col-xl-6">
      <app-showcode-card [title]="'Custom Progress-5'" [prism]="prismCode.progress14">
        <h6 class="fw-semibold mb-2">Project Dependencies</h6>
        <div class="progress-stacked progress-xl mb-5">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100">
            25%
          </div>
          <div class="progress-bar bg-secondary" role="progressbar" style="width: 35%" aria-valuenow="35"
            aria-valuemin="0" aria-valuemax="100">
            35%
          </div>
          <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
            aria-valuemax="100">
            40%
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-5">
            <div class="border p-3">
              <p class="fs-12 fw-semibold mb-0 text-muted">
                Html<span class="float-end fs-10 fw-normal">25%</span>
              </p>
              <div class="progress progress-xs mb-4 progress-animate" role="progressbar" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-primary" style="width: 25%"></div>
              </div>
              <p class="fs-12 fw-semibold mb-0 text-muted">
                Css<span class="float-end fs-10 fw-normal">35%</span>
              </p>
              <div class="progress progress-xs mb-4 progress-animate" role="progressbar" aria-valuenow="35"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-secondary" style="width: 35%"></div>
              </div>
              <p class="fs-12 fw-semibold mb-0 text-muted">
                Js<span class="float-end fs-10 fw-normal">40%</span>
              </p>
              <div class="progress progress-xs mb-0 progress-animate" role="progressbar" aria-valuenow="40"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-danger" style="width: 40%"></div>
              </div>
            </div>
          </div>
        </div>
      </app-showcode-card>
    </div>
  </div>
  <!-- End:: row-7 -->
