

<div [formGroup]="formGroup" style="width: 100%;">


    <div class="row">
      <div class="form-group col-lg-4 col-md-12">
        <label>Képzési intézmény neve</label>
        <input type="text" formControlName="nameOfDegree" id="nameOfDegree">
      </div>

      <div class="form-group col-lg-4 col-md-12">
        <label>Képzési intézmény neve</label>
        <input type="text" formControlName="nameOfInstitution" id="nameOfInstitution">
      </div>
      
      <div class="form-group col-lg-4 col-md-12">
        <label>Képzési intézmény neve</label>
        <input type="text" formControlName="nameOfTraining" id="nameOfTraining">
      </div>      

    </div>
  <hr>

</div>