

<div [formGroup]="formGroup" style="width: 100%;">
    <div class="row">

      <div class="form-group col-lg-4 col-md-12">
        <label>Felsőoktatási intézmény neve</label>
        <input class="form-control" type="text" formControlName="nameOfInstitution" id="nameOfInstitution">
      </div>

      <div class="form-group col-lg-4 col-md-12">
        <label>Szak neve</label>
        <input class="form-control" type="text" formControlName="nameOfTraining" id="nameOfTraining">
      </div>          

      <div class="form-group col-lg-4 col-md-12">
        <label>Szakképzettség, specializáció stb.</label>
        <input class="form-control" type="text" formControlName="nameOfDegree" id="nameOfDegree">
      </div>

  

    </div>
  <hr>
</div>