
    <div class="page">
        <!-- Header -->
        <app-header></app-header>
        <!-- /Header -->
        <!-- Sidemenu -->
        <app-sidemenu appHoverEffectSidebar></app-sidemenu>
        <!-- /Sidemenu -->
        <!-- Main Content -->
        <div class="main-content app-content">
            <div [ngClass]="layoutClass"  (click)="clickonBody()">
                <router-outlet> </router-outlet>
            </div>
        </div>
        <!-- /Main Content -->
        <!-- Footer -->
        <app-footer></app-footer>
        <!-- /Footer -->
    </div>
        <app-tap-to-top></app-tap-to-top>
        <div id="responsive-overlay" (click)="clearToggle()" ></div>
<!-- </div> -->

