<div class="card custom-card border" [ngClass]="borderClass">
    <div class="card-body">
      <p class="fs-14 fw-medium mb-2 lh-1">
        {{ title }}
        <a href="javascript:void(0);"><i class="bi bi-plus-square float-end fs-18" [ngClass]="iconClass"></i></a>
      </p>
      <div class="d-flex flex-wrap gap-2 mb-4">
        <span *ngFor="let badge of badges; let i = index" class="badge" [ngClass]="badgeClasses[i]">
          {{ badge }}
        </span>
      </div>
      <div class="avatar-list-stacked">
        <span class="avatar avatar-sm avatar-rounded" *ngFor="let avatar of avatars">
          <img [src]="avatar" alt="avatar">
        </span>
      </div>
    </div>
  </div>
  