<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container job-post-request">
    
    <div class="language-switch-container">
        <button (click)="switchLanguage()" class="btn btn-primary language-switch">
            <img
                *ngIf="lang === 'hu'"
                src="../../../assets/images/eng.png"
                alt="Switch to English"
                class="flag-icon"
            />
            <img
                *ngIf="lang === 'en'"
                src="../../../assets/images/hu.png"
                alt="Magyarra váltás"
                class="flag-icon"
            />
        </button>
    </div>   
    <div class="form-row">
        <h2>{{getParentNameByDictCode("JobPosting")}}</h2>
    </div>
    <div>
        <p><strong>{{getParentNameByDictCode("CompanyName")}}: </strong>{{ form.get('firmName')?.value }}</p>
        <p><strong>{{getParentNameByDictCode("EmailAddress")}}: </strong>{{ form.get('emailAddress')?.value }}</p>
    </div>
    <div class="fieldSet">
        <label for="introduction">{{getParentNameByDictCode("Introduction")}}</label>
        <div class="form-row">
            <div class="form-group">
                <input type="text" id="introduction" class="form-control" formControlName="introduction" required
                    maxlength="1000">
                <div *ngIf="form.get('introduction')?.invalid && form.get('introduction')?.touched" class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
        </div>
    </div>
    <hr class="separator">
    <div class="fieldSet">
        <label>{{getParentNameByDictCode("InformationAboutTheOffer")}}</label>
        <div class="form-row">
            <div class="form-group">
                <label for="position">{{getParentNameByDictCode("Position")}}</label>
                <input type="text" id="position" class="form-control" formControlName="position" required>
                <div *ngIf="form.get('position')?.invalid && form.get('position')?.touched" class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="appDeadLine">{{getParentNameByDictCode("ApplicationDeadline")}}</label>
                <input type="date" id="appDeadLine" class="form-control" formControlName="appDeadLine" required>
                <div *ngIf="form.get('appDeadLine')?.invalid && form.get('appDeadLine')?.touched" class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
            <div class="form-group">
                <label for="expectedNumberOfApplicants">{{getParentNameByDictCode("ExpectedNumberOfApplicants")}}</label>
                <input type="number" id="expectedNumberOfApplicants" class="form-control"
                    formControlName="expectedNumberOfApplicants" required min="1">
                <div *ngIf="form.get('expectedNumberOfApplicants')?.invalid && form.get('expectedNumberOfApplicants')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="selectionProcess">{{getParentNameByDictCode("SelectionProcess")}}</label>
                <input type="text" id="selectionProcess" class="form-control" formControlName="selectionProcess">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="selectionDeadline">{{getParentNameByDictCode("SelectionDeadline")}}</label>
                <input type="date" id="selectionDeadline" class="form-control" formControlName="selectionDeadline">
            </div>
            <div class="form-group">
                <label for="plannedStartOfEmployment">{{getParentNameByDictCode("PlannedStartOfEmployment")}}</label>
                <input type="date" id="plannedStartOfEmployment" class="form-control"
                    formControlName="plannedStartOfEmployment" required>
                <div *ngIf="form.get('plannedStartOfEmployment')?.invalid && form.get('plannedStartOfEmployment')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
        </div>
    </div>
    <hr class="separator">
    <div class="fieldSet">
        <label>{{getParentNameByDictCode("EmploymentDetails")}}</label>
        <div class="form-row">
            <div class="form-group">
                <label for="sector">{{getParentNameByDictCode("SectorCategory")}}</label>
                <select id="sector" class="form-control" formControlName="sector" required>
                    <option *ngFor="let option of getChildsName('SectorCategory')" [value]="option.dictionaryId">{{lang === 'hu' ? option.name_HU : option.name_EN}}</option>
                  </select>
                <div *ngIf="form.get('sector')?.invalid && form.get('sector')?.touched" class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
            <div class="form-group">
                <label for="natureOfWork">{{getParentNameByDictCode("NatureOfWorks")}}</label>
                <select id="natureOfWork" class="form-control" formControlName="natureOfWork" required>
                    <option *ngFor="let option of getChildsName('NatureOfWorks')" [value]="option.dictionaryId">{{lang === 'hu' ? option.name_HU : option.name_EN}}</option>
                </select>
                <div *ngIf="form.get('natureOfWork')?.invalid && form.get('natureOfWork')?.touched" class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="placeOfWork">{{getParentNameByDictCode("PlaceOfWorks")}}</label>
                <select id="placeOfWork" class="form-control" formControlName="placeOfWork" required>
                    <option *ngFor="let option of getChildsName('PlaceOfWorks')" [value]="option.dictionaryId">{{lang === 'hu' ? option.name_HU : option.name_EN}}</option>
                </select>
                <div *ngIf="form.get('placeOfWork')?.invalid && form.get('placeOfWork')?.touched" class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
            <div class="form-group">
                <label for="timeOfWork">{{getParentNameByDictCode("TimeOfWorks")}}</label>
                <select id="timeOfWork" class="form-control" formControlName="timeOfWork" required>
                    <option *ngFor="let option of getChildsName('TimeOfWorks')" [value]="option.dictionaryId">{{lang === 'hu' ? option.name_HU : option.name_EN}}</option>
                </select>
                <div *ngIf="form.get('timeOfWork')?.invalid && form.get('timeOfWork')?.touched" class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="languageOfWork">{{getParentNameByDictCode("LanguageOfWorks")}}</label>
                <select id="languageOfWork" class="form-control" formControlName="languageOfWork" required>
                    <option *ngFor="let option of getChildsName('LanguageOfWorks')" [value]="option.dictionaryId">{{lang === 'hu' ? option.name_HU : option.name_EN}}</option>
                </select>
                <div *ngIf="form.get('languageOfWork')?.invalid && form.get('languageOfWork')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
            <div class="form-group" *ngIf="form.get('timeOfWork')?.value === getChildDictionaryIdByChildDictionaryCode('Weeklyhours')?.toString()">
                <label for="hoursWorkedPerWeek ">{{getParentNameByDictCode("WeeklyWorkingHours")}}</label>
                <input type="number" id="hoursWorkedPerWeek" class="form-control" formControlName="hoursWorkedPerWeek"
                    required min="1">
                <div *ngIf="form.get('hoursWorkedPerWeek')?.invalid && form.get('hoursWorkedPerWeek')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
            <div class="form-group" *ngIf="form.get('timeOfWork')?.value === getChildDictionaryIdByChildDictionaryCode('Weeklydays')?.toString()">
                <label for="daysWorkedPerWeek ">{{getParentNameByDictCode("WeeklyWorkingDays")}}</label>
                <input type="number" id="daysWorkedPerWeek" class="form-control" formControlName="daysWorkedPerWeek"
                    required min="1">               
                <div *ngIf="form.get('daysWorkedPerWeek')?.invalid && form.get('daysWorkedPerWeek')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
        </div>
    </div>
    <hr class="separator">
    <div class="fieldSet">
        <label>{{getParentNameByDictCode("EmploymentRelatedInformation")}}</label>
        <div class="form-row">
            <div class="form-group">
                <label for="employmentType">{{getParentNameByDictCode("EmploymentTypes")}}</label>
                <select id="employmentType" class="form-control" formControlName="employmentType" required>
                    <option *ngFor="let option of getChildsName('EmploymentTypes')" [value]="option.dictionaryId">{{lang === 'hu' ? option.name_HU : option.name_EN}}</option>
                </select>
                <div *ngIf="form.get('employmentType')?.invalid && form.get('employmentType')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
            <div class="form-group">
                <label for="employmentForm">{{getParentNameByDictCode("EmploymentForms")}}</label>
                <select id="employmentForm" class="form-control" formControlName="employmentForm" required>
                    <option *ngFor="let option of getChildsName('EmploymentForms')" [value]="option.dictionaryId">{{lang === 'hu' ? option.name_HU : option.name_EN}}</option>
                </select>
                <div *ngIf="form.get('employmentForm')?.invalid && form.get('employmentForm')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="employmentDurationType">{{getParentNameByDictCode("EmploymentDurationType")}}</label>
                <select id="employmentDurationType" class="form-control" formControlName="employmentDurationType"
                    required>
                    <option *ngFor="let option of getChildsName('EmploymentDurationType')" [value]="option.dictionaryId">{{lang === 'hu' ? option.name_HU : option.name_EN}}</option>
                </select>
                <div *ngIf="form.get('employmentDurationType')?.invalid && form.get('employmentDurationType')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group" *ngIf="form.get('employmentDurationType')?.value === getChildDictionaryIdByChildDictionaryCode('Day')?.toString()">
                <label for="employmentDurationInDays">{{getParentNameByDictCode("EmploymentDurationInDays")}}</label>
                <input type="number" id="employmentDurationInDays" class="form-control"
                    formControlName="employmentDurationInDays" required min="1">
                <div *ngIf="form.get('employmentDurationInDays')?.invalid && form.get('employmentDurationInDays')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
            <div class="form-group" *ngIf="form.get('employmentDurationType')?.value === getChildDictionaryIdByChildDictionaryCode('Week')?.toString()">
                <label for="employmentDurationInWeeks">{{getParentNameByDictCode("EmploymentDurationInWeeks")}}</label>
                <input type="number" id="employmentDurationInWeeks" class="form-control"
                    formControlName="employmentDurationInWeeks" required min="1">
                <div *ngIf="form.get('employmentDurationInWeeks')?.invalid && form.get('employmentDurationInWeeks')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
            <div class="form-group" *ngIf="form.get('employmentDurationType')?.value === getChildDictionaryIdByChildDictionaryCode('Month')?.toString()">
                <label for="employmentDurationInMonths">{{getParentNameByDictCode("EmploymentDurationInMonths")}}</label>
                <input type="number" id="employmentDurationInMonths" class="form-control"
                    formControlName="employmentDurationInMonths" required min="1">
                <div *ngIf="form.get('employmentDurationInMonths')?.invalid && form.get('employmentDurationInMonths')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group"
                    *ngIf="form.get('employmentDurationType')?.value === getChildDictionaryIdByChildDictionaryCode('Date')?.toString()">
                    <label for="employmentStartDate">{{getParentNameByDictCode("EmploymentStartDate")}}</label>
                    <input type="date" id="employmentStartDate" class="form-control"
                        formControlName="employmentStartDate" required>
                    <div *ngIf="form.get('employmentStartDate')?.invalid && form.get('employmentStartDate')?.touched"
                        class="text-danger">
                        {{getParentNameByDictCode("RequiredField")}}
                    </div>
                </div>
                <div class="form-group"
                    *ngIf="form.get('employmentDurationType')?.value === getChildDictionaryIdByChildDictionaryCode('Date')?.toString()">
                    <label for="employmentEndDate">{{getParentNameByDictCode("EmploymentEndDate")}}</label>
                    <input type="date" id="employmentEndDate" class="form-control" formControlName="employmentEndDate"
                        required>
                    <div *ngIf="form.get('employmentEndDate')?.invalid && form.get('employmentEndDate')?.touched"
                        class="text-danger">
                        {{getParentNameByDictCode("RequiredField")}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="compensationType">{{getParentNameByDictCode("CompensationTypes")}}</label>
                <select id="compensationType" class="form-control" formControlName="compensationType" required>
                    <option *ngFor="let option of getChildsName('CompensationTypes')" [value]="option.dictionaryId">{{lang === 'hu' ? option.name_HU : option.name_EN}}</option>
                </select>
                <div *ngIf="form.get('compensationType')?.invalid && form.get('compensationType')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
            <div class="form-group">
                <label for="compensationValue">{{getParentNameByDictCode("CompensationValue")}}</label>
                <input type="number" id="compensationValue" class="form-control" formControlName="compensationValue"
                    required min="1">
                <div *ngIf="form.get('compensationValue')?.invalid && form.get('compensationValue')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="additionalBenefit">{{getParentNameByDictCode("AdditionalBenefits")}}</label>
                <select id="additionalBenefit" class="form-control" formControlName="additionalBenefit" required>
                    <option *ngFor="let option of getChildsName('AdditionalBenefits')" [value]="option.dictionaryId">{{lang === 'hu' ? option.name_HU : option.name_EN}}</option>
                </select>
                <div *ngIf="form.get('additionalBenefit')?.invalid && form.get('additionalBenefit')?.touched"
                    class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
            <div class="form-group" *ngIf="form.get('additionalBenefit')?.value == additionalBenefitOtherId">
                <label for="other">{{getParentNameByDictCode("Other")}}</label>
                <input type="text" id="other" class="form-control" formControlName="other" required>
                <div *ngIf="form.get('other')?.invalid && form.get('other')?.touched" class="text-danger">
                   {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
        </div>
    </div>

    <hr class="separator">

    <div class="fieldSet">
        <label>{{getParentNameByDictCode("ApplicantInformation")}}</label>
        <div formArrayName="tasks">
            <label>{{getParentNameByDictCode("TasksToBePerformed")}}:</label>
            <div *ngFor="let item of tasks.controls; let i = index" [formGroupName]="i" class="form-group">
                <div class="d-flex align-items-center form-row">
                    <input type="text" class="form-control" formControlName="value" 
                        required>
                    <button type="button" class="btn btn-danger" (click)="removeInput(tasks, i)"
                        [disabled]="tasks.length<=1">{{getParentNameByDictCode("Delete")}}</button>
                </div>
                <div *ngIf="item.get('id')?.invalid && (item.get('id')?.touched)" class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="addInput(tasks)" [disabled]="tasks.length>=20">+ {{getParentNameByDictCode("NewTask")}}</button>
        </div>

        <hr class="separator">

        <div formArrayName="requiredQualifications">
            <label>{{getParentNameByDictCode("RequiredExpectations")}}:</label>
            <div *ngFor="let item of requiredQualifications.controls; let i = index" [formGroupName]="i"
                class="form-group">
                <div class="d-flex align-items-center form-row">
                    <input type="text" class="form-control" formControlName="value" 
                        required>
                    <button type="button" class="btn btn-danger" (click)="removeInput(requiredQualifications, i)"
                        [disabled]="requiredQualifications.length<=1">{{getParentNameByDictCode("Delete")}}</button>
                </div>
                <div *ngIf="item.get('id')?.invalid && (item.get('id')?.touched)" class="text-danger">
                    {{getParentNameByDictCode("RequiredField")}}
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="addInput(requiredQualifications)"
                [disabled]="requiredQualifications.length>=10">+ {{getParentNameByDictCode("NewExpectation")}}</button>
        </div>

        <hr class="separator">

        <div formArrayName="languages">
            <label>{{getParentNameByDictCode("Languages")}}:</label>
            <div *ngFor="let item of languages.controls; let i = index" [formGroupName]="i" class="form-group">

                <div class="d-flex align-items-center form-row">
                    <div class="form-group">
                        <label for="lang">{{getParentNameByDictCode("LanguageExamLang")}}</label>
                        <select id="lang" class="form-control" formControlName="lang" required>
                            <option *ngFor="let option of getChildsName('LanguageExamLang')" [value]="option.dictionaryId">{{lang === 'hu' ? option.name_HU : option.name_EN}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="langLevel">{{getParentNameByDictCode("LanguageExamLevel")}}</label>
                        <select id="langLevel" class="form-control" formControlName="langLevel" required>
                            <option *ngFor="let option of getChildsName('LanguageExamLevel')" [value]="option.dictionaryId">{{lang === 'hu' ? option.name_HU : option.name_EN}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="langType">{{getParentNameByDictCode("LanguageExamType")}}</label>
                        <select id="langType" class="form-control" formControlName="langType" required>
                            <option *ngFor="let option of getChildsName('LanguageExamType')" [value]="option.dictionaryId">{{lang === 'hu' ? option.name_HU : option.name_EN}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label></label>
                        <button type="button" class="btn btn-danger" (click)="removeInput(languages, i)">{{getParentNameByDictCode("Delete")}}</button>
                    </div>
                </div>
                <div *ngIf="item.get('lang')?.invalid && item.get('lang')?.touched || item.get('langType')?.invalid && item.get('langType')?.touched || item.get('langLevel')?.invalid && item.get('langLevel')?.touched" class="text-danger">
                  {{getParentNameByDictCode("RequiredField")}}
                </div>
                <hr class="separator">
            </div>
            <button type="button" class="btn btn-primary" (click)="addLanguages()" [disabled]="languages.length>=3">+ {{getParentNameByDictCode("NewLanguage")}}</button>
        </div>
        <hr class="separator">
        <div formArrayName="competencies">
            <label>{{getParentNameByDictCode("Competencies")}}:</label>
            <div *ngFor="let item of competencies.controls; let i = index" [formGroupName]="i" class="form-group">
                <div class="d-flex align-items-center form-row">
                    <input type="text" class="form-control" formControlName="value">
                    <button type="button" class="btn btn-danger" (click)="removeInput(competencies, i)">{{getParentNameByDictCode("Delete")}}</button>
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="addInput(competencies)"
                [disabled]="competencies.length>=10">+ {{getParentNameByDictCode("NewCompetencies")}}</button>
        </div>
        <hr class="separator">
        <div formArrayName="advantages">
            <label>{{getParentNameByDictCode("PreferredAdvantages")}}:</label>
            <div *ngFor="let item of advantages.controls; let i = index" [formGroupName]="i" class="form-group">
                <div class="d-flex align-items-center form-row">
                    <input type="text" class="form-control" formControlName="value">
                    <button type="button" class="btn btn-danger" (click)="removeInput(advantages, i)">{{getParentNameByDictCode("Delete")}}</button>
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="addInput(advantages)"
                [disabled]="advantages.length>=10">+ {{getParentNameByDictCode("NewAdvantage")}}</button>
        </div>
        <hr class="separator">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{getParentNameByDictCode("Send")}}</button>

</form>