.job-post-request {
  max-width: 1000px;
  min-width: 500px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #ccc;
  border-radius: 8px; */
  background-color: #f9f9f9;
  background-color: #ffffff;
}

.form-row {
  display: flex;
  justify-content: space-around;
}

.form-group {
  flex: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-inline: 5px;
}

.form-control {
  width: 100%;
}

button {
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.companyInfo {
  margin-bottom: 1rem;
}


select {
  appearance: auto;
  -webkit-appearance: auto;
  /* Safari támogatás */
  border: solid 1px #ccc;
}

button.btn-danger {
  width: 10rem;
}

.form-control {
  height: 38px;
  /* Fix magasság a mezőkhöz */
  font-size: 14px;
  /* Azonos betűméret minden mezőben */
  box-sizing: border-box;
  /* Helyes méretezés biztosítása */
  display: inline-block;
  vertical-align: middle;
  /* Függőleges igazítás azonos szinten */
}

.form-group.d-flex {
  align-items: center;
  /* A mező és a gomb egy szintre kerül */
  margin-bottom: 10px;
  /* Távolság a sorok között */
}


.separator {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.fieldSet {
  padding: 1rem;
  padding-top: 0;
  padding-bottom: .5rem;
  border: grey;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fieldSet>label {
  margin-bottom: 1rem;
  font-weight: bold;
}

.language-switch-container {
  position: absolute;
  top: 10px;
  right: 10px; /* Gomb jobb oldali elhelyezése */
}

.language-switch {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flag-icon {
  width: 30px; /* Zászló méret */
  height: 30px;
  display: block;
}