<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container job-post-request">

    <div class="form-row">
        <h2>Állásajánlat rögzítése</h2>
    </div>
    <div>
        <p><strong>Cégnév: </strong>{{ form.get('firmName')?.value }}</p>
        <p><strong>E-mail cím: </strong>{{ form.get('emailAddress')?.value }}</p>
    </div>



    <div class="fieldSet">
        <label for="introduction">Bemutatkozás</label>
        <div class="form-row">
            <div class="form-group">
                <input type="text" id="introduction" class="form-control" formControlName="introduction" required
                    maxlength="1000">
                <div *ngIf="form.get('introduction')?.invalid && form.get('introduction')?.touched" class="text-danger">
                    A bemutatkozást kötelező kitölteni!
                </div>
            </div>
        </div>
    </div>
    <hr class="separator">
    <div class="fieldSet">
        <label>Az ajánlattal kapcsolatos adatok</label>
        <div class="form-row">
            <div class="form-group">
                <label for="position">Pozíció</label>
                <input type="text" id="position" class="form-control" formControlName="position" required>
                <div *ngIf="form.get('position')?.invalid && form.get('position')?.touched" class="text-danger">
                    A pozíciót kötelező kitölteni!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="appDeadLine">Jelentkezési határidő</label>
                <input type="date" id="appDeadLine" class="form-control" formControlName="appDeadLine" required>
                <div *ngIf="form.get('appDeadLine')?.invalid && form.get('appDeadLine')?.touched" class="text-danger">
                    A jelentkezési határidőt kötelező kitölteni!
                </div>
            </div>
            <div class="form-group">
                <label for="expectedNumberOfApplicants">Elvárt jelentkezői létszám</label>
                <input type="number" id="expectedNumberOfApplicants" class="form-control"
                    formControlName="expectedNumberOfApplicants" required min="1">
                <div *ngIf="form.get('expectedNumberOfApplicants')?.invalid && form.get('expectedNumberOfApplicants')?.touched"
                    class="text-danger">
                    Az elvárt jelentkezői létszámot kötelező kitölteni!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="selectionProcess">Kiválasztás menete</label>
                <input type="text" id="selectionProcess" class="form-control" formControlName="selectionProcess">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="selectionDeadline">Kiválasztás határideje</label>
                <input type="date" id="selectionDeadline" class="form-control" formControlName="selectionDeadline">
            </div>
            <div class="form-group">
                <label for="plannedStartOfEmployment">Foglalkoztatás tervezett kezdete</label>
                <input type="date" id="plannedStartOfEmployment" class="form-control"
                    formControlName="plannedStartOfEmployment" required>
                <div *ngIf="form.get('plannedStartOfEmployment')?.invalid && form.get('plannedStartOfEmployment')?.touched"
                    class="text-danger">
                    Afoglalkoztatás tervezett kezdetét kötelező kitölteni!
                </div>
            </div>
        </div>
    </div>
    <hr class="separator">
    <div class="fieldSet">
        <label>Munkavégzéssel kapcsolatos adatok</label>
        <div class="form-row">
            <div class="form-group">
                <label for="sector">Szektor</label>
                <select id="sector" class="form-control" formControlName="sector" required>
                    <option *ngFor="let option of sectors" [value]="option">{{ option }}</option>
                </select>
                <div *ngIf="form.get('sector')?.invalid && form.get('sector')?.touched" class="text-danger">
                    A szektort kötelező kitölteni!
                </div>
            </div>
            <div class="form-group">
                <label for="natureOfWork">Munka jellege</label>
                <select id="natureOfWork" class="form-control" formControlName="natureOfWork" required>
                    <option *ngFor="let option of natureOfWorks" [value]="option">{{ option }}</option>
                </select>
                <div *ngIf="form.get('natureOfWork')?.invalid && form.get('natureOfWork')?.touched" class="text-danger">
                    A munka jellegét kötelező kitölteni!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="placeOfWork">Munkavégzés helye</label>
                <select id="placeOfWork" class="form-control" formControlName="placeOfWork" required>
                    <option *ngFor="let option of placeOfWorks" [value]="option">{{ option }}</option>
                </select>
                <div *ngIf="form.get('placeOfWork')?.invalid && form.get('placeOfWork')?.touched" class="text-danger">
                    A munkavégzés helyét kötelező kitölteni!
                </div>
            </div>
            <div class="form-group">
                <label for="timeOfWork">Munkavégzés ideje</label>
                <select id="timeOfWork" class="form-control" formControlName="timeOfWork" required>
                    <option *ngFor="let option of timeOfWorks" [value]="option">{{ option }}</option>
                </select>
                <div *ngIf="form.get('timeOfWork')?.invalid && form.get('timeOfWork')?.touched" class="text-danger">
                    A munkavégzés idejét kötelező kitölteni!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="languageOfWork">Munkavégzés nyelve</label>
                <select id="languageOfWork" class="form-control" formControlName="languageOfWork" required>
                    <option *ngFor="let option of languageOfWorks" [value]="option">{{ option }}</option>
                </select>
                <div *ngIf="form.get('languageOfWork')?.invalid && form.get('languageOfWork')?.touched"
                    class="text-danger">
                    A munkavégzés nyelvét kötelező kitölteni!
                </div>
            </div>
            <div class="form-group" *ngIf="form.get('timeOfWork')?.value === timeOfWorks[2]">
                <label for="hoursWorkedPerWeek ">Munkavégzéssel töltött órák száma hetente</label>
                <input type="number" id="hoursWorkedPerWeek" class="form-control" formControlName="hoursWorkedPerWeek"
                    required min="1">
                <div *ngIf="form.get('hoursWorkedPerWeek')?.invalid && form.get('hoursWorkedPerWeek')?.touched"
                    class="text-danger">
                    A munkavégzéssel töltött órák heti számát kötelező kitölteni!
                </div>
            </div>
            <div class="form-group" *ngIf="form.get('timeOfWork')?.value === timeOfWorks[3]">
                <label for="daysWorkedPerWeek ">Munkavégzéssel töltött napok száma hetente</label>
                <input type="number" id="daysWorkedPerWeek" class="form-control" formControlName="daysWorkedPerWeek"
                    required min="1">
                <div *ngIf="form.get('daysWorkedPerWeek')?.invalid && form.get('daysWorkedPerWeek')?.touched"
                    class="text-danger">
                    A munkavégzéssel töltött napok heti számát kötelező kitölteni!
                </div>
            </div>
        </div>
    </div>
    <hr class="separator">
    <div class="fieldSet">
        <label>Foglalkoztatással kapcsolatos adatok</label>
        <div class="form-row">
            <div class="form-group">
                <label for="employmentType">Foglalkoztatás jellege</label>
                <select id="employmentType" class="form-control" formControlName="employmentType" required>
                    <option *ngFor="let option of employmentTypes" [value]="option">{{ option }}</option>
                </select>
                <div *ngIf="form.get('employmentType')?.invalid && form.get('employmentType')?.touched"
                    class="text-danger">
                    A foglalkoztatás jellegét kötelező kitölteni!
                </div>
            </div>
            <div class="form-group">
                <label for="employmentForm">Foglalkoztatási forma</label>
                <select id="employmentForm" class="form-control" formControlName="employmentForm" required>
                    <option *ngFor="let option of employmentForms" [value]="option">{{ option }}</option>
                </select>
                <div *ngIf="form.get('employmentForm')?.invalid && form.get('employmentForm')?.touched"
                    class="text-danger">
                    A foglalkoztatás formáját kötelező kitölteni!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="employmentDurationType">Foglalkoztatás időtartam típusa</label>
                <select id="employmentDurationType" class="form-control" formControlName="employmentDurationType"
                    required>
                    <option *ngFor="let option of employmentDurationTypes" [value]="option">{{ option }}</option>
                </select>
                <div *ngIf="form.get('employmentDurationType')?.invalid && form.get('employmentDurationType')?.touched"
                    class="text-danger">
                    A foglalkoztatás időtartam típusát kötelező kitölteni!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group" *ngIf="form.get('employmentDurationType')?.value === employmentDurationTypes[1]">
                <label for="employmentDurationInDays">Foglalkoztatás időtartama napokban</label>
                <input type="number" id="employmentDurationInDays" class="form-control"
                    formControlName="employmentDurationInDays" required min="1">
                <div *ngIf="form.get('employmentDurationInDays')?.invalid && form.get('employmentDurationInDays')?.touched"
                    class="text-danger">
                    A foglalkoztatás időtartamát kötelező kitölteni!
                </div>
            </div>
            <div class="form-group" *ngIf="form.get('employmentDurationType')?.value === employmentDurationTypes[2]">
                <label for="employmentDurationInWeeks">Foglalkoztatás időtartama hetekben</label>
                <input type="number" id="employmentDurationInWeeks" class="form-control"
                    formControlName="employmentDurationInWeeks" required min="1">
                <div *ngIf="form.get('employmentDurationInWeeks')?.invalid && form.get('employmentDurationInWeeks')?.touched"
                    class="text-danger">
                    A foglalkoztatás időtartamát kötelező kitölteni!
                </div>
            </div>
            <div class="form-group" *ngIf="form.get('employmentDurationType')?.value === employmentDurationTypes[3]">
                <label for="employmentDurationInMonths">Foglalkoztatás időtartama hónapokban</label>
                <input type="number" id="employmentDurationInMonths" class="form-control"
                    formControlName="employmentDurationInMonths" required min="1">
                <div *ngIf="form.get('employmentDurationInMonths')?.invalid && form.get('employmentDurationInMonths')?.touched"
                    class="text-danger">
                    A foglalkoztatás időtartamát kötelező kitölteni!
                </div>
            </div>
            <div class="form-row">
                <div class="form-group"
                    *ngIf="form.get('employmentDurationType')?.value === employmentDurationTypes[0]">
                    <label for="employmentStartDate">Foglalkoztatás kezdete</label>
                    <input type="date" id="employmentStartDate" class="form-control"
                        formControlName="employmentStartDate" required>
                    <div *ngIf="form.get('employmentStartDate')?.invalid && form.get('employmentStartDate')?.touched"
                        class="text-danger">
                        A foglalkoztatás időtartamát kötelező kitölteni!
                    </div>
                </div>
                <div class="form-group"
                    *ngIf="form.get('employmentDurationType')?.value === employmentDurationTypes[0]">
                    <label for="employmentEndDate">Foglalkoztatás vége</label>
                    <input type="date" id="employmentEndDate" class="form-control" formControlName="employmentEndDate"
                        required>
                    <div *ngIf="form.get('employmentEndDate')?.invalid && form.get('employmentEndDate')?.touched"
                        class="text-danger">
                        A foglalkoztatás időtartamát kötelező kitölteni!
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="compensationType">Javadalmazás típusa</label>
                <select id="compensationType" class="form-control" formControlName="compensationType" required>
                    <option *ngFor="let option of compensationTypes" [value]="option">{{ option }}</option>
                </select>
                <div *ngIf="form.get('compensationType')?.invalid && form.get('compensationType')?.touched"
                    class="text-danger">
                    A javadalmazás típusát kötelező kitölteni!
                </div>
            </div>
            <div class="form-group">
                <label for="compensationValue">Javadalmazás értéke</label>
                <input type="number" id="compensationValue" class="form-control" formControlName="compensationValue"
                    required min="1">
                <div *ngIf="form.get('compensationValue')?.invalid && form.get('compensationValue')?.touched"
                    class="text-danger">
                    A javadalmazás értékét kötelező kitölteni!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="additionalBenefit">Egyéb juttatás</label>
                <select id="additionalBenefit" class="form-control" formControlName="additionalBenefit" required>
                    <option *ngFor="let option of additionalBenefits" [value]="option">{{ option }}</option>
                </select>
                <div *ngIf="form.get('additionalBenefit')?.invalid && form.get('additionalBenefit')?.touched"
                    class="text-danger">
                    A javadalmazás típusát kötelező kitölteni!
                </div>
            </div>
            <div class="form-group" *ngIf="form.get('additionalBenefit')?.value === additionalBenefits[10]">
                <label for="other">Egyéb</label>
                <input type="text" id="other" class="form-control" formControlName="other" required>
                <div *ngIf="form.get('other')?.invalid && form.get('other')?.touched" class="text-danger">
                    Az egyéb értékét kötelező kitölteni!
                </div>
            </div>
        </div>
    </div>

    <hr class="separator">

    <div class="fieldSet">
        <label>Jelenzkezővel kapcsolatos adatok</label>
        <div formArrayName="tasks">
            <label>Ellátandó feladatok:</label>
            <div *ngFor="let item of tasks.controls; let i = index" [formGroupName]="i" class="form-group">
                <div class="d-flex align-items-center form-row">
                    <input type="text" class="form-control" formControlName="input" placeholder="Írja be a feladatot"
                        required>
                    <button type="button" class="btn btn-danger" (click)="removeInput(tasks, i)"
                        [disabled]="tasks.length<=1">Törlés</button>
                </div>
                <div *ngIf="item.get('input')?.invalid && (item.get('input')?.touched)" class="text-danger">
                    A feladatot kötelező kitölteni!
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="addInput(tasks)" [disabled]="tasks.length>=20">+ Új
                feladat</button>
        </div>

        <hr class="separator">

        <div formArrayName="requiredQualifications">
            <label>Szükséges elvárások:</label>
            <div *ngFor="let item of requiredQualifications.controls; let i = index" [formGroupName]="i"
                class="form-group">
                <div class="d-flex align-items-center form-row">
                    <input type="text" class="form-control" formControlName="input" placeholder="Írja be az elvárást"
                        required>
                    <button type="button" class="btn btn-danger" (click)="removeInput(requiredQualifications, i)"
                        [disabled]="requiredQualifications.length<=1">Törlés</button>
                </div>
                <div *ngIf="item.get('input')?.invalid && (item.get('input')?.touched)" class="text-danger">
                    Az elvárást kötelező kitölteni!
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="addInput(requiredQualifications)"
                [disabled]="requiredQualifications.length>=10">+ Új elvárás</button>
        </div>

        <hr class="separator">

        <div formArrayName="languages">
            <label>Nyelv:</label>
            <div *ngFor="let item of languages.controls; let i = index" [formGroupName]="i" class="form-group">

                <div class="d-flex align-items-center form-row">
                    <div class="form-group">
                        <label for="lang">Nyelv</label>
                        <select id="lang" class="form-control" formControlName="lang" required>
                            <option *ngFor="let option of langs" [value]="option">{{ option }}</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="langLevel">Nyelvismeret szintje</label>
                        <select id="langLevel" class="form-control" formControlName="langLevel" required>
                            <option *ngFor="let option of langLevels" [value]="option">{{ option }}</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="langType">Nyelvismeret típusa</label>
                        <select id="langType" class="form-control" formControlName="langType" required>
                            <option *ngFor="let option of langTypes" [value]="option">{{ option }}</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label></label>
                        <button type="button" class="btn btn-danger" (click)="removeInput(languages, i)">Törlés</button>
                    </div>
                </div>
                <div *ngIf="item.get('lang')?.invalid && item.get('lang')?.touched" class="text-danger">
                    A nyelvet kötelező megadni!
                </div>
                <div *ngIf="item.get('langLevel')?.invalid && item.get('langLevel')?.touched" class="text-danger">
                    A nyelvismeret szintjét kötelező megadni!
                </div>
                <div *ngIf="item.get('langType')?.invalid && item.get('langType')?.touched" class="text-danger">
                    A nyelvismeret típusást kötelező megadni!
                </div>
                <hr class="separator">
            </div>
            <button type="button" class="btn btn-primary" (click)="addLanguages()" [disabled]="languages.length>=3">+
                Új nyelv</button>
        </div>
        <hr class="separator">
        <div formArrayName="competencies">
            <label>Kompetenciák:</label>
            <div *ngFor="let item of competencies.controls; let i = index" [formGroupName]="i" class="form-group">
                <div class="d-flex align-items-center form-row">
                    <input type="text" class="form-control" formControlName="input" placeholder="Írja be a kompetenciát">
                    <button type="button" class="btn btn-danger" (click)="removeInput(competencies, i)">Törlés</button>
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="addInput(competencies)"
                [disabled]="competencies.length>=10">+ Új kompetencia</button>
        </div>
        <hr class="separator">
        <div formArrayName="advantages">
            <label>Előnyt jelent:</label>
            <div *ngFor="let item of advantages.controls; let i = index" [formGroupName]="i" class="form-group">
                <div class="d-flex align-items-center form-row">
                    <input type="text" class="form-control" formControlName="input" placeholder="Írja be az előnyt">
                    <button type="button" class="btn btn-danger" (click)="removeInput(advantages, i)">Törlés</button>
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="addInput(advantages)"
                [disabled]="advantages.length>=10">+ Új előny</button>
        </div>
        <hr class="separator">
    </div>


    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Küldés</button>

    {{getInvalidControls() | json}}
    <!-- {{form.controls | json}} -->

</form>