<app-page-header [title]="'File Manager'" [title1]="['File Manager']" [activeitem]="'File Manager'"></app-page-header>
<!-- Row -->
<div class="row">
  <div class="col-md-5 col-lg-5 col-xl-3">
      <div class="card">
          <div class="card-body text-center border-bottom">
              <button (click)="open(content)" type="button" class="btn btn-primary w-100" data-bs-target="#createfile" data-bs-toggle="modal"><i class="fe fe-plus me-1"></i> Create New File</button>
              <ng-template #content let-modal>
                <div class="modal-header">
                    <h6 class="modal-title" id="staticBackdropLabel">Create Folder
                    </h6>
                    <button type="button" class="btn-close" (click)="modal.close('cross click')"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="create-folder1" class="form-label">Folder Name</label>
                    <input type="text" class="form-control" id="create-folder1"
                        placeholder="Folder Name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-icon btn-light"
                        (click)="modal.close('cross click')" data-bs-dismiss="modal"><i
                            class="ri-close-fill"></i></button>
                    <button type="button" class="btn btn-sm btn-success">Create</button>
                </div>
            </ng-template>
            </div>
          <div class="card-body pt-2 pb-2 border-bottom">
              <div class="list-group list-group-transparent mb-0 file-manager">
                  <div>
                      <div class="d-flex">
                          <a href="javascript:void(0);" class="list-group-item d-flex align-items-center px-0 py-2 border-0">
                              <i class="fe fe-image fs-18 me-2 text-success p-2"></i>Images
                          </a>
                          <div class="text-end ms-auto mt-3">
                              <span class="fs-11  text-dark">20 MB</span>
                          </div>
                      </div>
                      <div class="progress progress-xs mb-3 ms-2">
                          <div class="progress-bar bg-green" style="width: 30%;"></div>
                      </div>
                  </div>
                  <div>
                      <div class="d-flex">
                          <a href="javascript:void(0);" class="list-group-item d-flex align-items-center px-0 py-2 border-0">
                              <i class="fe fe-video fs-18 me-2 text-secondary p-2"></i>Videos
                          </a>
                          <div class="text-end ms-auto mt-3">
                              <span class="fs-11  text-dark">32.5 MB</span>
                          </div>
                      </div>
                      <div class="progress progress-xs mb-3 ms-2">
                          <div class="progress-bar bg-secondary" style="width: 40%;"></div>
                      </div>
                  </div>
                  <div>
                      <div class="d-flex">
                      <div>
                          <a href="javascript:void(0);" class="list-group-item d-flex align-items-center px-0 py-2 border-0">
                              <i class="fe fe-file-text fs-18 me-2 text-primary p-2"></i> Docs
                          </a>
                      </div>
                      <div class="text-end ms-auto mt-3">
                          <span class="fs-11  text-dark">14.2 MB</span>
                      </div>
                      </div>
                      <div class="progress progress-xs mb-3 ms-2">
                          <div class="progress-bar bg-primary" style="width: 25%;"></div>
                      </div>
                  </div>
                  <div>
                      <div class="d-flex">
                          <div>
                              <a href="javascript:void(0);" class="list-group-item d-flex align-items-center px-0 py-2 border-0">
                                  <i class="fe fe-music fs-18 me-2 text-warning p-2"></i> Music
                              </a>
                          </div>
                          <div class="text-end ms-auto mt-3">
                              <span class="fs-11  text-dark">13 MB</span>
                          </div>
                      </div>
                      <div class="progress progress-xs mb-3 ms-2">
                          <div class="progress-bar bg-warning" style="width: 30%;"></div>
                      </div>
                  </div>
                  <div>
                      <div class="d-flex">
                          <div>
                              <a href="javascript:void(0);" class="list-group-item d-flex align-items-center px-0 py-2 border-0">
                                  <i class="fe fe-download fs-18 me-2 text-info p-2"></i> Downloads
                              </a>
                          </div>
                          <div class="text-end ms-auto mt-3">
                              <span class="fs-11  text-dark">19.3 MB</span>
                          </div>
                      </div>
                      <div class="progress progress-xs mb-3 ms-2">
                          <div class="progress-bar bg-info" style="width: 40%;"></div>
                      </div>
                  </div>
                  <div>
                      <div class="d-flex">
                          <div>
                              <a href="javascript:void(0);" class="list-group-item d-flex align-items-center px-0 py-2 border-0">
                                  <i class="fe fe-grid fs-18 me-2 text-danger p-2"></i> More
                              </a>
                          </div>
                          <div class="text-end ms-auto mt-3">
                              <span class="fs-11  text-dark">23 MB</span>
                          </div>
                      </div>
                      <div class="progress progress-xs mb-3 ms-2">
                          <div class="progress-bar bg-danger" style="width: 45%;"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-body">
              <div class="list-group list-group-transparent mb-0">
                  <a href="javascript:void(0);" class="list-group-item d-flex align-items-center px-0 py-2 border-0">
                      <span class="text-primary me-2 fs-12"><i class="fe fe-circle"></i></span>Remote Control
                  </a>
                  <a href="javascript:void(0);" class="list-group-item d-flex align-items-center px-0 py-2 border-0">
                      <span class="text-secondary me-2 fs-12"><i class="fe fe-circle"></i></span>Google Drive
                  </a>
                  <a href="javascript:void(0);" class="list-group-item d-flex align-items-center px-0 py-2 border-0">
                      <span class="text-danger me-2 fs-12"><i class="fe fe-circle"></i></span>FTP Files
                  </a>
                  <a href="javascript:void(0);" class="list-group-item d-flex align-items-center px-0 py-2 border-0">
                      <span class="text-warning me-2 fs-12"><i class="fe fe-circle"></i></span>Transfer files
                  </a>
                  <a href="javascript:void(0);" class="list-group-item d-flex align-items-center px-0 py-2 border-0">
                      <span class="text-success me-2 fs-12"><i class="fe fe-circle"></i></span>Deep Clean
                  </a>
                  <a href="javascript:void(0);" class="list-group-item d-flex align-items-center px-0 py-2 border-0">
                      <span class="text-info me-2 fs-12"><i class="fe fe-circle"></i></span>Favourities
                  </a>
                  <a href="javascript:void(0);" class="list-group-item d-flex align-items-center px-0 py-2 border-0">
                      <span class="text-pink me-2 fs-12"><i class="fe fe-circle"></i></span>Settings
                  </a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <div class="d-flex mb-4">
                  <a href="javascript:void(0)" class="file-manager-image"><img src="./assets/images/media/files/documents/11.png" alt="img"></a>
                  <h4 class="ms-3 my-auto fw-semibold">467 Files</h4>
                  <div class="ms-5 ms-auto">
                    <spk-dropdowns [class]="'text-muted no-caret p-0 border-0'"  
                    [Menuclass]="'dropdown-menu'" [Icon]="true" [IconClass]="'fe fe-more-vertical fs-18'">
                            <li class="dropdown-item"><a href="javascript:void(0)">Internal Storage</a></li>
                            <li class="dropdown-item"><a href="javascript:void(0)">External Storage</a></li>
                    </spk-dropdowns>
                  </div>
                
              </div>
              <div class="progress progress-xs mb-3">
                  <div class="progress-bar bg-warning" style="width: 60%;"></div>
              </div>
              <div class="">
                  <div class="d-flex">
                      <div class="d-flex">
                          <div>
                              <h6 class="fw-normal"><i class="fe fe-circle text-success fs-12"></i> Total Storage</h6>
                              <span class="text-muted">128 GB</span>
                          </div>
                      </div>
                      <div class="ms-auto my-auto">
                          <h6 class="fw-normal"><i class="fe fe-circle text-danger fs-12"></i> Used</h6>
                          <span class="text-muted">100 GB</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-7 col-lg-7 col-xl-9">
      <div class="row row-sm">
          <div class="text-dark mb-2 ms-1 fs-20 fw-semibold">All Folders</div>
          
@for (card of fileCards; track $index) {
    <div class="col-xl-3 col-md-6 col-sm-6">
          <spk-filemanager-folder [fileData]="card"></spk-filemanager-folder>
      </div>
    }
    </div>
      <div class="text-dark mb-2 ms-1 fs-20 fw-semibold">Files</div>
      <div class="row row-sm">
        @for (file of files; track $index) {
        <div class="col-xl-4 col-xxl-3 col-lg-6 col-md-6 col-sm-6">
          <spk-filemanager-list [file]="file"></spk-filemanager-list>
        </div>
        }
      </div>
 
  <!-- End Row -->
</div>
</div>
<!-- End Row -->
