<div class="card text-start landing-missions">
    <div class="card-body">
      <div class="align-items-top">
        <div class="mb-2">
          <span class="avatar avatar-lg avatar-rounded bg-primary-transparent">
            <i [class]="iconClass + ' fs-25'"></i>
          </span>
        </div>
        <div>
          <h6 class="fw-semibold mb-1">
            {{ title }}
          </h6>
          <p class="mb-0 text-muted">
            {{ description }}
          </p>
        </div>
      </div>
    </div>
  </div>
  