<div class="autentication-bg">

    <div class="container-lg">
        <div class="row justify-content-center authentication authentication-basic align-items-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="my-4 d-flex justify-content-center">
                    <a routerLink="/content/dashboard">
                        <img src="./assets/images/brand-logos/desktop-white.png" alt="logo">
                    </a>
                </div>
                <div class="card custom-card">
                    <div class="card-body p-5">
                        <p class="h5 fw-semibold mb-2 text-center">Verify Your Account</p>
                        <p class="mb-4 text-muted op-7 fw-normal text-center">Enter the 4 digit code sent to the registered email Id.</p>
                        <div class="row gy-3">
                            <div class="col-xl-12 mb-2">
                                <div class="row">
                                    <div class="col-3">
                                        <input #oneInput type="text" class="form-control form-control-lg text-center" id="one" maxlength="1" required (keyup)="onDigitInput($event, twoInput)">
                                    </div>
                                    <div class="col-3">
                                        <input #twoInput type="text" class="form-control form-control-lg text-center" id="two" maxlength="1" (keyup)="onDigitInput($event, threeInput)">
                                    </div>
                                    <div class="col-3">
                                        <input #threeInput type="text" class="form-control form-control-lg text-center" id="three" maxlength="1" (keyup)="onDigitInput($event, fourInput)">
                                    </div>
                                    <div class="col-3">
                                        <input #fourInput type="text" class="form-control form-control-lg text-center" id="four" maxlength="1">
                                    </div>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Did not recieve a code ?<a routerLink="/pages/email/mail-inbox" class="text-primary ms-2 d-inline-block">Resend</a>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-12 d-grid mt-2">
                                <a routerLink="/content/dashboard" class="btn btn-lg btn-primary">Verify</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="fs-12 text-danger mt-3 mb-0"><sup><i class="ri-asterisk"></i></sup>Don't share the verification code with anyone !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>