<app-page-header [title]="'Popovers'" [title1]="['Ui Elements']" [activeitem]="'Popovers'"></app-page-header>
     <!-- Start:: row-1 -->
<!-- Start:: row-1 -->
<div class="row">
    <div class="col-xl-5">
        <app-showcode-card [title]="'Default Popovers'" [prism]="prismCode.popover1" [reuseCode]="reusableCode.popoverReuse">
            <div class="d-flex gap-2 flex-wrap">
                @for(popover of defaultPopovers;track $index){
                <spk-popovers class="btn  popover-position {{popover.class}}" [title]="popover.title"
                    [content]="popover.content" [placement]="popover.placement"
                    [buttonText]="popover.buttonText"></spk-popovers>
                }
            </div>
        </app-showcode-card>
    </div>
    <div class="col-xl-7">
        <app-showcode-card [title]="'Colored Headers'" [prism]="prismCode.popover2" [reuseCode]="reusableCode.popoverReuse">
            <div class="d-flex gap-2 flex-wrap">
                @for(popover of coloredPopovers;track $index){
                <spk-popovers class="btn btn-outline-{{popover.class}}  " [title]="popover.title"
                    [content]="popover.content" [popoverClass]="popover.header"
                    [buttonText]="popover.title1"></spk-popovers>
                }
            </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-1 -->
<!-- Start:: row-2 -->
<div class="row">
    <div class="col-xl-12">
        <app-showcode-card [title]="'Colored Popovers'" [prism]="prismCode.popover3" [reuseCode]="reusableCode.popoverReuse">
            <div class="d-flex gap-2 flex-wrap">
                @for(popover of coloredBackground;track $index){
                <spk-popovers class="btn btn-outline-{{popover.class}} me-2 " [title]="popover.header"
                    [content]="popover.content" [popoverClass]="popover.popoverClass"
                    [buttonText]="popover.title"></spk-popovers>
                }
            </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-2 -->
<!-- Start:: row-3 -->
<div class="row">
    <div class="col-xl-12">
        <app-showcode-card [title]="'Light Popovers'" [prism]="prismCode.popover4" [reuseCode]="reusableCode.popoverReuse">
            <div class="d-flex gap-2 flex-wrap">
                @for(popover of lightPopovers;track $index){
                <spk-popovers class="btn btn-outline-{{popover.class}} me-2 " [title]="popover.header"
                    [content]="popover.content" [popoverClass]="popover.popoverClass"
                    [buttonText]="popover.title"></spk-popovers>
                }
            </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-3 -->
<!-- Start:: row-4 -->
<div class="row">
    <div class="col-xl-6">
        <app-showcode-card [title]="'Dismissible Popovers'" [prism]="prismCode.popover5" [reuseCode]="reusableCode.popoverReuse"
            classbody="d-flex flex-wrap justify-content-between">
            @for(popover of DismisablePopover;track popover){
            <spk-popovers [content]="popover.content" [class]="popover.color" [title]="popover.header"
                [buttonText]="popover.title"></spk-popovers>
            }
        </app-showcode-card>
    </div>
    <div class="col-xl-3">
        <app-showcode-card [title]="'Disabled Popover'" [prism]="prismCode.popover6" [reuseCode]="reusableCode.popoverReuse">
            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" triggers="hover focus" placement="end"
                ngbPopover="Disabled popover">
                <button class="btn btn-primary" type="button" disabled>Disabled
                    button</button>
            </span>
        </app-showcode-card>
    </div>
    <div class="col-xl-3">
        <app-showcode-card [title]="'Icon Popovers'" [prism]="prismCode.popover7" [reuseCode]="reusableCode.popoverReuse">
            @for(popover of SvgPopover;track popover){
            <spk-spkpopovers [class]="popover.color" [popoverClass]="popover.class" [popoverContext]="popover.color"
                [ngbPopover]="popover.content" [innerHTML]="getSanitizedSVG(popover.svg)"></spk-spkpopovers>
            }
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-4 -->