

<div [formGroup]="formGroup" style="width: 100%;">


      <div class="row">
        <div class="form-group col-lg-4 col-md-12">
          <label>Képzési intézmény neve</label>
          <input type="text" formControlName="previousStudyName" id="previousStudyName">
        </div>

        <!-- Input -->
        <div class="form-group col-lg-4 col-md-12">
          <label>Képzés neve</label>
        </div>

        <!-- Input -->
        <div class="form-group col-lg-3 col-md-12">
          <label>Képzési szint</label>
          <select class="chosen-select">
            <option>alapfokú szakképzés</option>
            <option>felsőfokú szakképzés</option>
            <option>mesterképzés (MA/MSc)</option>
          </select>
        </div>


      </div>
    <hr>



 
  </div>