@if (value && label) {

    <div class="d-flex flex-wrap align-items-top p-4 gap-1">
      <div class="me-3 lh-1">
        <span [ngClass]="'avatar avatar-md avatar-rounded ' + bgClass + ' shadow-sm'">
          <i [ngClass]="iconClass + ' fs-18'"></i>
        </span>
      </div>
      <div class="flex-fill">
        <h5 class="fw-semibold mb-1 {{valueClass}}">{{ value }}</h5>
        <p class="{{textClass}} mb-0 fs-12">{{ label }}</p>
      </div>
      <div>
        <span [ngClass]="'badge ' + badgeClass">
          <i class="ri-arrow-up-s-line align-middle me-1 d-inline-block"></i>{{ percentageChange }}
        </span>
      </div>
    </div>

}
  