<app-page-header [title]="'Faqs'" [title1]="['Pages']" [activeitem]="'Faqs'"></app-page-header>

  <!-- Start::row-1 -->
  <div class="row justify-content-center">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-6">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            General Topics ?
                        </div>
                    </div>
                    <div class="card-body">
                        <app-ngb-accordion [accordionId]="'accordionExample'" [closeOthers]="true" [accordionItems]="panels" [accodionClass]="'accordion accordion-customicon1 faq-accordion accordion-primary accordions-items-seperate'" ></app-ngb-accordion>

                    </div>
                </div>
             </div>
            <div class="col-xl-6">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Customer Support ?
                        </div>
                    </div>
                    <div class="card-body">
                        <app-ngb-accordion [accordionId]="'accordionExample'" [closeOthers]="true" [accordionItems]="panels1" [accodionClass]="'accordion accordion-customicon1 faq-accordion accordion-primary accordions-items-seperate'" ></app-ngb-accordion>

                    </div>
                </div>
             </div>
             <div class="col-xl-12">
                 <div class="card custom-card">
                     <div class="card-header">
                         <div class="card-title">
                             Still Have Questions ?
                             <span class="subtitle fw-normal text-muted d-block fs-12">
                                You can post your questions here,our support team is always active.
                            </span>
                         </div>
                     </div>
                     <div class="card-body">
                         <div class="row gy-3">
                             <div class="col-xl-6">
                                <label for="user-name" class="form-label">Your Name</label>
                                <input type="text" class="form-control form-control-light" id="user-name" placeholder="Enter Your Name">
                             </div>
                             <div class="col-xl-6">
                                <label for="user-email" class="form-label">Email Id</label>
                                <input type="text" class="form-control form-control-light" id="user-email" placeholder="Enter Email">
                             </div>
                             <div class="col-xl-12">
                                <label for="text-area" class="form-label">Textarea</label>
                                <textarea class="form-control form-control-light" placeholder="Enter your question here" id="text-area" rows="5"></textarea>
                             </div>
                         </div>
                     </div>
                     <div class="card-footer">
                         <button type="button" class="btn btn-primary btn-wave float-end">Send</button>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</div>
<!--End::row-1 -->