<div class="row authentication coming-soon mx-0 justify-content-center">

    <div class="col-xxl-8 col-xl-8 col-lg-8 col-12">
        <div class="authentication-cover">
            <div class="aunthentication-cover-content text-center">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="mb-2">
                            <a routerLink="/dashboard">
                                <img src="./assets/images/brand-logos/toggle-white.png" alt="" class="authentication-brand">
                            </a>
                        </div>
                        <p class="fw-semibold fs-12 mb-1 op-4 text-fixed-white">STAY TUNED</p>
                        <h1 class="fw-bold mb-3 text-fixed-white">Under Maintenance</h1>
                        <div class="row mt-4 mb-5 gy-xxl-0 gy-3 justify-content-center" id="timer">
                            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-3 col-sm-3 col-6">
                                <div class="p-3 coming-soon-time rounded">
                                    <h3 class="fw-semibold text-fixed-white mb-0">{{days}}</h3>
                                    <p class="mt-1 mb-0 fs-12 op-5">DAYS</p>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-3 col-sm-3 col-6">
                                <div class="p-3 coming-soon-time rounded">
                                    <h3 class="fw-semibold text-fixed-white mb-0">{{hours}}</h3>
                                    <p class="mt-1 mb-0 fs-12 op-5">HOURS</p>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-3 col-sm-3 col-6">
                                <div class="p-3 coming-soon-time rounded">
                                    <h3 class="fw-semibold text-fixed-white mb-0">{{mins}}</h3>
                                    <p class="mt-1 mb-0 fs-12 op-5">MINUTES</p>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-3 col-sm-3 col-6">
                                <div class="p-3 coming-soon-time rounded">
                                    <h3 class="fw-semibold text-fixed-white mb-0">{{secs}}</h3>
                                    <p class="mt-1 mb-0 fs-12 op-5">SECONDS</p>
                                </div>
                            </div>
                        </div>
                        <p class="mb-4 text-fixed-white">Our website is currently undergoing scheduled maintenance. We Should be back shortly. Thank you for your patience!</p>
                        <div class="">
                            <div class="btn-list">
                                <button class="btn btn-icon btn-wave">
                                    <i class="ri-facebook-line fw-bold"></i>
                                </button>
                                <button class="btn btn-icon btn-wave">
                                    <i class="ri-twitter-x-line fw-bold"></i>
                                </button>
                                <button class="btn btn-icon btn-wave">
                                    <i class="ri-instagram-line fw-bold"></i>
                                </button>
                                <button class="btn btn-icon btn-wave">
                                    <i class="ri-github-line fw-bold"></i>
                                </button>
                                <button class="btn btn-icon btn-wave">
                                    <i class="ri-youtube-line fw-bold"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>