<app-page-header [title]="'ChartJs'" [activeitem]="'ChartJs'" [title1]="['Charts']"></app-page-header>
<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Chartjs Line Chart</div>
        </div>
        <div class="card-body">
          <spk-chartjs id="chartjs-line"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"></spk-chartjs>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Chartjs Bar Chart</div>
        </div>
        <div class="card-body">
          <spk-chartjs id="chartjs-bar"
          [data]="barChartData"
           [options]="barChartOptions"
           [type]="barChartType"></spk-chartjs>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Chartjs Pie Chart</div>
        </div>
        <div class="card-body">
          <spk-chartjs id="chartjs-pie"
          [data]="PieChartData"
          [options]="PieChartOptions"
          [type]="PieChartType"></spk-chartjs>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Chartjs Doughnut Chart</div>
        </div>
        <div class="card-body">
          <spk-chartjs
            id="chartjs-doughnut"
            [data]="PieChartData"
            [options]="PieChartOptions"
            [type]="DoughnutChartType"
            ></spk-chartjs
          >
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Chartjs Mixed Chart</div>
        </div>
        <div class="card-body" >
          <spk-chartjs         
            id="chartjs-mixed"
            [data]="MixedChart2Data"
            [options]="MixedChart2Options"
            [type]="MixedChart2Type"
          >
          </spk-chartjs>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Chartjs Scatter Chart</div>
        </div>
        <div class="card-body" >
          <spk-chartjs  id="chartjs-scatter" 
            [data]="ScatterChartData"
            [options]="ScatterChartOptions"
            [type]="ScatterChartType"></spk-chartjs>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Chartjs Polar Chart</div>
        </div>
        <div class="card-body">
          <spk-chartjs            
            id="chartjs-polar"
            [data]="polarChartData"
            [options]="polarChartOptions"
            [type]="polarChartType"
          ></spk-chartjs>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Chartjs Radial Chart</div>
        </div>
        <div class="card-body">
          <spk-chartjs id="chartjs-radar"
            [data]="radarChartData"
            [options]="radarChartOptions"
            [type]="radarChartType"></spk-chartjs>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Chartjs Bubble Chart</div>
        </div>
        <div class="card-body">
          <spk-chartjs  id="chartjs-bubble"
            [data]="bubbleChartData"
            [options]="bubbleChartOptions"
            [type]="bubbleChartType"></spk-chartjs>
        </div>
      </div>
    </div>
  </div>
  <!--End::row-1 -->
  