<div class="page-wrapper">

    <!-- Header Span -->
    <span class="header-span"></span>

      <!-- Main Header-->
      <header class="main-header header-style-four -type-16 header-shaddow">
        <div class="container-fluid">
          <!-- Main box -->
          <div class="main-box">
            <!--Nav Outer -->
            <div class="nav-outer">
              <div class="logo-box">
                <div class="logo"><a href="index.html"><img src="/assets/images/bge-logo-black.png" alt="" title="" ></a></div>
              </div>
  
              <nav class="nav main-menu">
                <ul class="navigation" id="navbar">
                    <li>
                        <a routerLink="/"><span>Főoldal</span></a>
                      </li>
      
                      <li class="">
                        <a routerLink="/aboutus"><span>Rólunk</span></a>
                      </li>
      
                      <li class="">
                        <a routerLink="/forcompany"><span>Cégeknek</span></a>
                      </li>                
      
                      <li class="current">
                        <a routerLink="/contact"><span>Kapcsolat</span></a>
                      </li>
  
                  <!-- Only for Mobile View -->
                  <li class="mm-add-listing">
                    <span>
                      <span class="contact-info">
                        <span class="phone-num"><span>Telefon</span><a href="tel:1234567890">123 456 7890</a></span>
                        <span class="address">Markó utca 29-31<br>1055 Budapest</span>
                        <a href="mailto:support@uni-bge.hu" class="email">support&#64;uni-bge.hu</a>
                    </span>
                      <span class="social-links">
                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="#"><span class="fab fa-instagram"></span></a>
                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                      </span>
                    </span>
                  </li>
                </ul>
              </nav>
              <!-- Main Menu End-->
            </div>
  
            <div class="outer-box">
              <!-- Login/Register -->
            </div>
          </div>
        </div>
  
        <!-- Sticky Header  -->
        <div class="sticky-header">
          <div class="auto-container">
  
            <div class="main-box">
              <div class="logo-box">
                <div class="sticky-logo"><a href="index.html"><img src="images/bge-logo-black.png" alt="" title=""></a></div>
              </div>
  
              <!--Keep This Empty / Menu will come through Javascript-->
            </div>
          </div>
        </div>
        <!-- End Sticky Menu -->
  
        <!-- Mobile Header -->
        <div class="mobile-header">
          <div class="logo"><a href="index.html"><img src="images/bge-logo-black.png" alt="" title=""></a></div>
  
          <!--Nav Box-->
          <div class="nav-outer clearfix">
  
            <div class="outer-box">
              <!-- Login/Register -->
              <div class="login-box">
                <a href="login-popup.html" class="call-modal"><span class="icon-user"></span></a>
              </div>
  
              <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>
            </div>
          </div>
        </div>
  
        <!-- Mobile Nav -->
        <div id="nav-mobile"></div>
      </header>
      <!--End Main Header -->   

    <!--Page Title-->
    <section class="page-title">
      <div class="auto-container">
        <div class="title-outer">
          <h1>Kapcsolat</h1>
          <ul class="page-breadcrumb">
            <li><a href="index.html">Főoldal</a></li>
            <li>Kapcsolat</li>
          </ul>
        </div>
      </div>
    </section>
    <!--End Page Title-->

  <!-- Contact Section -->
  <section class="contact-section">
      <div class="auto-container">
        <div class="upper-box">
          <div class="row">
            <div class="row-title">
              <h4>Budapesti Gazdaságtudományi Egyetem - Központi épület</h4>
            </div>
            <div class="contact-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <span class="icon"><img src="images/icons/placeholder.svg" alt=""></span>
                <h4>Cím</h4>
                <p>1055 Budapest Markó utca 29-31</p>
              </div>
            </div>
            <div class="contact-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <span class="icon"><img src="images/icons/smartphone.svg" alt=""></span>
                <h4>Telefon</h4>
                <p><a href="#" class="phone"> (+36) 1 374 6200 / 360</a></p>
              </div>
            </div>
            <div class="contact-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <span class="icon"><img src="images/icons/letter.svg" alt=""></span>
                <h4>Email</h4>
                <p><a href="#">contact&#64;uni-bge.hu</a></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row-title">
              <h4>BGE Kereskedelmi, Vendéglátóipari és Idegenforgalmi Kar</h4>
            </div>
            <div class="contact-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <span class="icon"><img src="images/icons/placeholder.svg" alt=""></span>
                <h4>Cím</h4>
                <p>1054 Budapest, Alkotmány u. 9-11.</p>
              </div>
            </div>
            <div class="contact-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <span class="icon"><img src="images/icons/smartphone.svg" alt=""></span>
                <h4>Telefon</h4>
                <p><a href="#" class="phone">(+36) 1 374 6200</a></p>
              </div>
            </div>
            <div class="contact-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <span class="icon"><img src="images/icons/letter.svg" alt=""></span>
                <h4>Email</h4>
                <p><a href="#">contact&#64;uni-bge.hu</a></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row-title">
              <h4>BGE Külkereskedelmi Kar</h4>
            </div>
            <div class="contact-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <span class="icon"><img src="images/icons/placeholder.svg" alt=""></span>
                <h4>Cím</h4>
                <p>1165 Budapest, Diósy L. u. 22-24.</p>
              </div>
            </div>
            <div class="contact-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <span class="icon"><img src="images/icons/smartphone.svg" alt=""></span>
                <h4>Telefon</h4>
                <p><a href="#" class="phone"> (+36) 1 467 7800</a></p>
              </div>
            </div>
            <div class="contact-block col-lg-4 col-md-6 col-sm-12">
              <div class="inner-box">
                <span class="icon"><img src="images/icons/letter.svg" alt=""></span>
                <h4>Email</h4>
                <p><a href="#">contact&#64;uni-bge.hu</a></p>
              </div>
            </div>
          </div>                      
        </div>

      </div>
    </section>
    <!-- Contact Section -->

    <!-- Main Footer -->
    <footer class="main-footer style-five">
      <!--Widgets Section-->
      <div class="widgets-section">
        <div class="auto-container">

          <div class="row">
            <div class="big-column col-xl-3 col-lg-3 col-md-12">
              <div class="footer-column about-widget">
                <div class="logo"><a href="#"><img src="images/bge-logo-black.png" alt=""></a></div>
                <p class="phone-num"><span>Hívj minket </span><a href="thebeehost@support.com">123 456 7890</a></p>
                <p class="address">1055 Budapest Markó utca 29-31 <br><a href="mailto:support@uni-bge.hu" class="email">support&#64;uni-bge.hu</a>
                </p>
              </div>
            </div>

            <div class="big-column col-xl-9 col-lg-9 col-md-12">
              <div class="row">
                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">Hallgatóknak</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Browse Jobs</a></li>
                        <li><a href="#">Browse Categories</a></li>
                        <li><a href="#">Candidate Dashboard</a></li>
                        <li><a href="#">Job Alerts</a></li>
                        <li><a href="#">My Bookmarks</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">Partnereknek</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Browse Candidates</a></li>
                        <li><a href="#">Employer Dashboard</a></li>
                        <li><a href="#">Add Job</a></li>
                        <li><a href="#">Job Packages</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">Rólunk</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Job Page</a></li>
                        <li><a href="#">Job Page Alternative</a></li>
                        <li><a href="#">Resume Page</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Bottom-->
      <div class="footer-bottom">
        <div class="auto-container">
          <div class="outer-box">
            <div class="copyright-text">© 2025 <a href="#">BGE</a> Minden jog fenntartva</div>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    </footer>
    <!-- End Main Footer -->


  </div><!-- End Page Wrapper -->