<app-page-header [title]="'Object Fit'" [title1]="['Ui Elements']" [activeitem]="'Object Fit'"></app-page-header>

 <!-- Start::row-1 -->
<div class="row">
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <app-showcode-card
          [title]="'Object Fit Contain'"
          [prism]="prsimCodeData.objectfit1"
          [classbody]="'object-fit-container'"
        >
          <img
            src="./assets/images/media/media-28.jpg"
            class="object-fit-contain border rounded"
            alt="..."
          />
        </app-showcode-card>
      </div>
      <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <app-showcode-card
          [title]="'Object Fit Cover'"
          [prism]="prsimCodeData.objectfit2"
          [classbody]="'object-fit-container'"
        >
          <img
            src="./assets/images/media/media-28.jpg"
            class="object-fit-cover border rounded"
            alt="..."
          />
        </app-showcode-card>
      </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <app-showcode-card
        [title]="'Object Fit Fill'"
        [prism]="prsimCodeData.objectfit3"
        [classbody]="'object-fit-container'"
      >
        <img
          src="./assets/images/media/media-28.jpg"
          class="object-fit-fill border rounded"
          alt="..."
        />
      </app-showcode-card>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <app-showcode-card
        [title]="'Object Fit Scale Down'"
        [prism]="prsimCodeData.objectfit4"
        [classbody]="'object-fit-container'"
      >
        <img
          src="./assets/images/media/media-28.jpg"
          class="object-fit-scale border rounded"
          alt="..."
        />
      </app-showcode-card>
    </div>
 
  
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <app-showcode-card
        [title]="'Object Fit None'"
        [prism]="prsimCodeData.objectfit5"
        [classbody]="'object-fit-container'"
      >
        <img
          src="./assets/images/media/media-28.jpg"
          class="object-fit-none border rounded"
          alt="..."
        />
      </app-showcode-card>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <app-showcode-card
        [title]="'Object Fit Contain (SM - responsive)'"
        [prism]="prsimCodeData.objectfit6"
        [classbody]="'object-fit-container'"
      >
        <img
          src="./assets/images/media/media-28.jpg"
          class="object-fit-sm-contain border rounded"
          alt="..."
        />
      </app-showcode-card>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <app-showcode-card
        [title]="'Object Fit Contain (MD - responsive)'"
        [prism]="prsimCodeData.objectfit7"
        [classbody]="'object-fit-container'"
      >
        <img
          src="./assets/images/media/media-28.jpg"
          class="object-fit-md-contain border rounded"
          alt="..."
        />
      </app-showcode-card>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <app-showcode-card
        [title]="'Object Fit Contain (LG - responsive)'"
        [prism]="prsimCodeData.objectfit8"
        [classbody]="'object-fit-container'"
      >
        <img
          src="./assets/images/media/media-28.jpg"
          class="object-fit-lg-contain border rounded"
          alt="..."
        />
      </app-showcode-card>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <app-showcode-card
        [title]="'Object Fit Contain (XL - responsive)'"
        [prism]="prsimCodeData.objectfit9"
        [classbody]="'object-fit-container'"
      >
        <img
          src="./assets/images/media/media-28.jpg"
          class="object-fit-xl-contain border rounded"
          alt="..."
        />
      </app-showcode-card>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <app-showcode-card
        [title]="'Object Fit Contain (XXL - responsive)'"
        [prism]="prsimCodeData.objectfit10"
        [classbody]="'object-fit-container'"
      >
        <img
          src="./assets/images/media/media-28.jpg"
          class="object-fit-xxl-contain border rounded"
          alt="..."
        />
      </app-showcode-card>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <app-showcode-card
        [title]="'Object Fit Contain Video'"
        [prism]="prsimCodeData.objectfit11"
        [classbody]="'object-fit-container'"
      >
        <video
          src="./assets/video/1.mp4"
          class="object-fit-contain rounded border"
          autoplay
          loop
          muted
        ></video>
      </app-showcode-card>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <app-showcode-card
          [title]="' Object Fit Cover Video'"
          [prism]="prsimCodeData.objectfit12"
          [classbody]="'object-fit-container'"
        >
          <video
            src="./assets/video/1.mp4"
            class="object-fit-cover rounded border"
            autoplay
            loop
            muted
          ></video>
        </app-showcode-card>
      </div>

    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <app-showcode-card
        [title]="'Object Fit Fill Video'"
        [prism]="prsimCodeData.objectfit13"
        [classbody]="'object-fit-container'"
      >
        <video
          src="./assets/video/1.mp4"
          class="object-fit-fill rounded border"
          autoplay
          loop
          muted
        ></video>
      </app-showcode-card>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <app-showcode-card
          [title]="'Object Fit Scale Video'"
          [prism]="prsimCodeData.objectfit14"
          [classbody]="'object-fit-container'"
        >
          <video
            src="./assets/video/1.mp4"
            class="object-fit-scale rounded border"
            autoplay
            loop
            muted
          ></video>
        </app-showcode-card>
      </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <app-showcode-card
        [title]="'Object Fit None Video'"
        [prism]="prsimCodeData.objectfit15"
        [classbody]="'object-fit-container'"
      >
        <video
          src="./assets/video/1.mp4"
          class="object-fit-cover rounded border"
          autoplay
          loop
          muted
        ></video>
      </app-showcode-card>
    </div>

   
  </div>
<!-- End::row-1 -->