<app-page-header [title]="'File-Details'" [title1]="['File-Manager']" [activeitem]="'File-Details'"></app-page-header>

 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xl-8">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <a href="javascript:void(0);">
                            <img src="./assets/images/media/files/08.jpg" class="br-7 w-100" alt="...">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Related Files
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            @for (folder of folders; track $index) {
                            <div
                              class="col-xxl-3 col-xl-6 col-lg-6 col-md-6"
                            >
                              <spk-file-details-card
                                [folder]="folder"
                              ></spk-file-details-card>
                            </div>
                              }
                          </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            File Information
                        </div>
                    </div>
                    <div class="card-body ">
                    <div class="table-responsive">
                        <spk-reusable-tables [tableBody]="'top-selling'" [tableClass]="'table table-bordered text-nowrap mb-0'">
                         @for (detail of fileDetails; track $index) {
                                <tr>
                                  <th>
                                    <span class="fw-semibold fs-13">{{ detail.key }}</span>
                                  </th>
                                  <td>
                                    <span class="text-muted fs-13 fw-normal">{{ detail.value }}</span>
                                  </td>
                                </tr>
                            }
                        </spk-reusable-tables>
                    </div>
                    <div class="mt-4 text-center">
                        <button type="button" class="btn btn-icon  btn-info-light me-2 bradius"><i class="fe fe-edit"></i></button>
                        <button type="button" class="btn btn-icon  btn-danger-light me-2 bradius"><i class="fe fe-trash"></i></button>
                        <button type="button" class="btn btn-icon  btn-success-light me-2 bradius"><i class="fe fe-download fs-14"></i></button>
                        <button type="button" class="btn btn-icon  btn-warning-light bradius"><i class="fe fe-share-2 fs-14"></i></button>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Recent Files
                        </div>
                    </div>
                    <div class="card-body">
                        <spk-gallery [mainClass]="'row'" [imageData]="imageData"></spk-gallery>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->
