
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <div class="d-sm-flex d-block align-items-top mb-3">
            <div class="d-flex flex-fill align-items-center">
              <div class="me-2">
                <span class="avatar avatar-md avatar-rounded">
                  <img [src]="avatar" alt="{{ name }}">
                </span>
              </div>
              <div class="lh-1 me-2">
                <p class="mb-1 fw-semibold fs-14">{{ name }}</p>
                <div class="mb-1">
                    @for (star of [].constructor(5); track $index;let i = $index) {
                  <ng-container>
                    <i
                      [class.ri-star-s-fill]="i < rating"
                      [class.ri-star-s-line]="i >= rating"
                      class="text-warning align-middle"
                      [class.fs-13]="i < 4"
                      [class.fs-12]="i >= 4"
                    ></i>
                  </ng-container>
                }
                </div>
              </div>
            </div>
            <div class="ps-sm-0 mt-sm-0 mt-3 ps-sm-0 ps-2">
              <span class="badge border bd-gray-200 rounded-1 text-muted">{{ timeAgo }}</span>
            </div>
          </div>
          <div class="mb-3 ps-2">
            <span class="text-muted">
              <i class="ri-double-quotes-l"></i>
              {{ review }}
              <i class="ri-double-quotes-r"></i>
            </span>
          </div>
          <div class="ps-2">
            <a href="javascript:void(0);" class="badge border bg-primary-transparent rounded-1 me-2">
              <i class="ri-thumb-up-line align-bottom me-1 d-inline-flex"></i><span>{{ likes }}</span>
            </a>
            <a href="javascript:void(0);" class="badge border bg-danger-transparent rounded-1">
              <i class="ri-thumb-down-line align-bottom me-1 d-inline-flex"></i><span>{{ dislikes }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>

  