            <!-- Preferenciák -->
            <!-- Ls widget -->
            <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Preferenciák</h4>
                  </div>
  
                  <div class="widget-content">
  
                    <form class="default-form">
                      <div class="row">
  
                        <!-- Input -->
                        <div class="form-group col-lg-4 col-md-12">
                          <label>Munka jellege</label>
                          <select  data-placeholder="Kérlek válassz. Több lehetőség is megadható!" class="chosen-select multiple" multiple tabindex="7">
                            <option>hosszú távú</option>
                            <option>alkalmi munka</option>
                            <option>nyári munka</option>
                            <option>gyakornok /szakmai gyakorlat</option>
                            <option>műszakban végzendő</option>
                            <option>hétvégi munka</option>
                            <option>otthon végezhető</option>
                          </select>
                        </div>
  
                        <!-- Input -->
                        <div class="form-group col-lg-4 col-md-12">
                          <label>Foglalkoztatás jellege</label>
                          <select  data-placeholder="Kérlek válassz. Több lehetőség is megadható!" class="chosen-select multiple" multiple tabindex="4">
                            <option>Részmunkaidő</option>
                            <option>Teljes munkaidő</option>                          
                          </select>
                        </div>
  
                        <!-- Input -->
                        <div class="form-group col-lg-4 col-md-12">
                          <label>Munkarend</label>
                          <select  data-placeholder="Kérlek válassz. Több lehetőség is megadható!" class="chosen-select multiple" multiple tabindex="4">
                            <option>Általános (hét 5 munkanapján)</option>
                            <option>Rugalmas munkaidő (akár hétvégi beosztással)</option>
                            <option>Beosztás szerinti munkarend (akár délutános vagy éjszakai műszak)</option>
                            <option>Kötetlen munkaidő</option>
                            <option>Egyenlőtlen munkarend</option>                                                   
                          </select>
                        </div>
                      </div>
  
                      <div class="row">
                          
                        <!-- Input -->
                        <div class="form-group col-lg-4 col-md-12">
                          <label>Heti munkaóra vállalás</label>
                          <input type="text" name="name" placeholder="Maximum 40 óra?">
                        </div>
  
                        <!-- Input -->
                        <div class="form-group col-lg-4 col-md-12">
                          <label>Munkavégzés helye</label>
                          <select  data-placeholder="Kérlek válassz. Több lehetőség is megadható!" class="chosen-select multiple" multiple tabindex="4">
                            <option>Bács-Kiskun vármegye</option>
                            <option>Baranya vármegye</option>
                            <option>Békés vármegye</option>
                            <option>Békéscsaba</option>
                            <option>Borsod-Abaúj-Zemplén vármegye</option>
                            <option>Budapest </option>
                            <option>Budapest, I.kerület</option>
                            <option>Budapest, II.kerület</option>
                            <option>Budapest, III.kerület</option>
                            <option>Budapest, IV.kerület</option>
                            <option>Budapest, V.kerület</option>
                            <option>Budapest, VI.kerület</option>
                            <option>Budapest, VII.kerület</option>
                            <option>Budapest, VIII.kerület</option>
                            <option>Budapest, IX.kerület</option>
                            <option>Budapest, X.kerület</option>
                            <option>Budapest, XI.kerület</option>
                            <option>Budapest, XII.kerület</option>
                            <option>Budapest, XIII.kerület</option>
                            <option>Budapest, XIV.kerület</option>
                            <option>Budapest, XV.kerület</option>
                            <option>Budapest, XVI.kerület</option>
                            <option>Budapest, XVII.kerület</option>
                            <option>Budapest, XVIII.kerület</option>
                            <option>Budapest, XIX.kerület</option>
                            <option>Budapest, XX.kerület</option>
                            <option>Budapest, XXI.kerület</option>
                            <option>Budapest, XXII.kerület</option>
                            <option>Budapest, XXIII.kerület</option>
                            <option>Csongrád-Csanád vármegye</option>
                            <option>Debrecen </option>
                            <option>Eger </option>
                            <option>Fejér vármegye</option>
                            <option>Győr </option>
                            <option>Győr-Moson-Sopron vármegye</option>
                            <option>Hajdú-Bihar vármegye</option>
                            <option>Heves vármegye</option>
                            <option>Jász-Nagykun-Szolnok vármegye</option>
                            <option>Kaposvár</option>
                            <option>Kecskemét</option>
                            <option>Komárom-Esztergom vármegye</option>
                            <option>Miskolc</option>
                            <option>Nógrád vármegye</option>
                            <option>Nyíregyháza</option>
                            <option>Pécs</option>
                            <option>Pest vármegye</option>
                            <option>Buda környéke (agglomeráció)</option>
                            <option>Pest környéke (agglomeráció)</option>
                            <option>Salgótarján</option>
                            <option>Somogy vármegye</option>
                            <option>Szabolcs-Szatmár-Bereg vármegye</option>
                            <option>Szeged </option>
                            <option>Székesfehérvár</option>
                            <option>Szekszárd</option>
                            <option>Szolnok</option>
                            <option>Szombathely</option>
                            <option>Tatabánya</option>
                            <option>Tolna vármegye</option>
                            <option>Vas vármegye</option>
                            <option>Veszprém</option>
                            <option>Veszprém vármegye</option>
                            <option>Zala vármegye</option>
                            <option>Zalaegerszeg</option>
                           
                          </select>
                        </div>                      
  
                        <!-- Input -->
                        <div class="form-group col-lg-4 col-md-12">
                          <label>Foglalkoztatás nyelve</label>
                          <select  data-placeholder="Kérlek válassz. Több lehetőség is megadható!" class="chosen-select multiple" multiple tabindex="4">
                            <option>Magyar</option>
                            <option>Angol</option>                          
                          </select>
                        </div>
  
                      </div>
  
                      <div class="row">                      
  
                        <!-- Input -->
                        <div class="form-group col-lg-4 col-md-12">
                          <label>Bruttó óradíj minimum (HUF)</label>
                          <input type="text" name="name" placeholder="">
                        </div>
  
                        <!-- Input -->
                        <div class="form-group col-lg-4 col-md-12">
                          <label>Bruttó napidíj minimum (HUF)</label>
                          <input type="text" name="name" placeholder="">
                        </div>
  
                        <!-- Input -->
                        <div class="form-group col-lg-4 col-md-12">
                          <label>Bruttó havidíj minimum (HUF)</label>
                          <input type="text" name="name" placeholder="">
                        </div>
  
                      </div>
  
                      <div class="row">
  
                        <!-- About Me -->
   
                      </div>
                    </form>
                  </div>
                </div>
              </div>
  