            <!-- Jogosítvány -->
            <!-- Ls widget -->
            <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Vezetői engedély</h4>
                    <p>(Maximum 7 tétel adható meg!)</p>
                  </div>
  
                  <div class="widget-content">
                    <form class="default-form">
                      <div class="row">
  
                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Vezetői engedély(ek) kategória</label>
                          <select  data-placeholder="Jogosítvány kategóriák" class="chosen-select" tabindex="4">
                            <option value="A1">A1 kategória</option>
                            <option value="A2">A2 kategória</option>
                            <option value="B">B kategória</option>
                            <option value="C">C kategória</option>
                            <option value="D">D kategória</option>
                            <option value="E">E kategória</option>
                          </select>
                        </div>
  
                        <!-- Input -->
                        <div class="form-group col-lg-6 col-md-12">
                          <label>Vezetett kilóméter</label>
                          <input type="text" name="name" placeholder="">
                        </div>
  
                      </div> 
  
                      <div class="row">
                        <!-- Input -->
                        <div class="form-group col-lg-12 col-md-12">
                          <button id="addStudy" class="theme-btn" style="    font-size: 20px;
                          font-weight: 500;
                          background-color: rgb(231,231,230);
                          border-radius: 10px;
                          width: 50px !important;
                          min-width: 30px;
                          min-height: 30px;
                          padding: 5px;">+</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>       