<app-page-header [title]="'About Us'" [title1]="['Pages']" [activeitem]="'About Us'"></app-page-header>

<div class="container">
   <!-- ROW-1 OPEN-->
   <div class="row">
    <div class="col-lg-12">
        <div class="py-4">
            <div class="text-center">
                <h4 class="display-5 fw-semibold">Our mission is to make Work Meaningful.</h4>
                <p class="">If you are going to use a passage of Lorem Ipsum, you need to as necessary All the Lorem Ipsum generators on the Internet tend to repeat Various versions have evolved over repeat Various versions have evolved over.</p>
            </div>
        </div>
        <div class="card overflow-hidden">
            <img src="./assets/images/media/media-67.jpg" alt="" class="br-5 w-100">
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->

<!-- ROW-2 OPEN -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-xl-6 my-auto">
                        <h2 class="fw-bold">We Help to <span class="text-primary">Build</span> Your Dream Project.</h2>
                        <h5 class="lh-base fw-normal">majority have suffered alteration in some form, by injected humour</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered by injected humour, or randomised words which don't look even slightly believable.</p>
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                        <p class="mb-0"> If you are going to use a passage of Lorem Ipsum, you need to as necessary All the Lorem Ipsum generators on the Internet tend to repeat Various versions have evolved over the years, sometimes by
                            accident, sometimes on purpose (injected humour and the like).</p>
                    </div>
                    <div class="col-xl-6 mt-xl-0 mt-5">
                        <div class="text-center">
                            <img src="./assets/images/media/media-68.png" alt="" class="about-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-2 CLOSED -->

<!-- ROW-3 OPEN -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h2 class="mb-4 fw-semibold">Why Sash ?</h2>
                <h5 class="lh-base fw-normal">majority have suffered alteration in some form, by injected humour</h5>
                <p class="lh-base">There are many variations of passages of Lorem Ipsum available, but the majority have suffered by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                    of Lorem Ipsum, you need to as necessary All the Lorem Ipsum generators on the Internet tend to repeat Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour
                    and the like).</p>
                <a href="javascript:void(0)" class="btn btn-primary  mt-2">View More</a>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h2 class="mb-4 fw-semibold">What is Our Services?</h2>
                <h5 class="lh-base fw-normal">majority have suffered alteration in some form, by injected humour</h5>
                <p class="lh-base">There are many variations of passages of Lorem Ipsum available, but the majority have suffered by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                    of Lorem Ipsum, you need to as necessary All the Lorem Ipsum generators on the Internet tend to repeat Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour
                    and the like).</p>
                <a href="javascript:void(0)" class="btn btn-primary mt-2">View More</a>
            </div>
        </div>
    </div>
</div>
<!-- ROW-3 CLOSED -->

<!-- ROW-4 OPEN-->
<div class="row">
    <div class="text-center">
        <h2 class="fw-semibold mb-2">Meet our creative minds</h2>
        <h6 class="fw-normal">Our Leadership</h6>
    </div>
   @for (user of users; track $index) {
        <div class="col-xl-3 col-md-6 col-lg-6 mt-3" >
          <spk-aboutus
            [image]="user.image"
            [name]="user.name"
            [role]="user.role"
            [description]="user.description"
            [socialLinks]="user.socialLinks"
          ></spk-aboutus>
        </div>
    }
</div>
<!-- ROW-4 CLOSED -->

<!-- ROW-5 OPEN-->
<div class="row">
    <h2 class="text-center fw-semibold mb-4">Our Services</h2>
    <div class="col-lg-12">
        <div class="row text-center">
            @for (card of cards; track $index) {
            <div class="col-xl-3 col-md-6 col-lg-6">
              <div class="card">
                <div class="card-body">
                  <div [class]="'counter-icon ' + card.bgClass">
                    <i [class]="card.icon + ' text-fixed-white'"></i>
                  </div>
                  <h4 class="mb-2 fw-semibold">{{ card.title }}</h4>
                  <p>{{ card.description }}</p>
                </div>
              </div>
            </div>
        }
          </div>
    </div>
    <!-- COL-END -->
</div>
<!-- ROW-5 CLOSED -->

</div>