<app-page-header [title]="'Create Blog'" [title1]="['Pages']" [activeitem]="'Create Blog'"></app-page-header>

 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">New Blog</div>
            </div>
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-xl-12">
                        <label for="blog-title" class="form-label">Blog Title</label>
                        <input type="text" class="form-control" id="blog-title" placeholder="Blog Title">
                    </div>
                    <div class="col-xl-12">
                        <label for="blog-category" class="form-label">Blog Category</label>
                        <spk-ng-select 
                        [options]="BlogCategory"
                        [id]="'blog-category'"
                        [selectClass]="''"
                        [clearable]="true"
                        [searchable]="true"
                        [hideSelected]="true"
                        [placeholder]="'Select Category'"
                        [additionalProperties]="{}">
                        </spk-ng-select>
                    </div>
                    <div class="col-xl-6">
                        <label for="blog-author" class="form-label">Blog Author</label>
                        <input type="text" class="form-control" id="blog-author" placeholder="Enter Name">
                    </div>
                    <div class="col-xl-6">
                        <label for="blog-author-email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="blog-author-email" placeholder="Enter Email">
                    </div>
                    <div class="col-xl-6">
                        <label for="publish-date" class="form-label">Publish Date</label>
                        <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control"  
                    [mode]="'single'" [altInput]="false" [convertModelValue]="true"  [enableTime]="false" 
                    [dateFormat]="'Y-m-d'"></spk-flatpickr>
                    </div>
                    <div class="col-xl-6">
                        <label for="publish-time" class="form-label">Publish Time</label>
                        <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control" [noCalendar]="true"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true"  [enableTime]="true"
                        [dateFormat]="'h:i'"></spk-flatpickr>
                    </div>
                    <div class="col-xl-6">
                        <label for="product-status-add" class="form-label">Published Status</label>
                        <spk-ng-select 
                        [options]="Status"
                        [id]="'blog-tags'"
                        [selectClass]="''"
                        [multiple]="false"
                        [clearable]="true"
                        [placeholder]="'Select'"
                        [searchable]="true"
                        [hideSelected]="false"
                        [additionalProperties]="{}">
                        </spk-ng-select>
                    </div>
                    <div class="col-xl-6">
                        <label for="blog-tags" class="form-label">Blog Tags</label>
                        <spk-ng-select 
                        [options]="Publish"
                        [id]="'blog-tags'"
                        [selectClass]="''"
                        [defaultValue]="selectedTags"
                        [multiple]="true"
                        [clearable]="true"
                        [searchable]="true"
                        [hideSelected]="true"
                        [additionalProperties]="{}">
                        </spk-ng-select>
                    </div>
                    <div class="col-xl-12">
                        <label class="form-label">Blog Content</label>
                        <div id="blog-content">
                            <form [formGroup]="form">
                                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                </ngx-editor-menu>
                                <ngx-editor [editor]="editor">
                                </ngx-editor>
                        </form>
                        </div>
                    </div>
                    <div class="col-xl-12 blog-images-container">
                        <label for="blog-author-email" class="form-label">Blog Images</label>
                        <file-pond #myPond [options]="pondOptions" class="blog-images" multiple name="filepond" idata-allow-reorder="true" data-max-file-size="3MB" data-max-files="6"  [files]="pondFiles"
                        (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)"
                        (onactivatefile)="pondHandleActivateFile($event)">
                    </file-pond>
                    </div>
                    <div class="col-xl-12">
                        <label class="form-label">Blog Type</label>
                        <div class="d-flex align-items-center">
                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" name="blog-type" id="blog-free1" checked>
                                <label class="form-check-label" for="blog-free1">
                                    Free
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="blog-type" id="blog-paid1">
                                <label class="form-check-label" for="blog-paid1">
                                    Paid
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-list text-end">
                    <button type="button" class="btn btn-light">Save As Draft</button>
                    <button type="button" class="btn btn-primary">Post Blog</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Recent Posts</div>
            </div>
            <div class="card-body">
                @for (blog of blogs; track $index;let i = $index) {
                <div class="d-flex overflow-visible" [ngClass]="{'mt-4': i > 0}">
                    <img
                        aria-label="anchor"
                        [routerLink]="['/pages/blog/blogdetails']"
                        class="card-aside-column br-5 cover-image"
                        [src]="blog.image"
                    >
                    <div class="ps-3 flex-column">
                        <span class="badge me-1 mb-1 mt-1" [ngClass]="blog.badgeClass">{{ blog.category }}</span>
                        <h6 class="fw-normal">
                            <a [routerLink]="['/pages/blog/blogdetails']">{{ blog.title }}</a>
                        </h6>
                        <div class="text-muted">{{ blog.description }}</div>
                    </div>
                </div>
            }
            </div>
            
        </div>

        <div class="card">
            <div class="card-header">
                <div class="card-title">Professional Blog Writers</div>
            </div>
            <div class="card-body">
                @for (user of users; track $index;let i = $index) {
                <div class="d-flex overflow-visible" [ngClass]="{'mt-4': i > 0}">
                    <img class="avatar bradius avatar-xl me-3" [src]="user.image" alt="avatar-img">
                    <div class="media-body valign-middle">
                        <a [routerLink]="['/pages/profile']" class="fw-semibold text-dark">{{ user.name }}</a>
                        <p class="text-muted mb-0">{{ user.description }}</p>
                    </div>
                </div>
            }
            </div>
        </div>

    </div>
</div>
<!--End::row-1 -->