<div class="card custom-card {{BgColor}}">
    <div class="card-body">
        <div class="d-flex align-items-center w-100">
            <div class="me-2">
                <span class="avatar avatar-rounded">
                    <img [src]="image" alt="img">
                </span>
            </div>
            <div class="">
                <div class="fs-15 fw-medium">{{name}}</div>
                <p class="mb-0 {{textColor}} op-7 fs-12">{{status}}</p>
            </div>
            <div class="ms-auto">
                <a href="javascript:void(0);" class="{{textColor}}">
                    @if(icon){

                        <i class="bi bi-three-dots-vertical"></i>
                    }
                </a>
            </div>
        </div>
    </div>
</div>