<app-page-header [title]="'Spinners'" [title1]="['Ui Elements']" [activeitem]="'Spinners'"></app-page-header>
<!-- Start:: row-1 -->
<div class="row">
    <div class="col-xl-6">
        <app-showcode-card [title]="'Border spinner'" [prism]="prismCode.spinners1">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </app-showcode-card>
    </div>
    <div class="col-xl-6">

        <app-showcode-card [title]="'Colors'" [prism]="prismCode.spinners3">
            <div class="spinner-border text-primary m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

            <div class="spinner-border text-secondary m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-border text-success m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-border text-danger m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-border text-warning m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-border text-info m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-border text-light m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-border text-dark m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </app-showcode-card>
    </div>

</div>
<!-- End:: row-1 -->
<!-- Start:: row-2 -->
<div class="row">
    <div class="col-xl-6">
        <app-showcode-card [title]="'Growing spinner'" [prism]="prismCode.spinners2">
            <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </app-showcode-card>
    </div>
    <div class="col-xl-6">
        <app-showcode-card [title]="'Growing spinner'" [prism]="prismCode.spinners4">
            <div class="spinner-grow text-primary m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

            <div class="spinner-grow text-secondary m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-success m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-danger m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-warning m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-info m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-light m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-dark m-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-2 -->

<!-- Start:: row-3 -->
<div class="row">
    <div class="col-xl-6">
        <app-showcode-card [title]="'Alignment Flex'" [prism]="prismCode.spinners5">
            <div class="d-flex justify-content-center mb-4">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <strong>Loading...</strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
        </app-showcode-card>
    </div>
    <div class="col-xl-6">
        <app-showcode-card [title]="'Alignment Float'" [prism]="prismCode.spinners6">
            <div class="clearfix mb-4">
                <div class="spinner-border float-end" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="clearfix">
                <div class="spinner-border float-start" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-3 -->

<!-- Start:: row-4 -->
<div class="row">
    <div class="col-xl-6">
        <app-showcode-card [title]="'Alignment Text center'" [prism]="prismCode.spinners7">
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </app-showcode-card>
        <app-showcode-card [title]="'Spinner Sizes'" [prism]="prismCode.spinners8"
            classbody="d-flex align-items-center">
            <div class="spinner-border spinner-border-sm me-4" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm me-4" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-border me-4" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </app-showcode-card>
    </div>
    <div class="col-xl-6">
        <app-showcode-card [title]="'Alignment Margin'" [prism]="prismCode.spinners9">
            <div class="spinner-border m-5" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-4 -->
<!-- Start:: row-5 -->
<div class="row">
    <div class="col-xl-12">
        <app-showcode-card [title]="'Buttons'" [prism]="prismCode.spinners10">
            <div class="btn-list">
                <button class="btn btn-primary-light" type="button" disabled>
                    <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">Loading...</span>
                </button>
                <button class="btn btn-primary-light" type="button" disabled>
                    <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
                <button class="btn btn-primary-light" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm align-middle" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">Loading...</span>
                </button>
                <button class="btn btn-primary-light" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm align-middle" role="status" aria-hidden="true"></span>
                    Loading...
                </button>


                <button class="btn btn-secondary-light" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm align-middle" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
                <button class="btn btn-success-light" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm align-middle" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
                <button class="btn btn-info-light" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm align-middle" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
                <button class="btn btn-warning-light" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm align-middle" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
                <button class="btn btn-danger-light" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm align-middle" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
                <button class="btn btn-light" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm align-middle" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
                <button class="btn btn-dark text-fixed-white" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm align-middle" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-5 -->