<div class="card custom-card text-center">
  <div class="card-header p-4 pt-3 ps-2">
    <ul class="nav"  class="nav  card-header-tabs ms-1 {{tabType}}">
      <li class="nav-item" *ngFor="let tab of tabs">
        <a class="nav-link {{tab.active}}" 
           [ngClass]="{  'disabled': tab.disabled }"
           href="javascript:void(0);">
          {{ tab.label }}
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h6 class="card-title fw-medium">{{ title }}</h6>
    <p class="card-text">{{ text }}</p>
    <a href="javascript:void(0);" class="btn btn-primary">{{ buttonText }}</a>
  </div>
</div>
