<app-page-header [title]="'Apex Line Charts'" [activeitem]="'Apex Line Charts'" [title1]="['Apex  Charts']"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Line Chart</div>
            </div>
            <div class="card-body">
                <div id="chart" class="chart-container">
                    <spk-apexcharts  [chartOptions]="chartOptions"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Line Chart With Data Labels</div>
            </div>
            <div class="card-body">

                <div id="line-chart-datalabels" class="chart-container">
                    <spk-apexcharts  [chartOptions]="chartOptions1"></spk-apexcharts>
                </div>

            </div>
        </div>
    </div>
   
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Line With Annotations</div>
            </div>
            <div class="card-body">

                <div id="annotation-chart" class="chart-container">
                    <spk-apexcharts  [chartOptions]="chartOptions3"></spk-apexcharts>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Brush Chart</div>
            </div>
            <div class="box-body">
                <div id="brush-chart1" class="chart-container">
                    <spk-apexcharts  [chartOptions]="chartOptions4"></spk-apexcharts>
                </div>
                <div id="brush-chart">
                    <spk-apexcharts  [chartOptions]="chartOptions5"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">StepLine Chart</div>
            </div>
            <div class="card-body">
                <div id="stepline-chart" class="chart-container">
                    <spk-apexcharts  [chartOptions]="chartOptions6"></spk-apexcharts>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Gradient Line Chart</div>
            </div>
            <div class="card-body">
                <div id="gradient-chart" class="chart-container">
                    <spk-apexcharts  [chartOptions]="chartOptions7"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Missing/Null Values Chart</div>
            </div>
            <div class="card-body">
                <div id="null-chart" class="chart-container">
                    <spk-apexcharts  [chartOptions]="chartOptions8"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Real Time Chart</div>
            </div>
            <div class="card-body">
                <div id="dynamic-chart" class="chart-container">
                    <spk-apexcharts  [chartOptions]="chartOptions9"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Dashed Line Chart</div>
            </div>
            <div class="card-body">
                <div id="dashed-chart" class="chart-container">
                    <spk-apexcharts  [chartOptions]="chartOptions10"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Syncing Charts</div>
            </div>
            <div class="card-body">
                <div id="chart-line" class="chart-container">
                    <spk-apexcharts  [chartOptions]="chart1options"></spk-apexcharts>
                </div>
                <div id="chart-line2">
                    <spk-apexcharts  [chartOptions]="chart2options"></spk-apexcharts>

                </div>
                <div id="chart-area">
                    <spk-apexcharts  [chartOptions]="chart3options"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->