
    <div class="card custom-card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-fill">
            <p class="mb-1 fs-5 fw-semibold text-default">{{ count }}</p>
            <p class="mb-0 text-muted">{{ label }}</p>
            <p class="mb-0 fs-11">
              <a [href]="linkHref" class="text-success text-decoration-underline">
                {{ linkText }}
              </a>
            </p>
          </div>
          <div class="ms-2">
            <span class="avatar rounded-circle fs-20" [class]="avatarClass">
              <i [class]="iconClass"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

  