

  
    <!-- Candidate Detail Section -->
    <section class="candidate-detail-section" id="pdf-container">
      <!-- Upper Box -->
      <div class="upper-box">
        <div class="auto-container">
          <!-- Candidate block Five -->
          <div class="candidate-block-five">
            <div class="inner-box">
              <div class="content">
                <figure class="image"><img src="/images/icons/user.svg" alt=""></figure>
                <ul class="candidate-info">
                  <!--<li class="designation">UI Designer at Invision</li>
                  <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                  <li><span class="icon flaticon-money"></span> $99 / hour</li>
                  <li><span class="icon flaticon-clock"></span> Member Since,Aug 19, 2020</li>-->
                </ul>
                <!--<ul class="post-tags">
                  <li><a href="#">App</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Digital</a></li>
                </ul>-->
              </div>

              <div class="btn-box">
                <!--<a href="candidate-dashboard-profile.html" class="theme-btn btn-style-one">Szerkesztés</a>
                <button class="bookmark-btn"><i class="flaticon-bookmark"></i></button>-->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="candidate-detail-outer">
        <div class="auto-container">
          <div class="row">
            <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
              <aside class="sidebar">

                <div class="sidebar-widget">
                  <h4 class="widget-title">Kapcsolati adatok</h4>
                  <div class="widget-content">
                    <ul class="job-overview">
                      <li>
                        <i class="icon fad fa-mail-bulk"></i>
                        <h5>E-mailcím:</h5>
                        <span>{{ student()?.emailAddress }}</span>
                      </li>

                      <li>
                        <i class="icon fa fa-phone-office"></i>
                        <h5>Telefonszám:</h5>
                        <span>{{ student()?.phoneNumber }}</span>
                      </li>
                    </ul>
                  </div>
                </div>                

                <div class="sidebar-widget">
                  <div class="widget-content">
                    <ul class="job-overview">
                      
                      <li>
                        <i class="icon icon-language"></i>
                        <h5>Nyelvismeret:</h5>
                    
                        <ng-container *ngIf="student() as s">
                       
                          <table style="margin-top: 20px; width: 100%;">
                            <thead>
                              <tr>
                                <td colspan="2" style="text-align: center; font-weight: 600;">Nyelv</td>
                                <td colspan="2" style="text-align: center; font-weight: 600;">Típus</td>
                                <td style="text-align: center; font-weight: 600;">Szint</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let skill of s.languageSkills; let i = index">
                                <td [id]="'stdLang' + (i + 1)" style="width: 15%; text-align: center;">
                                  {{ skill.languageExamLangDict?.name_HU || '-' }}
                                </td>
                                <td style="width: 2%; text-align: center;">|</td>
                                <td [id]="'stdLangType' + (i + 1)" style="width: 20%; text-align: center;">
                                  {{ skill.languageExamTypeDict?.name_HU || '-' }}
                                </td>
                                <td style="width: 5%; text-align: center;">|</td>
                                <td [id]="'stdLangLvl' + (i + 1)" style="width: 20%; text-align: center;">
                                  {{ skill.languageExamLevelDict?.name_HU || '-' }}
                                </td>
                              </tr>
                            </tbody>
                          </table>

                        </ng-container>
                        
                        <ng-template #noLangs>
                          <p>❗ Nincs nyelvismereti adat.</p>
                        </ng-template>

                    </ul>

                  </div>
                </div>

                <div class="sidebar-widget social-media-widget">
                  <h4 class="widget-title">
                    Linked<a href="{{ student()?.linkedIn }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  </h4>
                </div>


                <div class="sidebar-widget">
                  <h4 class="widget-title">Rólam <i class="fa-solid fa-circle-info fa-xs bs-tooltip-arrow" data-toggle="tooltip" title="Ide olyan személyes készségeket, attitűdöket és tapasztalatokat írj, amelyeket máshol még nem említettél, de hasznosak lehetnek a munkavégzés szempontjából. Például: szeretek önállóan dolgozni, de csapatban is jól érzem magam/gyorsan kiismerem magam az új rendszerekben/ kreatívan kezelem a váratlan helyzeteket stb."></i></h4>
                  <div class="widget-content">
                    <p>{{ student()?.aboutMe }}</p> 
                  </div>
                </div>



              </aside>
            </div>            
            <div class="content-column col-lg-8 col-md-12 col-sm-12">
              <div class="job-detail">


               <!-- Resume / Navi -->
                <div class="Resume-outer">
                  <div class="resume-block">
                    <div class="inner">
                      <div class="btn-box">
                        <a  routerLink="/main/profile-student-edit" class="theme-btn btn-style-one">Szerkesztés</a>
                        <a (click)="generatePDF()" class="theme-btn btn-style-one">CV letöltés</a>
                        <a href="candidate-dashboard-profile.html" class="theme-btn btn-style-one">CV megtekintése</a>
                        <!--<button class="bookmark-btn"><i class="flaticon-bookmark"></i></button>-->
                      </div>
                    </div>
                  </div>
                </div>

                  <!-- Resume / Tanulmányok -->
                  <div class="resume-outer theme-gray">
                    <div class="upper-title">
                      <h4>Tanulmányok</h4>
                    </div>
  
                    <ng-container *ngIf="student() as s">
                      <div *ngFor="let edu of s.studentStudies" class="resume-block">
                          <div class="inner">
                            <span class="name"></span>
                            <div class="title-box">
                              <div class="info-box">
                                <h3>{{ edu.nameOfInstitution }}</h3>
                                <span>{{ edu.nameOfTraining }}</span>
                              </div>
                              <div class="edit-box">
                                <span class="year">
                                  {{ edu.startDateOfLegalRelationship| date:'yyyy.MM.' }} -
                                  {{ edu.endDateOfLegalRelationship ? (edu.endDateOfLegalRelationship | date:'yyyy.MM.') : 'jelenleg is' }}
                                </span>
                              </div>
                            </div>
                          </div>
                      </div>
                    </ng-container>
                  </div>


                  <!-- Resume / Work & Experience -->
                <div class="resume-outer theme-gray">
                  <div class="upper-title">
                    <h4>Munkatapasztalat</h4>
                  </div>

                  <ng-container *ngIf="student() as s">
                    <div *ngFor="let experience of s.workExperiences" class="resume-block">
                        <div class="inner">
                          <span class="name"></span>
                          <div class="title-box">
                            <div class="info-box">
                              <h3>{{ experience.positionTitle || 'Pozíció megnevezés nélkül' }}</h3>
                              <span>{{ experience.workplaceName || 'Munkahely neve nélkül' }}</span>
                            </div>
                            <div class="edit-box">
                              <span class="year">
                                {{ experience.workStartDate | date:'yyyy.MM.' }} -
                                {{ experience.workEndDate ? (experience.workEndDate | date:'yyyy.MM.') : 'jelenleg is' }}
                              </span>
                            </div>
                          </div>
                          <div class="text">
                            {{ experience.positionTasks || 'Feladatok nem megadva' }}
                          </div>
                        </div>
                    </div>
                  </ng-container>
                </div>

                <div class="resume-outer theme-gray">
                  <div class="upper-title">
                    <h4>Egyéb képzettségek</h4>
                  </div>

                  <ng-container *ngIf="student() as s">
                    <div *ngFor="let skills of s.studentSkills" class="resume-block">
                        <div class="resume-block">
                          <div *ngIf="skills.dictionary?.dictionaryCode?.trim() === 'DrivingLicenseCategory'">
                            <p>Jogosítvány: {{ skills.dictionary?.name_HU }}</p>
                          </div>
                          <div *ngIf="skills.dictionary?.dictionaryCode?.trim() === 'DrivenKilometers'">
                            <p>Vezetett km: {{ skills.dictionary?.name_HU }}</p>
                          </div>
                        </div>
                    </div>
                  </ng-container>
                </div>

                <div class="resume-outer theme-gray">
                  <div class="upper-title">
                    <h4>Egyéb készségek</h4>
                  </div>

                  <div class="resume-block">
                    <h4></h4>
                    <p>{{ student()?.otherSkills }}</p> 
                  </div>

                </div>
                
                
                <div class="resume-outer theme-gray">
                  <div class="upper-title">
                    <h4>Személyes érdeklődés</h4>
                  </div>
                  <div class="resume-block">
                    <h4></h4>
                    <p>{{ student()?.personalInterest }}</p> 
                  </div>
                </div>
                
                
                <div class="resume-outer theme-gray">
                  <div class="upper-title">
                    <h4>Preferenciák</h4>
                  </div>

                  <ng-container *ngIf="student() as s">
                    <div *ngFor="let pref of s.studentPreferences" class="resume-block">
                        <div class="resume-block">
                          <div *ngIf="pref.dictionary?.dictionaryCode?.trim() === 'NatureOfWorks'">
                            <p>Munka jellege: {{ pref.dictionary?.name_HU }}</p>
                          </div>
                          <div *ngIf="pref.dictionary?.dictionaryCode?.trim() === 'EmploymentTypes'">
                            <p>Foglalkoztatás jellege: {{ pref.dictionary?.name_HU }}</p>
                          </div>
                          <div *ngIf="pref.dictionary?.dictionaryCode?.trim() === 'TimeOfWorks'">
                            <p>Munkarend: {{ pref.dictionary?.name_HU }}</p>
                          </div>
                          <div *ngIf="pref.dictionary?.dictionaryCode?.trim() === 'PlaceOfWorks'">
                            <p>Munkavégzés helye: {{ pref.dictionary?.name_HU }}</p>
                          </div>
                          <div *ngIf="pref.dictionary?.dictionaryCode?.trim() === 'LanguageOfWorks'">
                            <p>Foglalkoztatás nyelve: {{ pref.dictionary?.name_HU }}</p>
                          </div>
                        </div>
                    </div>
                  </ng-container>
                </div>
    


             </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End candidate Detail Section -->



