

  
    <!-- Candidate Detail Section -->
    <section class="candidate-detail-section">
      <!-- Upper Box -->
      <div class="upper-box">
        <div class="auto-container">
          <!-- Candidate block Five -->
          <div class="candidate-block-five">
            <div class="inner-box">
              <div class="content">
                <figure class="image"><img src="images/icons/user.svg" alt=""></figure>
                <h1 class="name"><a href="#">{{ student()?.lastName }} {{ student()?.firstName }}</a></h1>
                <ul class="candidate-info">
                  <!--<li class="designation">UI Designer at Invision</li>
                  <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                  <li><span class="icon flaticon-money"></span> $99 / hour</li>
                  <li><span class="icon flaticon-clock"></span> Member Since,Aug 19, 2020</li>-->
                </ul>
                <!--<ul class="post-tags">
                  <li><a href="#">App</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Digital</a></li>
                </ul>-->
              </div>

              <div class="btn-box">
                <!--<a href="candidate-dashboard-profile.html" class="theme-btn btn-style-one">Szerkesztés</a>
                <button class="bookmark-btn"><i class="flaticon-bookmark"></i></button>-->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="candidate-detail-outer">
        <div class="auto-container">
          <div class="row">
            <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
              <aside class="sidebar">

                <!--<figure class="image"><img src="images/icons/user.svg" alt=""></figure>-->

                <div class="sidebar-widget">
                  <h4 class="widget-title">Kapcsolati adatok</h4>
                  <div class="widget-content">
                    <ul class="job-overview">
                      <li>
                        <i class="icon fad fa-mail-bulk"></i>
                        <h5>E-mailcím:</h5>
                        <span>{{ student()?.emailAddress }}</span>
                      </li>

                      <li>
                        <i class="icon fa fa-phone-office"></i>
                        <h5>Telefonszám:</h5>
                        <span>{{ student()?.phoneNumber }}</span>
                      </li>
                    </ul>
                  </div>
                </div>                

                <div class="sidebar-widget">
                  <div class="widget-content">
                    <ul class="job-overview">
                      
                      <li>
                        <i class="icon icon-language"></i>
                        <h5>Nyelvismeret:</h5>
                        <table style="padding-top: 10px;">
                          <tr>
                            <td style="width: 33%;">{{ student()?.languageExamLanguage }}</td><td style="width: 10%;">|</td><td style="width: 33%;">{{ student()?.languageExamLevel }}</td><td style="width: 10%;">|</td><td style="width: 33%;">{{ student()?.languageExamType }}</td>
                          </tr>
                        </table>
                      </li>

                    </ul>
                  </div>
                </div>

                <div class="sidebar-widget social-media-widget">
                  <h4 class="widget-title">
                    Linked<a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </h4>
                  <div class="widget-content">
                    <div class="social-links">

                      <a id="aLinkedIn" href=""></a>
                    </div>
                  </div>
                </div>



              </aside>
            </div>            
            <div class="content-column col-lg-8 col-md-12 col-sm-12">
              <div class="job-detail">

                <!-- Resume / Education -->
                <div class="Resume-outer">
                  <div class="resume-block">
                    <div class="inner">
                      <div class="btn-box">
                        <a href="main/profile-student-edit" class="theme-btn btn-style-one">Szerkesztés</a>
                        <a href="candidate-dashboard-profile.html" class="theme-btn btn-style-one">CV letöltés</a>
                        <a href="candidate-dashboard-profile.html" class="theme-btn btn-style-one">CV megtekintése</a>
                        <!--<button class="bookmark-btn"><i class="flaticon-bookmark"></i></button>-->
                      </div>
                    </div>

                  </div>
                </div>


                <div class="resume-outer">
                  <div class="upper-title">
                    <h4>Tanulmányok</h4>
                  </div>
                  <!-- Resume BLock -->

                  <div class="resume-block" *ngFor="let edu of student()?.studentPreviousStudies">
                    <div class="inner">
                      <span class="name"></span>
                      <div class="title-box">
                        <div class="info-box">
                          <h3>{{ edu.previousStudyName }}</h3>
                        </div>
                        <div class="edit-box">
                          <span class="year">
                            {{ edu.previousStudyFinishedAt || '' }}
                          </span>
                        </div>
                      </div>
                      <div class="text"></div>
                    </div>
                  </div>
                </div>


                  <!-- Resume / Work & Experience -->
                <div class="resume-outer theme-blue">
                  <div class="upper-title">
                    <h4>Munka és tapasztalat</h4>
                  </div>
                  <!-- Resume BLock -->
                  <div class="resume-block">
                    <div class="inner">
                      <span class="name">S</span>
                      <div class="title-box">
                        <div class="info-box">
                          <h3>Product Designer</h3>
                          <span>Spotify Inc.</span>
                        </div>
                        <div class="edit-box">
                          <span class="year">2020 - 2022</span>
                        </div>
                      </div>
                      <div class="text"></div>
                    </div>
                  </div>

                  <!-- Resume BLock -->
                  <div class="resume-block">
                    <div class="inner">
                      <span class="name">D</span>
                      <div class="title-box">
                        <div class="info-box">
                          <h3>Sr UX Engineer</h3>
                          <span>Dropbox Inc.</span>
                        </div>
                        <div class="edit-box">
                          <span class="year">2018 - 2020</span>
                        </div>
                      </div>
                      <div class="text"></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
    <!-- End candidate Detail Section -->



