<app-page-header [title]="'Apex Area Charts'" [activeitem]="'Apex Area Charts'" [title1]="['Apex  Charts']"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Area Chart</div>
            </div>
            <div class="card-body">
                <div id="chart">
                    <spk-apexcharts [chartOptions]="chartOptions1"></spk-apexcharts>
                        
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Spline Area Chart</div>
            </div>
            <div class="card-body">
                <div id="area-spline"  class="chart-container1">
                    <spk-apexcharts [chartOptions]="chartOptions2"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Area Chart With Negative Values</div>
            </div>
            <div class="card-body">
                <div id="area-negative"  class="chart-container2">
                    <spk-apexcharts [chartOptions]="chartOptions3"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Selection-Github Style Chart</div>
            </div>
            <div class="card-body">
                <div id="chart-months"  class="">
                    <apx-chart [series]="chartMonths.series" [chart]="chartMonths.chart"
                    [colors]="chartMonths.colors" [yaxis]="chartMonths.yaxis"
                    [dataLabels]="commonOptions.dataLabels" [fill]="commonOptions.fill"
                    [stroke]="commonOptions.stroke" [xaxis]="commonOptions.xaxis"[colors]="chartMonths.colors"></apx-chart>
                </div>
                <div class="github-style d-flex align-items-center">
                    <div class="me-2">
                        <img class="userimg rounded" src="./assets/images/faces/1.jpg"
                            data-hoverbox-user-id="634573" alt="" width="38" height="38">
                    </div>
                    <div class="userdetails lh-1">
                        <a class="username fw-medium fs-14">coder</a>
                        <span class="cmeta d-block mt-1">
                            <span class="commits"></span> 95 commits
                        </span>
                    </div>
                </div>
                <div id="chart-years"  class="chart-container4">
                    <apx-chart [series]="chartYears.series" [chart]="chartYears.chart" [colors]="chartYears.colors"
                            [legend]="chartYears.legend" [dataLabels]="commonOptions.dataLabels"
                            [fill]="commonOptions.fill" [stroke]="commonOptions.stroke"
                            [xaxis]="commonOptions.xaxis" [colors]="chartYears.colors"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Stacked Area Chart</div>
            </div>
            <div class="card-body">
                <div id="area-stacked"  class="chart-container5">
                    <spk-apexcharts [chartOptions]="chartOptions5"></spk-apexcharts>
              
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Irregular Time Series Chart</div>
            </div>
            <div class="card-body">
                <div id="area-irregular"  class="chart-container6">
                    <spk-apexcharts [chartOptions]="chartOptions6"></spk-apexcharts>
              
                </div>
                            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Area Chart With Null Values</div>
            </div>
            <div class="card-body">
                <div id="area-null"  class="chart-container7">
                    <spk-apexcharts [chartOptions]="chartOptions8"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header d-flex">
                <div class="card-title">Area Chart-Datetime X-Axis Chart</div>
                <div class="btn-group ms-auto">
                    <button class="btn btn-primary btn-sm" id="one_month"  [class.active]="activeOptionButton=='1m'">1M</button>
                    <button class="btn btn-primary btn-sm" id="six_months"  [class.active]="activeOptionButton=='6m'">6M</button>
                    <button class="btn btn-primary btn-sm" id="one_year"  [class.active]="activeOptionButton=='1y'">1Y</button>
                    <button class="btn btn-primary btn-sm" id="all"  [class.active]="activeOptionButton=='all'">ALL</button>
                  
                </div>
            </div>
            <div class="card-body">
                <div id="area-datetime"  class="chart-container8">
                    <spk-apexcharts  [chartOptions]="ChartOptions"></spk-apexcharts>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->