<app-page-header [title]="'Ribbons'" [title1]="['Advanced Ui']" [activeitem]="'Ribbons'"></app-page-header>

  <!-- Start::row-1 -->
  <div class="row">
    <h5 class="fw-semibold mb-4">Ribbon Style 1</h5>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card'"
                         [bodyClass]="'p-6'"
                         [icon]="true"
                         [IconClass]="'ri-flashlight-fill'"
                         [ribbonBgClass]="'power-ribbone power-ribbone-top-left text-warning'"
                         [ribbonBg]="'bg-warning'"
                         [ribbonClass]="'card-subtitle mb-2 text-dark fw-bold'"
                         [textAlignment]="'mb-2 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card'"
                         [bodyClass]="'p-6'"
                         [icon]="true"
                         [IconClass]="'ri-flashlight-fill'"
                         [ribbonBgClass]="'power-ribbone power-ribbone-bottom-left text-primary'"
                         [ribbonBg]="'bg-primary'"
                         [ribbonClass]="'card-subtitle mb-2 text-dark fw-bold'"
                         [textAlignment]="'mb-2 text-dark fw-bold'"
                         [topTitle]="'subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card'"
                         [bodyClass]="'p-6'"
                         [icon]="true"
                         [IconClass]="'ri-flashlight-fill'"
                         [ribbonBgClass]="'power-ribbone power-ribbone-top-right text-danger'"
                         [ribbonBg]="'bg-danger'"
                         [ribbonClass]="'card-subtitle mb-2 text-dark fw-bold'"
                         [textAlignment]="'mb-2 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card'"
                         [bodyClass]="'p-6'"
                         [icon]="true"
                         [IconClass]="'ri-flashlight-fill'"
                         [ribbonBgClass]="'power-ribbone power-ribbone-bottom-right text-success'"
                         [ribbonBg]="'bg-success'"
                         [ribbonClass]="'card-subtitle mb-2 text-dark fw-bold'"
                         [textAlignment]="'mb-2 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
</div>
<!--End::row-1 -->

 <!-- Start::row-1 -->
 <div class="row">
    <h5 class="fw-semibold mb-4">Ribbon Style 2</h5>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbonBgClass]="'ribbone ribbone-top-left text-primary'"
                         [ribbonBg]="'bg-primary'"
                         [title]="'sold out'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold text-end'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card sold-out'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbonBgClass]="'ribbone ribbone-top-right text-danger'"
                         [ribbonBg]="'bg-danger'"
                         [title]="'Offer'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbonBgClass]="'ribbone ribbone-top-left text-success'"
                         [ribbonBg]="'bg-success'"
                         [title]="'Update'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold text-end'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card sold-out'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbonBgClass]="'ribbone ribbone-top-right text-warning'"
                         [ribbonBg]="'bg-warning'"
                         [title]="'Open'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
</div>
<!--End::row-1 -->
 <!-- Start::row-1 -->
 <div class="row">
    <h5 class="fw-semibold mb-4">Ribbon Style 3</h5>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbonBgClass]="'arrow-ribbone-left bg-secondary'"
                         [ribbonBg]="'bg-secondary'"
                         [title]="'sale'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold text-end'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card sold-out'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbonBgClass]="'arrow-ribbone-right bg-info'"
                         [ribbonBg]="'bg-info'"
                         [title]="'Price'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbonBgClass]="'arrow-ribbone-left bg-warning'"
                         [ribbonBg]="'bg-warning'"
                         [title]="'service'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold text-end'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbonBgClass]="'arrow-ribbone-right bg-teal'"
                         [ribbonBg]="'bg-teal'"
                         [title]="'Offer'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
</div>
<!--End::row-1 -->
 <!-- Start::row-1 -->
 <div class="row">
    <h5 class="fw-semibold mb-4">Ribbon Style 4</h5>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                         [mainClass]="''"
                         [bodyClass]="'p-6'"
                         [bagde]="true"
                         [icon]="false"
                         [BadgeClass]="'ribbone-success-left'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold text-end'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="''"
                        [bodyClass]="'p-6'"
                        [bagde]="true"
                        [icon]="false"
                        [BadgeClass]="'ribbone-warning-right'"
                        [textAlignment]="'card-subtitle mb-2 text-dark fw-bold'"
                        [topTitle]="'Card subtitle'"
                        [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                            >
                       </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="''"
                        [bodyClass]="'p-6'"
                        [bagde]="true"
                        [icon]="false"
                        [BadgeClass]="'ribbone-info-left'"
                        [textAlignment]="'card-subtitle mb-2 text-dark fw-bold text-end'"
                        [topTitle]="'Card subtitle'"
                        [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                            >
                       </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                         [mainClass]="''"
                         [bodyClass]="'p-6'"
                         [bagde]="true"
                         [icon]="false"
                         [BadgeClass]="'ribbone-danger-right'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
</div>
<!--End::row-1 -->
 <!-- Start::row-1 -->
 <div class="row">
    <h5 class="fw-semibold mb-4">Ribbon Style 5</h5>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbonBgClass]="'bookmark-ribbone-danger-left'"
                         [ribbonBg]="''"
                         [title]="'Jul'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold text-end'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbonBgClass]="'bookmark-ribbone-secondary-right'"
                         [ribbonBg]="''"
                         [title]="'Aug'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="''"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbonBgClass]="'bookmark-sideleft-ribbone-success-left'"
                         [ribbonBg]="''"
                         [title]="'Sept'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold text-end'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <spk-ribbon-cards 
                        [mainClass]="'ribbone-card'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbonBgClass]="'bookmark-sideright-ribbone-primary-right'"
                         [ribbonBg]="''"
                         [title]="'Oct'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
</div>
<!--End::row-1 -->
<!-- Start::row-1 -->
<div class="row">
    <h5 class="fw-semibold mb-4">Ribbon Style 6</h5>
                    <div class="col-xxl-2 col-lg-4 col-md-4 col-sm-10 mx-0 mx-sm-7">
                        <spk-ribbon-cards 
                        [mainClass]="'br-0'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbon6]="true"
                         [ribbonBgClass]="'fullwidth-secondary-ribbons'"
                         [ribbonBg]="''"
                         [title1]="'CSS Ribbon'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xxl-2 col-lg-4 col-md-4 col-sm-10 mx-0 mx-sm-7">
                        <spk-ribbon-cards 
                        [mainClass]="'br-0'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbon6]="true"
                         [ribbonBgClass]="'fullwidth-primary-ribbons'"
                         [ribbonBg]="''"
                         [title1]="'CSS Ribbon'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xxl-2 col-lg-4 col-md-4 col-sm-10 mx-0 mx-sm-7">
                        <spk-ribbon-cards 
                        [mainClass]="'br-0'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbon6]="true"
                         [ribbonBgClass]="'fullwidth-arrow-warning-ribbons'"
                         [ribbonBg]="''"
                         [title1]="'CSS Ribbon'"
                         [textAlignment]="'card-subtitle mb-2 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    <div class="col-xxl-2 col-lg-4 col-md-4 col-sm-10 mx-0 mx-sm-7">
                        <spk-ribbon-cards 
                        [mainClass]="'br-0'"
                         [bodyClass]="'p-6'"
                         [icon]="false"
                         [ribbon6]="true"
                         [ribbonBgClass]="'fullwidth-arrow-danger-ribbons-right'"
                         [ribbonBg]="''"
                         [title1]="'CSS Ribbon'"
                         [textAlignment]="'card-subtitle mb-1 text-dark fw-bold'"
                         [topTitle]="'Card subtitle'"
                         [description]="'Some quick example text to build on the card title. Some quick example text to build on the card title'"
                             >
                        </spk-ribbon-cards>
                    </div>
                    
</div>
<!--End::row-1 -->
