<app-page-header [title]="'Range Slider'" [title1]="['Form Elements']" [activeitem]="'Range Slider'"></app-page-header>
 
 <!-- Start:: row-1 -->
 <div class="row">
    <div class="col-xl-3">
        <app-showcode-card [title]="' Default Range'" [prism]="prismCode.rangeSliderTS">
                <input type="range" class="form-range" id="customRange1">
        </app-showcode-card>
    </div>
    <div class="col-xl-3">
        <app-showcode-card [title]="'Disabled Range'" [prism]="prismCode.rangeSliderTS1">
                <input type="range" class="form-range" id="disabledRange" disabled>
        </app-showcode-card>
    </div>
    <div class="col-xl-3">
        <app-showcode-card [title]="'Range With Min and Max Values'" [prism]="prismCode.rangeSliderTS2">
                <input type="range" class="form-range" min="0" max="5" id="customRange2">
        </app-showcode-card>
    </div>
    <div class="col-xl-3">
        <app-showcode-card [title]="'Range With Steps'" [prism]="prismCode.rangeSliderTS3">
                <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-1 -->
<!-- Start:: row-2 -->
<h6 class="mb-3">noUiSlider:</h6>
<div class="row">
    <div class="col-xl-3">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Default-Styling
                </div>
            </div>
            <div class="card-body ">
                <div id="slider">
                    <nouislider
                    [connect]="true"
                    [min]="0"
                    [max]="15"
                    [step]="1"
                    [(ngModel)]="someRange6"
                  ></nouislider>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Fit Handles
                </div>
            </div>
            <div class="card-body">
                <div id="slider-fit">
                    <nouislider
                    [connect]="true"
                    [min]="0"
                    [max]="15"
                    [step]="1"
                    [(ngModel)]="someRange1"
                  ></nouislider>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Rounded Styling
                </div>
            </div>
            <div class="card-body">
                <div id="slider-round">
                    <nouislider
                    [connect]="true"
                    [min]="0"
                    [max]="15"
                    [step]="1"
                    [(ngModel)]="someRange2"
                  ></nouislider>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Square Styling
                </div>
            </div>
            <div class="card-body">
                <div id="slider-square">
                     <nouislider
            [connect]="true"
            [min]="0"
            [max]="15"
            [step]="1"
            [(ngModel)]="someRange3"
          ></nouislider>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-2 -->

<!-- Start:: row-3 -->
<div class="row">
    <div class="col-xl-3">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Color Picker Slider</div>
            </div>
            <div class="card-body color-picker-slider">
                <div
                #slider1
                class="sliders noUi-target noUi-ltr noUi-vertical noUi-txt-dir-ltr"
              >
                <input
                  type="range"
                  min="0"
                  max="255"
                  [(ngModel)]="red"
                  (input)="updateColor()"
                  id="red"
                />
              </div>
              <div
                #slider2
                class="sliders noUi-target noUi-ltr noUi-vertical noUi-txt-dir-ltr"
              >
                <input
                  type="range"
                  min="0"
                  max="255"
                  [(ngModel)]="green"
                  (input)="updateColor()"
                  id="green"
                />
              </div>
              <div
                #slider3
                class="sliders noUi-target noUi-ltr noUi-vertical noUi-txt-dir-ltr"
              >
                <input
                  type="range"
                  min="0"
                  max="255"
                  [(ngModel)]="blue"
                  (input)="updateColor()"
                  id="blue"
                />
              </div>
              <div id="result" [style.background-color]="getColor()"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Locking Sliders</div>
                </div>
                <div class="card-body">
                    <div #slider6 id="slider6"></div>
                    <div  #slider6Value id="slider6-span" class="my-1"></div>
                    <div  #slider7 id="slider7"></div>
                    <div  #slider7Value id="slider7-span" class="my-1"></div>
                    <button  #lockButton id="lockbutton" class="btn btn-sm btn-primary float-end">Lock</button>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Merging tooltips slider</div>
                </div>
                <div class="card-body">
                    <div id="merging-tooltips">
                        <nouislider
              [connect]="true"
              [min]="0"
              [max]="15"
              [step]="1"
              [tooltips]="[true, true]"
              [(ngModel)]="someRange4"
            ></nouislider>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">Non Linear Slider</div>
                    </div>
                    <div class="card-body">
                         <ngx-slider
                            [(value)]="minValue3"
                            [(highValue)]="maxValue3"
                            [options]="options3"
                          ></ngx-slider>
                          <p class="mt-4 ">Min value: <input class="px-2 ms-2 sliders noUi-target " type="number" [(ngModel)]="minValue3" /></p>
                          <p>Max value: <input class="px-2 ms-2 sliders noUi-target " type="number" [(ngModel)]="maxValue3" /></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">Sliding Handles Tooltips</div>
                    </div>
                    <div class="card-body">
                        <div id="slider-hide">
                            <nouislider
                            [connect]="true"
                            [min]="0"
                            [max]="15"
                            [step]="1"
                            [(ngModel)]="someRange6"
                            (ngModelChange)="onChange($event)"
                          ></nouislider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-3 -->

<!-- Start:: row-4 -->
<div  class="row">
    <div class="col-xl-10">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Colored Connect Elements</div>
            </div>
            <div class="card-body">
                <ngx-slider id="slider" class="color-slider" [(value)]="value4" [options]="options4"></ngx-slider>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Slider Toggle</div>
            </div>
            <div class="card-body">
                <div id="slider-toggle">
                    <ngx-slider
                    [(value)]="Slider1.value5"
                    [options]="Slider1.options6"
                  ></ngx-slider>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-4 -->

<!-- Start:: row-5 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Toggle Movement By Clicking Pips</div>
            </div>
            <div class="card-body pb-5">
                <div id="slider-pips">
                    <nouislider
                    [config]="someKeyboardConfig"
                    [(ngModel)]="someKeyboard"
                    (keyup)="blinkKeyupLabel()"
                    (keydown)="blinkKeydownLabel()"
                  ></nouislider>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Soft Limits</div>
            </div>
            <div class="card-body pb-5">
                <div id="soft">
                    <nouislider
                    [config]="someKeyboardConfig2"
                    [(ngModel)]="someKeyboard2"
                  ></nouislider>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-5 -->

<!-- Start:: row-6 -->
<h6 class="mb-3">noUiSlider Colors:</h6>
<div class="row">
    <div class="col-xl-4">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Primary
                </div>
            </div>
            <div class="card-body">
                <div id="primary-colored-slider">
                    <ngx-slider
                    [(value)]="minValue7"
                    [options]="options7"
                  ></ngx-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Secondary
                </div>
            </div>
            <div class="card-body">
                <div id="secondary-colored-slider">
                    <ngx-slider [(value)]="minValue8" [options]="options8"></ngx-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Warning
                </div>
            </div>
            <div class="card-body">
                <div id="warning-colored-slider">
                    <ngx-slider [(value)]="minValue9" [options]="options9"></ngx-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Info
                </div>
            </div>
            <div class="card-body">
                <div id="info-colored-slider">
                    <ngx-slider [(value)]="minValue10" [options]="options10"></ngx-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Success
                </div>
            </div>
            <div class="card-body">
                <div id="success-colored-slider">
                    <ngx-slider [(value)]="minValue11" [options]="options11"></ngx-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Danger
                </div>
            </div>
            <div class="card-body">
                <div id="danger-colored-slider">
                    <ngx-slider [(value)]="minValue12" [options]="options12"></ngx-slider>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-6 -->