<app-page-header [title]="'Borders'" [title1]="['Utilities']" [activeitem]="'Borders'"></app-page-header>

                <!-- Start:: row-1 -->
                <div class="row row-sm">
                    <div class="col-xl-6">
                        <app-showcode-card [title]="'Borders'" [prism]="prismCode.bordersTS1">
                                <span class="border border-container d-inline-flex">
                                    <span class="fs-11 text-gray-5 m-auto">Border</span>
                                </span>
                                <span class="border-top border-container d-inline-flex">
                                    <span class="fs-11 text-gray-5 m-auto">Border-top</span>
                                </span>
                                <span class="border-end border-container d-inline-flex">
                                    <span class="fs-11 text-gray-5 m-auto">Border-right</span>
                                </span>
                                <span class="border-bottom border-container d-inline-flex">
                                    <span class="fs-11 text-gray-5 m-auto">Border-bottom</span>
                                </span>
                                <span class="border-start border-container d-inline-flex">
                                    <span class="fs-11 text-gray-5 m-auto">Border-left</span>
                                </span>
                        </app-showcode-card>
                    </div>
                    <div class="col-xl-6">
                        <app-showcode-card [title]="'Remove borders'" [prism]="prismCode.bordersTS2">
                                <span class="border-0 border-container d-inline-flex">
                                    <span class="fs-11 text-gray-5 m-auto">No-Border</span>
                                </span>
                                <span class="border border-top-0 border-container d-inline-flex">
                                    <span class="fs-11 text-gray-5 m-auto">Top</span>
                                </span>
                                <span class="border border-end-0 border-container d-inline-flex">
                                    <span class="fs-11 text-gray-5 m-auto">Right</span>
                                </span>
                                <span class="border border-bottom-0 border-container d-inline-flex">
                                    <span class="fs-11 text-gray-5 m-auto">Bottom</span>
                                </span>
                                <span class="border border-start-0 border-container d-inline-flex">
                                    <span class="fs-11 text-gray-5 m-auto">Left</span>
                                </span>
                        </app-showcode-card>
                    </div>
                </div>
                <!-- End:: row-1 -->

                <!-- Start:: row-2 -->
                <div class="row row-sm">
                    <div class="col-xl-5">
                        <app-showcode-card [title]="'Border Widths'" [prism]="prismCode.bordersTS3">
                                <span class="border border-container d-inline-flex border-1">
                                    <span class="fs-11 text-gray-5 m-auto">1px</span>
                                </span>
                                <span class="border border-container d-inline-flex border-2">
                                    <span class="fs-11 text-gray-5 m-auto">2px</span>
                                </span>
                                <span class="border border-container d-inline-flex border-3">
                                    <span class="fs-11 text-gray-5 m-auto">3px</span>
                                </span>
                                <span class="border border-container d-inline-flex border-4">
                                    <span class="fs-11 text-gray-5 m-auto">4px</span>
                                </span>
                                <span class="border border-container d-inline-flex border-5">
                                    <span class="fs-11 text-gray-5 m-auto">5px</span>
                                </span>
                        </app-showcode-card>
                    </div>
                    <div class="col-xl-7">
                        <app-showcode-card [title]="'Border colors'" [prism]="prismCode.bordersTS4">
                                <span class="border border-container border-primary d-inline-flex">
                                    <span class="fs-11 text-primary m-auto">bd-primary</span>
                                </span>
                                <span class="border border-container border-secondary d-inline-flex">
                                    <span class="fs-11 text-secondary m-auto">bd-secondary</span>
                                </span>
                                <span class="border border-container border-success d-inline-flex">
                                    <span class="fs-11 text-success m-auto">bd-success</span>
                                </span>
                                <span class="border border-container border-danger d-inline-flex">
                                    <span class="fs-11 text-danger m-auto">bd-danger</span>
                                </span>
                                <span class="border border-container border-warning d-inline-flex">
                                    <span class="fs-11 text-warning m-auto">bd-warning</span>
                                </span>
                                <span class="border border-container border-info d-inline-flex">
                                    <span class="fs-11 text-info m-auto">bd-info</span>
                                </span>
                                <span class="border border-container border-light d-inline-flex">
                                    <span class="fs-11 text-gray-2 m-auto">bd-light</span>
                                </span>
                                <span class="border border-container border-dark d-inline-flex">
                                    <span class="fs-11 text-dark m-auto">bd-dark</span>
                                </span>
                                <span class="border border-container border-white d-inline-flex">
                                    <span class="fs-11 text-dark m-auto">bd-white</span>
                                </span>
                        </app-showcode-card>
                    </div>
                </div>
                <!-- End:: row-2 -->

                <!-- Start:: row-3 -->
                <div class="row row-sm">
                    <div class="col-xl-6">
                        <app-showcode-card [title]="'Border color Styling'" [prism]="prismCode.bordersTS5">
                                <div class="mb-4">
                                    <label for="exampleFormControlInput1" class="form-label">Email
                                        address</label>
                                    <input type="email" class="form-control border-success"
                                        id="exampleFormControlInput1" placeholder="name@example.com">
                                </div>
                                <div class="h4 pb-3 mb-4 text-danger border-bottom border-danger">
                                    Below Shows Danger Border
                                </div>
                                <div
                                    class="p-3 bg-info text-info bg-opacity-10 border border-info border-start-0 rounded-end mb-1">
                                    Customizing borders with background colors
                                </div>
                        </app-showcode-card>
                    </div>
                    <div class="col-xl-6">
                        <app-showcode-card [title]="'Border with opacity'" [prism]="prismCode.bordersTS6">
                                <div class="border border-success p-2 mb-2">This is default success border</div>
                                <div class="border border-success p-2 mb-2 border-opacity-75">This is 75%
                                    opacity
                                    success border
                                </div>
                                <div class="border border-success p-2 mb-2 border-opacity-50">This is 50%
                                    opacity
                                    success border
                                </div>
                                <div class="border border-success p-2 mb-2 border-opacity-25">This is 25%
                                    opacity
                                    success border
                                </div>
                                <div class="border border-success p-2 border-opacity-10">This is 10% opacity
                                    success
                                    border
                                </div>
                        </app-showcode-card>
                    </div>
                </div>
                <!-- End:: row-3 -->

                <!-- Start:: row-4 -->
                <div class="row row-sm">
                    <div class="col-xl-6">
                        <app-showcode-card [title]="'Border Radius'" [prism]="prismCode.bordersTS7">
                                <img src="./assets/images/media/media-58.jpg" class="bd-placeholder-img rounded" alt="...">
                                <img src="./assets/images/media/media-58.jpg" class="bd-placeholder-img rounded-top" alt="...">
                                <img src="./assets/images/media/media-58.jpg" class="bd-placeholder-img rounded-end" alt="...">
                                <img src="./assets/images/media/media-58.jpg" class="bd-placeholder-img rounded-bottom" alt="...">
                                <img src="./assets/images/media/media-58.jpg" class="bd-placeholder-img rounded-start" alt="...">
                                <img src="./assets/images/media/media-58.jpg" class="bd-placeholder-img rounded-circle" alt="...">
                                <img src="./assets/images/media/media-58.jpg" class="bd-placeholder-img  rounded-pill" alt="...">
                        </app-showcode-card>
                    </div>
                    <div class="col-xl-6">
                        <app-showcode-card [title]="'Sizes'" [prism]="prismCode.bordersTS8">
                                <img src="./assets/images/media/media-58.jpg" class="bd-placeholder-img bd-placeholder-img rounded-0" alt="...">
                                <img src="./assets/images/media/media-58.jpg" class="bd-placeholder-img bd-placeholder-img rounded-1" alt="...">
                                <img src="./assets/images/media/media-58.jpg" class="bd-placeholder-img bd-placeholder-img rounded-2" alt="...">
                                <img src="./assets/images/media/media-58.jpg" class="bd-placeholder-img bd-placeholder-img rounded-3" alt="...">
                                <img src="./assets/images/media/media-58.jpg" class="bd-placeholder-img bd-placeholder-img rounded-4" alt="...">
                                <img src="./assets/images/media/media-58.jpg" class="bd-placeholder-img bd-placeholder-img rounded-5" alt="...">
                        </app-showcode-card>
                    </div>
                </div>
                <!-- End:: row-4 -->