<app-page-header [title]="'Color Pickers'" [title1]="['Form Elements']" [activeitem]="'Color Pickers'"></app-page-header>
 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xl-3">
        <app-showcode-card [title]="'Bootstrap Color Picker'" [prism]="prismCode.colorpickerTS">
                <input type="color" class="form-control form-control-color border-0"
                        id="exampleColorInput" value="#136ad0" title="Choose your color">
        </app-showcode-card>
    </div>
    <div class="col-xl-9">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Classic
                </div>
            </div>
            <div class="card-body d-flex justify-content-between">
                <div>
                    <div class="theme-container"></div>
                    <div class="pickr-container example-picker">
                        <input [value]="color" [style.background]="color" [cpCancelButton]="true"
                        [cpCancelButtonClass]="'btn btn-primary btn-xs'" [cpEyeDropper]="true"
                        [(colorPicker)]="color" [cpOKButton]="true" [cpSaveClickOutside]="false"
                        [cpOKButtonClass]="'btn btn-primary btn-xs'" class="text-white" />
                    </div>
                </div>
                <div>
                    <div class="theme-container1"></div>
                    <div class="pickr-container1 example-picker">
                        <ngx-colors ngx-colors-trigger [(ngModel)]="color3" acceptLabel="Select" cancelLabel="Cancel">
                        </ngx-colors>
                    </div>
                </div>
                <div>
                    <div class="theme-container2"></div>
                    <div class="pickr-container2 example-picker">
                        <div class="example-palette-button" ngx-colors-trigger [(ngModel)]="input1"
                            [style.color]="input1">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="palette">
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->
