<app-page-header [title]="'Apex Radialbar Charts'" [activeitem]="'Apex Radialbar Charts'" [title1]="['Apex  Charts']"></app-page-header>

<!-- Start::row-1 -->
 <div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Pie Chart</div>
            </div>
            <div class="card-body">
                <div id="radialbar-basic">
                    <spk-apexcharts  [chartOptions]="chartOptions"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Multiple Radialbar Chart</div>
            </div>
            <div class="card-body">
                <div id="radialbar-multiple">
                    <spk-apexcharts  [chartOptions]="chartOptions1"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Circle Chart - Custom Angle</div>
            </div>
            <div class="card-body">
                <div id="circle-custom">
                    <spk-apexcharts  [chartOptions]="chartOptions2"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Gradient Circle Chart</div>
            </div>
            <div class="card-body">
                <div id="gradient-circle">
                    <spk-apexcharts  [chartOptions]="chartOptions3"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Stroked Circular Gauge</div>
            </div>
            <div class="card-body">
                <div id="circular-stroked">
                    <spk-apexcharts  [chartOptions]="chartOptions4"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Circle Chart With Image</div>
            </div>
            <div class="card-body">
                <div id="circle-image">
                    <spk-apexcharts  [chartOptions]="chartOptions5"></spk-apexcharts>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Semi Circular Gauge</div>
            </div>
            <div class="card-body">
                <div id="circular-semi">
                    <spk-apexcharts  [chartOptions]="chartOptions7"></spk-apexcharts>

                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->