<app-page-header [title]="'Notifications'" [title1]="['pages']" [activeitem]="'Notifications'"></app-page-header>


<div class="container-lg">
    <!-- Start::row-1 -->
    <div class="row ">
        @for (section of notificationSections; track $index) {
        <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled mb-0 notification-container">
                @for (notification of section; track $index) {
              <li>
                <spk-notifications-card
                  [type]="notification.type"
                  [title]="notification.title"
                  [message]="notification.message"
                  [iconBg]="notification.iconBg" 
                  [badge]="notification.badge"
                  [badgeClass]="notification.badgeClass"
                  [iconPath1]="notification.iconPath1"
                  [iconColor]="notification.iconColor"
                  [iconColor1]="notification.iconColor1"
                  [readTextBg]="notification.readTextBg"
                  [iconPath2]="notification.iconPath2"
                ></spk-notifications-card>
              </li>
            }
            </ul>
          </div>
        }
    </div>
    <!--End::row-1 -->

       <div class="fw-semibold fs-16 mb-4">Notifications Style-2</div>
    <!-- Start::row-2 -->
    <div class="row ">
        @for (section of notificationSections2; track $index) {
        <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled mb-0 notification-container">
                @for (notification of section; track $index) {
              <li>
                <spk-notifications-card
                  [type]="notification.type"
                  [title]="notification.title"
                  [message]="notification.message"
                  [iconBg]="notification.iconBg" 
                  [badge]="notification.badge"
                  [cardClass]="notification.cardClass"
                  [badgeClass]="notification.badgeClass"
                  [iconPath1]="notification.iconPath1"
                  [readTextBg]="notification.readTextBg"
                  [iconColor]="notification.iconColor"
                  [iconColor1]="notification.iconColor1"
                  [iconPath2]="notification.iconPath2"
                ></spk-notifications-card>
              </li>
            }
            </ul>
          </div>
        }
    </div>
    
    <!--End::row-2 -->

    <div class="fw-semibold fs-16 mb-4">Notifications Style-3</div>
    <!-- Start::row-3 -->
    <div class="row ">
        @for (section of notificationSections3; track $index) {
        <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled mb-0 notification-container">
                @for (notification of section; track $index) {
              <li>
                <spk-notifications-card
                  [type]="notification.type"
                  [title]="notification.title"
                  [message]="notification.message"
                  [iconBg]="notification.iconBg" 
                  [badge]="notification.badge"
                  [cardClass]="notification.cardClass"
                  [badgeClass]="notification.badgeClass"
                  [iconPath1]="notification.iconPath1"
                  [iconColor]="notification.iconColor"
                  [readTextBg]="notification.readTextBg"
                  [iconColor1]="notification.iconColor1"
                  [iconPath2]="notification.iconPath2"
                  [borderColor]="notification.type"
                  [textColor]="notification.type"
                ></spk-notifications-card>
              </li>
            }
            </ul>
          </div>
        }
    </div>
    <!--End::row-3 -->
    <div class="fw-semibold fs-16 mb-4">Notifications Style-4</div>
    <!-- Start::row-4 -->
    <div class="row ">
        @for (section of notifications; track $index) {
        <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled mb-0 notification-container">
                @for (notification of section; track $index) {
              <li>
                <spk-notifications-card4
                  [avatar]="notification.avatar"
                  [status]="notification.status"
                  [name]="notification.name"
                  [isImage]='true'
                  [description]="notification.description"
                  [badgeText]="notification.badgeText"
                  [verifiedText]='notification.verifiedText'
                  [badgeClass]="notification.badgeClass"  
                  [time]="notification.time"
                ></spk-notifications-card4>
              </li>
               }
            </ul>
          </div>
        }
    </div>
    <!--End::row-4 -->

    <div class="fw-semibold fs-16 mb-4">Notifications Style-5</div>
    <!-- Start::row-4 -->
    <div class="row ">
        @for (section of notifications5; track $index) {
        <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled mb-0 notification-container">
                @for (notification of section; track $index) {
              <li>
                <spk-notifications-card4
                  [avatarName]="notification.avatarName"
                  [isAvatar]='true'
                  [status]="notification.status"
                  [avatarBg]="notification.avatarBg"
                  [name]="notification.name"
                  [verifiedText]="notification.verifiedText"
                  [description]="notification.description"
                  [badgeText]="notification.badgeText"
                  [badgeClass]="notification.badgeClass"  
                  [time]="notification.time"
                ></spk-notifications-card4>
              </li>
               }
            </ul>
          </div>
        }
    </div>
    <!--End::row-4 -->
</div>