
<app-page-header [title]="'Alerts'" [title1]="['Ui Elements']" [activeitem]="'Alerts'"></app-page-header>
<!--ROW-START-->
<div class="row">
  <div class="col-xl-6">
    <app-showcode-card [classbody]="'pb-2'" [title]="'Basic Alert'"  [prism]="prsimCodeData.alertTS">
      <ngb-alert type="warning" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those
        fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <i class="bi bi-x"></i>
        </button>
      </ngb-alert>
    </app-showcode-card>
  </div>

  <div class="col-xl-6">
    <app-showcode-card
      [title]="'Live example'"
      [prism]="prsimCodeData.alertTS1"
      [tsCode]="tsCodeData.alertData2"
    >
      <div id="liveAlertPlaceholder">
        <div
          *ngFor="let alert of livealerts; let i = index"
          class="alert alert-success alert-dismissible mb-2"
          role="alert"
          aria-live="polite"
        >
          {{ alert }}
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="removeAlert(i)"
          >
            <i class="bi bi-x"></i>
          </button>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-primary"
        id="liveAlertBtn"
        (click)="showAlert()"
      >
        Show live alert
      </button>
    </app-showcode-card>
  </div>
  <div class="col-xl-6">
    <app-showcode-card
      class="card-title"
      [title]="'Default alerts'"
      [prism]="prsimCodeData.alertTS5"
    >
      @for(default of alertData;track default){
      <div class="mb-2">
        <spk-alerts
          [variant]="default.color"
          [title]="default.title"
        >
        {{ default.title }}
      </spk-alerts>
      </div>
      }
    </app-showcode-card>
  </div>
  <div class="col-xl-6">
    <app-showcode-card [title]="'Links in alerts'" [reuseCode]="reusableCode.alertreuse" [prism]="prsimCodeData.alertTS6">
      @for(alert of LinkAlerts; track alert; let i = $index){
      <div class="">
        <spk-alerts [variant]="alert.variant" [title]="alert.title" linkText="an example link"
          linkHref="javascript:void(0)" [isDismissible]="false" (close)="handleClose(i)">
          {{alert.title}} <a href="javascript:void(0);" class="alert-link">an example link</a>. Give it a click if you
          like.
        </spk-alerts>
      </div>
      }

    </app-showcode-card>
  </div>
  <div class="col-xl-6">
    <app-showcode-card [title]="' Solid Colored Alerts'" [reuseCode]="reusableCode.alertreuse" [prism]="prsimCodeData.alertTS7"
      [tsCode]="tsCodeData.alertData1">
      @for (alert of solidAlerts; track alert; let i = $index) {
      <spk-alerts [variant]="alert.type" [title]="alert.message" [isDismissible]="true" (close)="solidClose(i)">
        {{alert.message}}
        <button type="button" class="btn-close" (close)="solidClose(i)" data-bs-dismiss="alert" aria-label="Close">
          <i class="bi bi-x"></i>
        </button>
      </spk-alerts>
      }
    </app-showcode-card>
  </div>
  <div class="col-xl-6">
    <app-showcode-card
      class="card-title"
      [title]="'Outline Alerts'"
      [prism]="prsimCodeData.alertTS2"
      [tsCode]="tsCodeData.alertData"
    >
      @for (alert of outlineAlerts; track alert; let i = $index) {
      <div class="mb-2">
        <spk-alerts (close)="OutlineClose(i)"
          [variant]="alert.color"
          [title]="alert.title"
          [isDismissible]="true"
        >
        {{ alert.title }}
        <button type="button" class="btn-close" (close)="OutlineClose(i)" data-bs-dismiss="alert"
        aria-label="Close">
        <i class="bi bi-x"></i>
      </button>
        </spk-alerts>
        
      </div>
      }
    </app-showcode-card>
  </div>
 
  <div class="col-xl-6">
    <app-showcode-card
      class="card-title"
      [title]="'Solid Alerts With Different Shadows'"
      [prism]="prsimCodeData.alertTS3"
      [tsCode]="tsCodeData.alertData5"
    >
      <div class="example">
        @for (alert of shadowAlert; track alert; let i = $index) {
        <div class="mb-3">
          <spk-alerts (close)="shodowClose(i)"
            [variant]="getVariant(alert)"
            [title]="alert.title"
            [isDismissible]="true"
            >
            {{ alert.title }}
            <button type="button" class="btn-close" (close)="shodowClose(i)" data-bs-dismiss="alert"
            aria-label="Close">
            <i class="bi bi-x"></i>
          </button>
          </spk-alerts>
        </div>
        }
      </div>
    </app-showcode-card>
  </div>
  <div class="col-xl-6">
    <app-showcode-card
      class="card-title"
      [title]="'Default Alerts With Different Shadows'"
      [prism]="prsimCodeData.alertTS4"
    >
      @for(default of DiffshadowAlert;track default){
      <div class="mb-3">
        <spk-alerts (close)="differentShadowsAlertsClose(i)"
          [variant]="default.color"
          [title]="default.title"
          [isDismissible]="true"
        >
        {{ default.title }}
        <button type="button" class="btn-close" (close)="differentShadowsAlertsClose(i)" data-bs-dismiss="alert"
        aria-label="Close">
        <i class="bi bi-x"></i>
      </button>
      </spk-alerts>
      </div>
      }
    </app-showcode-card>
  </div>
 
 
  <div class="col-xl-6">
    <app-showcode-card
      class="card-title"
      [title]="'Rounded Solid Alerts'"
      [prism]="prsimCodeData.alertTS16"
      [tsCode]="tsCodeData.alertData3"
    >
      @for (alert of solidroundedAlerts; track alert; let i = $index) {
      <div class="mb-3">
        <spk-alerts (close)="solidroundedClose(i)"
          [variant]="getVariant(alert)"
          [title]="alert.title"
          [isDismissible]="true"
        >
        {{ alert.title }}
        <button type="button" class="btn-close" (close)="solidroundedClose(i)" data-bs-dismiss="alert"
        aria-label="Close">
        <i class="bi bi-x"></i>
      </button>
        </spk-alerts>
      </div>
      }
    </app-showcode-card>
  </div>
  <div class="col-xl-6">
    <app-showcode-card
      class="card-title"
      [title]="'Rounded Outline Alerts'"
      [prism]="prsimCodeData.alertTS8"
      [tsCode]="tsCodeData.alertData4"
    >
      @for (alert of roundedoutlineAlerts; track alert; let i = $index) {
      <div class="">
        <spk-alerts (close)="RoundedOutlineClose(i)"
          [variant]="alert.color"
          [title]="alert.title"
          [isDismissible]="true"
          >
          {{ alert.title }}
          <button type="button" class="btn-close" (close)="RoundedOutlineClose(i)" data-bs-dismiss="alert"
          aria-label="Close">
          <i class="bi bi-x"></i>
        </button>
        </spk-alerts>
      </div>
      }
    </app-showcode-card>
  </div>
  <div class="col-xl-6">
    <app-showcode-card [title]="'Rounded Default Alerts'" [reuseCode]="reusableCode.alertreuse" [prism]="prsimCodeData.alertTS9"
    [tsCode]="tsCodeData.alertData6">
    @for (alert of roundeDefaultAlerts; track alert; let i = $index) {
    <spk-alerts [variant]="alert.type" [isDismissible]="true" (close)="roundeDefaultClose(i)">
      {{alert.message}}
      <button type="button" class="btn-close" (close)="roundeDefaultClose(i)" data-bs-dismiss="alert"
        aria-label="Close">
        <i class="bi bi-x"></i>
      </button>
    </spk-alerts>

    }
  </app-showcode-card>
  </div>
  <div class="col-xl-6">
    <app-showcode-card [title]="' Rounded Alerts With Custom Close Button'" [reuseCode]="reusableCode.alertreuse" [prism]="prsimCodeData.alertTS10"
      [tsCode]="tsCodeData.alertData7">
      @for (alert of CustomeButtonAlerts; track alert; let i = $index) {
      <spk-alerts [variant]="alert.color" [isDismissible]="true" (close)="CustomeButtonClose(i)" >
        {{alert.title}}
        <button type="button" class="btn-close custom-close" (close)="CustomeButtonClose(i)" data-bs-dismiss="alert"
          aria-label="Close">
          <i class="bi bi-x"></i>
        </button>
      </spk-alerts>
      }
    </app-showcode-card>
  </div>
  <div class="col-xl-6">
    <app-showcode-card [title]="'Alerts with icons'" [reuseCode]="reusableCode.alertreuse" [prism]="prsimCodeData.alertTS12">
      @for (alert of CustomizedIconAlerts; track alert; let i = $index) {
      <spk-alerts [variant]="alert.type">
        <span [innerHTML]="getSanitizedSVG(alert.icon)"></span>
        {{alert.message}}
      </spk-alerts>
      }
    </app-showcode-card>
  </div>
  <div class="col-xl-6">
    <app-showcode-card [title]="'  Customized Alerts With SVGs'" [reuseCode]="reusableCode.alertreuse" [prism]="prsimCodeData.alertTS11"
      [tsCode]="tsCodeData.alertData8" [classbody]="''">
      @for (alert of CustomizedButtonAlerts; track alert; let i = $index) {
      <spk-alerts [variant]="alert.type" [isDismissible]="true" (close)="customizedAlertclose(i)">
        <span [innerHTML]="getSanitizedSVG(alert.icon)"></span>
        {{alert.message}}
        <button type="button" class="btn-close" (close)="customizedAlertclose(i)" data-bs-dismiss="alert"
          aria-label="Close">
          <i class="bi bi-x"></i>
        </button>
      </spk-alerts>
      }
    </app-showcode-card>
  </div>
 
  <div class="col-xl-6">
    <app-showcode-card [title]="'  Alerts With Images'" [reuseCode]="reusableCode.alertreuse" [prism]="prsimCodeData.alertTS13" [classbody]="'my-2'">
      @for(alert of imageAlerts;track alert; let i = $index){
      <spk-alerts [variant]="alert.type" [isDismissible]="true" (close)="imageAlertsClose(i)">
        <div class="avatar avatar-sm me-3 avatar-rounded">
          <img [src]="alert.image" alt="img" />
        </div>
        {{alert.message}}
        <button type="button" class="btn-close" (close)="imageAlertsClose(i)" data-bs-dismiss="alert"
          aria-label="Close">
          <i class="bi bi-x" [ngClass]="alert.type === 'dark alert-img  rounded-pill flex-wrap' ? 'text-muted' : ''">
          </i>
        </button>
      </spk-alerts>
      }

    </app-showcode-card>
  </div>
  <div class="col-xl-6">
    <app-showcode-card [title]="'   Alerts With Different size Images'" [reuseCode]="reusableCode.alertreuse" [prism]="prsimCodeData.alertTS14">
      @for(alert of imageSizeAlerts;track alert; let i = $index){
      <spk-alerts [variant]="alert.type" [isDismissible]="true" (close)="ImageSizeAlertclose(i)">
        <div class="avatar {{alert.avatarClass }} me-3">
          <img [src]="alert.image" alt="img" />
        </div>
        {{alert.message}}
        <button type="button" class="btn-close" (close)="ImageSizeAlertclose(i)" data-bs-dismiss="alert"
          aria-label="Close">
          <i class="bi bi-x" [ngClass]="alert.type === 'dark alert-img   flex-wrap' ? 'text-muted' : ''"> </i>
        </button>
      </spk-alerts>
      }

    </app-showcode-card>
  </div>
  <div class="col-xl-12">
    <div class="row">
      <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card" [(ngbCollapse)]="isClosed1">
          <div class="alert custom-alert1 alert-primary">
            <button
              type="button"
              class="btn-close ms-auto"
              data-bs-dismiss="alert"
              aria-label="Close"
              (click)="Closetoggle('one')"
              [attr.aria-expanded]="!isClosed1"
            >
              <i class="bi bi-x"></i>
            </button>
            <div class="text-center px-5 pb-0 svg-primary">
              <svg
                class="custom-alert-icon svg-primary"
                xmlns="http://www.w3.org/2000/svg"
                height="1.5rem"
                viewBox="0 0 24 24"
                width="1.5rem"
                fill="#000000"
              >
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"
                />
              </svg>
              <h5>Information?</h5>
              <p class="">
                This alert is created to just show the related information.
              </p>
              <div class="">
                <button class="btn btn-sm btn-outline-danger m-1">
                  Decline
                </button>
                <button class="btn btn-sm btn-primary m-1">Accept</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card" [(ngbCollapse)]="isClosed2">
          <div class="alert custom-alert1 alert-secondary">
            <button
              type="button"
              class="btn-close ms-auto"
              data-bs-dismiss="alert"
              aria-label="Close"
              (click)="Closetoggle('two')"
              [attr.aria-expanded]="!isClosed2"
            >
              <i class="bi bi-x"></i>
            </button>
            <div class="text-center px-5 pb-0 svg-secondary">
              <svg
                class="custom-alert-icon svg-secondary"
                xmlns="http://www.w3.org/2000/svg"
                height="1.5rem"
                viewBox="0 0 24 24"
                width="1.5rem"
                fill="#000000"
              >
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
                />
              </svg>
              <h5>Confirmed</h5>
              <p class="">
                This alert is created to just show the confirmation message.
              </p>
              <div class="">
                <button class="btn btn-sm btn-secondary m-1">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card" [(ngbCollapse)]="isClosed3">
          <div class="alert custom-alert1 alert-warning">
            <button
              type="button"
              class="btn-close ms-auto"
              data-bs-dismiss="alert"
              aria-label="Close"
              (click)="Closetoggle('three')"
              [attr.aria-expanded]="!isClosed3"
            >
              <i class="bi bi-x"></i>
            </button>
            <div class="text-center px-5 pb-0 svg-warning">
              <svg
                class="custom-alert-icon svg-warning"
                xmlns="http://www.w3.org/2000/svg"
                height="1.5rem"
                viewBox="0 0 24 24"
                width="1.5rem"
                fill="#000000"
              >
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
              </svg>
              <h5>Warning</h5>
              <p class="">
                This alert is created to just show the warning message.
              </p>
              <div class="">
                <button class="btn btn-sm btn-outline-secondary m-1">
                  Back
                </button>
                <button class="btn btn-sm btn-warning m-1">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card" [(ngbCollapse)]="isClosed4">
          <div class="alert custom-alert1 alert-danger">
            <button
              type="button"
              class="btn-close ms-auto"
              data-bs-dismiss="alert"
              aria-label="Close"
              (click)="Closetoggle('four')"
              [attr.aria-expanded]="!isClosed4"
            >
              <i class="bi bi-x"></i>
            </button>
            <div class="text-center px-5 pb-0 svg-danger">
              <svg
                class="custom-alert-icon svg-danger"
                xmlns="http://www.w3.org/2000/svg"
                height="1.5rem"
                viewBox="0 0 24 24"
                width="1.5rem"
                fill="#000000"
              >
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M15.73 3H8.27L3 8.27v7.46L8.27 21h7.46L21 15.73V8.27L15.73 3zM12 17.3c-.72 0-1.3-.58-1.3-1.3 0-.72.58-1.3 1.3-1.3.72 0 1.3.58 1.3 1.3 0 .72-.58 1.3-1.3 1.3zm1-4.3h-2V7h2v6z"
                />
              </svg>
              <h5>danger</h5>
              <p class="">
                This alert is created to just show the danger message.
              </p>
              <div class="">
                <button class="btn btn-sm btn-danger m-1">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12">
    <div class="row">
      <div class="col-xl-3">
        <div class="card border-0" [(ngbCollapse)]="isClosed5">
          <div class="alert alert-primary border border-primary mb-0 p-2">
            <div class="d-flex align-items-start">
              <div class="me-2 svg-primary">
                <svg class="flex-shrink-0 svg-primary" xmlns="http://www.w3.org/2000/svg" height="1.5rem"
                  viewBox="0 0 24 24" width="1.5rem" fill="#000000">
                  <path d="M0 0h24v24H0V0z" fill="none" />
                  <path
                    d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                </svg>
              </div>
              <div class="text-primary w-100">
                <div class="fw-semibold d-flex justify-content-between">
                  Information Alert<button type="button" class="btn-close p-0" data-bs-dismiss="alert"
                    aria-label="Close" (click)="Closetoggle('five')" [attr.aria-expanded]="!isClosed5">
                    <i class="bi bi-x"></i>
                  </button>
                </div>
                <div class="fs-12 op-8 mb-1">
                  Information alert to show to information
                </div>
                <div class="fs-12">
                  <a href="javascript:void(0);" class="text-secondary fw-semibold me-2 d-inline-block">cancel</a>
                  <a href="javascript:void(0);" class="text-primary fw-semibold">open</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="card border-0" [(ngbCollapse)]="isClosed6">
          <div class="alert alert-secondary border border-secondary mb-0 p-2">
            <div class="d-flex align-items-start">
              <div class="me-2 svg-secondary">
                <svg class="flex-shrink-0 svg-secondary" xmlns="http://www.w3.org/2000/svg" height="1.5rem"
                  viewBox="0 0 24 24" width="1.5rem" fill="#000000">
                  <path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none" />
                  <path
                    d="M16.59 7.58L10 14.17l-3.59-3.58L5 12l5 5 8-8zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                </svg>
              </div>
              <div class="text-secondary w-100">
                <div class="fw-semibold d-flex justify-content-between">
                  Success Alert<button type="button" class="btn-close p-0" data-bs-dismiss="alert" aria-label="Close"
                    (click)="Closetoggle('six')" [attr.aria-expanded]="!isClosed6">
                    <i class="bi bi-x"></i>
                  </button>
                </div>
                <div class="fs-12 op-8 mb-1">
                  Success alert to show to success message
                </div>
                <div class="fs-12">
                  <a href="javascript:void(0);" class="text-danger fw-semibold me-2 d-inline-block">cancel</a>
                  <a href="javascript:void(0);" class="text-secondary fw-semibold">open</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="card border-0" [(ngbCollapse)]="isClosed7">
          <div class="alert alert-warning border border-warning mb-0 p-2">
            <div class="d-flex align-items-start">
              <div class="me-2 svg-warning">
                <svg class="flex-shrink-0 svg-warning" xmlns="http://www.w3.org/2000/svg"
                  enable-background="new 0 0 24 24" height="1.5rem" viewBox="0 0 24 24" width="1.5rem" fill="#000000">
                  <g>
                    <rect fill="none" height="24" width="24" />
                  </g>
                  <g>
                    <g>
                      <g>
                        <path d="M12,5.99L19.53,19H4.47L12,5.99 M12,2L1,21h22L12,2L12,2z" />
                        <polygon points="13,16 11,16 11,18 13,18" />
                        <polygon points="13,10 11,10 11,15 13,15" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="text-warning w-100">
                <div class="fw-semibold d-flex justify-content-between">
                  Warning Alert<button type="button" class="btn-close p-0" data-bs-dismiss="alert" aria-label="Close"
                    (click)="Closetoggle('seven')" [attr.aria-expanded]="!isClosed7">
                    <i class="bi bi-x"></i>
                  </button>
                </div>
                <div class="fs-12 op-8 mb-1">
                  Warning alert to show warning message
                </div>
                <div class="fs-12">
                  <a href="javascript:void(0);" class="text-dark fw-semibold me-2 d-inline-block">cancel</a>
                  <a href="javascript:void(0);" class="text-warning fw-semibold">open</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="card border-0" [(ngbCollapse)]="isClosed8">
          <div class="alert alert-danger border border-danger mb-0 p-2">
            <div class="d-flex align-items-start">
              <div class="me-2 svg-danger">
                <svg class="flex-shrink-0 svg-danger" xmlns="http://www.w3.org/2000/svg"
                  enable-background="new 0 0 24 24" height="1.5rem" viewBox="0 0 24 24" width="1.5rem" fill="#000000">
                  <g>
                    <rect fill="none" height="24" width="24" />
                  </g>
                  <g>
                    <g>
                      <g>
                        <path
                          d="M15.73,3H8.27L3,8.27v7.46L8.27,21h7.46L21,15.73V8.27L15.73,3z M19,14.9L14.9,19H9.1L5,14.9V9.1L9.1,5h5.8L19,9.1V14.9z" />
                        <rect height="6" width="2" x="11" y="7" />
                        <rect height="2" width="2" x="11" y="15" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="text-danger w-100">
                <div class="fw-semibold d-flex justify-content-between">
                  Danger Alert<button type="button" class="btn-close p-0" data-bs-dismiss="alert" aria-label="Close"
                    (click)="Closetoggle('eight')" [attr.aria-expanded]="!isClosed8">
                    <i class="bi bi-x"></i>
                  </button>
                </div>
                <div class="fs-12 op-8 mb-1">
                  Danger alert to show the danger message
                </div>
                <div class="fs-12">
                  <a href="javascript:void(0);" class="text-info fw-semibold me-2 d-inline-block">cancel</a>
                  <a href="javascript:void(0);" class="text-danger fw-semibold">open</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12">
    <div class="row">
      <div class="col-xl-3">
        <div class="card border-0" [(ngbCollapse)]="isClosed9">
          <div class="alert alert-solid-primary border border-primary mb-0 p-2">
            <div class="d-flex align-items-start">
              <div class="me-2 svg-white">
                <svg class="flex-shrink-0 svg-white" xmlns="http://www.w3.org/2000/svg" height="1.5rem"
                  viewBox="0 0 24 24" width="1.5rem" fill="#000000">
                  <path d="M0 0h24v24H0V0z" fill="none" />
                  <path
                    d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                </svg>
              </div>
              <div class="text-fixed-white w-100">
                <div class="fw-semibold d-flex justify-content-between">
                  Information Alert<button type="button" class="btn-close p-0" data-bs-dismiss="alert"
                    aria-label="Close" (click)="Closetoggle('nine')" [attr.aria-expanded]="!isClosed9">
                    <i class="bi bi-x"></i>
                  </button>
                </div>
                <div class="fs-12 op-8 mb-1">
                  Information alert to show to information
                </div>
                <div class="fs-12">
                  <a href="javascript:void(0);" class="text-fixed-white fw-semibold me-2 op-7">cancel</a>
                  <a href="javascript:void(0);" class="text-fixed-white fw-semibold">open</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="card border-0" [(ngbCollapse)]="isClosed10">
          <div class="alert alert-solid-secondary border border-secondary mb-0 p-2">
            <div class="d-flex align-items-start">
              <div class="me-2 svg-white">
                <svg class="flex-shrink-0 svg-white" xmlns="http://www.w3.org/2000/svg" height="1.5rem"
                  viewBox="0 0 24 24" width="1.5rem" fill="#000000">
                  <path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none" />
                  <path
                    d="M16.59 7.58L10 14.17l-3.59-3.58L5 12l5 5 8-8zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                </svg>
              </div>
              <div class="text-fixed-white w-100">
                <div class="fw-semibold d-flex justify-content-between">
                  Success Alert<button type="button" class="btn-close p-0" data-bs-dismiss="alert" aria-label="Close"
                    (click)="Closetoggle('ten')" [attr.aria-expanded]="!isClosed10">
                    <i class="bi bi-x"></i>
                  </button>
                </div>
                <div class="fs-12 op-8 mb-1">
                  Success alert to show to success message
                </div>
                <div class="fs-12">
                  <a href="javascript:void(0);" class="text-fixed-white fw-semibold me-2">close</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="card border-0" [(ngbCollapse)]="isClosed11">
          <div class="alert alert-solid-warning border border-warning mb-0 p-2">
            <div class="d-flex align-items-start">
              <div class="me-2 svg-white">
                <svg class="flex-shrink-0 svg-white" xmlns="http://www.w3.org/2000/svg"
                  enable-background="new 0 0 24 24" height="1.5rem" viewBox="0 0 24 24" width="1.5rem" fill="#000000">
                  <g>
                    <rect fill="none" height="24" width="24" />
                  </g>
                  <g>
                    <g>
                      <g>
                        <path d="M12,5.99L19.53,19H4.47L12,5.99 M12,2L1,21h22L12,2L12,2z" />
                        <polygon points="13,16 11,16 11,18 13,18" />
                        <polygon points="13,10 11,10 11,15 13,15" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="text-fixed-white w-100">
                <div class="fw-semibold d-flex justify-content-between">
                  Warning Alert<button type="button" class="btn-close p-0" data-bs-dismiss="alert" aria-label="Close"
                    (click)="Closetoggle('eleven')" [attr.aria-expanded]="!isClosed11">
                    <i class="bi bi-x"></i>
                  </button>
                </div>
                <div class="fs-12 op-8 mb-1">
                  Warning alert to show to warning message
                </div>
                <div class="fs-12">
                  <a href="javascript:void(0);" class="text-fixed-white fw-semibold me-2 op-7">skip</a>
                  <a href="javascript:void(0);" class="text-fixed-white fw-semibold">open</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="card border-0" [(ngbCollapse)]="isClosed12">
          <div class="alert alert-solid-danger border border-danger mb-0 p-2">
            <div class="d-flex align-items-start">
              <div class="me-2 svg-white">
                <svg class="flex-shrink-0 svg-white" xmlns="http://www.w3.org/2000/svg"
                  enable-background="new 0 0 24 24" height="1.5rem" viewBox="0 0 24 24" width="1.5rem" fill="#000000">
                  <g>
                    <rect fill="none" height="24" width="24" />
                  </g>
                  <g>
                    <g>
                      <g>
                        <path
                          d="M15.73,3H8.27L3,8.27v7.46L8.27,21h7.46L21,15.73V8.27L15.73,3z M19,14.9L14.9,19H9.1L5,14.9V9.1L9.1,5h5.8L19,9.1V14.9z" />
                        <rect height="6" width="2" x="11" y="7" />
                        <rect height="2" width="2" x="11" y="15" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="text-fixed-white w-100">
                <div class="fw-semibold d-flex justify-content-between">
                  Danger Alert<button type="button" class="btn-close p-0" data-bs-dismiss="alert" aria-label="Close"
                    (click)="Closetoggle('twelve')" [attr.aria-expanded]="!isClosed12">
                    <i class="bi bi-x"></i>
                  </button>
                </div>
                <div class="fs-12 op-8 mb-1">
                  Danger alert to show to danger message
                </div>
                <div class="fs-12">
                  <a href="javascript:void(0);" class="text-fixed-white fw-semibold me-2 op-7">close</a>
                  <a href="javascript:void(0);" class="text-fixed-white fw-semibold">continue</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12">
    <app-showcode-card [title]="'Additional content'" [prism]="prsimCodeData.alertTS17">
      <div class="row gy-3 additional-style">
          @for (alert of additionalInfoAlert; track alert; let i = $index) {
          <div class="col-xl-6">
            <spk-alerts [variant]="alert.variant" [title]="alert.title" [isDismissible]="true"
              (close)="additionalInfoClose(i)">
                <div class="p-3 bg-{{alert.variant}} text-fixed-white d-flex justify-content-between">
                  <h6 class="aletr-heading mb-0 text-fixed-white">{{alert.title}}</h6> 
                </div>
                <hr class="my-0">
                <div class="p-3">
                  <p class="mb-0">{{alert.message}} <a href="javascript:void(0);" class="fw-medium text-decoration-underline"> {{alert.linkTitle}}</a></p>
                </div>
                <button type="button" class="btn-close" (close)="additionalInfoClose(i)" data-bs-dismiss="alert"
                aria-label="Close">
                <i class="bi bi-x"></i>
              </button>
            </spk-alerts>
          </div>
          }
      </div>
    </app-showcode-card>
  </div>
</div>
<!--ROW-END-->