
                            
  <div class="card custom-card overflow-hidden" [ngClass]="highlightClass">
      @if (discountBadge) {
      <!-- <div class="pricing-offer overflow-hidden"> -->
        <span class="pricing-offer-details shadow">
          <span class="fw-semibold">{{ discountBadge.percent }}</span>
          <span class="fs-10 op-8 ms-1">{{ discountBadge.text }}</span>
        </span>
      <!-- </div> -->
    }
    <div class="card-body p-0">
      <div class="p-4">
        <h6 class="fw-semibold text-center">{{ title }}</h6>
        <div class="py-4 d-flex align-items-center justify-content-center">
          <div class="pricing-svg1" [innerHTML]="sanitizeIcon(svgIcon)"></div>
          <div class="text-end ms-5">
            <p class="fs-25 fw-semibold mb-0">{{ price }}</p>
            <p class="text-muted op-5 fs-11 fw-semibold mb-0">{{ pricePeriod }}</p>
          </div>
        </div>
        <ul class="list-unstyled text-center fs-12 px-3 pt-3 mb-0">
          @for (feature of features; track $index) {
          <li class="mb-3">
            <span class="text-muted">
              {{ feature.label }}
              @if (feature.badge) {
              <span class="badge bg-light text-default ms-1">{{ feature.badge }}</span>
              }
            </span>
          </li>
        }
        </ul>
        <div class="d-grid">
          <button class="btn btn-wave" [ngClass]="buttonClass" type="button">{{ buttonText }}</button>
        </div>
      </div>
    </div>
  </div>
