<div class="card custom-card overlay-card">
    <img [src]="imageUrl" class="card-img" alt="Overlay image">
    <div class="card-img-overlay d-flex flex-column p-0" [ngClass]="contentPosition">
      @if(title){

        <div class="card-header" >
          <div class="card-title text-fixed-white">
            {{ title }}
          </div>
        </div>
      }
      <div class="card-body text-fixed-white">
        @if(bodyTitle){

          <div class="card-text mb-2 {{bodyTitleClass}}"> {{bodyTitle}} </div>
        }
        @if(content){

          <div class="card-text mb-2" >
            {{ content }}
          </div>
        }
      </div>
      @if(footerText){

        <div class="card-footer text-fixed-white">
          {{ footerText }}
        </div>
      }
    </div>
  </div>
  