<app-page-header [title]="'Add Product'" [title1]="['Ecommerce']" [activeitem]="'Add Product'"></app-page-header>
 <!-- Start::row-1 -->
  <div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body add-products p-0">
                <div class="p-4">
                    <div class="row gx-5">
                        <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-6">
                            <div class="card custom-card shadow-none mb-0 border-0">
                                <div class="card-body p-0">
                                    <div class="row gy-3">
                                        <div class="col-xl-12">
                                            <label for="product-name-add" class="form-label">Product Name</label>
                                            <input type="text" class="form-control" id="product-name-add" placeholder="Name">
                                            <label for="product-name-add" class="form-label mt-1 fs-12 op-5 text-muted mb-0">*Product Name should not exceed 30 characters</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="product-category-add" class="form-label">Category</label>
                                            <spk-ng-select 
                                            [options]="simpleItems2"
                                            [selectClass]="'rounded w-full'"
                                            [clearable]="true"
                                            [searchable]="true"
                                            [placeholder]="'Select'"
                                            [additionalProperties]="{}">
                                            </spk-ng-select>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="product-gender-add" class="form-label">Gender</label>
                                            <spk-ng-select 
                                            [options]="simpleItems3"
                                            [selectClass]="'rounded w-full'"
                                            [clearable]="true"
                                            [searchable]="true"
                                            [placeholder]="'Select'"
                                            [additionalProperties]="{}">
                                            </spk-ng-select>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="product-size-add" class="form-label">Size</label>
                                            <spk-ng-select 
                                            [options]="simpleItems"
                                            [selectClass]="'rounded w-full'"
                                            [clearable]="true"
                                            [searchable]="true"
                                            [placeholder]="'Select'"
                                            [additionalProperties]="{}">
                                            </spk-ng-select>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="product-brand-add" class="form-label">Brand</label>
                                            <spk-ng-select 
                                            [options]="simpleItems1"
                                            [selectClass]="'rounded w-full'"
                                            [clearable]="true"
                                            [searchable]="true"
                                            [placeholder]="'Select'"
                                            [additionalProperties]="{}">
                                            </spk-ng-select>
                                        </div>
                                        <div class="col-xl-6 color-selection">
                                            <label for="product-color-add" class="form-label">Colors</label>
                                            <spk-ng-select 
                                            [options]="simpleItems4"
                                            [selectClass]="'rounded w-full'"
                                            [clearable]="true"
                                            [searchable]="true"
                                            [multiple]="true"
                                            [placeholder]="'Select'"
                                            [additionalProperties]="{}">
                                            </spk-ng-select>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="product-cost-add" class="form-label">Enter Cost</label>
                                            <input type="text" class="form-control" id="product-cost-add" placeholder="Cost">
                                            <label for="product-cost-add" class="form-label mt-1 fs-12 op-5 text-muted mb-0">*Mention final price of the product</label>
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="product-description-add" class="form-label">Product Description</label>
                                            <textarea class="form-control" id="product-description-add" rows="2"></textarea>
                                            <label for="product-description-add" class="form-label mt-1 fs-12 op-5 text-muted mb-0">*Description should not exceed 500 letters</label>
                                        </div>
                                        <div class="col-xl-12">
                                            <label class="form-label">Product Features</label>
                                            <div id="product-features">
                                                <form [formGroup]="form">
                                                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                                    </ngx-editor-menu>
                                                    <ngx-editor [editor]="editor">
                                                    </ngx-editor>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-6">
                            <div class="card custom-card shadow-none mb-0 border-0">
                                <div class="card-body p-0">
                                    <div class="row gy-4">
                                        <div class="col-xl-4">
                                            <label for="product-actual-price" class="form-label">Actual Price</label>
                                            <input type="text" class="form-control" id="product-actual-price" placeholder="Actual Price">
                                        </div>
                                        <div class="col-xl-4">
                                            <label for="product-dealer-price" class="form-label">Dealer Price</label>
                                            <input type="text" class="form-control" id="product-dealer-price" placeholder="Dealer Price">
                                        </div>
                                        <div class="col-xl-4">
                                            <label for="product-discount" class="form-label">Discount</label>
                                            <input type="text" class="form-control" id="product-discount" placeholder="Discount in %">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="product-type" class="form-label">Product Type</label>
                                            <input type="text" class="form-control" id="product-type" placeholder="Type">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="product-discount" class="form-label">Item Weight</label>
                                            <input type="text" class="form-control" id="product-discount1" placeholder="Weight in gms">
                                        </div>
                                        <div class="col-xl-12 product-documents-container">
                                            <p class="fw-semibold mb-2 fs-14">Product Images :</p>
                                            <file-pond multiple class="product-Images" data-allow-reorder="true" data-max-file-size="3MB" data-max-files="6" [options]="pondOptions" [files]="pondFiles"
                                            (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)"
                                            (onactivatefile)="pondHandleActivateFile($event)">
                                        </file-pond>
                                        </div>
                                        <label class="form-label op-5 mt-3">Minimum 0f 6 images are need to be uploaded,make sure the image size match the proper background size and all images should be uniformly maintained with width and height to the image container,image size should not exceed 2MB,once uploaded to change the image you need to wait minimum of 24hrs. </label>
                                        <div class="col-xl-12 product-documents-container">
                                            <p class="fw-semibold mb-2 fs-14">Warrenty Documents :</p>
                                            <file-pond multiple class="product-Images" data-allow-reorder="true" data-max-file-size="3MB" data-max-files="6" [options]="pondOptions" [files]="pondFiles"
                                            (oninit)="pondHandleInit()" (onaddfile)="pondHandleAddFile($event)"
                                            (onactivatefile)="pondHandleActivateFile($event)">
                                        </file-pond>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="publish-date" class="form-label">Publish Date</label>
                                            <spk-flatpickr placeholder="Choose date" class="form-control"
                                            [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="false"
                                            [dateFormat]="'Y-m-d'"></spk-flatpickr>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="publish-time" class="form-label">Publish Time</label>
                                            <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control" [noCalendar]="true"
                                            [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="true"
                                            [dateFormat]="'H:i'"></spk-flatpickr>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="product-status-add" class="form-label">Published Status</label>
                                            <spk-ng-select 
                                            [options]="simpleItems5"
                                            [selectClass]="'w-full rounded'"
                                            [clearable]="true"
                                            [searchable]="true"
                                            [placeholder]="'Select'"
                                            [hideSelected]="true"
                                            [additionalProperties]="{}">
                                            </spk-ng-select>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="product-tags" class="form-label">Product Tags</label>
                                            <spk-ng-select 
                                            [options]="Tags"
                                            [selectClass]="''"
                                            [clearable]="true"
                                            [multiple]="true"
                                            [defaultValue]="selectedTags"
                                            [searchable]="true"
                                            [placeholder]="'Select'"
                                            [hideSelected]="true"
                                            [additionalProperties]="{}">
                                            </spk-ng-select>
                                        </div>
                                        <div class="col-xl-12">
                                            <label for="product-status-add1" class="form-label">Availability</label>
                                            <spk-ng-select 
                                            [options]="Avaliability"
                                            [selectClass]="'rounded w-full'"
                                            [clearable]="true"
                                            [searchable]="true"
                                            [placeholder]="'Select'"
                                            [hideSelected]="true"
                                            [additionalProperties]="{}">
                                            </spk-ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 border-top border-block-start-dashed d-sm-flex justify-content-end">
                    <button class="btn btn-primary-light m-1">Add Product<i class="bi bi-plus-lg ms-2"></i></button>
                    <button class="btn btn-success-light m-1">Save Product<i class="bi bi-download ms-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->