<div class="card custom-card custom-component">
    <div class="card-header justify-content-between">
        <div class="card-title" [innerHTML]="title">
        </div>
        <div class="prism-toggle">
            <button class="btn btn-sm btn-primary-light" (click)="toggleShowCode()">Show Code<i
                    class="ri-eye-{{toggleStatus  ? 'off-line' : 'line'}} ms-2 d-inline-block align-middle fs-14"></i></button>
        </div>
    </div>
    @if(!toggleStatus){

    <div class="card-body {{classbody}}">
        <ng-content></ng-content>
    </div>
    }
    @else{
    <div class="card-footer  border-top-0">
        <figure class="highlight clip-widget custom-tabs" id="avatar1">
            <ul ngbNav #nav1="ngbNav" [activeId]="1" class="nav nav-pills nav-style-3 mb-3 tabs">
              <li [ngbNavItem]="1">
                <a ngbNavLink>HTML</a>
                <ng-template ngbNavContent>
                    <pre class="language-html"><code class="language-html" >
                        {{prism}}
                       
                    </code></pre>
                 
                </ng-template>
              </li>
              @if(tsCode){

                  <li [ngbNavItem]="2">
                    <a ngbNavLink>TS</a>
                    <ng-template ngbNavContent>
                        <pre class="language-html"><code class="language-html" >
                            {{tsCode}}
                           
                        </code></pre>
                    
                    </ng-template>
                  </li>
              }
              @if(reuseCode){

                <li [ngbNavItem]="3">
                  <a ngbNavLink>Reusable Code</a>
                  <ng-template ngbNavContent>
                      <pre class="language-html"><code class="language-html" >
                          {{reuseCode}}
                         
                      </code></pre>
                  
                  </ng-template>
                </li>
            }
            </ul>
            <div [ngbNavOutlet]="nav1"></div>
          </figure>
     
        <!-- Prism Code -->
    </div>
    }
</div>