<div class="login-container">


  <div class="card text-start landing-missions" (click)="loginAsEmployee()" style="width: 300px;">
    <div class="card-body">
      <div class="align-items-top">
        <div class="mb-2">
          <span class="avatar avatar-lg avatar-rounded bg-primary-transparent">
          </span>
        </div>
        <div>
          <h6 class="fw-semibold mb-1">
            Bejelentkezés Dolgozóként
          </h6>
          <p class="mb-0 text-muted">
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-start landing-missions" (click)="loginAsStudent()" style="width: 300px;">
    <div class="card-body">
      <div class="align-items-top">
        <div class="mb-2">
          <span class="avatar avatar-lg avatar-rounded bg-primary-transparent">
          </span>
        </div>
        <div>
          <h6 class="fw-semibold mb-1">
            Bejelentkezés Diákként
          </h6>
          <p class="mb-0 text-muted">
          </p>
        </div>
      </div>
    </div>
  </div>


</div>
