<app-page-header [title]="'Wishlist'" [title1]="['Ecommerce']" [activeitem]="'Wishlist'"></app-page-header>
  <!-- Start::row-1 -->
  <div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div class="fs-15 mb-0">Total <span class="badge bg-success">08</span> products are wishlisted</div>
                <div class="d-flex" role="search">
                    <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-sm btn-light" type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>
            @for (product of items; track $index) {
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12" >
              <div class="card custom-card product-card">
                <div class="card-body">
                  <a href="javascript:void(0)" class="product-image">
                    <img [src]="product.image" class="card-img mb-3" alt="...">
                  </a>
                  <div class="product-icons">
                    <a href="javascript:void(0);" (click)="ConformAlert(product.id)" class="wishlist btn-delete"><i class="ri-close-line"></i></a>
                  </div>
                  <p class="product-name fw-semibold mb-0 d-flex align-items-center justify-content-between">{{ product.name }}
                    <span class="float-end text-warning fs-12">{{ product.rating }}<i class="ri-star-s-fill align-middle ms-1"></i></span>
                  </p>
                  <p class="product-description fs-11 text-muted mb-2">laborum et dolorum fuga</p>
                  <p class="mb-1 fw-semibold fs-16 d-flex align-items-center justify-content-between">
                    <span>${{ product.price }}<span class="text-muted text-decoration-line-through ms-1 op-6 d-inline-block">${{ product.originalPrice }}</span></span>
                    <span class="badge bg-secondary-transparent float-end fs-10">{{ product.discount }}% off</span>
                  </p>
                  <p class="fs-11 text-success fw-semibold mb-0 d-flex align-items-center">
                    <i class="ti ti-discount-2 fs-16 me-1"></i>Offer Price ${{ product.price }}
                  </p>
                </div>
                <div class="card-footer text-center">
                  <a routerLink="/pages/ecommerce/cart" class="btn btn-primary-light m-1">
                    <i class="ri-shopping-cart-2-line me-2 align-middle d-inline-block"></i>Move To Cart
                  </a>
                  <a [routerLink]="['/pages/ecommerce/productdetails']" class="btn btn-success-light m-1">
                    <i class="ri-eye-line me-2 align-middle d-inline-block"></i>View Product
                  </a>
                </div>
              </div>
            </div>
}
</div>
<!--End::row-1 -->
  
<ul class="pagination justify-content-end">
    <li class="page-item disabled">
        <a class="page-link" href="javascript:void(0)">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)" >1</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)" >2</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)" >3</a></li>
    <li class="page-item">
        <a class="page-link" href="javascript:void(0)" >Next</a>
    </li>
</ul>