<app-page-header [title]="'Invoice List'" [title1]="['Invoice']" [activeitem]="'Invoice List'"></app-page-header>

                   <!-- Start::row-1 -->
                   <div class="row">
                    <div class="col-xl-12">
                        <div class="card custom-card">
                            <div class="card-header justify-content-between">
                                <div class="card-title">
                                    Manage Invoices
                                </div>
                                <div class="d-flex">
                                    <a routerLink="/pages/invoice/createinvoice" class="btn btn-sm btn-primary btn-wave waves-light"><i class="ri-add-line fw-semibold align-middle me-1"></i> Create Invoice</a>
                                    <spk-dropdowns [Customclass]="'dropdown ms-2'"  [class]="'btn btn-icon btn-secondary-light btn-sm btn-wave waves-light no-caret'" [Icon]="true" [IconClass]="'ti ti-dots-vertical'" 
                                    [Menuclass]="'dropdown-menu'"  >
                                            <li><a class="dropdown-item" href="javascript:void(0);">All Invoices</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Paid Invoices</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Pending Invoices</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Overdue Invoices</a></li>
                                    </spk-dropdowns>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <spk-reusable-tables  [columns]="invoiceColumn" tableClass="table text-nowrap table-bordered"
                                    [showCheckbox]="false" > 
                                            @for (invoice of invoices; track $index;let i = $index) {
                                            <tr class="invoice-list">
                                              <td>
                                                <div class="d-flex align-items-center">
                                                  <div class="me-2 lh-1">
                                                    <span class="avatar avatar-sm avatar-rounded">
                                                      <img [src]="invoice.image" [alt]="invoice.name">
                                                    </span>
                                                  </div>
                                                  <div>
                                                    <p class="mb-0 fw-semibold">{{ invoice.name }}</p>
                                                    <p class="mb-0 fs-11 text-muted">{{ invoice.email }}</p>
                                                  </div>
                                                </div>
                                              </td>
                                              <td>
                                                <a href="javascript:void(0);" class="fw-semibold text-primary">{{ invoice.invoiceNumber }}</a>
                                              </td>
                                              <td>{{ invoice.invoiceDate }}</td>
                                              <td>{{ invoice.amount }}</td>
                                              <td>
                                                <span [class]="'badge ' + invoice.status.class">{{ invoice.status.text }}</span>
                                              </td>
                                              <td>{{ invoice.dueDate }}</td>
                                              <td>
                                                <button class="btn btn-primary-light btn-icon btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" ngbTooltip="Print">
                                                  <i class="ri-printer-line"></i>
                                                </button>
                                                <button (click)="deleteInvoice(i)" class="btn btn-danger-light btn-icon ms-1 btn-sm invoice-btn" data-bs-toggle="tooltip" data-bs-placement="top" ngbTooltip="Delete">
                                                  <i class="ri-delete-bin-5-line"></i>
                                                </button>
                                              </td>
                                            </tr>
                                        }
                                    </spk-reusable-tables>
                                </div>
                            </div>
                            <div class="card-footer">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination mb-0 float-end">
                                        <li class="page-item disabled">
                                            <a class="page-link">Previous</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="javascript:void(0);">2</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0);">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::row-1 -->