<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card mt-4">
            <div class="card-body">
                <div class="contact-header">
                    <div class="d-sm-flex d-block align-items-center justify-content-between">
                        <div class="h5 fw-semibold mb-0">Contacts</div>
                        <div class="d-flex mt-sm-0 mt-2 align-items-center">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light" placeholder="Search Contact" aria-describedby="search-contact-member">
                                <button class="btn btn-light" type="button" id="search-contact-member"><i class="ri-search-line text-muted"></i></button>
                            </div>
                            <spk-dropdowns [Customclass]="'dropdown ms-2'" [Id]="'dropdownMenuButton1'"
                                [class]="'btn btn-icon btn-primary-light btn-wave no-caret'"  [Menuclass]="'dropdown-menu'" [Icon]="true" [IconClass]="'ti ti-dots-vertical'">
                                    <li><a class="dropdown-item" href="javascript:void(0)">Delete All</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Copy All</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)">Move To</a></li>
                            </spk-dropdowns>
                            <button class="btn btn-icon btn-secondary-light ms-2" data-bs-toggle="tooltip" data-bs-placement="top" ngbTooltip="Add Contact"><i class="ri-add-line"></i></button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    @for (contact of contacts; track $index) {
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <spk-contacts-card 
    [avatar]="contact.avatar"
    [name]="contact.name"
    [email]="contact.email"
    [phone]="contact.phone"
    [wishlist]="contact.wishlist"
    [isFavorite]="contact.isFavorite">
  </spk-contacts-card>
  </div>
}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">Previous</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
        </ul>
    </nav>
</div>
<!--End::row-1 -->