<div class="autentication-bg">

    <div class="container-lg">
        <div class="row justify-content-center authentication authentication-basic align-items-center h-100">
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="my-4 d-flex justify-content-center">
                    <a routerLink="/content/dashboard">
                        <img src="./assets/images/brand-logos/desktop-white.png" alt="logo">
                    </a>
                </div>
                <div class="card custom-card">
                    <div class="card-body p-5">
                        <p class="h5 fw-semibold mb-2 text-center">Sign Up</p>
                        <p class="mb-4 text-muted op-7 fw-normal text-center">Welcome &amp; Join us by creating a free account !</p>
                        <div class="row gy-3">
                            <div class="col-xl-12">
                                <label for="signup-firstname" class="form-label text-default">First Name</label>
                                <input type="text" class="form-control form-control-lg" id="signup-firstname" placeholder="first name">
                            </div>
                            <div class="col-xl-12">
                                <label for="signup-lastname" class="form-label text-default">Last Name</label>
                                <input type="text" class="form-control form-control-lg" id="signup-lastname" placeholder="last name">
                            </div>
                            <div class="col-xl-12">
                                <label for="signup-password" class="form-label text-default">Password</label>
                                <div class="input-group">
                                    <input type="password" [type]="showPassword ? 'text' : 'password'"  class="form-control form-control-lg" id="signup-password" placeholder="password">
                                    <button aria-label="button" class="btn btn-light" (click)="createpassword()" type="button" id="button-addon2"><i class="ri-eye-{{toggleClass}} align-middle"></i></button>
                                </div>
                            </div>
                            <div class="col-xl-12 mb-2">
                                <label for="signup-confirmpassword" class="form-label text-default">Confirm Password</label>
                                <div class="input-group">
                                    <input type="password" [type]="showPassword1 ? 'text' : 'password'"  class="form-control form-control-lg" id="signup-confirmpassword" placeholder="confirm password">
                                    <button aria-label="button" class="btn btn-light" (click)="createpassword1()" type="button" id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></button>
                                </div>
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label text-muted fw-normal" for="defaultCheck1">
                                        By creating a account you agree to our <a routerLink="/content/pages/terms-conditions" class="text-success"><u>Terms &amp; Conditions</u></a> and <a class="text-success"><u>Privacy Policy</u></a>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-12 d-grid mt-2">
                                <button type="button" class="btn btn-lg btn-primary">Create Account</button>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="text-muted mt-3">Already have an account? <a routerLink="/custom/sign-in" class="text-primary">Sign In</a></p>
                        </div>
                        <div class="text-center my-3 authentication-barrier">
                            <span>OR</span>
                        </div>
                        <div class="btn-list text-center">
                            <button type="button" aria-label="button" class="btn btn-icon btn-primary-transparent">
                                <i class="ri-facebook-fill"></i>
                            </button>
                            <button type="button" aria-label="button" class="btn btn-icon btn-primary-transparent">
                                <i class="ri-google-fill"></i>
                            </button>
                            <button type="button" aria-label="button" class="btn btn-icon btn-primary-transparent">
                                <i class="ri-twitter-x-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>