<app-page-header [title]="'Team'" [title1]="['Pages']" [activeitem]="'Team'"></app-page-header>

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="team-header">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="h5 fw-semibold mb-sm-0">Team Ui</div>
                        <div class="d-flex align-items-center">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Person Name" aria-describedby="search-team-member">
                                <button aria-label="button" class="btn btn-light  btn-primary" type="button" id="search-team-member"><i class="ri-search-line"></i></button>
                            </div>
                            <spk-dropdowns [Customclass]="'dropdown ms-2'" [Icon]="true" [IconClass]="'ti ti-dots-vertical'"
                                       [class]="'btn btn-light btn-wave no-caret'" [Menuclass]="'dropdown-menu'">
                                    <li><a class="dropdown-item border-bottom" href="javascript:void(0);">Delete Team</a></li>
                                    <li><a class="dropdown-item border-bottom" href="javascript:void(0);">Edit</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Add Member</a></li>
                            </spk-dropdowns>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @for (card of cards; track $index) {
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <spk-team-card
    [imageUrl]="card.imageUrl"
    [name]="card.name"
    [email]="card.email"
    [projects]="card.projects"
    [position]="card.position">
  </spk-team-card>
  </div>
}
</div>
<!-- Start: pagination -->
<div class="float-end mb-4 ms-auto">
    <nav aria-label="Page navigation" class="pagination-style-4">
        <ul class="pagination mb-0 gap-2">
            <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0);">
                    Prev
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item">
                <a aria-label="anchor" class="page-link" href="javascript:void(0);">
                    <i class="bi bi-three-dots"></i>
                </a>
            </li>
            <li class="page-item d-none d-sm-flex"><a class="page-link" href="javascript:void(0);">16</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">17</a></li>
            <li class="page-item">
                <a class="page-link text-primary" href="javascript:void(0);">
                    next
                </a>
            </li>
        </ul>
    </nav>
</div>
<!-- End: pagination -->