<!-- Main Footer-->
          <footer class="footer mt-auto py-3 text-center"> 
               <div class="container"> <span class=""> Copyright © <span id="year">2025 </span> 
                    <a href="javascript:void(0);" class="text-primary"> Sash</a>. Designed with 
                    <span class="bi bi-heart-fill text-danger"></span> by 
                    <a href="https://spruko.com/" target="_blank"> 
                         <span class="text-primary">Spruko</span> 
                    </a> All rights reserved 
                  </span> 
            </div> 
        </footer>
<!--End Footer-->