<app-page-header [title]="'Ratings'" [title1]="['Advanced Ui']" [activeitem]="'Ratings'"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
  <div class="col-xxl-4 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Basic Rater</div>
      </div>
      <div class="card-body text-center">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <h6 class="fs-14 fw-medium">
            Show Some <span class="text-danger">&#10084;</span> with rating
          </h6>
          <div id="rater-basic">
            <spk-bar-rating [starTemplate]="currentRate" [maxStars]="5" ></spk-bar-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-4 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">5 star rater with steps</div>
      </div>
      <div class="card-body text-center">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <h6 class="fs-14 fw-medium">Dont forget to rate the product</h6>
          <div id="rater-steps">
            <spk-bar-rating [maxStars]="5" ></spk-bar-rating>
        
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-4 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Custom messages</div>
      </div>
      <div class="card-body text-center">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <h6 class="fs-14 fw-medium">Your rating is much appreciated👏</h6>
          <div id="custom-messages">
            <spk-bar-rating [maxStars]="5">
            <div class="form-text small">
              @if(ctrl.valid){
                  <div  class="text-success">Thanks!</div>
              }
              @else{
                  <div  class="text-danger">Please rate us</div>
              }
            </div>
          </spk-bar-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-6 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Unlimited number of stars readOnly</div>
      </div>
      <div class="card-body text-center">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <h6 class="fs-14 fw-medium">Thanks for rating</h6>
          <div id="stars-unlimited" class="star-rating disabled">
            <spk-bar-rating [maxStars]="5"  [readonly]="readonly"></spk-bar-rating>
            <button
              class="btn btn-sm btn-outline-{{
                readonly ? 'danger' : 'success'
              }}"
              (click)="readonly = !readonly"
            >
              {{ readonly ? "readonly" : "editable" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-6 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          5 Star rater with custom isBusyText and simulated backend
        </div>
      </div>
      <div class="card-body text-center">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <h6 class="fs-14 fw-medium">Thanks for rating</h6>
          <div id="stars-busytext">
            <spk-bar-rating
            [maxStars]="5"
          ></spk-bar-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-4 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">On hover event</div>
      </div>
      <div class="card-body">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <h6 class="fs-14 fw-medium">Please give your valuable rating</h6>
          <div
            class="d-flex flex-wrap align-items-center"
          >
          <div id="stars-hover">
            <ng-template #eventstar let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span
                >&#9733;
              </span>
            </ng-template>
            <ngb-rating
            [(rate)]="selected " (hover)="hovered = $event" [readonly]="readonly"
            [starTemplate]="eventstar" [max]="5" 
            ></ngb-rating>
          </div>
          <span class="live-rating badge bg-success-transparent ms-3">
            Hovered: <b>{{ hovered }}</b>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-4 col-xl-6">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Clear/reset rater</div>
      </div>
      <div class="card-body text-center">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <p class="fs-14 mb-0 fw-medium">
            Thank You so much for your support :
          </p>
          <div
            class="d-flex flex-wrap align-items-center justify-content-center"
          >
            <div id="rater-reset">
              <spk-bar-rating
              [maxStars]="5"
              [control]="ctrl1"
            ></spk-bar-rating>
          
             
            </div>
            <button
              class="btn btn-icon btn-sm btn-danger-light ms-3"
              (click)="ctrl1.setValue(null)"
              id="rater-reset-button"
              data-bs-toggle="tooltip"
              placement="top"
              ngbTooltip="Reset"
            >
              <i class="ri-restart-line"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div>
<!--End::row-1 -->