<body data-anm=".anm">

  <div class="page-wrapper">

    <!-- Main Header-->
    <header class="main-header header-style-four -type-16">
      <div class="container-fluid">
        <!-- Main box -->
        <div class="main-box">
          <!--Nav Outer -->
          <div class="nav-outer">
            <div class="logo-box">
              <div class="logo"><a href="index.html"><img src="/assets/images/bge-logo-black.png" alt="" title="" style="width: 200px;"></a></div>
            </div>

            <nav class="nav main-menu">
              <ul class="navigation" id="navbar">
                <li class="current">
                  <a routerLink="/"><span>Főoldal</span></a>
                </li>

                <li class="">
                  <a routerLink="/aboutus"><span>Rólunk</span></a>
                </li>

                <li class="">
                  <a routerLink="/forcompany"><span>Cégeknek</span></a>
                </li>                

                <li class="">
                  <a routerLink="/contact"><span>Kapcsolat</span></a>
                </li>

                <!-- Only for Mobile View -->
                <li class="mm-add-listing">
                  <a href="add-listing.html" class="theme-btn btn-style-one">Job Post</a>
                  <span>
                    <span class="contact-info">
                      <span class="phone-num"><span>Call us</span><a href="tel:1234567890">123 456 7890</a></span>
                      <span class="address">329 Queensberry Street, North Melbourne VIC <br>3051, Australia.</span>
                    </span>
                    <span class="social-links">
                      <a href="#"><span class="fab fa-facebook-f"></span></a>
                      <a href="#"><span class="fab fa-twitter"></span></a>
                      <a href="#"><span class="fab fa-instagram"></span></a>
                      <a href="#"><span class="fab fa-linkedin-in"></span></a>
                    </span>
                  </span>
                </li>
              </ul>
            </nav>
            <!-- Main Menu End-->
          </div>

          <div class="outer-box">
            <!-- Login/Register -->

            <div class="dropdown dashboard-option" *ngIf="isLoggedIn">
              <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                <img src="/assets/images/icons/user.svg" alt="avatar" class="thumb">
                <span class="name">Fiókom</span>
              </a>
              <ul class="dropdown-menu">
                <li><a routerLink="/main/profile-student-view"><i class="la la-user-tie"></i>Profil</a></li>
                <li><a href="#" (click)="logout()"><i class="la la-sign-out"></i>Kilépés</a></li>
              </ul>
            </div>
            
            <!-- Egyszerű modal -->
            <div *ngIf="showLogin" class="simple-modal-backdrop" (click)="showLogin = false"></div>
            
            <div *ngIf="showLogin" class="simple-modal" id="login-modal" style="width: 500px;">


    <!-- Login Form -->
    <div id="login-modal">
      <button class="close-btn" (click)="showLogin = false">×</button>

    <div class="login-form default-form">
      <div class="form-inner">
        <h3>Bejelentkezés</h3>
        <div class="bottom-box">
          <div class="btn-box row">
            <div class="col-lg-6 col-md-12">
              <a href="#" class="theme-btn social-btn-two bge-btn" (click)="loginAsStudent()">Hallgató vagyok</a>
            </div>            
            <div class="col-lg-6 col-md-12">
              <a href="#" class="theme-btn social-btn-two bge-btn" (click)="loginAsEmployee()">Dolgozó vagyok</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!--End Login Form -->



            </div>

          </div>
        </div>
      </div>

      <!-- Sticky Header  -->
      <div class="sticky-header">
        <div class="auto-container">

          <div class="main-box">
            <div class="logo-box">
              <div class="sticky-logo"><a href="index.html"><img src="/assets/images/bge-logo-black.png" alt="" title=""></a></div>
            </div>

            <!--Keep This Empty / Menu will come through Javascript-->
          </div>
        </div>
      </div>
      <!-- End Sticky Menu -->

      <!-- Mobile Header -->
      <div class="mobile-header">
        <div class="logo"><a href="index.html"><img src="/assets/images/bge-logo-black.png" alt="" title=""></a></div>

        <!--Nav Box-->
        <div class="nav-outer clearfix">

          <div class="outer-box">
            <!-- Login/Register -->
            <div class="login-box">
              <a href="login-popup.html" class="call-modal"><span class="icon-user"></span></a>
            </div>

            <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>
          </div>
        </div>
      </div>

      <!-- Mobile Nav -->
      <div id="nav-mobile"></div>
    </header>
    <!--End Main Header -->

    <!-- Banner Section-->
    <section class="banner-section-four -type-16" style="background-image: url(/assets/images/index-16/header/bg.png); ">
      <div class="auto-container">
        <div class="content-box">
          <div class="title-box wow fadeInUp" data-wow-delay="500ms">
            <h3>JOB & FUTURE</h3>
            <p>Tanulás mellett dolgoznál, vagy a legjobb fiatal tehetségeket keresed? A Job&Future összeköti a BGE hallgatóit és a vállalatokat, hogy mindenki magabiztosan építhesse a jövőjét</p>
            <div class="btn-box" style="margin-top: 20px !important;" *ngIf="!isLoggedIn">
              <a (click)="showLogin = true" style="font-size: 20px; width: 175px; height: 60px !important;" class="theme-btn btn-style-five call-modal">Belépés</a>
            </div>
           </div>

        </div>
      </div>
    </section>
    <!-- End Banner Section-->


    <section class="cta -type-2" >
      <div class="auto-container">
        <div class="row grid-base justify-content-between">

          <div class="col-lg-12 col-md-12">
            <div class="cta-item">
              <div class="icon-wrap">
                <!-- <div class="icon icon-contact"></div> -->
              </div>
              <div class="content">
                <div class="title">Lehetőséget biztosítunk a jövőd építésére,  kötöttségek nélkül!</div>
                <div class="text">
                  <br/>
                  <h5>Teljes adatbiztonság</h5>
                  <br/>
                  <p>
                      ✔ Nem adjuk ki az adataidat harmadik fél számára – a tanulmányi eredményeid, önéletrajzod és minden személyes információd nálunk marad, amíg másként nem döntesz.
                  </p>
                  <br/>
                  <h5>Partnerként tekintünk rád</h5>
                  <br/>
                   <p>
                      ✔ Mi nem csak összekötünk cégekkel –a feltöltött állásokat előszűrjűk, így támogatunk abban, hogy megtaláld a hozzád illő lehetőségeket.
                  </p>
                  <p>
                      ✔ Célunk, hogy biztonságban és magabiztosan építhesd a karriered már az egyetem alatt is.
                  </p>
                  <p>
                      ✔ Nem spammelünk! Csak arról küldünk értesítést, ami számodra releváns lehet.
                  </p>
                  <br/>
                  <h5>Te döntesz mindenről!</h5>
                  <br/>
                  <p>
                      ✔ Csak akkor közvetítünk ki, ha te jelentkezel egy állásra.
                  </p>
                  <p>
                      ✔ Semmit sem osztunk meg rólad a cégekkel a beleegyezésed nélkül.
                  </p>
                  <p>
                      ✔ Bármikor leiratkozhatsz a platformról, nincs rejtett kötelezettség.
                  </p>                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call To Action Two -->
    <section class="call-to-action-two -type-4" style="background-image: url(/assets/images/index-16/cta/bg.png);">
      <div class="auto-container wow fadeInUp">
        <div class="sec-title light text-center">
          <h2>Számtalan lehetőség vár rád</h2>
          <div class="text text-white">Több száz partner még több lehetőség</div>
        </div>

        <div class="btn-box">
          <a href="#" class="theme-btn btn-two">Csatlakozom</a>
        </div>
      </div>
    </section>
    <!-- End Call To Action -->

    <!-- Work Section -->
    <section class="layout-pt-120 layout-pb-120">
      <div class="auto-container">
        <div class="sec-title text-center">
          <h2>Hogyan működik?</h2>
          <div class="text">Többszáz partner segít neked megtalálni első munkahelyed</div>
        </div>

        <div class="row grid-base pt-50 wow fadeInUp">

          <!-- Work Block -->
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="work-block -type-4">
              <div class="icon-wrap">
                <span class="icon icon-drawing"></span>
              </div>

              <h5 class="title">Lépj be</h5>
              <p class="text">Hallgatói fiókoddal egyszerűen beléphetsz</p>
            </div>
          </div>

          <!-- Work Block -->
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="work-block -type-4">
              <div class="icon-wrap">
                <span class="icon icon-process"></span>
              </div>

              <h5 class="title">Készítsd el a profilod</h5>
              <p class="text">Töltsd fel elérhetőségeidet</p>
            </div>
          </div>

          <!-- Work Block -->
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="work-block -type-4">
              <div class="icon-wrap">
                <span class="icon icon-task"></span>
              </div>

              <h5 class="title">Generáld le az önéletrajzod</h5>
              <p class="text">Önéletrajzod elékészítéséhez hasznos információkat találhatsz oldalunkon</p>
            </div>
          </div>

          <!-- Work Block -->
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="work-block -type-4">
              <div class="icon-wrap">
                <span class="icon icon-one-finger-click"></span>
              </div>

              <h5 class="title">Pihenj és várd az ajánlatokat</h5>
              <p class="text">Automatikusan küldjük neked az ajánlatokat</p>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End Work Section -->

    <!-- Main Footer -->
    <footer class="main-footer style-five">
      <!--Widgets Section-->
      <div class="widgets-section">
        <div class="auto-container">

          <div class="row">
            <div class="big-column col-xl-3 col-lg-3 col-md-12">
              <div class="footer-column about-widget">
                <div class="logo"><a href="#"><img src="/assets/images/bge-logo-black.png" alt=""></a></div>
                <p class="phone-num"><span>Hívj minket </span><a href="thebeehost@support.com">123 456 7890</a></p>
                <p class="address">1055 Budapest Markó utca 29-31 <br></p>
              </div>
            </div>

            <div class="big-column col-xl-9 col-lg-9 col-md-12">
              <div class="row">
                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">Diákoknak</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Browse Jobs</a></li>
                        <li><a href="#">Browse Categories</a></li>
                        <li><a href="#">Candidate Dashboard</a></li>
                        <li><a href="#">Job Alerts</a></li>
                        <li><a href="#">My Bookmarks</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">Partnereknek</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Browse Candidates</a></li>
                        <li><a href="#">Employer Dashboard</a></li>
                        <li><a href="#">Add Job</a></li>
                        <li><a href="#">Job Packages</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">Rólunk</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Job Page</a></li>
                        <li><a href="#">Job Page Alternative</a></li>
                        <li><a href="#">Resume Page</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Bottom-->
      <div class="footer-bottom">
        <div class="auto-container">
          <div class="outer-box">
            <div class="copyright-text">© 2025 <a href="#">BGE</a> Minden jog fenntartva</div>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    </footer>
    <!-- End Main Footer -->


  </div><!-- End Page Wrapper -->

