            <!-- Nyelvismeret (Neptunban nem szereplő) -->
            <!-- Ls widget -->
            <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>Nyelvismeret</h4>
                    <p>(Maximum 5 nyelvvizsga adható meg!)</p>
                  </div>
  
                  <div class="widget-content">
                    <form class="default-form">
                      <div class="row">
  
                        <!-- Input -->
                        <div class="form-group col-lg-4 col-md-12">
                          <label>Nyelv</label>
                          <select class="chosen-select">
                            <option>Angol</option>
                            <option>Finn</option>
                            <option>Francia</option>
                            <option>Japán</option>
                            <option>Kínai</option>
                            <option>Német</option>
                            <option>Portugál</option>
                            <option>Olasz</option>
                            <option>Orosz</option>
                            <option>Spanyol</option>
                            <option>Svéd</option>
                          </select>
                        </div>
  
                        <!-- Input -->
                        <div class="form-group col-lg-4 col-md-12">
                          <label>Nyelvvizsga típusa</label>
                          <select class="chosen-select">
                            <option>Szóbeli</option>
                            <option>Írásbeli</option>
                            <option>Komplex</option>
                          </select>
                        </div>
  
                        <!-- Input -->
                        <div class="form-group col-lg-4 col-md-12">
                          <label>Nyelvvizsga szintje</label>
                          <select class="chosen-select">
                            <option>Alapfok</option>
                            <option>Középfok</option>
                            <option>Felsőfok</option>
                          </select>
                        </div>  
                      </div>                                          
                    </form>
                  </div>
                </div>
              </div>