<app-page-header [title]="'Apex Mixed Charts'" [activeitem]="'Apex Mixed Charts'" [title1]="['Apex  Charts']"></app-page-header>

<!-- Start::row-1 -->
  <div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Line & Column Chart</div>
            </div>
            <div class="card-body">
                <div id="mixed-linecolumn">
                    <spk-apexcharts  [chartOptions]="chartOptions"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Multiple Y-Axis Chart</div>
            </div>
            <div class="card-body">
                <div id="mixed-multiple-y">
                    <spk-apexcharts  [chartOptions]="chartOptions1"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Line & Area Chart</div>
            </div>
            <div class="card-body">
                <div id="mixed-linearea">
                    <spk-apexcharts  [chartOptions]="chartOptions2"></spk-apexcharts>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Line,Column & Area Chart</div>
            </div>
            <div class="card-body">
                <div id="mixed-all">
                    <spk-apexcharts  [chartOptions]="chartOptions3"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->