

    <div class="landing-page-wrapper">
        <!-- app-header -->
       <header class="app-header">
           <!-- Start::main-header-container -->
           <div class="main-header-container container-fluid">
               <!-- Start::header-content-left -->
               <div class="header-content-left">
                   <!-- Start::header-element -->
                   <div class="header-element">
                     <div class="horizontal-logo">
                       <a routerLink="/content/dashboard" class="header-logo">
                         <img src="./assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
                         <img src="./assets/images/brand-logos/toggle-white.png" alt="logo" class="toggle-white">
                         <img src="./assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
                       </a>
                     </div>
                   </div>
                   <!-- End::header-element -->

                   <!-- Start::header-element -->
                   <div class="header-element">
                       <!-- Start::header-link -->
                       <a aria-label="anchor" (click)="toggleSidebar()" href="javascript:void(0);" class="sidemenu-toggle header-link" data-bs-toggle="sidebar">
                           <span class="open-toggle">
                               <i class="ri-menu-3-line fs-20"></i>
                           </span>
                       </a>
                       <!-- End::header-link -->
                   </div>
                   <!-- End::header-element -->
               </div>
               <!-- End::header-content-left -->

               <!-- Start::header-content-right -->
               <div class="header-content-right">
                   <!-- Start::header-element -->
                   <div class="header-element align-items-center">
                       <!-- Start::header-link|switcher-icon -->
                       <div class="btn-list d-lg-none d-flex">
                            <a routerLink="/authentication/sign-in" class="btn btn-sm-w-sm btn-wave btn-primary">
                              Log In
                            </a>

                       </div>
                       <!-- End::header-link|switcher-icon -->
                   </div>
                   <!-- End::header-element -->
               </div>
               <!-- End::header-content-right -->
           </div>
           <!-- End::main-header-container -->
       </header>
       <!-- /app-header -->

       <!-- Start::app-sidebar -->
       <aside class="app-sidebar sticky" id="sidebar"  [ngClass]="{ 'data-toggled': isDataToggled }" [ngClass]="{ 'sticky-pin': scrolled }" style="margin-bottom: -64px; background-color: #FFFFFF !important;">

           <div class="container-xl p-0">
               <!-- Start::main-sidebar -->
               <div class="main-sidebar">

                   <!-- Start::nav -->
                   <nav class="main-menu-container nav nav-pills sub-open">
                       <div class="landing-logo-container">
                         <div class="horizontal-logo">
                           <a routerLink="/content/dashboard" class="header-logo">
                             <img src="./assets/images/brand-logos/bge-logo.png" alt="logo" class="desktop-logo" style="width: 100px; height: auto; position: absolute; top: -24px;">
                           </a>
                         </div>
                       </div>
                       <div class="slide-left" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg></div>
                       <ul class="main-menu">
                           <!-- Start::slide -->
                           <li class="slide">
                               <a class="side-menu__item" value="home" (click)="scroll(home)">
                                   <span class="side-menu__label">Home</span>
                               </a>
                           </li>
                           <!-- End::slide -->
                           <!-- Start::slide -->
                           <li class="slide">
                               <a value="about" (click)="scroll(about)" class="side-menu__item">
                                   <span class="side-menu__label">About</span>
                               </a>
                           </li>
                           <!-- End::slide -->
                           <!-- Start::slide -->
                           <li class="slide">
                               <a (click)="scroll(contact)" value="contact" class="side-menu__item">
                                   <span class="side-menu__label">Contact</span>
                               </a>
                           </li>
                           <!-- End::slide -->

                       </ul>
                       <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
                       <div class="d-lg-flex d-none">
                           <div class="btn-list d-lg-flex d-none mt-lg-2 mt-xl-0 mt-0">
                               <a routerLink="/login" class="btn btn-w-sm btn-wave btn-primary">
                                 Log In
                               </a>
                           </div>
                       </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Hello, World!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="c('Save click')">Save</button>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

                       
                   </nav>
                   <!-- End::nav -->

               </div>
               <!-- End::main-sidebar -->
           </div>

       </aside>
       <!-- End::app-sidebar -->

       <!-- Start::app-content -->
       <div (click)="bodyclick()" class="main-content landing-main">

           <!-- Start:: Section-1 -->
           <div class="landing-banner" id="home" #home>
               <section class="section">
                   <div class="container px-sm-0 main-banner-container pb-0">
                       <div class="row">
                           <div class="col-xl-6 col-lg-6 animation-zidex pos-relative my-auto">
                               <h5 class="fw-semibold my-2">Manage Your Business</h5>
                               <h1 class="text-start fw-bold mb-3 lh-base">We Help to Build Your Dream Project with <span class="text-primary animate-heading">Sash</span></h1>
                               <p class="pb-3 mb-3">
                                   Sash - Now you can use this admin template to design stunning dashboards
                                   that will wow your target viewers or users to no end. To create a good and
                                   well-structured dashboard,
                                   you need to start from scratch with Angular, SCSS, CSS, and TS and with lots of coding,
                                   but by using this Sash-Admin template.</p>

                               <a href="https://themeforest.net/item/sash-angular-admin-dashboard-template/39337356" target="_blank" class="btn ripple btn-min w-lg me-2 btn-primary"><i class="fe fe-play me-2"></i> Get Started
                               </a>
                               <a href="https://themeforest.net/user/spruko/portfolio" class="btn ripple btn-min w-lg btn-outline-primary me-2" target="_blank"><i class="fe fe-eye me-2 d-inline-flex"></i>Discover More
                               </a>
                           </div>
                           <div class="col-xl-6 col-lg-6 my-auto text-end">
                               
                           </div>
                       </div>
                   </div>
               </section>
           </div>
           <!-- End:: Section-1 -->

           <!-- Start:: Section-2 -->
           <section class="section section-bg" id="about" #about>
               <div class="container text-center">
                   <p class="fs-18 fw-medium mb-1"><span class="landing-section-heading">About</span></p>
                   <span class="landing-title"></span>
                   <h3 class="fw-semibold mb-5">Designed with precision and well documented</h3>
               </div>
               <div class="row justify-content-center align-items-center g-0">
                   <div class="col-xxl-5 col-xl-5 col-lg-5 customize-image text-center">
                       <div class="text-lg-end">
                           <img src="./assets/images/landing/1.png" alt="" class="img-fluid">
                       </div>
                   </div>
                   <div class="col-xxl-5 col-xl-5 col-lg-5 my-auto text-start pt-5 pb-0 px-lg-2 px-5">
                       <h5 class="text-lg-start fw-semibold mb-0">Present your awesome product</h5>
                       <p class=" text-muted">lorem ipsum, dolor sit var ameto condesetrat aiatel varen or damsenlel verman code Lorem ipsum, dolor sit amet consectetur adipisicing elit</p>
                       <div class="row">
                           <div class="col-12 col-md-12">
                               <div class="d-flex">
                                   <span>
                                       <i class="bx bxs-badge-check text-primary fs-18"></i>
                                   </span>
                                   <div class="ms-2">
                                       <h6 class="fw-semibold mb-0">Can Switch Easily From Vertical to HorizontalMenu.</h6>
                                       <p class=" text-muted">lorem ipsum, dolor sit var ameto condesetrat aiatel varen or damsenlel verman code Lorem ipsum, dolor sit amet consectetur </p>
                                   </div>
                               </div>
                           </div>
                           <div class="col-12 col-md-12">
                               <div class="d-flex">
                                   <span>
                                       <i class="bx bxs-badge-check text-primary fs-18"></i>
                                   </span>
                                   <div class="ms-2">
                                       <h6 class="fw-semibold mb-0">Switch Easily From One Color to Another Color style</h6>
                                       <p class=" text-muted">lorem ipsum, dolor sit var ameto condesetrat aiatel varen or damsenlel verman code Lorem ipsum, dolor sit amet consectetur </p>
                                   </div>
                               </div>
                           </div>
                           <div class="col-12 col-md-12">
                               <div class="d-flex">
                                   <span>
                                       <i class="bx bxs-badge-check text-primary fs-18"></i>
                                   </span>
                                   <div class="ms-2">
                                       <h6 class="fw-semibold mb-0">Switch Easily From Fixed to Scrollable Layout.</h6>
                                       <p class=" text-muted">lorem ipsum, dolor sit var ameto condesetrat aiatel varen or damsenlel verman code Lorem ipsum, dolor sit amet consectetur </p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </section>
           <!-- End:: Section-2 -->

           <!-- Start:: Section-10 -->
           <section class="section pb-0" id="contact" #contact>
               <div class="container text-center">
                   <div class="card mb-0">
                       <div class="mt-5">
                           <p class="fs-18 fw-medium mb-1"><span class="landing-section-heading text-dark">Contact Us</span></p>
                           <span class="landing-title"></span>
                           <h3 class="fw-semibold">Get in Touch with <span class="text-primary">US.</span></h3>
                       </div>
                       <div class="card-body text-dark">
                           <div class="row justify-content-center p-5 pt-0">
                               <div class="col-lg-9">
                                   <div class="row text-center services-statistics">
                                       <div class="col-xl-3 col-md-6 col-lg-6">
                                           <div class="card bg-transparent border-0 shadow-none">
                                               <div class="card-body p-0">
                                                   <div class="counter-icon icon-1">
                                                       <i class="fe fe-map-pin text-primary fs-23"></i>
                                                   </div>
                                                   <h5 class="mb-2 fw-medium">Main Branch</h5>
                                                   <p>San Francisco, CA </p>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-xl-3 col-md-6 col-lg-6">
                                           <div class="card bg-transparent border-0 shadow-none">
                                               <div class="card-body p-0">
                                                       <div class="counter-icon icon-2">
                                                           <i class="fe fe-headphones text-secondary fs-23"></i>
                                                       </div>
                                                       <h5 class="mb-2 fw-medium">Phone &amp; Email</h5>
                                                       <p class="mb-0">+125 254 3562 </p>
                                                       <p>georgeme&#64;abc.com</p>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-xl-3 col-md-6 col-lg-6">
                                           <div class="card bg-transparent border-0 shadow-none">
                                               <div class="card-body p-0">
                                                   <div class="counter-statuss">
                                                       <div class="counter-icon icon-3">
                                                           <i class="fe fe-mail text-success fs-23"></i>
                                                       </div>
                                                       <h5 class="mb-2 fw-medium">Contact</h5>
                                                       <p class="mb-0"> www.example.com</p>
                                                       <p>example&#64;dev.com</p>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-xl-3 col-md-6 col-lg-6">
                                           <div class="card bg-transparent border-0 shadow-none">
                                               <div class="card-body p-0">
                                                   <div class="counter-status">
                                                       <div class="counter-icon icon-4">
                                                           <i class="fe fe-airplay text-danger fs-23"></i>
                                                       </div>
                                                       <h5 class="mb-2 fw-medium">Working Hours</h5>
                                                       <p class="mb-0">Monday - Friday: 9am - 6pm</p>
                                                       <p>Satday - Sunday: Holiday</p>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-xl-9">
                                   <form class="form-horizontal text-start" action="index.html">
                                       <div class="form-group mb-3">
                                           <div class="col-xs-12">
                                               <input class="form-control" type="text" required placeholder="Username*">
                                           </div>
                                       </div>
                                       <div class="form-group mb-3">
                                           <div class="col-xs-12">
                                               <input class="form-control" type="email" required placeholder="Email*">
                                           </div>
                                       </div>
                                       <div class="form-group mb-3">
                                           <div class="col-xs-12">
                                               <textarea class="form-control" rows="5">Your Comment*</textarea>
                                           </div>
                                       </div>
                                       <button type="submit" class="btn btn-primary btn-rounded  waves-effect waves-light">Submit</button>
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </section>
           <!-- End:: Section-10 -->

           <!-- Start:: Section-11 -->
           <div class="container">
               <div class="buynow-landing reveal" [ngClass]="{ 'active': scrolled }">
                   <div class="card bg-transparent border-0 shadow-none mb-0">
                       <div class="card-body p-5">
                           <div class="row">
                               <div class="col-lg-9 my-auto">
                                   <h2 class="fw-semibold text-fixed-white">Start Your Project
                                       with Sash.</h2>
                                   <p class="text-fixed-white mb-0">Sed ut perspiciatis unde omnis
                                       iste natus error sit voluptatem accusantium
                                       doloremque laudantium, totam rem aperiam, eaque ipsa
                                       quae ab illo inventore veritatis et quasi architecto
                                       beatae vitae dicta sunt
                                       explicabo.
                                   </p>
                               </div>
                               <div class="col-lg-3 text-end my-auto">
                                   <a href="https://themeforest.net/item/sash-angular-admin-dashboard-template/39337356" target="_blank" class="btn btn-pink w-lg pt-2 pb-2 d-inline-flex align-items-center"><i class="fe fe-shopping-cart me-2"></i>Buy Now
                                   </a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- End:: Section-11 -->

           <!-- Start:: Section-12 -->
           <section class="section landing-footer">
               <div class="container">
                   <div class="row gy-2 gy-xl-0">
                       <div class="col-xl-4">
                           <div class="px-4">
                               <h6 class="fw-semibold mb-3">ABOUT</h6>
                               <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                   doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                   veritatis et quasi architecto beatae vitae dicta sunt
                                   explicabo.
                               </p>
                               <p class="mb-5 mb-lg-2 text-muted">Duis aute irure dolor in reprehenderit in voluptate
                                   velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat .
                               </p>
                           </div>
                       </div>
                       <div class="col-xl-2">
                           <div class="px-4 mb-5 mb-lg-0">
                               <h6 class="fw-semibold mb-3">PAGES</h6>
                               <ul class="list-unstyled op-6 fw-medium landing-footer-list mb-0">
                                   <li>
                                       <a href="javascript:void(0);" class="">Email</a>
                                   </li>
                                   <li>
                                       <a href="javascript:void(0);" class="">Profile</a>
                                   </li>
                                   <li>
                                       <a href="javascript:void(0);" class="">Timeline</a>
                                   </li>
                                   <li>
                                       <a href="javascript:void(0);" class="">Projects</a>
                                   </li>
                                   <li>
                                       <a href="javascript:void(0);" class="">Contacts</a>
                                   </li>
                                   <li>
                                       <a href="javascript:void(0);" class="">Portfolio</a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                       <div class="col-xl-2">
                           <div class="px-4 mb-5 mb-lg-0">
                               <h6 class="fw-semibold">INFO</h6>
                               <ul class="list-unstyled op-6 fw-medium landing-footer-list mb-0">
                                   <li>
                                       <a href="javascript:void(0);" class="">Our Team</a>
                                   </li>
                                   <li>
                                       <a href="javascript:void(0);" class="">Contact US</a>
                                   </li>
                                   <li>
                                       <a href="javascript:void(0);" class="">About</a>
                                   </li>
                                   <li>
                                       <a href="javascript:void(0);" class="">Services</a>
                                   </li>
                                   <li>
                                       <a href="javascript:void(0);" class="">Blog</a>
                                   </li>
                                   <li>
                                       <a href="javascript:void(0);" class="">Terms &amp; Conditions</a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                       <div class="col-xl-4">
                           <div class="px-4">
                               <a routerLink="/content/dashboard"><img loading="lazy" alt="" class="logo-2 mb-3" src="./assets/images/brand-logos/desktop-logo.png"></a>
                               <a routerLink="/content/dashboard"><img src="./assets/images/brand-logos/desktop-white.png" class="logo-3 mb-3" alt="logo"></a>
                               <p class="text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat.</p>
                               <div class="form-group">
                                   <div class="input-group">
                                       <input type="text" class="form-control" placeholder="Enter your email" aria-label="Example text with button addon">
                                       <button class="btn btn-primary" type="button" id="button-addon2">Submit</button>
                                   </div>
                               </div>
                               <div class="btn-list mt-4">
                                   <button type="button" class="btn btn-icon rounded-pill"><i class="ri-facebook-line"></i></button>
                                   <button type="button" class="btn btn-icon rounded-pill"><i class="ri-youtube-line"></i></button>
                                   <button type="button" class="btn btn-icon rounded-pill"><i class="ri-twitter-x-line"></i></button>
                                   <button type="button" class="btn btn-icon rounded-pill"><i class="ri-instagram-line"></i></button>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </section>
           <!-- End:: Section-12 -->
           <div class="text-center landing-main-footer py-3">
               <span class="text-muted fs-15"> Copyright ©
                   <span id="year"> 2025 </span>
                   <a href="javascript:void(0);" class="text-primary fw-semibold">sash</a>.Designed with
                   <span class="fa fa-heart text-danger"></span> by
                   <a href="https://spruko.com/" target="_blank" class="text-primary fw-semibold">Spruko</a> All rights reserved
               </span>
           </div>
       </div>
       <!-- End::app-content -->
   </div>
    <div class="scrollToTop"  (click)="taptotop()" [ngStyle]="{ display: show ? 'flex' : 'none' }">
        <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
    </div>   
