<app-page-header [title]="'Apex PolarArea Charts'" [activeitem]="'Apex PolarArea Charts'" [title1]="['Apex  Charts']"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Polar Area Chart</div>
            </div>
            <div class="card-body">
                <div id="polararea-basic">
                    <spk-apexcharts  [chartOptions]="chartOptions"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Polar Area Monochrome Chart</div>
            </div>
            <div class="card-body">
                <div id="polararea-monochrome">
                    <spk-apexcharts  [chartOptions]="chartOptions1"></spk-apexcharts>

                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->
