<div class="{{ mainClass }}" gallerize>
    @for(image of imageData;track $index){
        <div class="col-lg-4 col-md-6 col-sm-12">
            <ng-container class="{{ image.colClass }}">
                   <a href="javascript:void(0);" class="glightbox card {{image.lightboxClass}}" data-gallery="gallery1">
                       <img [src]="image.srcUrl" [class]="image.imageClass" alt="image">
                   </a>
                </ng-container>
            </div>
            }
        </div>
