<app-page-header [title]="'Products'" [title1]="['Ecommerce']" [activeitem]="'Products'"></app-page-header>
                <!-- Start::row-1 -->
                <div class="row">
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-12">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    CATEGORIES
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="electronics">
                                    <label class="form-check-label" for="electronics">
                                        Electronics
                                    </label>
                                    <span class="badge bg-light text-muted float-end">2,712</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="Accesories">
                                    <label class="form-check-label" for="Accesories">
                                        Accesories
                                    </label>
                                    <span class="badge bg-light text-muted float-end">536</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="clothing" checked>
                                    <label class="form-check-label" for="clothing">
                                        Clothing
                                    </label>
                                    <span class="badge bg-light text-muted float-end">18,289</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="fashion">
                                    <label class="form-check-label" for="fashion">
                                        Fashion
                                    </label>
                                    <span class="badge bg-light text-muted float-end">3,453</span>
                                </div>
                                <div class="collapse" id="category-more" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="" id="furniture">
                                        <label class="form-check-label" for="furniture">
                                            Furniture
                                        </label>
                                        <span class="badge bg-light text-muted float-end">7,165</span>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="" id="footwear">
                                        <label class="form-check-label" for="footwear">
                                            Footwear
                                        </label>
                                        <span class="badge bg-light text-muted float-end">5,964</span>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="" id="mobiles">
                                        <label class="form-check-label" for="mobiles">
                                            Mobiles
                                        </label>
                                        <span class="badge bg-light text-muted float-end">2,123</span>
                                    </div>
                                </div>
                                <a  class="ecommerce-more-link" data-bs-toggle="collapse"  (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1" aria-expanded="false" aria-controls="category-more">MORE</a>
                            </div>
                        </div>
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    BRANDS
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="Jimmy-Lolfiger" checked>
                                    <label class="form-check-label" for="Jimmy-Lolfiger">
                                        Jimmy Lolfiger
                                    </label>
                                    <span class="badge bg-light text-muted float-end">512</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="dapzem1" checked>
                                    <label class="form-check-label" for="dapzem1">
                                        Dapzem & Co
                                    </label>
                                    <span class="badge bg-light text-muted float-end">2,186</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="denim-winjo1" checked>
                                    <label class="form-check-label" for="denim-winjo1">
                                        Denim Winjo
                                    </label>
                                    <span class="badge bg-light text-muted float-end">734</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="Louie-Phillippe">
                                    <label class="form-check-label" for="Louie-Phillippe">
                                        Louie Phillippe
                                    </label>
                                    <span class="badge bg-light text-muted float-end">16</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="garage-clothing">
                                    <label class="form-check-label" for="garage-clothing">
                                        Garage & Co
                                    </label>
                                    <span class="badge bg-light text-muted float-end">1,432</span>
                                </div>
                                <div class="collapse" id="brands-more" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="" id="blueberry" checked>
                                        <label class="form-check-label" for="blueberry">
                                            Blueberry & Co
                                        </label>
                                        <span class="badge bg-light text-muted float-end">257</span>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="" id="aus-polo-assn" checked>
                                        <label class="form-check-label" for="aus-polo-assn">
                                            Aus Polo Assn
                                        </label>
                                        <span class="badge bg-light text-muted float-end">1,845</span>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="" id="denim-corp" checked>
                                        <label class="form-check-label" for="denim-corp">
                                            Denim Corp
                                        </label>
                                        <span class="badge bg-light text-muted float-end">5,893</span>
                                    </div>
                                </div>
                                <a class="ecommerce-more-link" data-bs-toggle="collapse"  (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" role="button" aria-expanded="false" aria-controls="brands-more">MORE</a>
                            </div>
                        </div>
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    PRICE
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="low">
                                    <label class="form-check-label" for="low">
                                        $0 - $599
                                    </label>
                                    <span class="badge bg-light text-muted float-end">22,873</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="low1" checked>
                                    <label class="form-check-label" for="low1">
                                        $599 - $1299
                                    </label>
                                    <span class="badge bg-light text-muted float-end">11,345</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="medium">
                                    <label class="form-check-label" for="medium">
                                        $1,299 - $2,199
                                    </label>
                                    <span class="badge bg-light text-muted float-end">6,987</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="high">
                                    <label class="form-check-label" for="high">
                                        $2,199 - $3,499
                                    </label>
                                    <span class="badge bg-light text-muted float-end">5,236</span>
                                </div>
                                <div class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" value="" id="high1">
                                    <label class="form-check-label" for="high1">
                                        $3,499 & Above
                                    </label>
                                    <span class="badge bg-light text-muted float-end">3,735</span>
                                </div>
                            </div>
                        </div>
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    PRICE RANGE
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="px-2 py-3 pb-0" id="product-price-range">
                                    <div id="nonlinear"></div>
                                    <div class="d-flex mt-4 flex-wrap gap-2">
                                        <div class="fw-semibold px-3 py-1 border rounded">
                                          $<span id="lower-value">{{ lowerValue }}</span>
                                        </div>
                                        <span class="fw-semibold px-2 py-1">-</span>
                                        <div class="fw-semibold px-3 py-1 border rounded">
                                          $<span id="upper-value">{{ upperValue }}</span>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    DISCOUNT
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="Jimmy-Lolfiger1">
                                    <label class="form-check-label" for="Jimmy-Lolfiger1">
                                        0% - 20%
                                    </label>
                                    <span class="badge bg-light text-muted float-end">16,563</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="dapzem2">
                                    <label class="form-check-label" for="dapzem2">
                                        20% - 40%
                                    </label>
                                    <span class="badge bg-light text-muted float-end">15,234</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="denim-winjo">
                                    <label class="form-check-label" for="denim-winjo">
                                        40% - 60%
                                    </label>
                                    <span class="badge bg-light text-muted float-end">6,278</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="Louie-Phillippe1" checked>
                                    <label class="form-check-label" for="Louie-Phillippe1">
                                        60% - 80%
                                    </label>
                                    <span class="badge bg-light text-muted float-end">4,531</span>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="garage-clothing1">
                                    <label class="form-check-label" for="garage-clothing1">
                                        80% - 90%
                                    </label>
                                    <span class="badge bg-light text-muted float-end">2,405</span>
                                </div>
                            </div>
                        </div>
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    DISCOUNT
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="extra-small">
                                    <label class="form-check-label" for="extra-small">
                                        Extra Small (XS)
                                    </label>
                                    <span class="badge bg-light text-muted float-end">23,156</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="small">
                                    <label class="form-check-label" for="small">
                                        Small (SM)
                                    </label>
                                    <span class="badge bg-light text-muted float-end">15,632</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="medium1">
                                    <label class="form-check-label" for="medium1">
                                        Medium (MD)
                                    </label>
                                    <span class="badge bg-light text-muted float-end">15,032</span>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="large" checked>
                                    <label class="form-check-label" for="large">
                                        Large (L)
                                    </label>
                                    <span class="badge bg-light text-muted float-end">7,154</span>
                                </div>
                                <div class="collapse" id="sizes-more" #collapse3="ngbCollapse" [(ngbCollapse)]="isCollapsed3">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="" id="extra-large">
                                        <label class="form-check-label" for="extra-large">
                                            Extra Large (XL)
                                        </label>
                                        <span class="badge bg-light text-muted float-end">5,946</span>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="" id="double-extralarge">
                                        <label class="form-check-label" for="double-extralarge">
                                            XXL
                                        </label>
                                        <span class="badge bg-light text-muted float-end">3,267</span>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="" id="triple-extralarge">
                                        <label class="form-check-label" for="triple-extralarge">
                                            XXL
                                        </label>
                                        <span class="badge bg-light text-muted float-end">578</span>
                                    </div>
                                </div>
                                <a class="ecommerce-more-link" data-bs-toggle="collapse"  (click)="collapse3.toggle()" [attr.aria-expanded]="!isCollapsed3" aria-expanded="false" aria-controls="sizes-more">MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-8 col-lg-8 col-md-12">
                        <div class="row">
                            @for (product of products; track $index) {
                                <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <spk-product-card
                              [productImage]="product.image" 
                              [productName]="product.name" 
                              [productDescription]="product.description" 
                              [productPrice]="product.offerPrice" 
                              [originalPrice]="product.originalPrice" 
                              [discountPercentage]="product.discountPercentage" 
                              [rating]="product.rating" 
                              [offerPrice]="product.offerPrice" 
                             >
                            </spk-product-card>
                            </div>
                        }
                          </div>
                    </div>
                </div>
                <!--End::row-1 -->

                <!-- Pagination -->
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">Next</a>
                    </li>
                </ul>
                <!-- Pagination -->