<app-page-header [title]="'Apex Pie Charts'" [activeitem]="'Apex Pie Charts'" [title1]="['Apex  Charts']"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Basic Pie Chart</div>
            </div>
            <div class="card-body">
                <div id="pie-basic">
                    <spk-apexcharts  [chartOptions]="chartOptions"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Simple Donut Chart</div>
            </div>
            <div class="card-body">
                <div id="donut-simple">
                    <spk-apexcharts  [chartOptions]="chartOptions1"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Updating Donut Chart</div>
            </div>
            <div class="card-body">
                <div id="donut-update">
                    <spk-apexcharts #chart  [chartOptions]="chartOptions2"></spk-apexcharts>
                 
                </div>
               

            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Monochrome Pie Chart</div>
            </div>
            <div class="card-body">
                <div id="pie-monochrome">
                    <spk-apexcharts  [chartOptions]="chartOptions3"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Gradient Donut Chart</div>
            </div>
            <div class="card-body">
                <div id="donut-gradient">
                    <spk-apexcharts  [chartOptions]="chartOptions4"></spk-apexcharts>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Donut Chart With Patterns</div>
            </div>
            <div class="card-body">
                <div id="donut-pattern">
                    <spk-apexcharts  [chartOptions]="chartOptions5"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Image Filled Pie Chart</div>
            </div>
            <div class="card-body">
                <div id="pie-image">
                    <spk-apexcharts  [chartOptions]="chartOptions6"></spk-apexcharts>

                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->