<app-page-header [title]="'Leaflet Maps'" [title1]="['Maps']" [activeitem]="'Leaflet Maps'"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Leaflet Map</div>
            </div>
            <div class="card-body">
                <spk-leaflet-map [mapId]="'map'"></spk-leaflet-map>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Map With Markers,circles and Polygons</div>
            </div>
            <div class="card-body">
                <spk-leaflet-map [mapId]="'map1'"></spk-leaflet-map>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Map With Popup</div>
            </div>
            <div class="card-body">
                <spk-leaflet-map [mapId]="'map-popup'"></spk-leaflet-map>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Map With Custom Icon</div>
            </div>
            <div class="card-body">
                    <spk-leaflet-map [mapId]="'map-custom-icon'"></spk-leaflet-map>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Interactive Choropleth Map</div>
            </div>
            <div class="card-body">
                <spk-leaflet-map [mapId]="'interactive-map'"></spk-leaflet-map>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->