  <!-- PAGE-HEADER -->
  <div class="page-header">
    <h1 class="page-title my-auto">Blog</h1>
    <div>
        <div class="breadcrumb mb-0">
            <a aria-label="anchor" [routerLink]="['/content/pages/blog/createblog']" class="btn btn-primary"><i class="ti ti-circle-plus me-2 d-inline-block"></i>Add Post</a>
        </div>
    </div>
</div>
<!-- PAGE-HEADER END -->

  <!-- ROW-1 OPEN -->
  <div class="row">
    <div class="col-sm-6 col-md-12 col-lg-6 col-xxl-4">
        <div class="card">
            <a [routerLink]="['/content/pages/blog/blogdetails']"><img class="card-img-top" src="./assets/images/media/photos/2.jpg" alt="And this isn&#39;t my nose. This is a false one."></a>
            <div class="card-body d-flex flex-column">
                <h4 class="fw-normal"><a [routerLink]="['/content/pages/blog/blogdetails']">Voluptatem quia voluptas.</a></h4>
                <div class="text-muted">To take a trivial example, which of us ever undertakes laborious physical exerciser , except to obtain some advantage from it...</div>
                <div class="d-flex align-items-center pt-4 mt-auto">
                    <img class="avatar avatar-rounded avatar-md me-3 cover-image" src="./assets/images/faces/18.jpg">
                    <div>
                        <a [routerLink]="['/content/pages/profile']" class="text-default">Megan Peters</a>
                        <small class="d-block text-muted">1 days ago</small>
                    </div>
                    <div class="ms-auto my-auto">
                        <a aria-label="anchor" href="javascript:void(0)" class="d-none d-md-inline-block text-muted me-1"><i class="ti ti-heart me-1 border p-2 rounded-circle"></i></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="d-none d-md-inline-block text-muted"><i class="ti ti-thumb-up border p-2 rounded-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <a [routerLink]="['/content/pages/blog/blogdetails']"><img class="card-img-top" src="./assets/images/media/photos/4.jpg" alt="How do you know she is a witch?"></a>
            <div class="card-body d-flex flex-column">
                <h4 class="fw-normal"><a [routerLink]="['/content/pages/blog/blogdetails']"> Voluptatem quia voluptas </a></h4>
                <div class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque...</div>
                <div class="d-flex align-items-center pt-4 mt-auto">
                    <img class="avatar avatar-rounded avatar-md me-3 cover-image" src="./assets/images/faces/6.jpg">
                    <div>
                        <a [routerLink]="['/content/pages/profile']" class="text-default">Carol Paige</a>
                        <small class="d-block text-muted">2 days ago</small>
                    </div>
                    <div class="ms-auto my-auto">
                        <a aria-label="anchor" href="javascript:void(0)" class="d-none d-md-inline-block text-muted me-1"><i class="ti ti-heart me-1 border p-2 rounded-circle"></i></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="d-none d-md-inline-block text-muted"><i class="ti ti-thumb-up border p-2 rounded-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- COL-END -->
    </div>
    <!-- COL-END -->
    <div class="col-sm-6 col-md-12 col-lg-6 col-xxl-4">
        <div class="card">
            <a [routerLink]="['/content/pages/blog/blogdetails']"><img class="card-img-top" src="./assets/images/media/photos/3.jpg" alt="Well, I didn&#39;t vote for you."></a>
            <div class="card-body d-flex flex-column">
                <h4 class="fw-normal"><a [routerLink]="['/content/pages/blog/blogdetails']"> Voluptatem quia voluptas </a></h4>
                <div class="text-muted">Who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces.</div>
                <div class="d-flex align-items-center pt-4 mt-auto">
                    <img class="avatar avatar-rounded avatar-md me-3 cover-image" src="./assets/images/faces/16.jpg">
                    <div>
                        <a [routerLink]="['/content/pages/profile']" class="text-default">Anna Ogden</a>
                        <small class="d-block text-muted">2 days ago</small>
                    </div>
                    <div class="ms-auto my-auto">
                        <a aria-label="anchor" href="javascript:void(0)" class="d-none d-md-inline-block text-muted me-1"><i class="ti ti-heart me-1 border p-2 rounded-circle"></i></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="d-none d-md-inline-block text-muted"><i class="ti ti-thumb-up border p-2 rounded-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <a [routerLink]="['/content/pages/blog/blogdetails']"><img class="card-img-top" src="./assets/images/media/photos/5.jpg" alt="Shut up!"></a>
            <div class="card-body d-flex flex-column">
                <h4 class="fw-normal"><a [routerLink]="['/content/pages/blog/blogdetails']"> Voluptatem quia voluptas </a></h4>
                <div class="text-muted">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut ..</div>
                <div class="d-flex align-items-center pt-4 mt-auto">
                    <img class="avatar avatar-rounded avatar-md me-3 cover-image" src="./assets/images/faces/7.jpg">
                    <div>
                        <a [routerLink]="['/content/pages/profile']" class="text-default">Fiona Hodges</a>
                        <small class="d-block text-muted">5 days ago</small>
                    </div>
                    <div class="ms-auto my-auto">
                        <a aria-label="anchor" href="javascript:void(0)" class="d-none d-md-inline-block text-muted me-1"><i class="ti ti-heart me-1 border p-2 rounded-circle"></i></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="d-none d-md-inline-block text-muted"><i class="ti ti-thumb-up border p-2 rounded-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination justify-content-end">
            <li class="page-item page-prev disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">Prev</a>
            </li>
            <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
            <li class="page-item page-next">
                <a class="page-link" href="javascript:void(0)">Next</a>
            </li>
        </ul>
    </div>
    <!-- COL-END -->
    <div class="col-xxl-4">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control border-end-0" placeholder="Search ...">
                    <button aria-label="anchor" type="button" class="btn input-group-text bg-transparent border-start-0 text-muted">
                        <i class="fe fe-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="card-title">Recent Posts</div>
            </div>
            <div class="card-body">
                <div class="">
                    <div class="d-flex overflow-visible">
                        <a aria-label="anchor"[routerLink]="['/content/pages/blog/blogdetails']" class="card-aside-column br-5 cover-image custom-blog-image"></a>
                        <div class="ps-3 flex-column">
                            <span class="badge bg-danger me-1 mb-1 mt-1">Lifestyle</span>
                            <h6 class="fw-normal"><a [routerLink]="['/content/pages/blog/blogdetails']">Generator on the Internet..</a></h6>
                            <div class="text-muted">Excepteur sint occaecat cupidatat non proident, accusantium sunt in culpa qui officia deserunt mollit anim id est laborum....</div>
                        </div>
                    </div>
                    <div class="d-flex overflow-visible mt-4">
                        <a aria-label="anchor"[routerLink]="['/content/pages/blog/blogdetails']" class="card-aside-column br-5 cover-image custom-blog-image1"></a>
                        <div class="ps-3 flex-column">
                            <span class="badge bg-primary me-1 mb-1 mt-1">Business</span>
                            <h6 class="fw-normal"><a [routerLink]="['/content/pages/blog/blogdetails']">Voluptatem quia voluptas...</a></h6>
                            <div class="text-muted">Excepteur sint occaecat cupidatat non proident, accusantium sunt in culpa qui officia deserunt mollit anim id est laborum....</div>
                        </div>
                    </div>
                    <div class="d-flex overflow-visible mt-4">
                        <a aria-label="anchor"[routerLink]="['/content/pages/blog/blogdetails']" class="card-aside-column br-5 cover-image custom-blog-image2"></a>
                        <div class="ps-3 flex-column">
                            <span class="badge bg-secondary me-1 mb-1 mt-1">Travel</span>
                            <h6 class="fw-normal"><a [routerLink]="['/content/pages/blog/blogdetails']">Generator on the Internet..</a></h6>
                            <div class="text-muted">Excepteur sint occaecat cupidatat non proident, accusantium sunt in culpa qui officia deserunt mollit anim id est laborum....</div>
                        </div>
                    </div>
                    <div class="d-flex overflow-visible mt-4">
                        <a aria-label="anchor"[routerLink]="['/content/pages/blog/blogdetails']" class="card-aside-column br-5 cover-image custom-blog-image3"></a>
                        <div class="ps-3 flex-column">
                            <span class="badge bg-success me-1 mb-1 mt-1">Meeting</span>
                            <h6 class="fw-normal"><a [routerLink]="['/content/pages/blog/blogdetails']">Voluptatem quia voluptas...</a></h6>
                            <div class="text-muted">Excepteur sint occaecat cupidatat non proident, accusantium sunt in culpa qui officia deserunt mollit anim id est laborum....</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="fw-bold">NEVER MISS A POST !</h5>
                <p>Signup for free to get the latest posts.</p>
                <input class="form-control" placeholder="Enter your name *" type="text">
                <a href="javascript:void(0)" class="btn btn-danger mt-3">Subscribe</a>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->