<app-page-header [title]="'Avatars'" [title1]="['Utilities']" [activeitem]="'Avatars'"></app-page-header>

<!-- Start::row-1 -->
 <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <app-showcode-card [title]="'Avatars'" [prism]="prismcode.avatars1" classbody="py-4">
                <span class="avatar me-2 avatar-radius-0">
                    <img src="./assets/images/faces/1.jpg" alt="img">
                </span>
                <span class="avatar me-2">
                    <img src="./assets/images/faces/2.jpg" alt="img">
                </span>
                <span class="avatar me-2 avatar-rounded">
                    <img src="./assets/images/faces/3.jpg" alt="img">
                </span>
        </app-showcode-card>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <app-showcode-card [title]="title + ' <p class=\'subtitle text-muted fs-12 fw-normal\'> ' + subtitle + ' </p>'" [prism]="prismcode.avatars2">

                <span class="avatar avatar-xs me-2">
                    <img src="./assets/images/faces/4.jpg" alt="img">
                </span>
                <span class="avatar avatar-sm me-2">
                    <img src="./assets/images/faces/5.jpg" alt="img">
                </span>
                <span class="avatar avatar-md me-2">
                    <img src="./assets/images/faces/6.jpg" alt="img">
                </span>
                <span class="avatar avatar-lg me-2">
                    <img src="./assets/images/faces/7.jpg" alt="img">
                </span>
                <span class="avatar avatar-xl me-2">
                    <img src="./assets/images/faces/8.jpg" alt="img">
                </span>
                <span class="avatar avatar-xxl me-2">
                    <img src="./assets/images/faces/9.jpg" alt="img">
                </span>
        </app-showcode-card>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <app-showcode-card  [title]="title1 + ' <p class=\'subtitle text-muted fs-12 fw-normal\'> ' + subtitle1 + ' </p>'" [prism]="prismcode.avatars3">

                <span class="avatar avatar-xs me-2 avatar-rounded">
                    <img src="./assets/images/faces/2.jpg" alt="img">
                    <a href="javascript:void(0);" class="badge bg-success rounded-pill avatar-badge"><i class="fe fe-camera"></i></a>
                </span>
                <span class="avatar avatar-sm me-2 avatar-rounded">
                    <img src="./assets/images/faces/3.jpg" alt="img">
                    <a href="javascript:void(0);" class="badge rounded-pill bg-secondary avatar-badge"><i class="fe fe-edit"></i></a>
                </span>
                <span class="avatar avatar-md me-2 avatar-rounded">
                    <img src="./assets/images/faces/14.jpg" alt="img">
                    <a href="javascript:void(0);" class="badge rounded-pill bg-warning avatar-badge"><i class="fe fe-plus"></i></a>
                </span>
                <span class="avatar avatar-lg me-2 avatar-rounded">
                    <img src="./assets/images/faces/13.jpg" alt="img">
                    <a href="javascript:void(0);" class="badge rounded-pill bg-info avatar-badge"><i class="fe fe-edit"></i></a>
                </span>
                <span class="avatar avatar-xl me-2 avatar-rounded">
                    <img src="./assets/images/faces/15.jpg" alt="img">
                    <a href="javascript:void(0);" class="badge rounded-pill bg-success avatar-badge"><i class="fe fe-camera"></i></a>
                </span>
                <span class="avatar avatar-xxl me-2 avatar-rounded">
                    <img src="./assets/images/faces/9.jpg" alt="img">
                    <a href="javascript:void(0);" class="badge rounded-pill bg-danger avatar-badge"><i class="fe fe-plus"></i></a>
                </span>
        </app-showcode-card>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <app-showcode-card [title]="title2 + ' <p class=\'subtitle text-muted fs-12 fw-normal\'> ' + subtitle2 + ' </p>'" [prism]="prismcode.avatars4">

                <span class="avatar avatar-xs me-2 online avatar-rounded">
                    <img src="./assets/images/faces/8.jpg" alt="img">
                </span>
                <span class="avatar avatar-sm online me-2 avatar-rounded">
                    <img src="./assets/images/faces/10.jpg" alt="img">
                </span>
                <span class="avatar avatar-md me-2 online avatar-rounded">
                    <img src="./assets/images/faces/12.jpg" alt="img">
                </span>
                <span class="avatar avatar-lg me-2 online avatar-rounded">
                    <img src="./assets/images/faces/13.jpg" alt="img">
                </span>
                <span class="avatar avatar-xl me-2 online avatar-rounded">
                    <img src="./assets/images/faces/14.jpg" alt="img">
                </span>
                <span class="avatar avatar-xxl me-2 online avatar-rounded">
                    <img src="./assets/images/faces/15.jpg" alt="img">
                </span>
        </app-showcode-card>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <app-showcode-card [title]="title3 + ' <p class=\'subtitle text-muted fs-12 fw-normal\'> ' + subtitle3 + ' </p>'" [prism]="prismcode.avatars5">
                <span class="avatar avatar-xs me-2 offline avatar-rounded">
                    <img src="./assets/images/faces/2.jpg" alt="img">
                </span>
                <span class="avatar avatar-sm offline me-2 avatar-rounded">
                    <img src="./assets/images/faces/3.jpg" alt="img">
                </span>
                <span class="avatar avatar-md me-2 offline avatar-rounded">
                    <img src="./assets/images/faces/4.jpg" alt="img">
                </span>
                <span class="avatar avatar-lg me-2 offline avatar-rounded">
                    <img src="./assets/images/faces/5.jpg" alt="img">
                </span>
                <span class="avatar avatar-xl me-2 offline avatar-rounded">
                    <img src="./assets/images/faces/6.jpg" alt="img">
                </span>
                <span class="avatar avatar-xxl me-2 offline avatar-rounded">
                    <img src="./assets/images/faces/7.jpg" alt="img">
                </span>
        </app-showcode-card>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <app-showcode-card [title]="title4 + ' <p class=\'subtitle text-muted fs-12 fw-normal\'> ' + subtitle4 + ' </p>'" [prism]="prismcode.avatars6">

                <span class="avatar avatar-xs me-2 avatar-rounded">
                    <img src="./assets/images/faces/2.jpg" alt="img">
                    <span class="badge rounded-pill bg-primary avatar-badge">2</span>
                </span>
                <span class="avatar avatar-sm me-2 avatar-rounded">
                    <img src="./assets/images/faces/3.jpg" alt="img">
                    <span class="badge rounded-pill bg-secondary avatar-badge">5</span>
                </span>
                <span class="avatar avatar-md me-2 avatar-rounded">
                    <img src="./assets/images/faces/14.jpg" alt="img">
                    <span class="badge rounded-pill bg-warning avatar-badge">1</span>
                </span>
                <span class="avatar avatar-lg me-2 avatar-rounded">
                    <img src="./assets/images/faces/13.jpg" alt="img">
                    <span class="badge rounded-pill bg-info avatar-badge">7</span>
                </span>
                <span class="avatar avatar-xl me-2 avatar-rounded">
                    <img src="./assets/images/faces/15.jpg" alt="img">
                    <span class="badge rounded-pill bg-success avatar-badge">3</span>
                </span>
                <span class="avatar avatar-xxl me-2 avatar-rounded">
                    <img src="./assets/images/faces/9.jpg" alt="img">
                    <span class="badge rounded-pill bg-danger avatar-badge">9</span>
                </span>
        </app-showcode-card>
    </div>
</div>
<!-- End::row-1 -->

<!-- Start::row-3 -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <app-showcode-card [title]="title5 + ' <p class=\'subtitle text-muted fs-12 fw-normal\'> ' + subtitle5 + ' </p>'" [prism]="prismcode.avatars7">
                <span class="avatar avatar-xs m-2 bg-primary">
                    xs
                </span>
                <span class="avatar avatar-sm m-2 bg-secondary">
                    SM
                </span>
                <span class="avatar avatar-md m-2 bg-warning">
                    MD
                </span>
                <span class="avatar avatar-lg m-2 bg-danger">
                    LG
                </span>
                <span class="avatar avatar-xl m-2 bg-success">
                    XL
                </span>
                <span class="avatar avatar-xxl m-2 bg-info">
                    XXL
                </span>
        </app-showcode-card>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <app-showcode-card [title]="title6 + ' <p class=\'subtitle text-muted fs-12 fw-normal\'> ' + subtitle6 + ' </p>'" [prism]="prismcode.avatars8">

                <div class="avatar-list-stacked">
                    <span class="avatar">
                        <img src="./assets/images/faces/2.jpg" alt="img">
                    </span>
                    <span class="avatar">
                        <img src="./assets/images/faces/8.jpg" alt="img">
                    </span>
                    <span class="avatar">
                        <img src="./assets/images/faces/2.jpg" alt="img">
                    </span>
                    <span class="avatar">
                        <img src="./assets/images/faces/10.jpg" alt="img">
                    </span>
                    <span class="avatar">
                        <img src="./assets/images/faces/4.jpg" alt="img">
                    </span>
                    <span class="avatar">
                        <img src="./assets/images/faces/13.jpg" alt="img">
                    </span>
                    <a class="avatar bg-primary text-fixed-white" href="javascript:void(0);">
                        +8
                    </a>
                </div>
        </app-showcode-card>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
        <app-showcode-card [title]="title7 + ' <p class=\'subtitle text-muted fs-12 fw-normal\'> ' + subtitle7 + ' </p>'" [prism]="prismcode.avatars9">

                <div class="avatar-list-stacked">
                    <span class="avatar avatar-rounded">
                        <img src="./assets/images/faces/2.jpg" alt="img">
                    </span>
                    <span class="avatar avatar-rounded">
                        <img src="./assets/images/faces/8.jpg" alt="img">
                    </span>
                    <span class="avatar avatar-rounded">
                        <img src="./assets/images/faces/2.jpg" alt="img">
                    </span>
                    <span class="avatar avatar-rounded">
                        <img src="./assets/images/faces/10.jpg" alt="img">
                    </span>
                    <span class="avatar avatar-rounded">
                        <img src="./assets/images/faces/4.jpg" alt="img">
                    </span>
                    <span class="avatar avatar-rounded">
                        <img src="./assets/images/faces/13.jpg" alt="img">
                    </span>
                    <a class="avatar bg-primary avatar-rounded text-fixed-white" href="javascript:void(0);">
                        +8
                    </a>
                </div>
        </app-showcode-card>
    </div>
</div>
<!-- End::row-3 -->