<app-page-header [title]="'Echarts'" [activeitem]="'Echarts'" [title1]="['Charts']"></app-page-header>
<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">  
          <div class="card-title">Basic Line Chart</div>
        </div>
        <div class="card-body">
          <spk-echarts [options]="echartHorizontalLineBarChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Smoothed Line Chart</div>
        </div>
        <div class="card-body">
          <spk-echarts id="echart-smoothed-line" [options]="smoothlinechart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Basic Area Chart</div>
        </div>
        <div class="card-body">
          <spk-echarts id="echart-basic-area" [options]="basicAreaChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Stacked Line Chart</div>
        </div>
        <div class="card-body">
          <spk-echarts id="echart-stacked-line" [options]="stackedlineChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Stacked Area Chart</div>
        </div>
        <div class="card-body">
          <spk-echarts id="echart-stacked-area" [options]="stackedAreaChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Step Line Chart</div>
        </div>
        <div class="card-body">
          <spk-echarts id="echart-step-line" [options]="steplineChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Basic Bar Chart</div>
        </div>
        <div class="card-body">
          <spk-echarts id="echart-bar-basic" [options]="basicBarChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Bar With Background Chart</div>
        </div>
        <div class="card-body">
          <spk-echarts id="echart-bar-background" [options]="barBgChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Style For a Single Bar Chart</div>
        </div>
        <div class="card-body">
          <spk-echarts id="echart-bar-single" [options]="singleBarChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Water Fall Chart</div>
        </div>
        <div class="card-body">
          <spk-echarts id="echart-waterfall" [options]="waterFallChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Bar With Negative Values Chart</div>
        </div>
        <div class="card-body">
          <spk-echarts id="echart-negative-values" [options]="barChartNegativeChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Bar With Labels Chart</div>
        </div>
        <div class="card-body">
          <spk-echarts id="echart-bar-labels" [options]="barLableChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Horizontal Bar Chart</div>
        </div>
        <div class="card-body">
          <spk-echarts id="echart-bar-horizontal" [options]="horizontalBarChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Horizontal Stacked Bar Chart</div>
        </div>
        <div class="card-body">
            <spk-echarts id="echart-stacked-horizontal" [options]="horizontalStackedBarChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Pie Chart</div>
        </div>
        <div class="card-body">
            <spk-echarts id="echart-pie" [options]="pieChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Doughnut Chart</div>
        </div>
        <div class="card-body">
            <spk-echarts id="echart-doughnut" [options]="doughutChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Basic Scatter Chart</div>
        </div>
        <div class="card-body">
            <spk-echarts id="echart-scatter" [options]="scatterChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Basic Bubble Chart</div>
        </div>
        <div class="card-body">
            <spk-echarts id="echart-bubble" [options]="bubbleChart" ></spk-echarts>
        </div>
      </div>
    </div>
     <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Simple Graph Chart</div>
        </div>
        <div class="card-body">
            <spk-echarts id="echart-simple-graph" [options]="graphChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Candlestick Chart</div>
        </div>
        <div class="card-body">
            <spk-echarts id="echart-candlestick" [options]="candlestickChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Basic Radar Chart</div>
        </div>
        <div class="card-body">
            <spk-echarts id="echart-basic-radar" [options]="radarChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Heatmap Chart</div>
        </div>
        <div class="card-body">
            <spk-echarts id="echart-heatmap" [options]="options" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Treemap Chart</div>
        </div>
        <div class="card-body">
            <spk-echarts id="echart-treemap" [options]="treemapChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Funnel Chart</div>
        </div>
        <div class="card-body">
            <spk-echarts id="echart-funnel" [options]="funnelChart"></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Basic Gauge Chart</div>
        </div>
        <div class="card-body">
            <spk-echarts id="echart-gauge-basic" [options]="guageChart" ></spk-echarts>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Bar Chart</div>
        </div>
        <div class="card-body">
            <spk-echarts id="echart-gauge-basic" [options]="barChart" ></spk-echarts>
        </div>
      </div>
    </div>
  </div>
  <!--End::row-1 -->
  
  