<div class="card">
  <div class="card-body text-center">
    <img class="avatar avatar-xxl bradius cover-image" [src]="image" alt="User Image">
    <h4 class="h4 mb-0 mt-3">{{ name }}</h4>
    <p class="card-text">{{ role }}</p>
    <p>{{ description }}</p>
    <div class="user-social-detail text-center">
      @for (link of socialLinks; track $index) {
      <a
        [href]="link.url"
        target="_blank"
        class="social-profile me-3"
        [ngClass]="link.bgClass"
      >
        <i [class]="link.iconClass"></i>
      </a>
    }
    </div>
  </div>
</div>
