<app-page-header [title]="'Mail Inbox'" [title1]="['Email']" [activeitem]="'Mail Inbox'"></app-page-header>

<div class="main-mail-container gap-4 mb-5 d-lg-flex">
    <div class="mail-navigation">
        <div class="d-grid align-items-top p-3 border-bottom">
            <button (click)="open(content)" type="button" class="btn btn-primary d-flex align-items-center justify-content-center" data-bs-toggle="modal"
            data-bs-target="#mail-Compose">
                <i class="ri-add-circle-line fs-16 align-middle me-1"></i>Compose Mail
            </button>
            <ng-template #content let-modal>
                        <div class="modal-header">
                            <h6 class="modal-title" id="mail-ComposeLabel">Compose Mail</h6>
                            <button (click)="modal.close('cross click')" type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-4">
                            <div class="row">
                                <div class="col-xl-6 mb-2">
                                    <label for="fromMail" class="form-label">From<sup><i class="ri-star-s-fill text-success fs-8"></i></sup></label>
                                    <input type="email" class="form-control" id="fromMail" value="jsontaylor2345&#64;gmail.com">
                                </div>
                                <div class="col-xl-6 mb-2">
                                    <label for="toMail" class="form-label">To<sup><i class="ri-star-s-fill text-success fs-8"></i></sup></label>
                                    <spk-ng-select [options]="Mails" [id]="'toMail'" [selectClass]="''"
                                    [defaultValue]="selectedTags" [clearable]="true" [searchable]="true" [multiple]="true"
                                    [hideSelected]="true" placeholder="1 Day" [additionalProperties]="{}">
                                </spk-ng-select>
                                </div>
                                <div class="col-xl-6 mb-2">
                                    <label for="mailCC" class="form-label text-dark fw-semibold">Cc</label>
                                    <input type="email" class="form-control" id="mailCC">
                                </div>
                                <div class="col-xl-6 mb-2">
                                    <label for="mailBcc" class="form-label text-dark fw-semibold">Bcc</label>
                                    <input type="email" class="form-control" id="mailBcc">
                                </div>
                                <div class="col-xl-12 mb-2">
                                    <label for="Subject" class="form-label">Subject</label>
                                    <input type="text" class="form-control" id="Subject" placeholder="Subject">
                                </div>
                                <div class="col-xl-12">
                                    <label class="col-form-label">Content :</label>
                                    <div class="mail-compose">
                                        <div id="mail-compose-editor">
                                            <form [formGroup]="form">
                                                <div class="NgxEditor__Wrapper">
                                                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                                    </ngx-editor-menu>
                                                    <ngx-editor [editor]="editor">
                                                    </ngx-editor>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button (click)="modal.close('cross click')" type="button" class="btn btn-light"
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Send</button>
                        </div>
            </ng-template>
        </div>
        <overlay-scrollbars>
            <ul class="list-unstyled mail-main-nav" id="mail-main-nav">
                <li class="px-0 pt-0 mail-nav-heading">
                    <span class="fs-11 text-muted op-7 fw-semibold">MAILS</span>
                </li>
                <li class="active">
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i class="ri-inbox-archive-line align-middle fs-14"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                All Mails
                            </span>
                            <span class="badge bg-info-transparent rounded-1">789</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i class="ri-inbox-archive-line align-middle fs-14"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                Inbox
                            </span>
                            <span class="badge bg-success-transparent rounded-1">5</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i class="ri-send-plane-2-line align-middle fs-14"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                Sent
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i class="ri-draft-line align-middle fs-14"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                Drafts
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i class="ri-spam-2-line align-middle fs-14"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                Spam
                            </span>
                            <span class="badge bg-warning-transparent rounded-1">8</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i class="ri-bookmark-line align-middle fs-14"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                Important
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i class="ri-delete-bin-line align-middle fs-14"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                Trash
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i class="ri-archive-line align-middle fs-14"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                Archive
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i class="ri-star-line align-middle fs-14"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                Starred
                            </span>
                            <span class="badge bg-secondary-transparent rounded-1">2</span>
                        </div>
                    </a>
                </li>
                <li class="px-0 mail-nav-heading">
                    <span class="fs-11 text-muted op-7 fw-semibold">SETTINGS</span>
                </li>
                <li>
                    <a [routerLink]="['/pages/email/mailsettings']">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i class="ri-settings-3-line align-middle fs-14"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                Settings
                            </span>
                        </div>
                    </a>
                </li>
                <li class="px-0 mail-nav-heading">
                    <span class="fs-11 text-muted op-7 fw-semibold">LABELS</span>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i
                                    class="bx bx-bookmark align-middle fs-14 fw-semibold text-secondary"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                Mail
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i
                                    class="bx bx-bookmark align-middle fs-14 fw-semibold text-danger"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                Home
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i
                                    class="bx bx-bookmark align-middle fs-14 fw-semibold text-success"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                Work
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-center">
                            <span class="me-2 lh-1">
                                <i
                                    class="bx bx-bookmark align-middle fs-14 fw-semibold text-info"></i>
                            </span>
                            <span class="flex-fill text-nowrap">
                                Friends
                            </span>
                        </div>
                    </a>
                </li>
                <li class="px-0 mail-nav-heading">
                    <span class="fs-11 text-muted op-7 fw-semibold">ONLINE USERS</span>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-top lh-1">
                            <div class="me-2">
                                <span class="avatar avatar-sm online avatar-rounded">
                                    <img src="./assets/images/faces/4.jpg" alt="">
                                </span>
                            </div>
                            <div>
                                <p class="text-default fw-semibold mb-1">Angelica</p>
                                <p class="fs-12 text-muted mb-0">Hello this is angelica.</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-top lh-1">
                            <div class="me-2">
                                <span class="avatar avatar-sm online avatar-rounded">
                                    <img src="./assets/images/faces/6.jpg" alt="">
                                </span>
                            </div>
                            <div>
                                <p class="text-default fw-semibold mb-1">Rexha</p>
                                <p class="fs-12 text-muted mb-0">Thanks for sharing file 😀.</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="d-flex align-items-top lh-1">
                            <div class="me-2">
                                <span class="avatar avatar-sm online avatar-rounded">
                                    <img src="./assets/images/faces/5.jpg" alt="">
                                </span>
                            </div>
                            <div>
                                <p class="text-default fw-semibold mb-1">Alirodse</p>
                                <p class="fs-12 text-muted mb-0">Hello Hiii.... 🤚😍.</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </overlay-scrollbars>
    </div>
    <div class="total-mails mt-5 mt-lg-0">
        <div class="p-3 d-flex align-items-center border-bottom">
            <div class="me-3 ms-1">
                <input class="form-check-input" type="checkbox" id="checkAll" value="" aria-label="...">
            </div>
            <a aria-label="anchor" href="javascript:void(0);" class=" ms-1 fs-14" data-bs-toggle="tooltip" title="" ngbTooltip="Refresh">
                <i class="fe fe-rotate-cw text-muted"></i>
            </a>
            <spk-dropdowns [Customclass]="'dropdown ms-1'" [Icon]="true" [IconClass]="'fe fe-more-vertical'"
            [class]="'text-muted border-0 fs-14 no-caret'" [Menuclass]="'dropdown-menu'">
                    <li><a class="dropdown-item" href="javascript:void(0);">Read</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Unread</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Mark As Read</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Spam</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
            </spk-dropdowns>
            <div class="unstyled inbox-pagination ms-auto mb-0 ps-3">
                <span>
                    <a href="javascript:void(0);" class="text-muted d-inline-flex">1-50 of 234</a>
                    <a aria-label="anchor" href="javascript:void(0);" class="fs-18  op-6">
                        <i class="fe fe-chevron-left text-muted"></i>
                    </a>
                    <a aria-label="anchor" href="javascript:void(0);" class=" fs-18">
                            <i class="fe fe-chevron-right text-muted"></i>
                    </a>
                </span>
            </div>
        </div>
        <overlay-scrollbars class="mail-messages" id="mail-messages">
            <ul class="list-unstyled mb-0">
                @for (mail of allMails; track $index) {
                <li [class.active]="mail.isImportant">
                  <div class="d-flex align-items-top">
                    <div class="me-3 mt-1">
                      <input class="form-check-input" type="checkbox" value="" aria-label="...">
                    </div>
                    <div class="me-2 lh-1">
                      <a aria-label="anchor" href="javascript:void(0);" class="main-mail-star d-inline-block">
                        <i class="bx" [class.bx-star]="!mail.isStarred" [class.bx-star-fill]="mail.isStarred"></i>
                      </a>
                    </div>
                    <div class="me-1 lh-1">
                      <a aria-label="anchor" href="javascript:void(0);" class="main-mail-star d-inline-block" [attr.data-bs-original-title]="mail.isImportant ? 'Unmark as Important' : 'Mark as Important'">
                        <i class="bx" [class.bx-bookmark]="!mail.isImportant" [class.bxs-bookmark]="mail.isImportant"></i>
                      </a>
                    </div>
                    <div class="flex-fill ms-2 subject-container">
                      <a aria-label="anchor" [routerLink]="['/pages/email/mail-read']"  class="stretched-link"></a>
                      <p class="mb-0 main-mail-subject">
                        <span class="d-block mb-0 fw-semibold fs-14">{{ mail.subject }}</span>
                        <span class="fs-12 text-muted text-truncate">
                            @if (mail.badge) {
                          <span [class]="'badge rounded-1 ' + mail.badge.class">{{ mail.badge.text }}</span>
                        }
                          {{ mail.content }}
                        </span>
                      </p>
                    </div>
                    <div class="icons-mail">
                      <div class="mail-date float-end text-muted fw-normal fs-11">
                        @if(mail.hasAttachment){
                        <span class="me-2 d-inline-flex align-items-center">
                          <i class="ri-attachment-2 align-middle fs-12"></i>
                        </span>
                    }
                        {{ mail.time }}
                      </div>
                      <div class="mail-hover-icons">
                        <div class="d-flex justify-content-end align-items-center">
                          <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="tooltip" title="Mark as Read">
                            <i class="fe fe-mail"></i>
                          </a>
                          <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="tooltip" title="Delete">
                            <i class="fe fe-trash"></i>
                          </a>
                          <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="tooltip" title="Snooze">
                            <i class="fe fe-clock"></i>
                          </a>
                          <a aria-label="anchor" href="javascript:void(0);" data-bs-toggle="tooltip" title="Archive">
                            <i class="fe fe-download"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                  }
              </ul>
              
        </overlay-scrollbars>
    </div>
    <div class="mail-recepients d-none d-lg-block">
        <div class="p-3 border-bottom">
            <button class="btn btn-light btn-icon rounded-pill" data-bs-toggle="tooltip" placement="auto"
                ngbTooltip="Add Recepient"><i class="ri-add-line lh-1 mt-0 mb-1 fs-17"></i></button>
        </div>
        <overlay-scrollbars>
            <div class="p-3 d-flex flex-column align-items-center total-mail-recepients" id="mail-recepients">
                @for(recipient of recipients;track $index){
                    <a  href="javascript:void(0);" class="mail-recepeint-person">
                        <span class="avatar avatar-rounded {{recipient.status}}" >
                          <img [src]="recipient.avatar" alt="" data-bs-toggle="tooltip" placement="auto" ngbTooltip="{{recipient.name}}">
                        </span>
                      </a>
                }
             
            </div>
        </overlay-scrollbars>
    </div>
</div>

