/* You can add global styles to this file, and also import other style files */
@import url("assets/css/styles.css");
// -- Icons Css --
@import "assets/css/icons.css";

@import '../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.css';
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/leaflet/dist/leaflet.css";
// angular material
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '../node_modules/dropzone/dist/dropzone.css';

//angular calendar 
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/ngx-toastr/toastr.css";
//ng2-nouislider
@import "../node_modules/nouislider/dist/nouislider.css";


//flatpicker
@import '../node_modules/flatpickr/dist/flatpickr.css';
@import '../node_modules/overlayscrollbars/styles/overlayscrollbars.css';
// @ks98/modal gallery
@import '../node_modules/@angular/cdk/overlay-prebuilt.css';

@import '../node_modules/dropzone/dist/dropzone.css';
@import "../node_modules/filepond/dist/filepond.min.css";
@import "../node_modules/ngx-easy-table/style.css";

//ng2-nouislider
@import "../node_modules/nouislider/dist/nouislider.css"; 

app-spk-alerts:last-child .alert {
    margin-bottom: 0;
}
#costchart, #leadschart, #profitchart, #recentorders {
    .apexcharts-grid line, .apexcharts-xaxis line, .apexcharts-grid-borders line {
        stroke: transparent !important;
    }
}
.browser-stats {
    .browser-stats-content {
        margin-bottom: 1.1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
@media (max-width: 575.98px) {
    .main-header-container .header-element .header-link {
        .header-icon-badge.pulse {
            inset-block-start: 20px;
            inset-inline-end: 10px;
        }
    }
}
#myTabContent2 {
    .tab-pane {
        padding: 0;
        overflow: hidden;
    }
    #ngb-nav-55-panel {
        border-bottom: 0;
    }
}
@media (max-width: 576px) {
    .flexbox-custom  {
        .toast {
            width: 100%;
        }
    }

}
[dir="rtl"] {
    .translate-middle-x {
        transform: translateX(50%) !important;
    }
}
spk-flatpickr.form-control {
    padding: 0 !important;
}
.main-chart-wrapper .chat-info .tab-pane, .product-checkout .tab-pane, .mail-setting-tabs .tab-pane {
    border: 0;
    padding: 0;
}
.mail-option-read .vertical-phone {
    padding: 0 !important;
}
.createinvoice-date {
    .bg-light {
        background-color: rgb(var(--light-rgb)) !important;
    }
    .ng-select.bg-light .ng-select-container {
        background-color: rgb(var(--light-rgb)) !important;
    }
}
.landing-pricing-content .tab-pane {
    padding: 0;
}
@media (min-width: 576px) and (max-width: 767px) {
    .timeline li:before {
        margin-inline-start: -4.5px;
    }
    .timeline .timeline-icon {
        width: 9%;
    }
    .timeline .timeline-time {
        width: 17%;
    }
}
@media  (max-width: 1200px) {
    .main-chart-wrapper .chat-info {
        height: auto;
        .tab-content {
            height: calc(100vh - 25.5rem);
        }
    }
}
[dir="rtl"] {
    .media-visibility {
        .dropdown-menu-end {
            inset: 0px auto auto 0 !important;
        }
    }
    .authentication .display-1 {
        direction: ltr;
    }
}
.inputgroup-customdrop {
    .dropdown {
        &:last-child {
            .btn {
                border-start-start-radius: 0;
                border-end-start-radius: 0;
            }
        }
    }
}
select.form-select {
    padding: 0.375rem 0.45rem;
}
.mat-mdc-select-placeholder {
    color: var(--text-muted) !important;
}
.ng-dropdown-header {
    border-bottom: 1px solid var(--default-border) !important;
    input {
        border: 1px solid var(--input-border);
        color: var(--default-text-color);
        background-color: var(--form-control-bg);
        font-size: 0.875rem;
        font-weight: var(--default-font-weight);
        line-height: 1.6;
        border-radius: 0.35rem;
        padding: 0.5rem 0.85rem;
        
          &::-webkit-input-placeholder {
            font-size: 0.8rem;
            font-weight: 500;
            opacity: 0.7;
            color: var(--default-text-color);
            padding-inline-start: 0px;
            transition: padding-inline-start 0.1s ease-in;
          }
          &:focus-visible {
            outline: none !important;
          }
    }
}
@media (max-width:991.98px) {
    .landing-body .landing-banner .main-banner-container {
        padding-block-start: 1rem !important;
    }
    [dir="rtl"] {
        .landing-body .app-sidebar .slide-menu.child1 .side-menu__item:before {
            inset-block-start: 16px !important;
            transform: rotate(0);
            transform: scaleX(-1);
            inset-inline-start: 0px;
        }
    }
}
#chartjs-line, #chartjs-bar, #chartjs-pie, #chartjs-doughnut, #chartjs-mixed, #chartjs-scatter, #chartjs-polar, #chartjs-radar, #chartjs-bubble {
    display: block;
    width: 100%;
}
[data-theme-mode="dark"] {
    .table.table-secondary ,
    .table.table-danger ,
    .table.table-dark ,
    .table.table-warning ,
    .table.table-primary ,
    .table.table-secondary {
        background: var(--custom-white)
    }
}

.dropup .dropdown-menu.show {
    transform: translate(0px, -112px) !important;
  }

  .dropstart .dropdown-menu.show {
    transform: translate(-164px, 0px) !important;
  }
//   @media (min-width: 1400px) {
//     .swiper-view-details .swiper-slide {
//         margin-right: 15px !important;
//         width: 7rem !important;
//     }
//   }
.mail-footer-btns {
    i {
        line-height: 1;
        vertical-align: text-top;
    }
}
.custom-setting-btns {
    label {
        font-size: 11px !important;
    }
}
@media (min-width: 992px) {
    .bg-img, [data-bg-img="bgimg5"], [data-bg-img="bgimg4"], [data-bg-img="bgimg3"], [data-bg-img="bgimg2"], [data-bg-img="bgimg1"] {
        &[data-nav-layout="horizontal"][data-menu-styles="transparent"] {
            .app-sidebar {
                border: 0;
            }
            .app-sidebar .slide-menu.child1, 
            .app-sidebar .slide-menu.child2, 
            .app-sidebar .slide-menu.child3 {
                border: 0;
            }
        }
    }
}
[data-header-styles="dark"][data-theme-mode="light"] {
    .search-app:hover a {
        color: var(--primary-color);
    }
}
.swal2-container .swal2-deny, .swal2-container .swal2-cancel {
    margin-inline-end: 0;
}
.mail-recepients {
    .tooltip {
        font-size: 12px !important;
        
    }
}
.custom-inlinetimepicker {
    spk-flatpickr {
        border: 0 !important;
        .form-control {
            border: 1px solid var(--input-border) !important;
        }
    }
}
.custom-floating-label-select {
    .mat-mdc-form-field {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    #gradient-circle .apexcharts-toolbar {
      position: absolute !important;
    }
  }
  @media (min-width: 991.98px) {
    .main-header-center .form-control {
        padding-inline-end: 2.2rem;
    }
}
body ::-webkit-scrollbar {
    background: rgba(var(--dark-rgb), 0.1);
    width: .5rem;
    height: .5rem;
}
body :hover::-webkit-scrollbar-thumb {
    background: rgba(var(--dark-rgb), 0.2);
}
.custom-dropup .dropdown-menu {
    inset: auto auto 0px 0 !important;
    transform: translate(0px, -40px) !important;
}

