
<apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" 
[yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [markers]="chartOptions.markers"
[dataLabels]="chartOptions.dataLabels" [stroke]="chartOptions.stroke" 
[grid]="chartOptions.grid" [colors]="chartOptions.colors" [labels]="chartOptions.labels" 
[title]="chartOptions.title" [fill]="chartOptions.fill" [legend]="chartOptions.legend" 
[plotOptions]="chartOptions.plotOptions" [tooltip]="chartOptions.tooltip" [theme]="chartOptions.theme" >
</apx-chart>
