<app-page-header [title]="'Date & Time Picker '" [title1]="['Form Elements']" [activeitem]="'Date & Time Picker'"></app-page-header>

 <!-- Start:: row-1 -->
 <div class="row">
    <div class="col-xxl-3 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Basic Date picker
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                        <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control" 
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true"  [enableTime]="false"
                        [dateFormat]="'Y-m-d'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Date picker With Time
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                        <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true"  [enableTime]="true"
                        [dateFormat]="'Y-m-d H:i'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Human Friendly dates
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                        <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control"
                        [mode]="'single'" [altInput]="true" [convertModelValue]="true"  [enableTime]="false"
                        [dateFormat]="'Y-m-d'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Date range picker
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                        <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control"
                        [mode]="'range'" [altInput]="true" [convertModelValue]="true"  [enableTime]="false"
                        [dateFormat]="'Y-m-d'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-1 -->

<!-- Start:: row-2 -->
<div class="row">
    <div class="col-xxl-3 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Basic Time picker
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text text-muted"> <i class="ri-time-line"></i> </div>
                        <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control" [noCalendar]="true"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true"  [enableTime]="true"
                        [dateFormat]="'h:i'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Time picker with 24hr Format
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text text-muted"> <i class="ri-time-line"></i> </div>
                        <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control" [noCalendar]="true"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true"  [enableTime]="true"
                        [dateFormat]="'h:i'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Time Picker with Limits
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text text-muted"> <i class="ri-time-line"></i> </div>
                        <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control" [noCalendar]="true"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true"  [enableTime]="true"
                        [dateFormat]="'h:i'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    DateTimePicker with Limited Time Range
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text text-muted"> <i class="ri-time-line"></i> </div>
                        <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control" [noCalendar]="true"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true"  [enableTime]="true"
                        [dateFormat]="'h:i'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-2 -->

<!-- Start:: row-3 -->
<div class="row">
    <div class="col-xl-6">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Date Picker with week numbers
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-0">
                            <div class="input-group">
                                <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control" 
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true"  [enableTime]="true"
                        [dateFormat]="'Y-m-d h:i'"></spk-flatpickr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Inline Time Picker
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-0 custom-inlinetimepicker">
                            <spk-flatpickr [placeholder]="'Choose time'" class="form-control mb-1" 
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true"  [enableTime]="true" [noCalendar]="true" [inline]="true"
                        [dateFormat]="' h:i'"></spk-flatpickr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Preloading time
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-0">
                            <div class="input-group">
                                <div class="input-group-text text-muted"> <i class="ri-time-line"></i> </div>
                                <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control"  [noCalendar]="true"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true"  [enableTime]="true"
                        [dateFormat]="'h:i'"></spk-flatpickr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">
                    Inline Calendar
                </div>
            </div>
            <div class="card-body">
                <div class="form-group overflow-auto">
                    <spk-flatpickr [placeholder]="'Choose date and time'" class="form-control"  
                    [mode]="'single'" [altInput]="false" [convertModelValue]="true"  [enableTime]="false" [inline]="true"
                    [dateFormat]="'Y-m-d'"></spk-flatpickr>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-3 -->