@use "../variables";


code[class*=language-]
{
  max-height: inherit;
  height: inherit;
  padding: 0 1em;
  display: block;
  overflow: auto;
}

pre[class*=language-]
code {
  position: relative;
  z-index: 1;
  border-left: 10px solid #358ccb;
  box-shadow: -1px 0 0 0 #358ccb, 0 0 0 1px #dfdfdf;
  background-color: #fdfdfd;
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, .04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
}
.no-caret.dropdown-toggle::after
{
    display: none;
}
code[class*=language-],
pre[class*=language-] {
  color: #000;
  background: 0 0;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.customtab .tab-content .tab-pane {
  padding: 0 !important;
  border: none !important;
}

#monthly1,
 #myTabContent11{
   .tab-pane {
      padding: 0rem !important;
      border: none !important;
    }
  }

.product-table{
  .tab-content .tab-pane {
    padding: 0rem !important;
    border: none !important;
  }
}

.additional-style {
  .alert-success,
  .alert-primary,
  .alert-secondary,
  .alert-warning{
    .btn-close {
      color: #fff !important;
    }
  }
}

// .custom-alert1 {
//   padding-inline: 0.65rem !important;
//   padding-block: 2rem !important;
// }
.no-caret.dropdown-toggle::after
{
  display: none;
}
.myNestedSwiper {
  height: 350px; /* Adjust based on your layout */
}
.custom-tabs{
  .tab-content .tab-pane{
    border:0px !important;
    padding:0 !important;
  }
}
@media (min-width: 576px) {
  .country-selector,
  .cart-dropdown,
  .notifications-dropdown,
  .message-dropdown,
  .main-profile-user{
    .dropdown-menu.show{
        inset: -3px 0px auto auto !important;
     }
  }

[dir=rtl]{
    .country-selector,
    .cart-dropdown,
    .notifications-dropdown,
    .message-dropdown,
    .main-profile-user{
      .dropdown-menu.show{
          inset:-3px auto auto 0px !important;
      }
    }
    .dropdown-item {
      display: inline-flex !important;
    }
  }
}
[data-theme-mode=light][data-menu-styles=dark] .os-scrollbar .os-scrollbar-handle {
  background: #fff3 !important;
}

.NgxEditor__MenuBar {
background-color: var(--custom-white) !important;
}

.NgxEditor__MenuBar {
border: 1px solid var(--default-border) !important;
}

.NgxEditor {
background: var(--custom-white) !important;
border-color: var(--default-border) !important;
color: var(--default-text-color) !important;
}

.NgxEditor__Seperator {
border-left-color: var(--default-border) !important;
}

.NgxEditor__MenuBar {
border-bottom: 0px !important;
}

.angular-editor-textarea:focus-visible {
outline: none;
}

.NgxEditor__Content {
height: 12rem !important;
}

.angular-editor-toolbar {
background-color: var(--custom-white) !important;
}

.ae-font .ae-picker-label:before {
  background: var(--custom-white) !important;
}
.ae-font .ae-picker-label svg .ae-stroke {
  stroke: var(--default-text-color) !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
  background-color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  color: #fff !important;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input{
color: variables.$default-text-color;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
background-color: variables.$primary !important; 
color: #fff !important;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left{
border-inline-end-color: rgba(255, 255, 255, 0.1) !important;
}

[dir=rtl] .form-select {
background-position: left .75rem center !important;
}

.ng-select .ng-select-container {
// color: var(--default-text-color) !important;
background-color: var(--form-control-bg) !important;
border: 1px solid var(--input-border) !important;
}
.ng-select.ng-select-opened > .ng-select-container {
background: var(--form-control-bg) !important;
border-color: var(--input-border) !important;
color: rgb(255, 255, 255) !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
background-color: var(--form-control-bg) !important;
color: variables.$default-text-color !important;
}
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
color: var(--default-text-color) !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  color: var(--default-text-color) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
background-color: var(--primary-color) !important;
color: #fff !important;
}
.ng-dropdown-panel.ng-select-bottom {
border-top-color: var(--input-border) !important;
}
.ng-dropdown-panel {
background-color: var(--custom-white) !important;
border: 1px solid var(--input-border) !important;
border-radius: 0.25rem !important;
}

.ng-dropdown-panel {
z-index: 99 !important;
}

.ng-option.ng-option-selected.ng-option-marked {
background-color: var(--form-control-bg) !important;
color: var(--fixed-white) !important;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
  color: var(--default-text-color) !important;
}

//ngx-easy-table styless

.ngx-table__header-cell--draggable {
  background-color: var(--bs-table-bg) !important;
}

.ngx-tables {
  overflow: auto;
}
.ngx-table__table--normal>tbody>tr>td,
.ngx-table__table--normal>thead>tr>th {
  border-bottom-color: var(--default-border) !important;
}
.table[_ngcontent-ng-c283474303] > [_ngcontent-ng-c283474303]:not(:last-child) > [_ngcontent-ng-c283474303]:last-child > *[_ngcontent-ng-c283474303] {
  border-bottom-color: var(--default-border) !important;
}
.ngx-table__table--normal>tbody>tr>td, .ngx-table__table--normal>thead>tr>th, .ngx-pagination li {
  border-color: var(--default-border) !important;
}
.ngx-table {
  color: var(--default-text-color) !important;
  text-align: start !important;
}
.ngx-table__table--hoverable>tbody tr:hover {
  background: var(--black-1) !important;
}

.ngx-table {
  border: 1px solid var(--default-border) !important;
}
.ngx-pagination a:hover, .ngx-pagination button:hover,
.ngx-pagination-range--selected {
  background: var(--black-1) !important;
}
.ngx-menu {
  background: var(--custom-white) !important;
  border-color: var(--default-border) !important;
  padding-inline-start: 0;
  z-index: 1 !important;
}
.ngx-pagination-range-dropdown {
  min-width: 60px;
}
.ngx-pagination-range-dropdown-button,
.ngx-pagination-range-dropdown-button-item {
  color: var(--default-text-color) !important;
  border-color: var(--default-border) !important;
}
.ngx-icon {
  margin-inline-start: 11px;
}

.ngx-table__table--hoverable > tbody tr:hover {
  background-color: var(--primary01) !important;
}

#grid-search,#file-export,#responsiveDataTable,#datatable-basic{
  table{
    border: 1px solid variables.$default-border !important;
    margin-top: 10px;
  }
}

#globalSearch {
  background-color: transparent !important;
  border: 1px solid var(--default-border) !important;
  padding: 7px !important;
  color: rgb(var(--default-text-color-rgb)) !important;
  &:focus-visible {
    outline: none !important;
  }
}

.ngx-tables, .ngx-table{
  overflow: auto;
}

.cdk-drag-preview{
  background-color: var(--custom-white) !important;
  color: var(--default-text-color) !important;
}

// Mat Tables styles
.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label{
  color: variables.$default-text-color;
}
.mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay{
  opacity: 0 !important;
}
.mat-mdc-table tbody, .mat-mdc-table tfoot,
.mat-mdc-table thead, .mat-mdc-cell,
.mat-mdc-footer-cell, .mat-mdc-header-row, 
.mat-mdc-row, .mat-mdc-footer-row, 
.mat-mdc-table .mat-mdc-header-cell {
  background-color: variables.$custom-white !important;
  color: variables.$default-text-color !important;
  border-bottom-color: variables.$default-border !important;
}
.mat-mdc-header-cell {
  border-bottom-color: variables.$default-border !important;
}
.mat-mdc-paginator {
  background-color: variables.$custom-white !important;
  color: variables.$default-text-color !important;
}

  .mat-elevation-z8, 
  .mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow: none !important;
  }
  // .mdc-data-table__table {
  //   border: 1px solid variables.$default-border !important;
  // }
  .mat-mdc-table {
    background-color: variables.$custom-white !important
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input,
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
    color: variables.$default-text-color !important;
  }
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, 
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, 
  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border: 1px solid variables.$default-border !important;
  }
  .mat-mdc-select {
    color: variables.$default-text-color !important;
  }
  .mat-mdc-select-arrow svg {
    fill:  variables.$default-text-color !important; 
  }

.mdc-notched-outline__leading {
  display: none !important;
}
.mdc-notched-outline__trailing {
  border-radius: variables.$default-radius !important;
}
.mat-mdc-table .mat-mdc-header-cell {
  z-index: 99 !important;
}
.mat-mdc-paginator-range-actions {
  flex-wrap: wrap;
}
.ngx-datatable.material .datatable-header {
    border-bottom: 1px solid variables.$default-border !important;
  } 
  .ngx-datatable.material .datatable-header .resize-handle {
    border-inline-end: solid 1px variables.$default-border !important;
}
.ngx-datatable.material .datatable-footer {
  border-top-color: variables.$default-border !important;
}
.ngx-datatable.material {
  overflow-x: auto;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color:var(--form-control-bg) !important;
  border: 1px solid variables.$input-border;
}
.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label{
  color: variables.$default-text-color;
}
.mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay{
  opacity: 0 !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label--float-above{
  color: variables.$primary !important;
}

.mat-mdc-icon-button, .mat-mdc-icon-button.mat-mdc-button-disabled,
.mat-mdc-paginator-icon {
  fill: variables.$default-text-color !important;
}

div.mat-mdc-select-panel{
  background-color:var(--form-control-bg) !important;
}
.mat-mdc-option{
  background-color:var(--custom-white)!important;
  color: var(--default-text-color) !important;
}

.mat-mdc-raised-button:not(:disabled){
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

[data-theme-mode="dark"]{  

  .mat-tree {
    background: var(--custom-white) !important;
  }

  .mat-tree-node,
  .mat-nested-tree-node {
    color: #fff !important;
  }
}
.mat-tree-node, .mat-nested-tree-node {
  &:hover {
    color: var(--primary-color) !important;
  }
}

dropzone>.dropzone.dz-wrapper .dz-message {
 min-height: 99px !important;
 background-color:transparent!important;
 border:none!important
} 

.form-floating .mat-mdc-form-field {
  display: inline !important;
}

.ng-clear-wrapper {
  display: none !important;
}


//ngx-editor
.NgxEditor__MenuBar,.NgxEditor,.NgxEditor__Popup--Col input,
.angular-editor-toolbar,
.angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button,
.ae-font .ae-picker-label{
  background-color: variables.$custom-white !important;
  color: variables.$default-text-color !important;
  border-color: variables.$input-border !important;
}
.NgxEditor__Wrapper .NgxEditor__MenuBar{
  border-bottom: 1px solid var(--input-border) !important;
}
.NgxEditor__MenuItem .NgxEditor__MenuItem--Icon:hover,
.NgxEditor__MenuItem.NgxEditor__MenuItem--Active, .NgxEditor__MenuItem .NgxEditor__MenuItem--Active,
.NgxEditor__Dropdown .NgxEditor__Dropdown--Selected, .NgxEditor__Dropdown .NgxEditor__Dropdown--Open,
.NgxEditor__Dropdown .NgxEditor__Dropdown--DropdownMenu,.NgxEditor__Dropdown .NgxEditor__Dropdown--DropdownMenu,
.NgxEditor__Dropdown .NgxEditor__Dropdown--Item:hover,
.NgxEditor__Popup{
  background-color:variables.$light !important;
}
.NgxEditor__Wrapper,.angular-editor .angular-editor-wrapper .angular-editor-textarea{
  border-color: variables.$input-border !important;
}
.NgxEditor__Seperator{
  border-inline-start-color: variables.$input-border !important;
}
.NgxEditor__Wrapper .NgxEditor {
    height: 197px !important;
    overflow:auto !important;
}

.NgxEditor__Content {
  height: 12rem !important;
  overflow-y: auto !important;
}

.NgxEditor__Dropdown:hover {
  background-color:  variables.$custom-white !important;
}

.ae-font .ae-picker-options{
  background-color:variables.$light !important;
  color: variables.$default-text-color !important;
  border-color: variables.$default-border !important;
}
.ae-font .ae-picker-options .ae-picker-item{
  color: variables.$default-text-color !important;

}
.ae-font .ae-picker-options .ae-picker-item.focused, .ae-font .ae-picker-options .ae-picker-item:hover{
  background-color: variables.$primary !important;
  color: white !important;
}

[data-theme-mode=dark] {
.NgxEditor__Dropdown .NgxEditor__Dropdown--Active {
  background-color: var(--custom-white) !important;
} 

.alert-solid-dark .btn-close {
  color: #1b1919;
}

.alert-solid-light,
.alert-outline-light{
  .btn-close {
    color: #f2f4f5;
  }
} 
}

app-right-sidebar .tab-content .tab-pane{
  padding: 0rem !important;
  border:none !important;
}

.sidebar-right{
::-webkit-scrollbar {
  width: 0rem;
  height: .25rem;
  -webkit-transition: all ease 50ms;
  transition: all ease 50ms;
}
}

#world-map{
  height: 13.1rem !important;
  z-index: 10;
}

.dropend .dropdown-menu {
  inset: 0px auto auto 0px !important;
  transform: translate(104px, 0px) !important;
}

.dropleft .dropdown-menu.show {
  transform: translate(-164px, 0px);
}


.os-scrollbar .os-scrollbar-handle:active,
.os-scrollbar .os-scrollbar-handle:hover{
background-color: var(--light-rgb) ;
}
@media (min-width: 992px) {
  .app-sidebar{

      #sidebar-scroll [overlayscrollbars] {
          position: inherit;
      }
      #sidebar-scroll {
          position: static;
      }
  }
} 
[data-theme-mode="dark"]{
  .os-scrollbar .os-scrollbar-handle {
    background: rgba(variables.$white, 0.2) !important;
    border-radius: .3rem !important;
    inset-inline-end: 0 !important;
    width: .375rem;
  }
}
.os-scrollbar .os-scrollbar-handle {
  background: var(--gray-2) !important;
  border-radius: .3rem !important;
  inset-inline-end: 0 !important;
  width: .375rem;
}

.os-scrollbar .os-scrollbar-handle:active,
.os-scrollbar .os-scrollbar-handle:hover{
background-color: var(--light-rgb) ;
}
[data-nav-layout="horizontal"][data-nav-style="menu-hover"][data-toggled="menu-hover-closed"] {
@media (min-width: 992px) {
  .app-sidebar{

      #sidebar-scroll [overlayscrollbars] {
          position: inherit;
      }
      #sidebar-scroll {
          position: static;
      }
  }
}
}
[data-nav-layout="horizontal"]{
  .os-scrollbar-handle{
    display: none !important;
  }
}

[data-theme-mode="dark"] {
  .os-scrollbar .os-scrollbar-handle{
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}
[data-menu-styles="color"],
[data-menu-styles="gradient"] {
  .app-sidebar {
    .os-scrollbar .os-scrollbar-handle {
      background-color: rgba(201, 203, 235, 0.51) !important;
    }
  }
}

.order-track{
  .accordion-button:not(.collapsed){
    background-color: var(--custom-white) !important;
  }
  .accordion-button:after{
    display:none !important;
  }
  }
  
  [data-theme-mode=dark] .noUi-target {
    color: #fff !important;
}


.color-picker-slider .noUi-target {
  border: 0 !important;
}
.color-picker-slider .noUi-vertical {
  width: 0 !important;
}

[dir=rtl] .opened[_ngcontent-ng-c1814545840] {
  left: 0;
}

// @media (min-width: 992px) {
//   html:not([data-menu-position=scrollable]) .sticky.sticky-pin {
//       position: fixed !important;
//   }
// }

[data-nav-layout=vertical] .main-menu {
  margin-inline: 0 !important;
}

@media (min-width:992px) {
  [data-nav-style="menu-hover"][data-toggled="menu-hover-closed"][data-nav-layout="horizontal"] {
    .app-sidebar .slide.has-sub .slide-menu {
      inset-inline-start: auto !important;
    }
  }
  [data-nav-style="icon-hover"][data-toggled="icon-hover-closed"][data-nav-layout="horizontal"] {
    .app-sidebar .slide.has-sub .slide-menu.child1 {
      inset-inline-start: auto !important;
    }
  }
}
[dir=rtl]{
  .ngx-slider.vertical .ngx-slider-pointer {
    left: -4px !important;
    top: auto;
  }
  .ngx-slider.vertical .ngx-slider-bubble {
    left: -20px !important;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  transform: rotate(180deg);
}

.tree-leaf .tree-child-leaves {
  margin-right: 15px;
  margin-left: 0;
}
} 

@media (max-width: 576.98px) {
  .mat-mdc-paginator-outer-container {
    margin-top: 10px;
  }
}

.offcanvas-body.switcher-canvas {
  padding-bottom: 8rem !important;
}

.custom-blog-image{
  background: url(../images/media/photos/6.jpg) center center !important;
}
.custom-blog-image1{
  background: url(../images/media/photos/1.jpg) center center !important;
}
.custom-blog-image2{
  background: url(../images/media/photos/9.jpg) center center !important;
}
.custom-blog-image3{
  background: url(../images/media/photos/7.jpg) center center !important;
}

.custom-flush-accordion{
  .card.custom-card .card-header:first-child{
    border-bottom: 0px !important;
  }
}

.authentication-basic {
  .nav-tabs {
    background-color: variables.$light;
    justify-content: center;
    margin-bottom: 8px;
    width: 120px;
    margin-inline: auto; 
    padding-block: 7px; 
    border-radius: 0.5rem;
  }
  .nav-link.active {
    background-color: variables.$primary;
  }
  .nav-link:hover {
      border-color: transparent;
  }
  .nav-link {
    padding: 0.5rem;
  }
  .tab-pane {
    padding: 0;
    border: 0;
  }
  .firebase {
    width: 30px;
    height: 30px;
  }
}
div:where(.swal2-container) input:where(.swal2-input){
  border:1px solid var(--default-border) !important;
}


.colored-toast.bg-primary .toast-header {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.colored-toast.bg-secondary .toast-header {
  background-color: rgb(var(#858481)) !important;
  color: #fff !important;
}
.colored-toast.bg-warning .toast-header {
  background-color: rgb(var(--warning-rgb)) !important;
  color: #fff !important;
}
.colored-toast.bg-success .toast-header {
  background-color: rgb(var(--success-rgb)) !important;
  color: #fff !important;
}
.colored-toast.bg-danger .toast-header {
  background-color: rgb(var(--danger-rgb)) !important;
  color: #fff !important;
}
.colored-toast.bg-info .toast-header {
  background-color: rgb(var(--info-rgb)) !important;
  color: #fff !important;
}

.bg-primary-transparent .toast-header {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.bg-secondary-transparent .toast-header {
  background-color: rgb(var(#858481)) !important;
  color: #fff !important;
}

.bg-warning-transparent .toast-header {
  background-color: rgb(var(--warning-rgb)) !important;
  color: #fff !important;
}

.bg-success-transparent .toast-header {
  background-color: rgb(var(--success-rgb)) !important;
  color: #fff !important;
}

.bg-danger-transparent .toast-header {
  background-color: rgb(var(--danger-rgb)) !important;
  color: #fff !important;
}

.bg-info-transparent .toast-header {
  background-color: rgb(var(--info-rgb)) !important;
  color: #fff !important;
}

.colored-toast .toast-body{
  margin-bottom: 15px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  top:var(--swiper-pagination-top,208px) !important;
}

app-footer {
  margin-block-start: auto;
}

@media (min-width: 992px) {
  .app-sidebar #sidebar-scroll {
      position: static;
  }
}

@media (max-width: 575.98px) {
    .country-selector .app-header .dropdown-menu {
        width: 100% !important;
    }
}

[data-nav-layout="horizontal"][data-nav-style="icon-hover"][data-toggled="icon-hover-closed"] {
  .slide.has-sub .slide-menu {
    &.child1{
      inset-inline-start: auto !important;
    }
  }
}

@media (max-width: 320px) {
.country-selector .main-header-dropdown{
  min-width: 20rem !important;
  transform: translate(-91px, 66px) !important;
}
}
.dropzone.dz-wrapper .dz-preview {
  margin: 16px !important;
  transform: translate(0px, -55px) !important;
}


@media (min-width: 992px) {
  [data-nav-style="menu-hover"][data-nav-layout="horizontal"]
    .app-sidebar
    .slide.has-sub
    .slide-menu.child1 {
    inset-block-start: 100% !important;
    inset-inline-start: auto !important;
    inset-inline-end: auto !important;
  }
}

@media (min-width: 992px) {
  [data-nav-style="menu-hover"][data-toggled="menu-hover-closed"][data-nav-layout="horizontal"]
    .app-sidebar
    .slide.has-sub
    .slide-menu
  // [data-nav-style="icon-hover"][data-toggled="icon-hover-closed"][data-nav-layout="horizontal"]
  //   .app-sidebar
  //   .slide.has-sub
  //   .slide-menu 
    {
    inset-inline-start: auto !important;
  }
}