<app-page-header [title]="'Dashboard 01'" [title1]="['Home']" [activeitem]="'Dashboard 01'"></app-page-header>
 <!-- ROW-1 -->
 <div class="row">
    @for(card of cardData;track $index){
    <div class="col-lg-6 col-md-6 col-sm-12 col-xxl-3">
      <spk-dashboard
        [title]="card.title"
        [value]="card.value"
        [trendIcon]="card.trendIcon"
        [trendColor]="card.trendColor"
        [trendValue]="card.trendValue"
        [trendPeriod]="card.trendPeriod" 
        [chartId]="card.chartId"
        [chartOptions]="card.chartOptions"
      ></spk-dashboard>
    </div>
}
  </div>
<!-- ROW-1 END -->

<!-- ROW-2 -->
<div class="row">
    <div class="col-xxl-9">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Sales Analytics</h3>
            </div>
            <div class="card-body">
                <div class="chartjs-wrapper-demo w-100">
                    <spk-apexcharts id="transactions" class="chart-dropshadow" [chartOptions]="chartOptions4"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
    <div class="col-xxl-3">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 bg-recentorder">
                <h3 class="card-title text-fixed-white mb-4">Recent Orders</h3>
                <div class="chartjs-wrapper-demo">
                    <spk-apexcharts id="recentorders" class="chart-dropshadow" [chartOptions]="chartOptions5"></spk-apexcharts>
                </div>
            </div>
            <div id="back-chart"></div>
            <div class="card-body">
                <div class="d-flex mb-4 mt-3">
                    <div class="avatar avatar-md bg-secondary-transparent text-secondary bradius me-3">
                        <i class="fe fe-check"></i>
                    </div>
                    <div class="">
                        <h6 class="mb-1 fw-semibold fs-14">Delivered Orders</h6>
                        <p class="fw-normal fs-12 mb-1"> <span class="text-success">3.5%</span>
                            increased </p>
                    </div>
                    <div class=" ms-auto mb-auto">
                        <p class="fw-bold fs-20 mb-0"> 1,768 </p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="avatar  avatar-md bg-pink-transparent text-pink bradius me-3">
                        <i class="fe fe-x"></i>
                    </div>
                    <div class="">
                        <h6 class="mb-1 fw-semibold fs-14">Cancelled Orders</h6>
                        <p class="fw-normal fs-12 mb-1"> <span class="text-success">1.2%</span>
                            increased </p>
                    </div>
                    <div class=" ms-auto mb-auto">
                        <p class="fw-bold fs-20 mb-0"> 3,675 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
</div>
<!-- ROW-2 END -->

<!-- ROW-3 -->
<div class="row">
    <div class="col-xxl-4 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title fw-semibold">Daily Activity</h4>
            </div>
            <div class="card-body pb-0">
                <ul class="task-list">
                    @for (task of taskList; track $index) {
                    <li class="d-sm-flex">
                      <div>
                        <i class="task-icon" [ngClass]="task.iconClass"></i>
                        <h6 class="fw-semibold">
                          {{ task.title }}
                          <span class="text-muted fs-11 mx-2 fw-normal">{{ task.date }}</span>
                        </h6>
                        <p class="text-muted fs-12 mb-0">
                          {{ task.description }}
                          <a [href]="task.projectLink" class="fw-semibold text-primary">{{ task.project }}</a>
                        </p>
                      </div>
                      <div class="ms-auto d-md-flex">
                        <a href="javascript:void(0)" class="text-muted me-2" data-bs-toggle="tooltip" ngbTooltip="Edit" aria-label="Edit">
                          <span class="fe fe-edit"></span>
                        </a>
                        <a href="javascript:void(0)" class="text-muted" ngbTooltip="Delete" aria-label="Delete">
                          <span class="fe fe-trash-2"></span>
                        </a>
                      </div>
                    </li>
                }
                  </ul>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-lg-6 col-md-12">
        <div class="card overflow-hidden">
            <div class="card-header">
                <div>
                    <h3 class="card-title">Sales Report by Locations with Devices</h3>
                </div>
            </div>
            <div class="card-body p-0 mt-2">
                <div class="p-2">
                    <spk-leaflet-map class="worldh world-map" [mapId]="'world-map'"></spk-leaflet-map>
                </div>
                <div class="table-responsive mt-2 text-center">
                    <spk-reusable-tables [columns]="BrowserTrafficColumn" [tableHead]="'text-uppercase'" tableClass="table text-nowrap border-dashed mb-0"  [showCheckbox]="false">
                       @for (item of salesData; track $index) {
                        <tr>
                            <td class="text-start p-3 d-flex align-items-center">
                              <span class="sales-icon" [ngClass]="[item.textColor, item.bgColor]">
                                <i [class]="item.iconClass"></i>
                              </span>
                              {{ item.name }}
                            </td>
                            <td class="p-3">{{ item.percentages[0] }}</td>
                            <td class="p-3">{{ item.percentages[1] }}</td>
                            <td class="p-3">{{ item.percentages[2] }}</td>
                          </tr>
                        }
                    </spk-reusable-tables>
                    <!--end /table-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title fw-semibold">Browser Usage</h4>
            </div>
            <div class="card-body">
                <div class="browser-stats">
                    @for (browser of browsers; track $index) {
                    <div class="row browser-stats-content">
                      <div class="col-sm-2 col-lg-3 col-xl-3 col-xxl-2 mb-sm-0 mb-3 pe-0">
                        <img [src]="browser.image" class="img-fluid" [alt]="browser.name">
                      </div>
                      <div class="col-sm-10 col-lg-9 col-xl-9 col-xxl-10 ps-xxl-0">
                        <div class="d-flex align-items-end justify-content-between mb-1">
                          <h6 class="mb-1">{{ browser.name }}</h6>
                          <h6 class="fw-semibold mb-1">
                            {{ browser.users }}
                            <span [class]="browser.changeClass + ' fs-11'">
                              (<i [class]="browser.changeIcon"></i>{{ browser.change }})
                            </span>
                          </h6>
                        </div>
                        <div class="progress progress-sm mb-3">
                          <div class="progress-bar" [class]="browser.progressBarClass" [style.width]="browser.progressWidth"></div>
                        </div>
                      </div>
                    </div>
                }
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-3 END -->

<!-- ROW-4 -->
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header d-lg-flex">
                <h3 class="card-title mb-lg-0 mb-3">Product Sales</h3>
                <div class="tabs-menu1 ms-auto border-0 p-0">
                    <!-- Tabs -->
                    <ul ngbNav #nav="ngbNav" class="nav panel-tabs product-sale">
                        <li [ngbNavItem]="1"><a ngbNavLink class="" data-bs-toggle="tab">All products</a>
                        	<ng-template ngbNavContent>
                                <div class="border-0 p-0" id="tab5">
                                    <div class="table-responsive">
                                        <spk-reusable-tables [columns]="ProductColumn" [tableHead]="'border-top'" tableClass="table table-bordered text-nowrap mb-0"  [showCheckbox]="false">
                                                @for (product of products; track $index) {
                                              <tr>
                                                <td>
                                                  <h6 class="mb-0 fs-14 fw-semibold">{{ product.trackingId }}</h6>
                                                </td>
                                                <td>
                                                  <div class="d-flex">
                                                    <img class="avatar cover-image avatar-sm" [src]="product.image" alt="Product Image">
                                                    <h6 class="ms-3 my-auto fs-14 fw-semibold">{{ product.product }}</h6>
                                                  </div>
                                                </td>
                                                <td>
                                                  <h6 class="mb-0 fs-14 fw-semibold">{{ product.customer }}</h6>
                                                </td>
                                                <td>{{ product.date }}</td>
                                                <td>
                                                  <span class="fw-semibold">{{ product.amount }}</span>
                                                </td>
                                                <td>
                                                  <h6 class="mb-0 fs-14 fw-semibold">{{ product.paymentMode }}</h6>
                                                </td>
                                                <td>
                                                  <span
                                                    class="badge rounded-pill p-2 px-3"
                                                    [ngClass]="{
                                                      'bg-success-transparent text-success': product.status === 'Shipped',
                                                      'bg-warning-transparent text-warning': product.status === 'Pending',
                                                      'bg-danger-transparent text-danger': product.status === 'Cancelled'
                                                    }"
                                                    >{{ product.status }}</span
                                                  >
                                                </td>
                                                <td>
                                                  <div class="g-2">
                                                    <a class="btn text-primary btn-sm" data-bs-toggle="tooltip" ngbTooltip="Edit">
                                                      <span class="fe fe-edit fs-14"></span>
                                                    </a>
                                                    <a class="btn text-danger btn-sm" data-bs-toggle="tooltip" ngbTooltip="Delete">
                                                      <span class="fe fe-trash-2 fs-14"></span>
                                                    </a>
                                                  </div>
                                                </td>
                                              </tr>
                                            }
                                        </spk-reusable-tables>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2"><a ngbNavLink data-bs-toggle="tab">Shipped</a>
                            <ng-template ngbNavContent>
                                <div class="border-0 p-0" id="tab6">
                                    <div class="table-responsive">
                                        <spk-reusable-tables [columns]="ProductColumn" [tableHead]="'border-top'" tableClass="table table-bordered text-nowrap mb-0"  [showCheckbox]="false">
                                            @for (product of products1; track $index) {
                                          <tr>
                                            <td>
                                              <h6 class="mb-0 fs-14 fw-semibold">{{ product.trackingId }}</h6>
                                            </td>
                                            <td>
                                              <div class="d-flex">
                                                <img class="avatar cover-image avatar-sm" [src]="product.image" alt="Product Image">
                                                <h6 class="ms-3 my-auto fs-14 fw-semibold">{{ product.product }}</h6>
                                              </div>
                                            </td>
                                            <td>
                                              <h6 class="mb-0 fs-14 fw-semibold">{{ product.customer }}</h6>
                                            </td>
                                            <td>{{ product.date }}</td>
                                            <td>
                                              <span class="fw-semibold">{{ product.amount }}</span>
                                            </td>
                                            <td>
                                              <h6 class="mb-0 fs-14 fw-semibold">{{ product.paymentMode }}</h6>
                                            </td>
                                            <td>
                                              <span
                                                class="badge rounded-pill p-2 px-3"
                                                [ngClass]="{
                                                  'bg-success-transparent text-success': product.status === 'Shipped',
                                                  'bg-warning-transparent text-warning': product.status === 'Pending',
                                                  'bg-danger-transparent text-danger': product.status === 'Cancelled'
                                                }"
                                                >{{ product.status }}</span
                                              >
                                            </td>
                                            <td>
                                              <div class="g-2">
                                                <a class="btn text-primary btn-sm" data-bs-toggle="tooltip" ngbTooltip="Edit">
                                                  <span class="fe fe-edit fs-14"></span>
                                                </a>
                                                <a class="btn text-danger btn-sm" data-bs-toggle="tooltip" ngbTooltip="Delete">
                                                  <span class="fe fe-trash-2 fs-14"></span>
                                                </a>
                                              </div>
                                            </td>
                                          </tr>
                                        }
                                    </spk-reusable-tables>
                                    </div>
                                </div>
                            </ng-template></li>
                        <li [ngbNavItem]="3"><a ngbNavLink data-bs-toggle="tab">Pending</a>
                            <ng-template ngbNavContent>
                                <div class="border-0 p-0" id="tab7">
                                    <div class="table-responsive">
                                        <spk-reusable-tables [columns]="ProductColumn" [tableHead]="'border-top'" tableClass="table table-bordered text-nowrap mb-0"  [showCheckbox]="false">
                                            @for (product of products2; track $index) {
                                          <tr>
                                            <td>
                                              <h6 class="mb-0 fs-14 fw-semibold">{{ product.trackingId }}</h6>
                                            </td>
                                            <td>
                                              <div class="d-flex">
                                                <img class="avatar cover-image avatar-sm" [src]="product.image" alt="Product Image">
                                                <h6 class="ms-3 my-auto fs-14 fw-semibold">{{ product.product }}</h6>
                                              </div>
                                            </td>
                                            <td>
                                              <h6 class="mb-0 fs-14 fw-semibold">{{ product.customer }}</h6>
                                            </td>
                                            <td>{{ product.date }}</td>
                                            <td>
                                              <span class="fw-semibold">{{ product.amount }}</span>
                                            </td>
                                            <td>
                                              <h6 class="mb-0 fs-14 fw-semibold">{{ product.paymentMode }}</h6>
                                            </td>
                                            <td>
                                              <span
                                                class="badge rounded-pill p-2 px-3"
                                                [ngClass]="{
                                                  'bg-success-transparent text-success': product.status === 'Shipped',
                                                  'bg-warning-transparent text-warning': product.status === 'Pending',
                                                  'bg-danger-transparent text-danger': product.status === 'Cancelled'
                                                }"
                                                >{{ product.status }}</span
                                              >
                                            </td>
                                            <td>
                                              <div class="g-2">
                                                <a class="btn text-primary btn-sm" data-bs-toggle="tooltip" ngbTooltip="Edit">
                                                  <span class="fe fe-edit fs-14"></span>
                                                </a>
                                                <a class="btn text-danger btn-sm" data-bs-toggle="tooltip" ngbTooltip="Delete">
                                                  <span class="fe fe-trash-2 fs-14"></span>
                                                </a>
                                              </div>
                                            </td>
                                          </tr>
                                        }
                                    </spk-reusable-tables>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="4"><a ngbNavLink data-bs-toggle="tab">Cancelled</a>
                            <ng-template ngbNavContent>
                                <div class="border-0 p-0" id="tab8">
                                    <div class="table-responsive">
                                        <spk-reusable-tables [columns]="ProductColumn" [tableHead]="'border-top'" tableClass="table table-bordered text-nowrap mb-0"  [showCheckbox]="false">
                                            @for (product of products3; track $index) {
                                          <tr>
                                            <td>
                                              <h6 class="mb-0 fs-14 fw-semibold">{{ product.trackingId }}</h6>
                                            </td>
                                            <td>
                                              <div class="d-flex">
                                                <img class="avatar cover-image avatar-sm" [src]="product.image" alt="Product Image">
                                                <h6 class="ms-3 my-auto fs-14 fw-semibold">{{ product.product }}</h6>
                                              </div>
                                            </td>
                                            <td>
                                              <h6 class="mb-0 fs-14 fw-semibold">{{ product.customer }}</h6>
                                            </td>
                                            <td>{{ product.date }}</td>
                                            <td>
                                              <span class="fw-semibold">{{ product.amount }}</span>
                                            </td>
                                            <td>
                                              <h6 class="mb-0 fs-14 fw-semibold">{{ product.paymentMode }}</h6>
                                            </td>
                                            <td>
                                              <span
                                                class="badge rounded-pill p-2 px-3"
                                                [ngClass]="{
                                                  'bg-success-transparent text-success': product.status === 'Shipped',
                                                  'bg-warning-transparent text-warning': product.status === 'Pending',
                                                  'bg-danger-transparent text-danger': product.status === 'Cancelled'
                                                }"
                                                >{{ product.status }}</span
                                              >
                                            </td>
                                            <td>
                                              <div class="g-2">
                                                <a class="btn text-primary btn-sm" data-bs-toggle="tooltip" ngbTooltip="Edit">
                                                  <span class="fe fe-edit fs-14"></span>
                                                </a>
                                                <a class="btn text-danger btn-sm" data-bs-toggle="tooltip" ngbTooltip="Delete">
                                                  <span class="fe fe-trash-2 fs-14"></span>
                                                </a>
                                              </div>
                                            </td>
                                          </tr>
                                        }
                                    </spk-reusable-tables>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body product-table">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label class="mb-3">
                            Show
                            <ng-select class="" placeholder="10" >
                                <ng-option value="Choice 1">10</ng-option>
                                <ng-option value="Choice 2">25</ng-option>
                                <ng-option value="Choice 3">50</ng-option>
                                <ng-option value="Choice 3">100</ng-option>
                            </ng-select>
                            Entries
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label class="mb-3 justify-content-end">
                            <input type="search" class="form-control" placeholder="Search...">
                        </label>
                    </div>
                </div>
                <div class="tab-content" [ngbNavOutlet]="nav">
                </div>
                <div class="row mt-3">
                    <div class="col-sm-12 col-md-6 my-auto">
                        <span>Showing 1 to 8 of 8 entries</span>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-end mb-0">
                                <li class="page-item disabled"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-4 END -->