<div class="card mb-3 {{cardClass}}">
    <div class="d-flex p-3 border-bottom-0">
      <div class="d-sm-flex">
        <div>
          <svg class="me-4 alt-notify {{iconBg}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path [attr.fill]="iconColor" [attr.d]="iconPath1"></path>
            <path *ngIf="iconPath2" [attr.fill]="iconColor1" [attr.d]="iconPath2"></path>
          </svg>
        </div>
        <div class="mt-0 text-start">
          <span class="fs-14 fw-semibold">
            {{ title }}
            <span *ngIf="badge" class="badge badge-notify ms-2" [ngClass]="badgeClass">{{ badge }}</span>
          </span>
          <p class="fs-13 text-muted mb-0">
            {{ message }}
            <a href="javascript:void(0);" class="ms-3 {{readTextBg}} d-inline-flex">Read more</a>
          </p>
        </div>
      </div>
      <a href="javascript:void(0);" class="ms-auto">
        <i class="fe fe-x text-{{textColor}} border border-{{borderColor}} rounded-2 p-1 fs-12"></i>
      </a>
    </div>
  </div>
  