
  <div class="page-wrapper">

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <header class="main-header header-style-four -type-16">
      <div class="container-fluid">
        <!-- Main box -->
        <div class="main-box">
          <!--Nav Outer -->
          <div class="nav-outer">
            <div class="logo-box">
              <div class="logo"><a href="index.html"><img src="/assets/images/bge-logo-black.png" alt="" title=""></a>
              </div>
            </div>

            <nav class="nav main-menu">
              <ul class="navigation" id="navbar">
                <li class="">
                  <a routerLink="/"><span>Főoldal</span></a>
                </li>

                <li class="current">
                  <a routerLink="/aboutus"><span>Rólunk</span></a>
                </li>

                <li class="">
                  <a routerLink="/forcompany"><span>Cégeknek</span></a>
                </li>

                <!-- <li class="">
                    <a routerLink="/contact"><span>Kapcsolat</span></a>
                  </li> -->

                <!-- Only for Mobile View -->
                <li class="mm-add-listing">
                  <span>
                    <span class="contact-info">
                      <!-- <span class="phone-num"><span>Telefon</span><a href="tel:1234567890">123 456 7890</a></span> -->
                      <span class="address">1055 Budapest, Markó utca 29-31 </span><br>
                      <a href="mailto:jobandfuture@uni-bge.hu" class="email">jobandfuture&#64;uni-bge.hu</a>
                    </span>
                    <span class="social-links">
                      <a href="#"><span class="fab fa-facebook-f"></span></a>
                      <a href="#"><span class="fab fa-instagram"></span></a>
                      <a href="#"><span class="fab fa-linkedin-in"></span></a>
                    </span>
                  </span>
                </li>
              </ul>
            </nav>
            <!-- Main Menu End-->
          </div>

          <div class="outer-box">
            <!-- Login/Register -->

            <div class="dropdown dashboard-option" *ngIf="isLoggedIn">
              <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                <img src="/assets/images/icons/user.svg" alt="avatar" class="thumb">
                <span class="name">Fiókom</span>
              </a>
              <ul class="dropdown-menu">
                <li><a routerLink="/main/profile-student-view"><i class="la la-user-tie"></i>Profil</a></li>
                <li><a href="#" (click)="logout()"><i class="la la-sign-out"></i>Kilépés</a></li>
              </ul>
            </div>

            <div class="btn-box" *ngIf="!isLoggedIn">
              <a (click)="showLogin = true" class="theme-btn call-modal">Belépés</a>
            </div>

            <!-- Egyszerű modal -->
            <div *ngIf="showLogin" class="simple-modal-backdrop" (click)="showLogin = false"></div>

            <div *ngIf="showLogin" class="simple-modal" id="login-modal" style="width: 500px;">

              <!-- Login Form -->
              <div id="login-modal">
                <button class="close-btn" (click)="showLogin = false">×</button>

                <div class="login-form default-form">
                  <div class="form-inner">
                    <h3>Bejelentkezés</h3>
                    <div class="bottom-box">
                      <div class="btn-box row">
                        <div class="col-lg-6 col-md-12">
                          <a href="#" class="theme-btn social-btn-two bge-btn" (click)="loginAsStudent()">Hallgató
                            vagyok</a>
                        </div>
                        <div class="col-lg-6 col-md-12">
                          <a href="#" class="theme-btn social-btn-two bge-btn" (click)="loginAsEmployee()">BGE admin
                            vagyok</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Login Form -->

            </div>

          </div>
        </div>
      </div>

      <!-- Sticky Header  -->
      <div class="sticky-header">
        <div class="auto-container">

          <div class="main-box">
            <div class="logo-box">
              <div class="sticky-logo"><a href="index.html"><img src="images/bge-logo-black.png" alt="" title=""></a>
              </div>
            </div>

            <!--Keep This Empty / Menu will come through Javascript-->
          </div>
        </div>
      </div>
      <!-- End Sticky Menu -->

      <!-- Mobile Header -->
      <div class="mobile-header">
        <div class="logo"><a href="index.html"><img src="images/bge-logo-black.png" alt="" title=""></a></div>

        <!--Nav Box-->
        <div class="nav-outer clearfix">

          <div class="outer-box">
            <!-- Login/Register -->
            <div class="login-box">
              <a href="login-popup.html" class="call-modal"><span class="icon-user"></span></a>
            </div>

            <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>
          </div>
        </div>
      </div>

      <!-- Mobile Nav -->
      <div id="nav-mobile"></div>
    </header>
    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title">
      <div class="auto-container">
        <div class="title-outer">
          <h1>Rólunk</h1>
          <ul class="page-breadcrumb">
            <li><a href="index.html">Főoldal</a></li>
            <li>Rólunk</li>
          </ul>
        </div>
      </div>
    </section>
    <!--End Page Title-->

    <!-- About Section Three -->
    <section class="about-section-three">
      <div class="auto-container">

        <!-- Fun Fact Section -->
        <div class="fun-fact-section">
          <div class="row">
            <!--Column-->
            <div class="counter-column col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <img src="../../../assets/images/icons/rolunk-ikonok_20k-halgato.svg" alt="" title="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="count-box">
                    <h4 class="counter-title">Közel</h4>
                    <span class="count-text" [attr.data-speed]="speedStud" [attr.data-stop]="stopStud"> {{ countStud
                      }}</span>
                    <h4 class="counter-title">hallgató</h4>
                  </div>
                </div>
              </div>
            </div>

            <!--Column-->
            <div class="counter-column col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <img src="../../../assets/images/icons/rolunk-ikonok_1400.svg" alt="" title="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="count-box">
                    <span class="count-text" [attr.data-speed]="speedNat" [attr.data-stop]="stopNat">{{ countNat }}</span>+
                    <h4 class="counter-title">Nemzetközi hallgató</h4>
                  </div>
                </div>
              </div>
            </div>
            <!--Column-->
            <div class="counter-column col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <img src="../../../assets/images/icons/rolunk-ikonok_250-partneregyetem.svg" alt="" title="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="count-box">
                  <span class="count-text" [attr.data-speed]="speedPart" [attr.data-stop]="stopPart">{{ countPart }}</span>+
                  <h4 class="counter-title">Partneregyetem</h4>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fun Fact Section -->

        <div class="text-box">
          <!-- <h4>Rólunk</h4>
          <p>A BGE Job&Future egy újonnan induló munkaerőközvetítő oldal, mely a hallgatók segítségére lesz abban, hogy valós kompetenciáik alapján kapjanak állásajánlatokat, ezzel támogatva megélhetésüket és szakmai útjuk megkezdését.
            Olyan BGE által fejlesztett és üzemeltetett – teljesen önkéntes hallgatói részvételre alapozott – alkalmazás készül, amely a hallgatói álláskeresési szándékot és a vállalati munkaerőkeresést rögzíti, a hallgatók és az állást kínáló cégek között hídként szolgál, elősegítve a hallgatói munkavállalást.
            </p> -->
          <p>Tudtad, hogy a Budapesti Gazdaságtudományi Egyetem hallgatóinak 75%-a már az egyetemi tanulmányai alatt
            munkát talál? Az BGE hallgatóinak jelentős része tehát nem az iskolapadból felállva kerül ki a
            munkaerőpiacra,
            hanem jóval korábban. Ezt felismerve hozta létre az Egyetem saját fejlesztésű munkaközvetítő platformját, a
            BGE Job&Future-t, melynek célja, hogy segítse a hallgatóinkat a valós kompetenciáiknak megfelelő
            állásajánlatok megtalálásában, ezzel támogatva megélhetésüket és szakmai útjuk megkezdését. Mert a BGE egy
            életre szól!
          </p>
        </div>

        <div class="text-box">
          <!-- <h4>Hallgatóknak - A jövőd itt kezdődik!</h4> -->
          <!-- <p>A BGE Job&Future az Egyetem saját munkaerőközvetítő platformja, amely segít, hogy valódi kompetenciáid alapján kapj állásajánlatokat. Legyen szó diákmunkáról vagy pályakezdő pozícióról, mi összekötünk a legjobb lehetőségekkel! </p> -->
          <h4>A BGE Job&Future működése</h4>
          <p>Az egyetem szakmai támogatásával működő rendszer előbb beazonosítja a regisztrált hallgatók kompetenciáit,
            munkavállalási preferenciáit és álláselképzeléseit. Ezek alapján a BGE saját fejlesztésű keresési
            algoritmusai
            alapján keres az álláskereső hallgatói között egy-egy beérkező állásajánlat leírása alapján. Ha összeillő
            hallgatót és munkaadót talál, előbb csak a hallgatót értesíti, az ő pozitív visszajelzése után pedig a
            vállalatot is.
          </p>
        </div>

        <div class="text-box">
          <!-- <h4>Munkaadóknak – Találjátok meg a legjobb jelölteket!</h4>
        <p>A BGE Job&Future egy olyan intelligens rendszer, amely az egyetem szakmai hátterére építve előszűrt, releváns jelölteket biztosít a vállalatok számára. </p> -->
          <h4>Miért jó a BGE Job&Future? </h4>
          <p>A BGE Job&Future egyszerre rögzíti a hallgatói álláskeresési szándékot és a vállalati munkaerőkereséseket.
            A
            rendszer hídként szolgál hallgatók és az állást kínáló cégek között, elősegítve a két fél hatékony egymásra
            találását, így a hallgatói munkavállalást. A platformon egyaránt megtalálható alkalmi, diákmunka, de
            gyakornoki és pályakezdő pozíciók is, így a BGE Job&Future a mindennapi megélhetés mellett a végzettséghez
            kapcsolódó szakterületen való elhelyezkedést, így a valódi karrierépítést is támogatja. A BGE hallgatói így
            könnyebben elindulhatnak szakmai útjukon, a cégek pedig gyorsabban találhatják meg az ideális munkatársakat.
          </p>
        </div>

        <div class="text-box">
          <h1><b>Csatlakozz most, lépj be velünk a munka világába!</b></h1>
        </div>
      </div>
      <div class="auto-container">
        <div class="sec-title light text-center">
          <h1>Találd meg az álommelód!</h1>
          <div class="btn-box" style="margin-top: 20px !important;" *ngIf="!isLoggedIn">
            <a (click)="loginAsStudent()" style="font-size: 35px; width: 275px; height: 75px !important;"
              class="theme-btn btn-style-one call-modal">Csatlakozok</a>
          </div>
          <!--<div class="text">Over 1 million interactions, 50,000 success stories Make yours now.</div>--->
        </div>
      </div>
    </section>
    <!-- End About Section Three -->

    <!-- Call To Action Two -->
    <!-- <section class="call-to-action-two" style="background-image: url(images/index-16/cta/bg.png);">
    <div class="auto-container">
      <div class="sec-title light text-center">
        <h1>Találd meg az álommelód!</h1>
        <div class="btn-box" style="margin-top: 20px !important;" *ngIf="!isLoggedIn">
          <a (click)="loginAsStudent()" style="font-size: 35px; width: 275px; height: 75px !important;"
            class="theme-btn btn-style-one call-modal">Csatlakozok</a>
        </div>
      </div>
    </div>
  </section> -->
    <!-- End Call To Action -->

    <!-- Work Section -->
    <!-- <section class="work-section style-two"> -->
    <!-- <div class="auto-container"> -->

    <!-- <div class="sec-title text-center">
        <h2>Hogyan működik a BGE Job&Future?</h2>
        <div class="text">Job for anyone, anywhere</div>
      </div> -->

    <!-- <div class="row"> -->

    <!-- Work Block -->
    <!-- <div class="work-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box">
            <h5>1. Jelentkezz be a BGE-s belépési adataiddal! </h5>
          </div>
        </div> -->

    <!-- Work Block -->
    <!-- <div class="work-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box">
            <h5>2. Töltsd ki a profilod az önéletrajz generáláshoz!</h5>
            <p>A profilodban automatikusan megjelennek egyetemi tanulmányaid során keletkezett adatok*, így Neked csak
              azt szükséges hozzáadnod, ami nem szerepel a Neptunban, például: korábbi munkahelyek, készségek és
              érdeklődés, profilkép, LinkedIn profil.</p>
          </div>
        </div> -->

    <!-- Work Block -->
    <!-- <div class="work-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box">
            <h5>3. Párosítás</h5>
            <p>A megadott preferenciáid és az önéletrajzod alapján az algoritmus leszűri az állásajánlatokat és
              összepárosít a számodra leginkább megfelelő álláslehetőségekkel. </p>
          </div>
        </div> -->

    <!-- Work Block -->
    <!-- <div class="work-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box">
            <h5>4. Válassz az ajánlott állásokból, </h5>
            <p>jelentkezz egy kattintással és mi elküldjük önéletrajzodat az álláshirdetőnek. </p>
          </div>
        </div> -->

    <!-- Work Block -->
    <!-- <div class="work-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box">
            <h5>5. Dőlj hátra! </h5>
            <p>Ha kiválasztásra kerülsz, az álláshirdető felveszi veled a kapcsolatot. </p>
          </div>
        </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </section> -->
    <!-- End Work Section -->

    <!-- Main Footer -->
    <footer class="main-footer style-five">
      <!--Widgets Section-->
      <div class="widgets-section">
        <div class="auto-container">

          <div class="row">
            <div class="big-column col-xl-4 col-lg-4 col-md-12">
              <div class="footer-column about-widget">
                <div class="logo"><a href="#"><img src="/assets/images/bge-logo-black.png" alt=""></a></div>
                <span class="address">1055 Budapest, Markó utca 29-31 </span><br>
                <span class="address"><b>Ha problémát tapasztalsz vagy kérdésed van ide írj nekünk: </b></span><br><a
                  href="mailto:jobandfuture@uni-bge.hu" class="email">jobandfuture&#64;uni-bge.hu</a><br>
                <span class="address"><b>Vállalati együttműködés, üzleti partnerség: </b></span><br><a
                  href="mailto:bgebusiness@uni-bge.hu" class="email">bgebusiness&#64;uni-bge.hu</a>
              </div>
            </div>

            <div class="big-column col-xl-8 col-lg-8 col-md-12">
              <div class="row">
                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">Navigáció</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Főoldal</a></li>
                        <li><a href="#">Rólunk</a></li>
                        <li><a href="#">Cégeknek</a></li>
                        <li><a href="#">Adatkezelési tájékoztató</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">Links</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="https://uni-bge.hu/"><b>Budapesti Gazdaságtudományi Egyetem</b></a></li>
                        <li><a href="https://uni-bge.hu/hu/uzleti-partnersegek"><b>BGE Business</b></a></li>
                        <li><a href="https://alumni.uni-bge.hu/"><b>BGE Alumni</b></a></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Bottom-->
      <div class="footer-bottom">
        <div class="auto-container">
          <div class="outer-box">
            <div class="copyright-text">© 2025 <a href="#">BGE</a> Minden jog fenntartva</div>
            <div class="social-links">
              <a href="https://www.facebook.com/unibge"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/bge_uni"><i class="fab fa-instagram"></i></a>
              <a
                href="https://www.linkedin.com/school/budapest-univeristy-of-economics-and-business/posts/?feedView=all"><i
                  class="fab fa-linkedin-in"></i></a>
              <a href="https://www.youtube.com/channel/UCDFsDIG6TQ0tf214iZmo9kw"><i class="fab fa-youtube"></i></a>
              <a href="https://www.tiktok.com/@unibge"><i class="fab fa-tiktok"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    </footer>
    <!-- End Main Footer -->


  </div><!-- End Page Wrapper -->