<!-- <footer class="footer text-center py-3">
    <div class="container">
        <span>
        </span>
    </div>
</footer> -->
    <!-- Main Footer -->
    <footer class="main-footer style-five">
        <!--Widgets Section-->
        <div class="widgets-section">
          <div class="auto-container">
  
            <div class="row">
              <div class="big-column col-xl-4 col-lg-4 col-md-12">
                <div class="footer-column about-widget">
                  <div class="logo"><a href="#"><img src="/assets/images/bge-logo-black.png" alt=""></a></div>
                  <span class="address">1055 Budapest, Markó utca 29-31 </span><br>
                  <span class="address"><b>Ha problémát tapasztalsz vagy kérdésed van ide írj nekünk: </b></span><br><a
                    href="mailto:jobandfuture@uni-bge.hu" class="email">jobandfuture&#64;uni-bge.hu</a><br>
                  <span class="address"><b>Vállalati együttműködés, üzleti partnerség: </b></span><br><a
                    href="mailto:bgebusiness@uni-bge.hu" class="email">bgebusiness&#64;uni-bge.hu</a>
                </div>
              </div>
  
              <div class="big-column col-xl-8 col-lg-8 col-md-12">
                <div class="row">
                  <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                      <h4 class="widget-title">Navigáció</h4>
                      <div class="widget-content">
                        <ul class="list">
                          <li><a href="#">Főoldal</a></li>
                          <li><a href="#">Rólunk</a></li>
                          <li><a href="#">Cégeknek</a></li>
                          <li><a href="#">Adatkezelési tájékoztató</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
  
                  <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                      <h4 class="widget-title">Links</h4>
                      <div class="widget-content">
                        <ul class="list">
                          <li><a href="https://uni-bge.hu/"><b>Budapesti Gazdaságtudományi Egyetem</b></a></li>
                          <li><a href="https://uni-bge.hu/hu/uzleti-partnersegek"><b>BGE Business</b></a></li>
                          <li><a href="https://alumni.uni-bge.hu/"><b>BGE Alumni</b></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!--Bottom-->
        <div class="footer-bottom">
          <div class="auto-container">
            <div class="outer-box">
              <div class="copyright-text">© 2025 <a href="#">BGE</a> Minden jog fenntartva</div>
              <div class="social-links">
                <a href="https://www.facebook.com/unibge"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/bge_uni"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/school/budapest-univeristy-of-economics-and-business/posts/?feedView=all"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.youtube.com/channel/UCDFsDIG6TQ0tf214iZmo9kw"><i class="fab fa-youtube"></i></a>
                <a href="https://www.tiktok.com/@unibge"><i class="fab fa-tiktok"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
      </footer>
      <!-- End Main Footer -->
