
  <div class="card custom-card" [ngClass]="'task-' + statusClass.toLowerCase() + '-card'">
    <div class="card-body">
      <a href="javascript:void(0);" class="fs-14 fw-semibold mb-3 d-flex align-items-center">{{ title }}</a>
      <p class="mb-3">
        Status : <span class="badge" [ngClass]="'bg-' + statusClass.toLowerCase()">{{ status }}</span>
      </p>
      <div class="d-flex align-items-center">
        <p class="mb-0">Assigned To :</p>
        <span class="avatar-list-stacked ms-1">
          @for (assignee of assignedTo; track $index) {
          <span class="avatar avatar-sm avatar-rounded">
            <img [src]="assignee" alt="Assigned user">
          </span>
        }
        </span>
        <span class="me-2">
          <button (click)="open(content)"
            class="btn btn-sm btn-icon btn-wave btn-{{addClass}}-light waves-effect waves-light"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#' + modalId">
            <i class="ri-add-fill"></i>
          </button>
        </span>
        <!-- Modal -->
        <ng-template #content let-offcanvas>
          <div class="modal-header">
            <h6 class="modal-title" id="modalLabel">Edit Assignee</h6>
            <a type="button" (click)="offcanvas.close('cross click')" class="btn-close" data-bs-dismiss="modal"></a>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="col-form-label">Assignee To:</label>
              <input type="text" class="form-control"  />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
            <a type="button" (click)="offcanvas.close('cross click')" class="btn btn-primary">Cancel</a>
          </div>
    </ng-template>
      </div>
    </div>
  </div>

