
    <div class="card custom-card">
      <div class="card-body">
        <div class="text-center">
          <span class="avatar avatar-xxl rounded">
            <img [src]="imageUrl" alt="Avatar" class="rounded-circle">
          </span>
        </div>
        <div class="d-flex text-center justify-content-between mt-1 mb-3">
          <div class="flex-fill">
            <p class="mb-0 fw-semibold fs-16 text-truncate max-w-150 mx-auto">
              <a href="javascript:void(0);">{{ name }}</a>
            </p>
            <p class="mb-0 fs-12 text-muted text-truncate max-w-150 mx-auto">{{ email }}</p>
          </div>
        </div>
        <div class="btn-list text-center">
          <div class="btn-list">
            <a href="javascript:void(0);" class="btn btn-sm btn-icon btn-info-light btn-wave waves-effect waves-light">
              <i class="ri-facebook-line fw-bold"></i>
            </a>
            <a href="javascript:void(0);" class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
              <i class="ri-twitter-x-line fw-bold"></i>
            </a>
            <a href="javascript:void(0);" class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
              <i class="ri-github-line fw-bold"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-footer border-block-start-dashed text-center p-0">
        <div class="d-flex align-items-center justify-content-center">
          <div class="d-flex p-3 w-100 justify-content-center border-end">
            <div class="text-center">
              <p class="fw-semibold mb-0">Projects</p>
              <span class="text-muted fs-12">{{ projects }}</span>
            </div>
          </div>
          <div class="d-flex p-3 w-100 justify-content-center">
            <div class="text-center">
              <p class="fw-semibold mb-0">Position</p>
              <span class="text-muted fs-12">{{ position }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  